<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k3.checkpoint.ahs.mapper.K3CheckpointMapper">
 	<!-- <resultMap type="K3Checkpoint" id="checkpointResultMap">
		<result column="vehicleCheckpointCode" property="vehicleCheckpointCode" />
		<result column="driverId" property="driverId" />
		<result column="vehicleCode" property="vehicleCode" />
		<result column="vehicleArrivalDate" property="vehicleArrivalDate" />
		<result column="vehicleShipmentDate" property="vehicleShipmentDate" />
	</resultMap> -->
	
	<!-- 현황 -->
	<select id="getCheckpointList" resultType="K3Checkpoint">
		SELECT
			c.vehicleCheckpointCode,
			c.mainBusinessCode,
			c.driverId, 
			d.driverName,
			c.vehicleCode,
			c.vehicleArrivalDate,
			c.vehicleShipmentDate
		FROM
			k3_tb_vehicle_checkpoint as c
		INNER JOIN
			k3_tb_driver as d
		ON 
			c.driverId = d.driverId;
	
	</select>
	
	<!-- 추가 -->
	<select id="addCheck" parameterType="K3Checkpoint">
		INSERT INTO k3_tb_vehicle_checkpoint
		(
			vehicleCheckpointCode,
			mainBusinessCode,
			driverId,
			vehicleCode,
			vehicleArrivalDate,
			vehicleShipmentDate
		)VALUES(
			#{vehicleCheckpointCode},
			"공장A공장_서울_1",
			#{driverId},
			#{vehicleCode},
			#{vehicleArrivalDate},
			#{vehicleShipmentDate}
		);
	</select>
	
	<!-- 수정 -->
	<select id="getModifyCheckpoint" resultType="K3Checkpoint">
		SELECT
			vehicleCheckpointCode,
			mainBusinessCode,
			driverId, 
			vehicleCode,
			vehicleArrivalDate,
			vehicleShipmentDate
		FROM
			k3_tb_vehicle_checkpoint
		WHERE
			vehicleCheckpointCode = #{vehicleCheckpointCode};
	</select>
	
	<!-- 수정 -->
	<update id="modifyCheckpoint" parameterType="K3Checkpoint">
		UPDATE k3_tb_vehicle_checkpoint
		<trim prefix="SET" prefixOverrides=",">
			<if test="vehicleCheckpointCode != null and vehicleCheckpointCode != ''.toString()">
				vehicleCheckpointCode = #{vehicleCheckpointCode},
			</if>
			<if test="vehicleCheckpointCode != null and vehicleCheckpointCode != ''.toString()">
				mainBusinessCode = "공장A공장_서울_1",
			</if>
			<if test="vehicleCheckpointCode != null and vehicleCheckpointCode != ''.toString()">
				driverId = #{driverId},
			</if>
			<if test="vehicleCheckpointCode != null and vehicleCheckpointCode != ''.toString()">
				vehicleCode = #{vehicleCode},
			</if>
			<if test="vehicleCheckpointCode != null and vehicleCheckpointCode != ''.toString()">
				vehicleArrivalDate = #{vehicleArrivalDate},
			</if>
			<if test="vehicleCheckpointCode != null and vehicleCheckpointCode != ''.toString()">
				vehicleShipmentDate = #{vehicleShipmentDate}
			</if>
		</trim>
		WHERE
			vehicleCheckpointCode = #{vehicleCheckpointCode};
	</update>
	
	<!-- 삭제 -->
	<delete id="k3DeleteCheckpoint" parameterType="Integer">
		DELETE
			c
		FROM
			k3_tb_vehicle_checkpoint AS c
		<foreach collection="list" item="deleteList" open= "WHERE 1=2">
			or vehicleCheckpointCode=#{deleteList}
		</foreach>	
	</delete>
	
	<!-- 검색 -->
	<select id="k3SearchCheckpointList" resultType="K3Checkpoint">
		SELECT
			*
		FROM
			k3_tb_vehicle_checkpoint
		<trim prefix="WHERE" prefixOverrides="AND /OR">
			<if test="checkpointValue != null and checkpointValue!= ''.toString()">
				${checkpointKey} LIKE CONCAT('%', #{checkpointValue}, '%');
			</if>
		</trim>
	</select>
	

</mapper>