<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k3.checkpoint.ahs.mapper.K3CheckpointMapper">
 	<!-- <resultMap type="K3Checkpoint" id="checkpointResultMap">
		<result column="vehicleCheckpointCode" property="vehicleCheckpointCode" />
		<result column="driverId" property="driverId" />
		<result column="vehicleCode" property="vehicleCode" />
		<result column="vehicleArrivalDate" property="vehicleArrivalDate" />
		<result column="vehicleShipmentDate" property="vehicleShipmentDate" />
	</resultMap> -->
	
	
	<select id="getCheckpointList" resultType="K3Checkpoint">
		SELECT
			vehicleCheckpointCode,
			mainBusinessCode,
			contractorCode,
			driverId, 
			vehicleCode,
			vehicleArrivalDate,
			vehicleShipmentDate
		FROM
			k3_tb_vehicle_checkpoint;
	
	</select>
	
	<select id="addCheck" parameterType="K3Checkpoint">
		INSERT INTO k3_tb_vehicle_checkpoint
		(
			vehicleCheckpointCode,
			mainBusinessCode,
			contractorCode,
			driverId,
			vehicleCode,
			vehicleArrivalDate,
			vehicleShipmentDate
		)VALUES(
			#{vehicleCheckpointCode},
			"공장A공장_서울_1",
			"partners-driver-a",
			#{driverId},
			#{vehicleCode},
			#{vehicleArrivalDate},
			#{vehicleShipmentDate}
		);
		
	
	</select>
	
	<select id="getModifyCheckpoint" resultType="K3Checkpoint">
		SELECT
			vehicleCheckpointCode,
			mainBusinessCode,
			contractorCode,
			driverId, 
			vehicleCode,
			vehicleArrivalDate,
			vehicleShipmentDate
		FROM
			k3_tb_vehicle_checkpoint
		WHERE
			vehicleCheckpointCode = #{vehicleCheckpointCode};
	</select>
	
	<update id="modifyCheckpoint" parameterType="K3Checkpoint">
		UPDATE k3_tb_vehicle_checkpoint
		<trim prefix="SET" prefixOverrides=",">
			<if test="vehicleCheckpointCode != null and vehicleCheckpointCode != ''.toString()">
				vehicleCheckpointCode = #{vehicleCheckpointCode},
			</if>
			<if test="vehicleCheckpointCode != null and vehicleCheckpointCode != ''.toString()">
				mainBusinessCode = "공장A공장_서울_1",
			</if>
			<if test="vehicleCheckpointCode != null and vehicleCheckpointCode != ''.toString()">
				contractorCode = "partners-driver-a",
			</if>
			<if test="vehicleCheckpointCode != null and vehicleCheckpointCode != ''.toString()">
				driverId = #{driverId},
			</if>
			<if test="vehicleCheckpointCode != null and vehicleCheckpointCode != ''.toString()">
				vehicleCode = #{vehicleCode},
			</if>
			<if test="vehicleCheckpointCode != null and vehicleCheckpointCode != ''.toString()">
				vehicleArrivalDate = #{vehicleArrivalDate},
			</if>
			<if test="vehicleCheckpointCode != null and vehicleCheckpointCode != ''.toString()">
				vehicleShipmentDate = #{vehicleShipmentDate}
			</if>
		</trim>
		WHERE
			vehicleCheckpointCode = #{vehicleCheckpointCode};
	</update>

</mapper>