<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k3.contract.ahs.mapper.K3ContractMapper">
<!-- 	<resultMap type="K3Contract" id="contractResultMap">
		<result column="contractCode"     property="contractCode"/>
		<result column="contraactorCode"     property="contraactorCode"/>
		<result column="contractorDevision"     property="contractorDevision"/>
		<result column="contractState"     property="contractState"/>
		<result column="contractSingningDate"     property="contractSingningDate"/>
		<result column="contractorId"     property="contractorId"/>
		<result column="memberId"     property="memberId"/>
	</resultMap> -->
	
	<select id="k3GetContractList" resultType="K3Contract">
		SELECT
			cs.contractCode as contractCode,
			cs.contractorCode as contractorCode,
			cs.contractorDevision as contractorDevision,
			cs.contractState as contractState,
			cs.contractSingningDate as contractSingningDate,
			cs.contractorId as contractorId,
			cs.memberId as memberId
		FROM
			k3_tb_contract_simple AS cs;
	</select>

</mapper>