<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k3.damageError.ahs.mapper.K3DamageErrorMapper">
	<select id="k3DamageErrorListIn" resultType="K3DamageError">
		SELECT
			 d.receiptNumber 
			,w.laydownCheckDate
			,staff.contractorName
			,w.laydownGoodsName
			,w.laydownGoodsCount
			,w.laydownCheckResult
			,m.memberName
		FROM
			k3_tb_damageError AS d
			INNER JOIN
			k3_tb_warehousing AS w
			ON
			d.warehousingCode = w.warehousingCode
			INNER JOIN 
			k3_tb_contractor_staff AS staff
			on
			w.contractorId  = staff.contractorId
			INNER JOIN
			k3_tb_member AS m
			on
			m.memberId = w.laydownCheckManager
		WHERE
			w.laydownCheckResult NOT LIKE CONCAT('%','Y','%');		
	</select>
	<select id="k3DamageErrorListOut" resultType="K3DamageError">
		SELECT
			 d.receiptNumber
			,r.shipmentCheckRegDate
			,staff.contractorName
			,w.laydownGoodsName 
			,w.laydownGoodsCount 
			,r.shipmentCheckResult 
			,m.memberName
		FROM
			k3_tb_damageError AS d
			INNER JOIN
			k3_tb_release AS r
			on
			d.releaseCode = r.releaseCode
			INNER JOIN
			k3_tb_member AS m
			ON
			m.memberId = r.releaseManager
			INNER join
			k3_tb_stock AS s
			on
			r.stockCode = s.stockCode
			INNER join
			k3_tb_warehousing AS w
			on
			s.warehousingCode = w.warehousingCode
			INNER join
			k3_tb_contractor_staff AS staff
			ON
			w.contractorId = staff.contractorId          
		WHERE
			 r.shipmentCheckResult NOT LIKE CONCAT('%','Y','%');
	</select>
	<update id="k3InAddDamageError" parameterType="K3DamageError">
		UPDATE k3_tb_damageError AS d
		set
		 	 d.actionDetails = #{actionDetails}
		 	,d.actionDate = #{actionDate}
		 	,d.repairCost = #{repairCost}
		WHERE
			d.receiptNumber = #{receiptNumber}
	
	</update>
</mapper>