<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k3.driver.ahs.mapper.K3DriverMapper">
	
	<!-- 중복확인 -->
	<select id="getOverlappedDriverId" parameterType="String"  resultType="Integer">
		SELECT
			COUNT(1)
		FROM
			k3_tb_driver AS d
		WHERE
			d.driverId = #{driverId};
		
	</select>
	
	<!-- 현황 -->
	<select id="getDriverList" resultType="K3Driver">
		SELECT
				d.driverId AS driverId,
				d.contractorCode AS contractorCode,
				d.driverName AS driverName,
				d.driverAddr AS driverAddr,
				d.driverPhone AS driverPhone,
				d.driverRegDate AS driverRegDate,
				d.driverPerformanceGrade AS driverPerformanceGrade,
				d.driverLicenseType AS driverLicenseType,
				d.driverQualificationType AS driverQualificationType
		FROM
				k3_tb_driver AS d;
	</select>
	
	<!-- 추가 -->
	<select id="addDriver" parameterType="K3Driver">
		INSERT INTO 
	   		k3_tb_driver
			(
			driverId,
			contractorCode,
			driverName,
			driverAddr,
			driverPhone,
			driverRegDate,
			driverPerformanceGrade,
			driverLicenseType,
			driverQualificationType
		)VALUES(
			 #{driverId}
			,"partners-driver-a"
			,#{driverName}
			,#{driverAddr}
			,#{driverPhone}
			,#{driverRegDate}
			,#{driverPerformanceGrade}
			,#{driverLicenseType}
			,#{driverQualificationType}
		);
	
	</select>
	
	<!-- 수정 -->
	<select id="getModifyDriver" resultType="K3Driver">
		SELECT
			d.driverId AS driverId,
			d.contractorCode AS contractorCode,
			d.driverName AS driverName,
			d.driverAddr AS driverAddr,
			d.driverPhone AS driverPhone,
			d.driverRegDate AS driverRegDate,
			d.driverPerformanceGrade AS driverPerformanceGrade,
			d.driverLicenseType AS driverLicenseType,
			d.driverQualificationType AS driverQualificationType
		FROM
			k3_tb_driver AS d
		WHERE
			driverId = #{driverId};
	</select>
	
	<!-- 수정 -->
	<update id="modifyDriver" parameterType="K3Driver">
		UPDATE k3_tb_driver
		<trim prefix="SET" prefixOverrides=",">
			<if test="driverId != null and driverId != ''.toString()">
				driverId = #{driverId}
			</if>
			<if test="driverId != null and driverId != ''.toString()">
				,contractorCode = "partners-driver-a"
			</if>
			<if test="driverId != null and driverId != ''.toString()">
				,driverName = #{driverName}
			</if>
			<if test="driverId != null and driverId != ''.toString()">
				,driverAddr = #{driverAddr}
			</if>
			<if test="driverId != null and driverId != ''.toString()">
				,driverPhone = #{driverPhone}
			</if>
			<if test="driverId != null and driverId != ''.toString()">
				,driverRegDate = #{driverRegDate}
			</if>
			<if test="driverId != null and driverId != ''.toString()">
				,driverPerformanceGrade = #{driverPerformanceGrade}
			</if>
			<if test="driverId != null and driverId != ''.toString()">
				,driverLicenseType = #{driverLicenseType}
			</if>
			<if test="driverId != null and driverId != ''.toString()">
				,driverQualificationType = #{driverQualificationType}
			</if>
		</trim>
		WHERE
			driverId = #{driverId};
	</update>
	
	<!-- 검색 -->
	<select id ="k3SearchDriverList" resultType="K3Driver">
		SELECT
			*
		FROM
			k3_tb_driver
		<trim prefix="WHERE" prefixOverrides="AND /OR">
			<if test="driverValue != null and driverValue != ''.toString()">
				${driverKey} LIKE CONCAT('%', #{driverValue}, '%');
			</if>
		</trim>	
	</select>
	
	<!-- 삭제 -->
	<delete id="k3DeleteDriver" parameterType="Integer">
		DELETE
			d
		FROM
			k3_tb_driver AS d
		<foreach collection="list" item="deleteList" open= "WHERE 1=2">
			or driverId=#{deleteList}
		</foreach>
	</delete>
	
	<!-- 모달 -->
	<select id="k3GetModalList" resultType="map" parameterType="map">
		SELECT
			d.driverId,
			d.driverName,
			d.driverPhone,
			d.driverRegDate
		FROM
			k3_tb_driver AS d
	</select>
	
	

	
</mapper>