<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k3.in.ahs.mapper.K3InMapper">




	<!-- 견적액 가져오기 -->
	<select id = "getEstimatePrice" resultType = "K3Estimate">	
	</select>


	<!-- 견적번호 가져오기 -->
	<select id="getEstimateNum" resultType = "K3Estimate">
		SELECT
			 e.estimateNum,
			 e.estimatePrice
		FROM
			 k3_tb_estimate as e;
	</select>


	<!-- 사업장별등록코드 가져오기 -->
	<select id="getMainBusinessCodeList" resultType="K3MainBusinessCode">
		SELECT
			mainBusinessCode
		FROM 
			k0tbSw_businessManagement;
	</select>


	<!-- 매출 검색 -->	
	<select id="getSearchInList" parameterType="Map" resultType="Map">
		SELECT
			i.inCode
			,m.mainBusinessCode
			,i.memberId
			,i.estimateNum
			,i.estimatePrice
			,i.inPayMethod
			,i.inPayDate
			,i.inPayCheck
			,i.inCheck
			,i.inPayRemain
			,i.inReceipe
			,i.inReceipeDate
			,m.memberName
			
		FROM
			k3_tb_in AS i
		INNER join
			k3_tb_member AS m
		ON
			i.memberId = m.memberId
			
		<trim prefix="WHERE" prefixOverrides="AND \OR">
			<if test="searchCondition.inValue != null and searchCondition.inValue != ''.toString()">
				${searchCondition.inKey} LIKE CONCAT('%', #{searchCondition.inValue}, '%')
			</if> 
		</trim>
		<!--  이번에 서치컨디션 추가한 코드 -->
		<if test="searchCondition.startNum != null">
			LIMIT #{searchCondition.startNum}, #{searchCondition.rowPerPage};
		</if>  
	</select>		
	
	
	
	<!--  매출 내역 삭제 처리 -->
	<delete id ="deleteIn" parameterType="int">
	DELETE 
		a
	FROM
		k3_tb_in AS a 
		<foreach collection="list" item="deleteList" open= "WHERE 1=2">
			or inCode=#{deleteList}
		</foreach>	
	</delete>


	<!--  매출 내역 수정 처리 -->
	<update id ="modifyIn" parameterType="K3In">
			UPDATE k3_tb_in
			<trim prefix="SET" prefixOverrides=",">
				<if test="inCode != null and inCode != ''.toString()">			
					 inCode		=#{inCode}
				</if>
				<if test="mainBusinessCode != null and mainBusinessCode != ''.toString()">
					,mainBusinessCode	=#{mainBusinessCode}
				</if>
				<if test="memberId != null and memberId != ''.toString()">
					,memberId	=#{memberId}
				</if>
				<if test="estimateNum != null and estimateNum != ''.toString()">
					,estimateNum		=#{estimateNum}
				</if>
				<if test="estimatePrice != null and estimatePrice != ''.toString()">
					,estimatePrice		=#{estimatePrice}
				</if>
				<if test="inPayMethod != null and inPayMethod != ''.toString()">
					,inPayMethod		=#{inPayMethod}
				</if>
				<if test="inPayDate != null and inPayDate != ''.toString()">
					,inPayDate		=#{inPayDate}
				</if>
				<if test="inPayCheck != null and inPayCheck != ''.toString()">
					,inPayCheck		=#{inPayCheck}
				</if>
				<if test="inCheck != null and inCheck != ''.toString()">
					,inCheck		=#{inCheck}
				</if>
				<if test="inPayRemain != null and inPayRemain != ''.toString()">
					,inPayRemain		=#{inPayRemain}
				</if>
				<if test="inReceipe != null and inReceipe != ''.toString()">
					,inReceipe		=#{inReceipe}
				</if>
				<if test="inReceipeDate != null and inReceipeDate != ''.toString()">
					,inReceipeDate		=#{inReceipeDate}
				</if>
			</trim>
			WHERE
				inCode =#{inCode};
	</update>
	
	
	<!-- 매출 내역 수정 폼 -->
	<select id="getModifyIn" resultType="K3In">
		SELECT 
			 inCode
			,mainBusinessCode
			,memberId
			,estimateNum
			,estimatePrice
			,inPayMethod
			,inPayDate
			,inPayCheck
			,inCheck
			,inPayRemain
			,inReceipe
			,inReceipeDate
		FROM k3_tb_in
		where
			inCode = #{inCode};
	</select>	
	
	<insert id="addIn">
	INSERT INTO k3_tb_in
	(
		inCode
		,mainBusinessCode
		,memberId
		,estimateNum
		,estimatePrice
		,inPayMethod
		,inPayDate
		,inPayCheck
		,inCheck
		,inPayRemain
		,inReceipe
		,inReceipeDate
		)
	VALUES
	(
		#{inCode},
		#{mainBusinessCode},
		#{memberId},
		#{estimateNum},
		#{estimatePrice},
		#{inPayMethod},
		#{inPayDate},
		#{inPayCheck},
		#{inCheck},
		#{inPayRemain},
		#{inReceipe},
		#{inReceipeDate}
	);

	</insert>
	
	
	<!--입고 현황(초기화면) - 입고리스트  -->
	<select id="getInList" resultType="map" parameterType="map">
		SELECT 
			i.inCode 					as inCode
			,i.mainBusinessCode 		as mainBusinessCode
			,i.memberId					as memberId
			,i.estimateNum				as estimateNum
			,e.estimatePrice			as estimatePrice
			,i.inPayMethod				as inPayMethod
			,i.inPayDate				as inPayDate
			,i.inPayCheck				as inPayCheck
			,i.inCheck					as inCheck
			,i.inPayRemain				as inPayRemain
			,i.inReceipe				as inReceipe
			,i.inReceipeDate			as inReceipeDate
			,m.memberName				as memberName
		FROM k3_tb_in AS i
		
		INNER JOIN
			k3_tb_member AS m
		ON
			i.memberId = m.memberId
			
		INNER JOIN
			k3_tb_estimate AS e
		ON
			e.estimateNum = i.estimateNum

		<if test="startNum != null">
			LIMIT #{startNum}, #{rowPerPage};
		</if>
		
	</select>
	
	<!--입고 현황(초기화면) - 입고리스트 튜플 수  -->
	<select id="getInCount" resultType="int" fetchSize="1000">
		SELECT 
			count(1)
		FROM k3_tb_in AS i
		
		INNER JOIN
			k3_tb_member AS m
		ON
			i.memberId = m.memberId
			
		INNER JOIN
			k3_tb_estimate AS e
		ON
			e.estimateNum = i.estimateNum

	</select>

</mapper>