<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k3.dispatch.ahs.mapper.K3DispatchMapper">
	
	<!-- 중복확인 -->
	<select id="getOverlappedDispatchCode" parameterType="String"  resultType="Integer">
		SELECT
			COUNT(1)
		FROM
			k3_tb_dispatch_management AS d
		WHERE
			d.dispatchCode = #{dispatchCode};
		
	</select>
	
	<!-- 현황 -->
	<select id="getDispatchList" resultType="K3Dispatch">
		SELECT
			m.dispatchCode,
			m.mainBusinessCode,
			m.releaseCode,
			r.releaseMergeCode,
			r.shippingAddress,
			r.shippingDetailAddress,
			m.driverId,
			d.driverName,
			m.vehicleCode,
			m.dispatchStartDate,
			m.dispatchDueDate,
			m.dispatchAcceptDate,
			m.memberId,
			t.memberName,
			m.dispatchConsignee
		FROM
			k3_tb_dispatch_management AS m
		INNER JOIN
			k3_tb_release AS r
		ON
			m.releaseCode = r.releaseCode
		INNER JOIN
			k3_tb_member AS t
		ON
			m.memberId = t.memberId
		INNER JOIN
			k3_tb_driver as d
		ON
			m.driverId = d.driverId;
	
	</select>
	
	<!-- 추가 -->
	<select id="addDispatch" parameterType="K3Dispatch">
		INSERT INTO k3_tb_dispatch_management
		(
			dispatchCode,
			mainBusinessCode,
			releaseCode,
			driverId,
			vehicleCode,
			dispatchStartDate,
			dispatchDueDate,
			dispatchAcceptDate,
			memberId,
			dispatchConsignee

		)VALUES(
			#{dispatchCode},
			"공장A공장_서울_1",
			#{releaseCode},
			#{driverId},
			#{vehicleCode},
			#{dispatchStartDate},
			#{dispatchDueDate},
			#{dispatchAcceptDate},
			#{memberId},
			#{dispatchConsignee}
		);
	</select>
	
	<!-- 수정 -->
	<select id="getModifyDispatch" resultType="K3Dispatch">
		SELECT
			m.dispatchCode,
			m.mainBusinessCode,
			m.releaseCode,
			r.releaseMergeCode,
			r.shippingAddress,
			r.shippingDetailAddress,
			m.driverId,
			d.driverName,
			m.vehicleCode,
			m.dispatchStartDate,
			m.dispatchDueDate,
			m.dispatchAcceptDate,
			m.memberId,
			t.memberName,
			m.dispatchConsignee
		FROM
			k3_tb_dispatch_management AS m
		INNER JOIN
			k3_tb_release AS r
		ON
			m.releaseCode = r.releaseCode
		INNER JOIN
			k3_tb_member AS t
		ON
			m.memberId = t.memberId
		INNER JOIN
			k3_tb_driver as d
		ON
			m.driverId = d.driverId
		WHERE
			dispatchCode = #{dispatchCode};
	</select>
	
	<!-- 수정 -->
	<update id="modifyDispatch" parameterType="K3Dispatch">
		UPDATE k3_tb_dispatch_management
		<trim prefix="SET" prefixOverrides=",">
			<if test="dispatchCode != null and dispatchCode != ''.toString()">
				dispatchCode = #{dispatchCode},
			</if>
			<if test="dispatchCode != null and dispatchCode != ''.toString()">
				mainBusinessCode = "공장A공장_서울_1",
			</if>
			<if test="dispatchCode != null and dispatchCode != ''.toString()">
				releaseCode = #{releaseCode},
			</if>
			<if test="dispatchCode != null and dispatchCode != ''.toString()">
				driverId = #{driverId},
			</if>
			<if test="dispatchCode != null and dispatchCode != ''.toString()">
				vehicleCode = #{vehicleCode},
			</if>
			<if test="dispatchCode != null and dispatchCode != ''.toString()">
				dispatchStartDate = #{dispatchStartDate},
			</if>
			<if test="dispatchCode != null and dispatchCode != ''.toString()">
				dispatchDueDate = #{dispatchDueDate},
			</if>
			<if test="dispatchCode != null and dispatchCode != ''.toString()">
				dispatchAcceptDate = #{dispatchAcceptDate},
			</if>
			<if test="dispatchCode != null and dispatchCode != ''.toString()">
				memberId = #{memberId},
			</if>
			<if test="dispatchCode != null and dispatchCode != ''.toString()">
				dispatchConsignee = #{dispatchConsignee}
			</if>

		</trim>

		WHERE
			dispatchCode = #{dispatchCode};
	</update>
	
	<!-- 검색 -->
	<select id="k3SearchDispatchList" resultType="K3Dispatch">
		SELECT
			m.dispatchCode,
			m.mainBusinessCode,
			m.releaseCode,
			r.releaseMergeCode,
			r.shippingAddress,
			r.shippingDetailAddress,
			m.driverId,
			d.driverName,
			m.vehicleCode,
			m.dispatchStartDate,
			m.dispatchDueDate,
			m.dispatchAcceptDate,
			m.memberId,
			t.memberName,
			m.dispatchConsignee
		FROM
			k3_tb_dispatch_management AS m
		INNER JOIN
			k3_tb_release AS r
		ON
			m.releaseCode = r.releaseCode
		INNER JOIN
			k3_tb_member AS t
		ON
			m.memberId = t.memberId
		INNER JOIN
			k3_tb_driver as d
		ON
			m.driverId = d.driverId
		<trim prefix="WHERE" prefixOverrides="AND /OR">
			<if test="dispatchValue != null and dispatchValue != ''.toString()">
				${dispatchKey} LIKE CONCAT('%', #{dispatchValue}, '%');
			</if>
		</trim>
	</select>
	
	<!-- 체크 삭제 -->
	<delete id="k3DeleteDispatch" parameterType="Integer">
		DELETE
			d
		FROM
			k3_tb_dispatch_management AS d
		<foreach collection="list" item="deleteList" open= "WHERE 1=2">
			or dispatchCode=#{deleteList}
		</foreach>
	</delete>
	
	
	


</mapper>