<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k3.estimate.ahs.mapper.K3EstimateMapper">

	<!-- 견적서 삭제처리 -->
	<delete id="k3DeleteEstimate">
		DELETE
			ed,e
		FROM
			k3_tb_estimate_detail AS ed
			INNER join
			k3_tb_estimate AS e
			on
			ed.contractorCode = e.contractorCode
		WHERE
			ed.estimateNum = #{estimateNum};
	</delete>

	<!-- 견적서 수정처리 -->
	<update id="k3ModifyEstimate" parameterType="K3Estimate">
		UPDATE k3_tb_estimate
			SET
				estimateNum= #{estimateNum},
				mainBusinessCode='물류센터A물류센터_전북_1',
				contractorCode=#{contractorCode},
				estimatePrice= CAST(REPLACE(#{estimatePrice}, ',' , '')AS INT),
				estimatePricePrepayment= CAST(REPLACE(#{estimatePricePrepayment}, ',' , '')AS INT), 
				estimatePriceMonth= CAST(REPLACE(#{estimatePriceMonth}, ',' , '')AS INT), 
				memberId=#{memberId}, 
				estimateMeasureDate=curdate()
			WHERE estimateNum=#{estimateNum};	
	</update>
	<!-- 견적서 창고 수정처리 -->
	<update id="k3ModifyWareDetailEstimate" parameterType="K3Estimate">
		UPDATE k3_tb_estimate_detail
			SET
				estimateDetailNum=#{estimateDetailNum1},
				estimateNum=#{estimateNum},
				mainBusinessCode='물류센터A물류센터_전북_1',
				contractorCode=#{contractorCode},
				UnitPriceCode=#{wareCode},
				unitContractDevisionAmount=#{wareAmount},
				unitContractWarehouseType=#{unitContractWarehouseType},
				estimateContractTerm=#{wareContractTerm},
				estimateUnitPrice=CAST(REPLACE(#{wareUnitMulti}, ',' , '')AS INT), 
				memberId=#{memberId}
			WHERE estimateDetailNum = #{estimateDetailNum1};	
	</update>
	<!-- 견적서 송장 수정처리 -->
	<update id="k3ModifyInvoiceDetailEstimate" parameterType="K3Estimate">
		UPDATE k3_tb_estimate_detail
			SET
				estimateDetailNum=#{estimateDetailNum2},
				estimateNum=#{estimateNum},
				mainBusinessCode='물류센터A물류센터_전북_1',
				contractorCode=#{contractorCode},
				UnitPriceCode=#{invoiceCode},
				unitContractDevisionAmount=#{invoiceAmount},
				unitContractWarehouseType='',
				estimateContractTerm='',
				estimateUnitPrice=CAST(REPLACE(#{invoiceUnitPrice}, ',' , '')AS INT), 
				memberId=#{memberId}
			WHERE estimateDetailNum = #{estimateDetailNum2};	
	</update>

	<!-- 견적서 차량 수정처리 -->
	<update id="k3ModifyCarDetailEstimate" parameterType="K3Estimate">
		UPDATE k3_tb_estimate_detail
			SET
				estimateDetailNum=#{estimateDetailNum3},
				estimateNum=#{estimateNum},
				mainBusinessCode='물류센터A물류센터_전북_1',
				contractorCode=#{contractorCode},
				UnitPriceCode=#{carCode},
				unitContractDevisionAmount=#{carAmount},
				unitContractWarehouseType='',
				estimateContractTerm='',
				estimateUnitPrice=CAST(REPLACE(#{carPrice}, ',' , '')AS INT), 
				memberId=#{memberId}
			WHERE estimateDetailNum = #{estimateDetailNum3};	
	</update>
	
	<!-- 견적서 거리 수정처리 -->
	<update id="k3ModifyDistanceDetailEstimate" parameterType="K3Estimate">
		UPDATE k3_tb_estimate_detail
			SET
				estimateDetailNum=#{estimateDetailNum4},
				estimateNum=#{estimateNum},
				mainBusinessCode='물류센터A물류센터_전북_1',
				contractorCode=#{contractorCode},
				UnitPriceCode=#{UnitPriceCode},
				unitContractDevisionAmount=#{unitAmount},
				unitContractWarehouseType='',
				estimateContractTerm='',
				estimateUnitPrice=CAST(REPLACE(#{unitPrice}, ',' , '')AS INT), 
				memberId=#{memberId}
			WHERE estimateDetailNum = #{estimateDetailNum4};	
	</update>

	<!-- 견적서 송장 수정 페이지로 화면전환 -->
	<select id="k3GetModifyInvoiceEstimate" parameterType="String" resultType="K3Estimate">
		SELECT 
			estimatePricePrepayment,
			estimatePriceMonth,
			estimateMeasureDate,
			ed.estimateDetailNum, 
			ed.estimateNum, 
			ed.mainBusinessCode, 
			ed.contractorCode, 
			ed.UnitPriceCode, 
			ed.unitContractDevisionAmount, 
			ed.unitContractWarehouseType,
			ed.estimateContractTerm, 
			ed.estimateUnitPrice, 
			ed.memberId,
			wup.unitContractDevision,
			wup.unitContract,
			wup.unitTerm,
			wup.unitPay
		FROM 
			k3_tb_estimate AS e
			INNER JOIN 
			k3_tb_estimate_detail AS ed
			on
			e.estimateNum = ed.estimateNum
			INNER join
			k3_tb_warehouse_unit_price AS wup
			on
			wup.UnitPriceCode = ed.UnitPriceCode
		WHERE
			e.estimateNum = #{estimateNum};		
	</select>

	<!-- 견적서 차량 수정 페이지로 화면전환 -->
	<select id="k3GetModifyCarEstimate" parameterType="String" resultType="K3Estimate">
		SELECT 
			estimatePrice,
			estimatePricePrepayment,
			estimatePriceMonth,
			estimateMeasureDate,
			ed.estimateDetailNum, 
			ed.estimateNum, 
			ed.mainBusinessCode, 
			ed.contractorCode, 
			ed.UnitPriceCode, 
			ed.unitContractDevisionAmount, 
			ed.unitContractWarehouseType,
			ed.estimateContractTerm, 
			ed.estimateUnitPrice, 
			ed.memberId,
			wup.unitContractDevision,
			wup.unitContract,
			wup.unitTerm,
			wup.unitPay
		FROM 
			k3_tb_estimate AS e
			INNER JOIN 
			k3_tb_estimate_detail AS ed
			on
			e.estimateNum = ed.estimateNum
			INNER join
			k3_tb_warehouse_unit_price AS wup
			on
			wup.UnitPriceCode = ed.UnitPriceCode
		WHERE
			e.estimateNum = #{estimateNum};		
	</select>
	

	<!-- 견적서 등록 k3_tb_estimate -->
	<insert id="k3AddEstimate" parameterType="K3Estimate">
		INSERT INTO k3_tb_estimate
			( 
				estimateNum, 
				mainBusinessCode,
				contractorCode, 
				estimatePrice, 
				estimatePricePrepayment, 
				estimatePriceMonth, 
				memberId, 
				estimateMeasureDate)
		VALUES	
			(
				#{estimateNum}, 
				'물류센터A물류센터_전북_1', 
				#{contractorCode}, 
				CAST(REPLACE(#{estimatePrice}, ',' , '')AS INT),
				CAST(REPLACE(#{estimatePricePrepayment}, ',' , '')AS INT), 
				CAST(REPLACE(#{estimatePriceMonth}, ',' , '')AS INT), 
				#{memberId}, 
				#{estimateMeasureDate});
	</insert>
	<!-- END 견적서 등록 k3_tb_estimate -->


	<!-- 견적서 창고 등록 k3_tb_estimate_detail -->
	<insert id="k3AddWareEstimate" parameterType="K3Estimate">
		INSERT INTO 
			k3_tb_estimate_detail
				(estimateDetailNum, 
				estimateNum, 
				mainBusinessCode, 
				contractorCode, 
				UnitPriceCode, 
				unitContractDevisionAmount, 
				unitContractWarehouseType, 
				estimateContractTerm, 
				estimateUnitPrice, 
				memberId)
		VALUES (#{estimateDetailNum1}, 
				#{estimateNum}, 
				'물류센터A물류센터_전북_1', 
				#{contractorCode}, 
				#{wareCode}, 
				#{wareAmount}, 
				#{unitContractWarehouseType}, 
				#{wareContractTerm}, 
				CAST(REPLACE(#{wareUnitMulti}, ',' , '')AS INT), 
				#{memberId});	
	</insert>
	<!-- END 창고 등록 k3_tb_estimate_detail -->


	<!-- 견적서 송장 등록 k3_tb_estimate_detail -->
	<insert id="k3AddInvoiceilEstimate" parameterType="K3Estimate">
		INSERT INTO k3_tb_estimate_detail
			(estimateDetailNum, 
			estimateNum, 
			mainBusinessCode, 
			contractorCode, 
			UnitPriceCode, 
			unitContractDevisionAmount, 
			unitContractWarehouseType, 
			estimateContractTerm, 
			estimateUnitPrice, 
			memberId)
		VALUES (#{estimateDetailNum2}, 
				#{estimateNum}, 
				'물류센터A물류센터_전북_1', 
				#{contractorCode}, 
				#{invoiceCode}, 
				#{invoiceAmount}, 
				'', 
				'', 
				CAST(REPLACE(#{invoiceUnitPrice}, ',' , '')AS INT), 
				#{memberId});	
	</insert>
	
	<!-- END 송장 등록 k3_tb_estimate_detail -->


	<!-- 견적서 차량 등록 k3_tb_estimate_detail -->
	<insert id="k3AddCarEstimate" parameterType="K3Estimate">
		INSERT INTO k3_tb_estimate_detail
			(estimateDetailNum, 
			estimateNum, 
			mainBusinessCode, 
			contractorCode, 
			UnitPriceCode, 
			unitContractDevisionAmount, 
			unitContractWarehouseType, 
			estimateContractTerm, 
			estimateUnitPrice, 
			memberId)
		VALUES (#{estimateDetailNum3}, 
				#{estimateNum}, 
				'물류센터A물류센터_전북_1', 
				#{contractorCode}, 
				#{carCode}, 
				#{carAmount}, 
				'', 
				'', 
				CAST(REPLACE(#{carPrice}, ',' , '')AS INT), 
				#{memberId});	
	</insert>
	<!-- END 차량 등록 k3_tb_estimate_detail -->


	<!-- 견적서 거리 등록 k3_tb_estimate_detail -->
	<insert id="k3AddDistanceEstimate" parameterType="K3Estimate">
		INSERT INTO k3_tb_estimate_detail
			(estimateDetailNum, 
			estimateNum, 
			mainBusinessCode, 
			contractorCode, 
			UnitPriceCode, 
			unitContractDevisionAmount, 
			unitContractWarehouseType, 
			estimateContractTerm, 
			estimateUnitPrice, 
			memberId)
		VALUES (#{estimateDetailNum4}, 
				#{estimateNum}, 
				'물류센터A물류센터_전북_1', 
				#{contractorCode}, 
				#{UnitPriceCode}, 
				#{unitAmount}, 
				'', 
				'', 
				CAST(REPLACE(#{unitPrice}, ',' , '')AS INT), 
				#{memberId});	
	</insert>
	<!-- END 거리 등록 k3_tb_estimate_detail -->


	<!-- 등록페이지 값 정해주기 -->
	<select id="getEstimateDef" resultType="map">
		SELECT 
			CONCAT('ed',0,MAX(substring(estimateDetailNum,3))+1) as estimateDetailNum1,
			CONCAT('ed',0,MAX(substring(estimateDetailNum,3))+2) as estimateDetailNum2,
			CONCAT('ed',0,MAX(substring(estimateDetailNum,3))+2) as estimateDetailNum3,
			CONCAT('ed',0,MAX(substring(estimateDetailNum,3))+3) as estimateDetailNum4,
			CONCAT('es0',0,MAX(substring(estimateNum,3))+1) as estimateNum,
			CURDATE() as estimateMeasureDate
		FROM 
			k3_tb_estimate_detail;	
	</select>
	<!-- END 등록페이지 값 정해주기 -->

	<!-- 견적서 등록페이지 거래처 모달창 -->
	<select id="K3GetContractor" resultType="K3Contractor">
		SELECT 
			cs.contractorName,
			c.contractorCode
		FROM 
			k3_tb_contractor AS c
			INNER join
			k3_tb_contractor_staff AS cs
			on
			c.contractorId = cs.contractorId
		WHERE
			 cs.mainBusinessCode = '물류센터A물류센터_전북_1'
			 and
			 c.contractorDevision = '매출';
	</select>

	<!-- 견적서 상세정보 -->
	<select id="k3GetDetailEstimate" parameterType="String" resultType="K3Estimate">
		SELECT
			e.estimateNum
			,e.contractorCode
			,FORMAT(estimatePrice, 0) as estimatePrice
			,FORMAT(estimatePricePrepayment, 0) as estimatePricePrepayment
			,FORMAT(estimatePriceMonth, 0) as estimatePriceMonth
			,FORMAT(estimateUnitPrice, 0) as estimateUnitPrice
			,e.estimateMeasureDate
			,e.memberId
			,es.estimateDetailNum
			,es.mainBusinessCode
			,es.UnitPriceCode
			,es.unitContractDevisionAmount
			,es.unitContractWarehouseType
			,es.estimateContractTerm
			,cs.contractorName
			,u.unitContract
			,u.unitContractDevision
		FROM
			(((k3_tb_estimate AS e
			INNER join
			k3_tb_estimate_detail AS es
			on
			e.estimateNum = es.estimateNum)
			INNER join
			k3_tb_contractor AS c
			ON
			e.contractorCode = c.contractorCode)
			INNER join
			k3_tb_contractor_staff AS cs
			on
			c.contractorId = cs.contractorId)
			INNER join
			k3_tb_warehouse_unit_price AS u
			on
			u.UnitPriceCode = es.UnitPriceCode			
		WHERE
			e.estimateNum = #{estimateNum};
	</select>


	<!-- 검색된 견적서 투플 수 -->
	<select id="K3SearchEstimateCount" parameterType="map" resultType="map">
		SELECT
			e.estimateNum
			,e.contractorCode
			,cs.contractorName
			,FORMAT(estimatePrice, 0) as estimatePrice
			,e.estimateMeasureDate
			,e.memberId
		FROM
			(k3_tb_contractor AS c
			INNER join
			k3_tb_contractor_staff AS cs
			on
			c.contractorId = cs.contractorId)
			INNER JOIN
			k3_tb_estimate AS e
			on
			e.contractorCode = c.contractorCode
		<trim prefix="WHERE" prefixOverrides="AND |OR">
			c.contractorDevision = '매출'
			<if test="estimateMeasureDateStart != null and estimateMeasureDateStart != ''.toString() 
						and estimateMeasureDateEnd != null and estimateMeasureDateEnd != ''.toString()">
				AND e.estimateMeasureDate
	 			BETWEEN #{estimateMeasureDateStart} AND #{estimateMeasureDateEnd}
			</if>
			<if test='searchValue != null and searchValue != "".toString() and searchKey != "contractorId" and searchKey != "memberId"'>
				AND ${searchKey} LIKE CONCAT('%', #{searchValue}, '%')
			</if>
			<if test='searchKey == "memberId" || searchKey == "contractorCode"'>
				AND e.${searchKey} LIKE CONCAT('%', #{searchValue}, '%')
			</if>
		</trim>	
	</select>
	<!-- END 검색된 견적서 투플 수 -->

	<!-- 견적서 검색 (페이징)-->
	<select id="K3SearchEstimateList" parameterType="map" resultType="map">
		SELECT
			e.estimateNum
			,e.contractorCode
			,cs.contractorName
			,FORMAT(estimatePrice, 0) as estimatePrice
			,e.estimateMeasureDate
			,e.memberId
		FROM
			(k3_tb_contractor AS c
			INNER join
			k3_tb_contractor_staff AS cs
			on
			c.contractorId = cs.contractorId)
			INNER JOIN
			k3_tb_estimate AS e
			on
			e.contractorCode = c.contractorCode
		<trim prefix="WHERE" prefixOverrides="AND |OR">
			c.contractorDevision = '매출'
			<if test="estimateMeasureDateStart != null and estimateMeasureDateStart != ''.toString() 
						and estimateMeasureDateEnd != null and estimateMeasureDateEnd != ''.toString()">
				AND e.estimateMeasureDate
	 			BETWEEN #{estimateMeasureDateStart} AND #{estimateMeasureDateEnd}
			</if>
			<if test='searchValue != null and searchValue != "".toString() and searchKey != "contractorId" and searchKey != "memberId"'>
				AND e.${searchKey} LIKE CONCAT('%', #{searchValue}, '%')
			</if>
			<if test='searchKey == "memberId" || searchKey == "contractorCode"'>
				AND e.${searchKey} LIKE CONCAT('%', #{searchValue}, '%')
			</if>
		</trim>	
		ORDER BY
			e.estimateMeasureDate DESC
		<if test="paramMap.startNum != null">
			LIMIT #{paramMap.startNum}, #{paramMap.rowPerPage};
		</if>
	</select>
	<!--END 견적서 검색 (페이징)-->


	<!-- 견적서 투플 수(페이징) -->
	<select id="K3GetEstimateCount" resultType="int" fetchSize="1000">
		SELECT
			COUNT(1)
		FROM
			(k3_tb_contractor AS c
			INNER join
			k3_tb_contractor_staff AS cs
			on
			c.contractorId = cs.contractorId)
			INNER JOIN
			k3_tb_estimate AS e
			on
			e.contractorCode = c.contractorCode
		where
			c.contractorDevision = '매출';
	</select>

	<!-- 견적서 목록 간단 현황으로 불러오기(페이징) -->
	
	<select id="K3GetEstimateList" parameterType="map" resultType="map" >
		SELECT
			e.estimateNum
			,e.contractorCode
			,cs.contractorName
			,FORMAT(estimatePrice, 0) as estimatePrice
			,e.estimateMeasureDate
			,e.memberId
		FROM
			(k3_tb_contractor AS c
			INNER join
			k3_tb_contractor_staff AS cs
			on
			c.contractorId = cs.contractorId)
			INNER JOIN
			k3_tb_estimate AS e
			on
			e.contractorCode = c.contractorCode
		where
			c.contractorDevision = '매출'
		ORDER BY
			e.estimateMeasureDate DESC
		<if test="startNum != null">
			LIMIT #{startNum}, #{rowPerPage};
		</if>			
		
	</select>

</mapper>