<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k3.memberuser.ahs.mapper.K3MemberUserMapper">
<!-- 	<resultMap type="K3Category" id="categoryResultMap">
		<result column="largeCategory" property="largeCategory" />
		<result column="mainBusinessCode" property="mainBusinessCode" />
		<result column="mediumCategory" property="mediumCategory" />
		<result column="smallCategory" property="smallCategory" />
	</resultMap> -->
	
	<!--  <select id="K3MemberUserInfoBycode" parameterType="String" resultMap="memberResultMap">
		SELECT 
			m.memberId,
			m.memberPassword,
			m.mainBusinessCode,
			m.levelMemberCode,
			m.memberName,
			m.memberGender,
			m.memberAddr,
			m.memberPhone,
			m.memberResidentRegistrationNumber,
			m.memberState,
			m.memberRegDate,
			m.memberHiredDate,
			m.memberRetiredReason,
			m.memberRetiredDate,
			m.memberRetirementSignedDate
		FROM 
			k3_tb_member AS m
		WHERE
			m.memberId = #{memberId};
	</select>-->
	
	<!-- 중복확인 --> 
	<select id="getMemberByMemberId" parameterType="String"  resultType="int">
		SELECT
			COUNT(1)
		FROM
			k3_tb_member AS m
		WHERE
			m.memberId = #{memberId};
	</select>
	
	<!-- 모달 -->
	<select id="k3GetModalList" resultType="map" parameterType="map">
		SELECT 
			 m.memberId									
			,m.memberName			
		FROM 
			k3_tb_member	AS m
	</select>
	
<!--  직원검색 -->
	<select id="k3GetMemberUserSearchList" resultType="K3MemberUser">
		SELECT
			*
		FROM
			k3_tb_member
		<trim prefix="WHERE" prefixOverrides="AND /OR">
			<if test="memberuserValue != null and memberuserValue != ''.toString()">
				${memberuserKey} LIKE CONCAT('%', #{memberuserValue}, '%') 
		AND 
			memberState = "일반";
			</if>
		</trim>
	</select>

<!-- 직원삭제(한줄) -->
	<delete id="k3DeleteMemberUser" parameterType="String">
		DELETE FROM 
			k3_tb_member 
		WHERE 
			memberId = #{memberList};
	</delete>
	
	
<!-- 직원퇴사 -->
	<update id="k3RemoveMemberUser" parameterType="map">
		UPDATE 
			k3_tb_member 
		SET
			memberState = "퇴사"
		<trim prefix="WHERE" prefixOverrides="AND |OR"> 
			<foreach collection="removeList" item="removeList">
				OR memberId = #{removeList};
			</foreach>
		</trim>	
	</update>
	

<!-- 직원선택 (수정) -->
	<select id="getk3ModifyMemberUserInfoMemberId" parameterType="int" resultType="K3MemberUser">
		SELECT 
			m.memberId,
			m.memberPassword,
			m.mainBusinessCode,
			m.levelMemberCode,
			m.memberName,
			m.memberGender,
			m.memberPhone,
			m.memberResidentRegistrationNumber,
			m.memberState,
			m.memberRegDate,
			m.memberHiredDate,
			m.memberRetiredReason,
			m.memberRetiredDate,
			m.memberRetirementSignedDate,
			m.memberpostaladdress,
			m.memberstreetaddress,
			m.memberEmail
		FROM 
			k3_tb_member AS m 
		WHERE
			m.memberId = #{memberId}; 
	</select>

<!-- 직원수정처리 -->
	<update id="k3ModifyMemberUserInfo" parameterType="int">
		UPDATE 
			k3_tb_member AS m
		<trim prefix="SET" suffixOverrides=",">
			<if test="memberPassword != null and memberPassword != ''.toString()">
			m.memberPassword = #{memberPassword},
			</if>	
			<if test="mainBusinessCode != null and mainBusinessCode != ''.toString()">
			m.mainBusinessCode = #{mainBusinessCode},
			</if>	
			<if test="levelMemberCode != null and levelMemberCode != ''.toString()">
			m.levelMemberCode = #{levelMemberCode},
			</if>	
			<if test="memberName != null and memberName != ''.toString()">
			m.memberName = #{memberName},
			</if>	
			<if test="memberGender != null and memberGender != ''.toString()">
			m.memberGender = #{memberGender},
			</if>	
			<if test="memberPhone != null and memberGender != ''.toString()">
			m.memberPhone = #{memberPhone},
			</if>	
			<if test="memberResidentRegistrationNumber != null and memberResidentRegistrationNumber != ''.toString()">
			m.memberResidentRegistrationNumber = #{memberResidentRegistrationNumber},
			</if>	
			<if test="memberState != null and memberState != ''.toString()">
			m.memberState = #{memberState},
			</if>	
			<if test="memberRegDate != null and memberGender != ''.toString()">
			m.memberRegDate = #{memberRegDate},
			</if>	
			<if test="memberHiredDate != null and memberHiredDate != ''.toString()">
			m.memberHiredDate = #{memberHiredDate},
			</if>
			<if test="memberRetiredReason != null and memberRetiredReason != ''.toString()">
			m.memberRetiredReason = #{memberRetiredReason},
			</if>
			<if test="memberRetiredDate != null and memberRetiredDate != ''.toString()">
			m.memberRetiredDate = #{memberRetiredDate},
			</if>
			<if test="memberRetirementSignedDate != null and memberRetirementSignedDate != ''.toString()">
			m.memberRetirementSignedDate = #{memberRetirementSignedDate},
			</if>
			<if test="memberpostaladdress != null and memberHiredDate != ''.toString()">
			m.memberpostaladdress = #{memberpostaladdress},
			</if>
			<if test="memberstreetaddress != null and memberstreetaddress != ''.toString()">
			m.memberstreetaddress = #{memberstreetaddress},
			</if>
			<if test="memberstreetaddress != null and memberstreetaddress != ''.toString()">
			m.memberEmail = #{memberEmail}
			</if>
		</trim>		
		WHERE 
			m.memberId = #{memberId};
	</update>

<!-- 직원선택 -->
	<select id="K3MemberUserInfoBycode" resultType="K3MemberUser">
		SELECT
			*
		FROM
			k3_tb_member AS m
		WHERE
			m.memberId = #{memberId}
		AND 
			m.memberState = "일반";
	</select>

<!-- 직원등록 -->
	<insert id="AddMemberUser">
		INSERT INTO k3_tb_member
			(
			memberId,
			memberPassword,
			mainBusinessCode,
			levelMemberCode,
			memberName,
			memberGender,
			memberPhone,
			memberResidentRegistrationNumber,
			memberState,
			memberRegDate,
			memberHiredDate,
			memberRetiredReason,
			memberRetiredDate,
			memberRetirementSignedDate,
			memberpostaladdress,
			memberstreetaddress,
			memberEmail
			)VALUES (
			#{memberId},
			#{memberPassword},
			#{mainBusinessCode},
			#{levelMemberCode},
			#{memberName},
			#{memberGender},
			#{memberPhone},
			#{memberResidentRegistrationNumber},
			'일반',
			#{memberRegDate},	
			#{memberHiredDate},
			#{memberRetiredReason},
			#{memberRetiredDate},
			#{memberRetirementSignedDate},
			#{memberpostaladdress},
			#{memberstreetaddress},
			#{memberEmail}
			);
	</insert>
	
	<!-- 전제조회 -->
	<select id="getMemberUserList" resultType="K3MemberUser">
		SELECT 
			 m.memberId									AS memberId
			,m.memberPassword							AS memberPassword
			,m.mainBusinessCode							AS mainBusinessCode
			,m.levelMemberCode							AS levelMemberCode
			,m.memberName								AS memberName
			,m.memberGender								AS memberGender
			,m.memberPhone								AS memberPhone
			,m.memberResidentRegistrationNumber			AS memberResidentRegistrationNumber
			,m.memberState								AS memberState
			,m.memberRegDate							AS memberRegDate
			,m.memberHiredDate							AS memberHiredDate
			,m.memberpostaladdress						AS memberpostaladdress
			,m.memberstreetaddress						AS memberstreetaddress
			,m.memberEmail								AS memberEmail
		FROM 
			k3_tb_member	AS m
		WHERE
			memberState = "일반";
	
	</select>

</mapper>
