<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k3.loginstate.ahs.mapper.K3LoginStateMapper">
<!-- 	<resultMap type="K3Category" id="categoryResultMap">
		<result column="largeCategory" property="largeCategory" />
		<result column="mainBusinessCode" property="mainBusinessCode" />
		<result column="mediumCategory" property="mediumCategory" />
		<result column="smallCategory" property="smallCategory" />
	</resultMap> -->

	<select id="getLoginStateList" resultType="K3LoginState">
		SELECT 
			 l.loginCode				AS loginCode
			,l.mainBusinessCode			AS mainBusinessCode
			,l.memberId					AS memberId
			,l.loginDate				AS loginDate
			,l.loginFailCount			AS loginFailCount
			,l.loginLatestTryDate		AS loginLatestTryDate
			,l.loginAccessState			AS loginAccessState
			,l.loginLogoutDate			AS loginLogoutDate
			,l.loginIpAddress			AS loginIpAddress
			,l.loginMacAddress			AS loginMacAddress
		FROM 
			k3_tb_login AS l
	</select> 
	
	<!--  직원검색 -->
	<select id="k3GetLoginStateSearchList" resultType="K3LoginState">
		SELECT
			*
		FROM
			k3_tb_login
		<trim prefix="WHERE" prefixOverrides="AND /OR">
			<if test="loginstateValue != null and loginstateValue != ''.toString()">
				${loginstateKey} LIKE CONCAT('%', #{loginstateValue}, '%') 
			</if>
		</trim>
	</select>
</mapper>
