<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k3.subject.ahs.mapper.K3SubjectMapper">
 	<resultMap type="K3Subject" id="subjectResultMap">
		<result column="subjectName" property="subjectName" />
		<result column="regName" property="subjectRegMember" />
		<result column="regDate" property="subjectRegDate" />
		<result column="subjectCode" property="subjectCode" />
		<result column="subjectGCode" property="subjectGCode" />
		<result column="isUse" property="subjectIsUse" />
		<result column="isCorrect" property="subjectIsCorrect" />
		<result column="applyYear" property="subjectApplyYear" />
	</resultMap>
	
	<!-- 계정과목 검색 -->	
	<select id="searchSubjectList" resultType="K3Subject">
		
			SELECT 
			  asCode
			, asName
			, asGCode
			, asUse
			, asCorrect
			, memberId
			, asRegDate
			, asYear
			FROM
				k3_tb_as
		<trim prefix="WHERE" prefixOverrides="AND \OR">
			<if test="subjectValue != null and subjectValue != ''.toString()">
				${subjectKey} LIKE CONCAT('%', #{subjectValue}, '%');
			</if>
		</trim>
	</select>	
	
	
	<!--  계정과목 삭제 처리 -->
	<delete id ="deleteSubject" parameterType="int">
	DELETE 
		a
	FROM
		k3_tb_as AS a 
		<foreach collection="list" item="deleteList" open= "WHERE 1=2">
			or asCode=#{deleteList}
		</foreach>	
	</delete>
 	
	
	<!--  계정과목 수정 처리 -->
	<update id ="modifySubject" parameterType="K3Subject">
			UPDATE k3_tb_as
			<trim prefix="SET" prefixOverrides=",">
				<if test="asCode != null and asCode!= ''.toString()">			
					 asCode		=#{asCode}
				</if>
				<if test="asName != null and asName != ''.toString()">
					,asName	=#{asName}
				</if>
				<if test="asGCode != null and asGCode != ''.toString()">		
					,asGCode		=#{asGCode}
				</if>
				<if test="asUse != null and asUse != ''.toString()">
					,asUse	=#{asUse}
				</if>
				<if test="asCorrect != null and asCorrect != ''.toString()">
					,asCorrect		=#{asCorrect}
				</if>
				<if test="memberId != null and memberId != ''.toString()">
					,memberId		=#{memberId}
				</if>
				<if test="asRegDate != null and asRegDate != ''.toString()">
					,asRegDate		=#{asRegDate}
				</if>
				<if test="asYear != null and asYear != ''.toString()">
					,asYear		=#{asYear}
				</if>
			</trim>
			WHERE
				asCode =#{asCode};
	</update>
	
	<!-- 계정과목 수정 폼 -->
	<select id="getModifySubject" resultType="K3Subject">
		select
			asName,
			memberId,
			asRegDate,
			asCode,
			asGCode,
			asUse,
			asCorrect,
			asYear
		FROM
			k3_tb_as
		where
			asCode = #{asCode};
	</select>

	
	<!--  계정과목 등록 -->
	<insert id="addSubject">
	INSERT INTO k3_tb_as
	(
		asCode,
		asName,
		asGCode,
		asUse,
		asCorrect,
		memberId,
		asRegDate,
		asYear
		)
	VALUES
	(
		#{asCode},
		#{asName},
		#{asGCode},
		#{asUse},
		#{asCorrect},
		#{asName},
		#{asRegDate},
		#{asYear}
	);
	</insert>
	
	<!-- 계정과목 목록 조회 (시작화면) -->
	<select id="getSubjectList" resultType="K3Subject">
	select
		asName,
		memberId,
		asRegDate,
		asCode,
		asGCode,
		asUse,
		asCorrect,
		asYear
	FROM
		k3_tb_as;
	</select>

</mapper>