<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k3.location.ahs.mapper.K3LocationMapper">
	<!-- <insert id="k3AddLocationCode" parameterType="K3Location">
		INSERT INTO k3_tb_location(
			locationCode
		)VALUES(
			#{locationCode}
		);
	</insert> -->
	<insert id="k3AddLocation" parameterType="java.util.Map">
		INSERT INTO k3_tb_location(
			 locationCode
			,locationNote
			,locationState
		)VALUES
		<foreach collection="list" item="item" separator=",">
		(#{item.locationCode}
		,#{item.locationNote}
		,#{item.locationState});
		</foreach>	
	</insert>
</mapper>