<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k3.memberuser.ahs.mapper.K3MemberUserMapper">
<!-- 	<resultMap type="K3Category" id="categoryResultMap">
		<result column="largeCategory" property="largeCategory" />
		<result column="mainBusinessCode" property="mainBusinessCode" />
		<result column="mediumCategory" property="mediumCategory" />
		<result column="smallCategory" property="smallCategory" />
	</resultMap> -->

	<delete id="">
		DELETE 
			m
		FROM 
			k3_tb_member AS m 
		WHERE 
			memberId = #{memberId};
	</delete>

	<select id="K3MemberUserInfoBycode" resultType="K3MemberUser">
		SELECT
			*
		FROM
			k3_tb_member AS m
		WHERE
			m.memberId = #{memberId};
	</select>

	<insert id="AddMemberUser">
		INSERT INTO 
   		k3_tb_member
		(
		 memberId
		,memberPassword
		,mainBusinessCode
		,levelMemberCode
		,memberName
		,memberGender
		,memberAddr
		,memberPhone
		,memberResidentRegistrationNumber
		,memberState
		,memberRegDate
		,memberHiredDate
	)VALUES(
		 #{memberId}
		,#{memberPassword}
		,"물류센터A물류센터_전북_1"
		,#{levelMemberCode}
		,#{memberName}
		,#{memberGender}
		,#{memberAddr}
		,#{memberPhone}
		,#{memberResidentRegistrationNumber}
		,"일반"
		,#{memberRegDate}
		,#{memberHiredDate}
	);
	</insert>
	
	<select id="getMemberUserList" resultType="K3MemberUser">
		SELECT 
			 m.memberId									AS memberId
			,m.memberPassword							AS memberPassword
			,m.mainBusinessCode							AS mainBusinessCode
			,m.levelMemberCode							AS levelMemberCode
			,m.memberName								AS memberName
			,m.memberGender								AS memberGender
			,m.memberAddr								AS memberAddr
			,m.memberPhone								AS memberPhone
			,m.memberResidentRegistrationNumber			AS memberResidentRegistrationNumber
			,m.memberState								AS memberState
			,m.memberRegDate							AS memberRegDate
			,m.memberHiredDate							AS memberHiredDate
	FROM k3_tb_member	AS m
	
	</select>

</mapper>
