<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k3.memberuser.ahs.mapper.K3MemberUserMapper">
<!-- 	<resultMap type="K3Category" id="categoryResultMap">
		<result column="largeCategory" property="largeCategory" />
		<result column="mainBusinessCode" property="mainBusinessCode" />
		<result column="mediumCategory" property="mediumCategory" />
		<result column="smallCategory" property="smallCategory" />
	</resultMap> -->
	
	<!--  <select id="K3MemberUserInfoBycode" parameterType="String" resultMap="memberResultMap">
		SELECT 
			m.memberId,
			m.memberPassword,
			m.mainBusinessCode,
			m.levelMemberCode,
			m.memberName,
			m.memberGender,
			m.memberAddr,
			m.memberPhone,
			m.memberResidentRegistrationNumber,
			m.memberState,
			m.memberRegDate,
			m.memberHiredDate,
			m.memberRetiredReason,
			m.memberRetiredDate,
			m.memberRetirementSignedDate
		FROM 
			k3_tb_member AS m
		WHERE
			m.memberId = #{memberId};
	</select>-->
	
	<select id="k3GetMemberUserModalList" resultType="map" parameterType="map">
		SELECT 
			 m.memberId									AS memberId
			,m.memberName								AS memberName
		FROM 
			k3_tb_member	AS m
	</select>
	
<!--  직원검색 -->
	<select id="k3GetMemberUserSearchList" resultType="K3MemberUser">
		SELECT
			*
		FROM
			k3_tb_member
		<trim prefix="WHERE" prefixOverrides="AND /OR">
			<if test="memberuserValue != null and memberuserValue != ''.toString()">
				${memberuserKey} LIKE CONCAT('%', #{memberuserValue}, '%');
			</if>
		</trim>
	</select>

<!-- 직원삭제(한줄) -->
	<delete id="k3DeleteMemberUser" parameterType="String">
		DELETE FROM 
			k3_tb_member 
		WHERE 
			memberId = #{memberList};
	</delete>
	
	
<!-- 직원삭제 -->
	<update id="k3RemoveMemberUser" parameterType="map">
		UPDATE 
			k3_tb_member 
		SET
			memberState = "퇴사"
		<trim prefix="WHERE" prefixOverrides="AND |OR"> 
			<foreach collection="removeList" item="removeList">
				OR memberId = #{removeList}
			</foreach>
		</trim>	
	</update>
	

<!-- 직원선택 (수정) -->
	<select id="getk3ModifyMemberUserInfoMemberId" parameterType="int" resultType="K3MemberUser">
		SELECT 
			m.memberId,
			m.memberPassword,
			m.mainBusinessCode,
			m.levelMemberCode,
			m.memberName,
			m.memberGender,
			m.memberAddr,
			m.memberPhone,
			m.memberResidentRegistrationNumber,
			m.memberState,
			m.memberRegDate,
			m.memberHiredDate
		FROM 
			k3_tb_member AS m 
		WHERE
			m.memberId = #{memberId}; 
	</select>

<!-- 직원수정처리 -->
	<update id="k3ModifyMemberUserInfo" parameterType="int">
		UPDATE 
			k3_tb_member AS m
		<trim prefix="SET" suffixOverrides=",">
			<if test="memberPassword != null and memberPassword != ''.toString()">
			m.memberPassword = #{memberPassword},
			</if>	
			<if test="mainBusinessCode != null and mainBusinessCode != ''.toString()">
			m.mainBusinessCode ='물류센터A물류센터_전북_1',
			</if>	
			<if test="levelMemberCode != null and levelMemberCode != ''.toString()">
			m.levelMemberCode = #{levelMemberCode},
			</if>	
			<if test="memberName != null and memberName != ''.toString()">
			m.memberName = #{memberName},
			</if>	
			<if test="memberGender != null and memberGender != ''.toString()">
			m.memberGender = #{memberGender},
			</if>	
			<if test="memberAddr != null and memberAddr != ''.toString()">
			m.memberAddr = #{memberAddr},
			</if>	
			<if test="memberPhone != null and memberGender != ''.toString()">
			m.memberPhone = #{memberPhone},
			</if>	
			<if test="memberResidentRegistrationNumber != null and memberResidentRegistrationNumber != ''.toString()">
			m.memberResidentRegistrationNumber = #{memberResidentRegistrationNumber},
			</if>	
			<if test="memberState != null and memberState != ''.toString()">
			m.memberState = #{memberState},
			</if>	
			<if test="memberRegDate != null and memberGender != ''.toString()">
			m.memberRegDate = #{memberRegDate},
			</if>	
			<if test="memberHiredDate != null and memberHiredDate != ''.toString()">
			m.memberHiredDate = #{memberHiredDate}
			</if>
		</trim>		
		WHERE 
			m.memberId = #{memberId};
	</update>

<!-- 직원선택 ?-->
	<select id="K3MemberUserInfoBycode" resultType="K3MemberUser">
		SELECT
			*
		FROM
			k3_tb_member AS m
		WHERE
			m.memberId = #{memberId};
	</select>

<!-- 직원등록 -->
	<insert id="AddMemberUser">
		INSERT INTO 
   		k3_tb_member
		(
		 memberId
		,memberPassword
		,mainBusinessCode
		,levelMemberCode
		,memberName
		,memberGender
		,memberAddr
		,memberPhone
		,memberResidentRegistrationNumber
		,memberState
		,memberRegDate
		,memberHiredDate
	)VALUES(
		 #{memberId}
		,#{memberPassword}
		,"물류센터A물류센터_전북_1"
		,#{levelMemberCode}
		,#{memberName}
		,#{memberGender}
		,#{memberAddr}
		,#{memberPhone}
		,#{memberResidentRegistrationNumber}
		,"일반"
		,#{memberRegDate}
		,#{memberHiredDate}
	);
	</insert>
	
	<!-- 전제조회 -->
	<select id="getMemberUserList" resultType="K3MemberUser">
		SELECT 
			 m.memberId									AS memberId
			,m.memberPassword							AS memberPassword
			,m.mainBusinessCode							AS mainBusinessCode
			,m.levelMemberCode							AS levelMemberCode
			,m.memberName								AS memberName
			,m.memberGender								AS memberGender
			,m.memberAddr								AS memberAddr
			,m.memberPhone								AS memberPhone
			,m.memberResidentRegistrationNumber			AS memberResidentRegistrationNumber
			,m.memberState								AS memberState
			,m.memberRegDate							AS memberRegDate
			,m.memberHiredDate							AS memberHiredDate
		FROM 
			k3_tb_member	AS m
		WHERE
			memberState = "일반";
	
	</select>

</mapper>
