<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k3.out.ahs.mapper.K3OutMapper">
 	<!-- <resultMap type="K3Subject" id="subjectResultMap">
		<result column="asCode" property="asCode" />
		<result column="regName" property="subjectRegMember" />
		<result column="regDate" property="subjectRegDate" />
		<result column="outCode" property="outCode" />
		<result column="asName" property="asName" />
		<result column="mainbusinessCode" property="subjectmainbusinessCode" />
		<result column="isCorrect" property="subjectIsCorrect" />
		<result column="applyYear" property="subjectApplyYear" />
	</resultMap> -->

<!-- 계정과목 검색 -->	
	<select id="searchOutList" resultType="K3Out">
			SELECT
			outCode
			,asCode
			,asName
			,mainBusinessCode
			,outName
			,memberId
			,outRegDate
			,outMemo
			,outPrice
			,outMethod
			,outReceipe
			FROM
				k3_tb_out
		<trim prefix="WHERE" prefixOverrides="AND \OR">
			<if test="outValue != null and outValue != ''.toString()">
				${outKey} LIKE CONCAT('%', #{outValue}, '%');
			</if>
		</trim>
	</select>	
	
	
	
	<!--  비용 삭제 처리 -->
	<delete id ="deleteOut" parameterType="int">
	
	DELETE 
		a
	FROM
		k3_tb_out AS a 
		<foreach collection="list" item="deleteList" open= "WHERE 1=2">
			or outCode=#{deleteList}
		</foreach>	
	</delete>
	
	<!--  비용 수정 처리 -->
	<update id ="modifyOut" parameterType="K3Out">
			UPDATE k3_tb_out
			<trim prefix="SET" prefixOverrides=",">
				<if test="outCode != null and outCode!= ''.toString()">			
					 outCode		=#{outCode}
				</if>
				<if test="asCode != null and asCode != ''.toString()">
					,asCode	=#{asCode}
				</if>
				<if test="asName != null and asName != ''.toString()">		
					,asName		=#{asName}
				</if>
				<if test="mainBusinessCode != null and mainBusinessCode != ''.toString()">
					,mainBusinessCode	=#{mainBusinessCode}
				</if>
				<if test="outName != null and outName != ''.toString()">
					,outName		=#{outName}
				</if>
				<if test="memberId != null and memberId != ''.toString()">
					,memberId		=#{memberId}
				</if>
				<if test="outRegDate != null and outRegDate != ''.toString()">
					,outRegDate		=#{outRegDate}
				</if>
				<if test="outMemo != null and outMemo != ''.toString()">
					,outMemo		=#{outMemo}
				</if>
				<if test="outPrice != null and outPrice != ''.toString()">
					,outPrice		=#{outPrice}
				</if>
				<if test="outMethod != null and outMethod != ''.toString()">
					,outMethod		=#{outMethod}
				</if>
				<if test="outReceipe != null and outReceipe != ''.toString()">
					,outReceipe		=#{outReceipe}
				</if>
			</trim>
			WHERE
				outCode =#{outCode};
	</update>	
	
	<select id="getModifyOut" resultType="K3Out">
		select
			outCode,
			asCode,
			asName,
			mainBusinessCode,
			outName,
			memberId,
			outRegDate,
			outMemo,
			outPrice,
			outMethod,
			outReceipe
		FROM
			k3_tb_out
		where
			outCode = #{outCode};
	</select>
	
	<!-- 비용 등록처리 -->
	<insert id="addOut">
	INSERT INTO k3_tb_out
	(
		outCode,
		asCode,
		asName,
		mainBusinessCode,
		outName,
		memberId,
		outRegDate,
		outMemo,
		outPrice,
		outMethod,
		outReceipe
		)
	VALUES
	(
		#{outCode},
		#{asCode},
		#{asName},
		#{mainBusinessCode},
		#{outName},
		#{memberId},
		#{outRegDate},
		#{outMemo},
		#{outPrice},
		#{outMethod},
		#{outReceipe}
	);
	</insert>
	
	<!-- 비용 (시작화면) -->
	<select id="getOutList" resultType="K3Out">
	select
		outCode,
		asCode,
		asName,
		mainBusinessCode,
		outName,
		memberId,
		outRegDate,
		outMemo,
		outPrice,
		outMethod,
		outReceipe
	FROM
		k3_tb_out;
	</select>

</mapper>