<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="k3.product.ahs.mapper.K3ProductMapper">
	
	<!--상품 조회처리  -->
	<select id="k3GetProductSearchList" parameterType="map" resultType="map" >
		SELECT
			p.productCode,
			p.productName,
			c.largeCategory,
			c.mediumCategory,
			c.smallCategory,
			p.manufacturer
		FROM
			k3_tb_product AS p
			INNER JOIN
			k3_tb_total_category AS c
			ON
			p.categoryCode = c.categoryCode
		<if test="searchCondition.searchType != null and searchCondition.searchType != ''.toString()">
			<trim prefix="WHERE" prefixOverrides="AND |OR">
				<if test="searchCondition.productValue != null and searchCondition.productValue != ''.toString() ">
					AND ${searchCondition.productKey} LIKE CONCAT('%',#{searchCondition.productValue},'%')
				</if>
				<if test="searchCondition.categoryValue != null and searchCondition.categoryValue != ''.toString() ">
					AND ${searchCondition.categoryKey} LIKE CONCAT('%',#{searchCondition.categoryValue},'%')
				</if>
			</trim>
		</if>
		<if test="paramMap.startNum != null">
			LIMIT #{paramMap.startNum}, #{paramMap.rowPerPage};
		</if>		
	</select>
	
	<!--상품 현황(초기화면)  -->
	<select id="k3GetProductList" parameterType="map" resultType="map" >
		SELECT
			p.productCode,
			p.productName,
			c.largeCategory,
			c.mediumCategory,
			c.smallCategory,
			p.manufacturer
		FROM
			k3_tb_product AS p
			INNER JOIN
			k3_tb_total_category AS c
			ON
			p.categoryCode = c.categoryCode
		<if test="startNum != null">
			LIMIT #{startNum}, #{rowPerPage};
		</if>		
	</select>
	
	<!--상품 튜플 수 계산  -->
	<select id="k3GetProductCount" resultType="int" fetchSize="1000">
		SELECT
			COUNT(1)
		FROM
			k3_tb_product AS p
			INNER JOIN
			k3_tb_total_category AS c
			ON
			p.categoryCode = c.categoryCode
		<if test="countType eq 'search'.toString()">
			<if test="searchCondition.searchType != null and searchCondition.searchType != ''.toString()">
				<trim prefix="WHERE" prefixOverrides="AND |OR">
					<if test="searchCondition.productValue != null and searchCondition.productValue != ''.toString() ">
						AND ${searchCondition.productKey} LIKE CONCAT('%',#{searchCondition.productValue},'%')
					</if>
					<if test="searchCondition.categoryValue != null and searchCondition.categoryValue != ''.toString() ">
						AND ${searchCondition.categoryKey} LIKE CONCAT('%',#{searchCondition.categoryValue},'%')
					</if>
				</trim>
			</if>
		</if>		
	</select>
 
 </mapper>