<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k3.memberuser.ahs.mapper.K3MemberUserMapper">
<!-- 	<resultMap type="K3Category" id="categoryResultMap">
		<result column="largeCategory" property="largeCategory" />
		<result column="mainBusinessCode" property="mainBusinessCode" />
		<result column="mediumCategory" property="mediumCategory" />
		<result column="smallCategory" property="smallCategory" />
	</resultMap> -->

	<!-- <insert id="AddRetiredMemberUser">
		INSERT INTO 
   		k3_tb_retiredMember
		(
		 memberRetiredCode
		,mainBusinessCode
		,memberId
		,memberRetiredReason
		,memberRetiredDate
		,memberRetirementSignedDate
	)VALUES(
		 #{memberRetiredCode}
		,"공장A공장_서울_2"
		,#{memberId}
		,#{memberRetiredReason}
		,#{memberRetiredDate}
		,#{memberRetirementSignedDate}
	);
	</insert> -->
	
	<select id="getRetiredMemberUserList" resultType="K3RetiredMemberUser">
		SELECT 
			 rm.memberRetiredCode					AS memberRetiredCode
			,rm.mainBusinessCode						AS mainBusinessCode
			,rm.memberId								AS memberId
			,rm.memberRetiredReason					AS memberRetiredReason
			,rm.memberRetiredDate					AS memberRetiredDate
			,rm.memberRetirementSignedDate		AS memberRetirementSignedDate
		FROM k3_tb_retiredMember AS rm
	</select>

</mapper>
