<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k3.retiredmemberuser.ahs.mapper.K3RetiredMemberUserMapper">
<!-- 	<resultMap type="K3Category" id="categoryResultMap">
		<result column="largeCategory" property="largeCategory" />
		<result column="mainBusinessCode" property="mainBusinessCode" />
		<result column="mediumCategory" property="mediumCategory" />
		<result column="smallCategory" property="smallCategory" />
	</resultMap> -->

	<insert id="AddRetiredMemberUser">
		INSERT INTO 
			k3_tb_retiredMember
				(
				memberRetiredCode,
				mainBusinessCode,
				memberId,
				memberRetiredReason,
				memberRetiredDate,
				memberRetirementSignedDate
			)VALUES(
				#{memberRetiredCode},
				"물류센터A물류센터_전북_1",
				#{memberId},
				#{memberRetiredReason},
				#{memberRetiredDate},
				#{memberRetirementSignedDate}
			);
	</insert>
	
	<!--  퇴사직원검색 -->
	<select id="k3GetRetiredMemberUserSearch" resultType="K3RetiredMemberUser">
		SELECT
			*
		FROM
			k3_tb_member
		<trim prefix="WHERE" prefixOverrides="AND /OR">
			<if test="retiredmemberuserValue != null and retiredmemberuserValue != ''.toString()">
				${retiredmemberuserKey} LIKE CONCAT('%', #{retiredmemberuserValue}, '%') 
		AND 
			memberState = "퇴사";
			</if>
		</trim>
	</select>
		
	<select id="getRetiredMemberUserList" resultType="K3RetiredMemberUser">
		SELECT 
			 m.memberId									AS memberId
			,m.memberPassword							AS memberPassword
			,m.mainBusinessCode							AS mainBusinessCode
			,m.levelMemberCode							AS levelMemberCode
			,m.memberName								AS memberName
			,m.memberGender								AS memberGender
			,m.memberPhone								AS memberPhone
			,m.memberResidentRegistrationNumber			AS memberResidentRegistrationNumber
			,m.memberState								AS memberState
			,m.memberRegDate							AS memberRegDate
			,m.memberHiredDate							AS memberHiredDate
			,m.memberpostaladdress						AS memberpostaladdress
			,m.memberstreetaddress						AS memberstreetaddress
		FROM 
			k3_tb_member	AS m
		WHERE
			memberState = "퇴사";
	</select>

</mapper>
