<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k3.shipping.ahs.mapper.K3ShippingMapper">
	
	<!-- 현황 -->
	<select id="getShippingList" resultType="K3Shipping">
		SELECT
			s.shippingCode,
			s.mainBusinessCode,
			s.vehicleCheckpointCode,
			r.releaseMergeCode,
			r.shippingAddress,
			r.shippingDetailAddress,
			s.memberId,
			s.shippingDetail,
			s.driverId,
			s.shippingTracking
		FROM
			k3_tb_shipping AS s
		INNER JOIN
			k3_tb_release AS r
		ON
			s.releaseCode = r.releaseCode;

	</select>
	
	<!-- 추가 -->
	<select id="addShipping" parameterType="K3Shipping">
		INSERT INTO
			k3_tb_shipping
			(
				shippingCode,
				mainBusinessCode,
				vehicleCheckpointCode,
				releaseCode,
				memberId,
				shippingDetail,
				driverId,
				shippingTracking
			)VALUES(
				#{shippingCode}
				,"공장A공장_서울_1"
				,#{vehicleCheckpointCode}
				,#{releaseCode}
				,#{memberId}
				,#{shippingDetail}
				,#{driverId}
				,#{shippingTracking}
			);
			
			
	</select>
	
	<!-- 수정 -->
	<select id="getModifyShipping" resultType="K3Shipping">
		SELECT
			s.shippingCode,
			s.mainBusinessCode,
			s.vehicleCheckpointCode,
			r.releaseMergeCode,
			r.shippingAddress,
			r.shippingDetailAddress,
			s.memberId,
			s.shippingDetail,
			s.driverId,
			s.shippingTracking
		FROM
			k3_tb_shipping AS s
		INNER JOIN
			k3_tb_release AS r
		ON
			s.releaseCode = r.releaseCode
		WHERE
			shippingCode = #{shippingCode};
	</select>
	
	<!-- 수정 -->
	<update id="modifyShipping" parameterType="K3Shipping">
		UPDATE k3_tb_shipping		
		<trim prefix="SET" prefixOverrides=",">
			<if test="shippingCode != null and shippingCode != ''.toString()">
				shippingCode = #{shippingCode},
			</if>
			<if test="shippingCode != null and shippingCode != ''.toString()">
				mainBusinessCode = "공장A공장_서울_1",
			</if>
			<if test="shippingCode != null and shippingCode != ''.toString()">
				vehicleCheckpointCode = #{vehicleCheckpointCode},
			</if> 
			<if test="shippingCode != null and shippingCode != ''.toString()">
				memberId = #{memberId},
			</if>
			<if test="shippingCode != null and shippingCode != ''.toString()">
				shippingDetail = #{shippingDetail},
			</if>
			<if test="shippingCode != null and shippingCode != ''.toString()">
				driverId = #{driverId},
			</if>
			<if test="shippingCode != null and shippingCode != ''.toString()">
				shippingTracking = #{shippingTracking}
			</if>
		</trim>
		WHERE
			shippingCode = #{shippingCode};
	</update>
	
	<!-- 검색 -->
	<select id="k3SearchShippingList" resultType="K3Shipping">
		SELECT
			*
		FROM
			k3_tb_shipping
		<trim prefix="WHERE" prefixOverrides="AND /OR">
			<if test="shippingValue != null and shippingValue != ''.toString()">
				${shippingKey} LIKE CONCAT('%', #{shippingValue}, '%');
			</if>
		</trim>
	</select>
	
	<!-- 삭제 -->
	<delete id="k3DeleteShipping" parameterType="Integer">
		DELETE
			s
		FROM
			k3_tb_shipping AS s
		<foreach collection="list" item="deleteList" open= "WHERE 1=2">
			or shippingCode=#{deleteList}
		</foreach>	
	</delete>

</mapper>