<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k3.warehouse.ahs.mapper.K3WarehouseMapper">
	<resultMap type="K3Warehouses" id="warehouseResultMap">
		<result column="bildingName" property="bildingName" />
 		<result column="underFloorNumber" property="underFloorNumber" />
		<result column="floorNumber" property="floorNumber" />
		<result column="warehouseNumber" property="warehouseNumber" />
		<result column="warehouseArea" property="warehouseArea" />
		<result column="warehouseFlat" property="warehouseFlat" />
		<result column="warehouseType" property="warehouseType" />
		<result column="warehouseOperation" property="warehouseOperation" />
	</resultMap>
	<select id="getWarehouseList" resultMap="warehouseResultMap">
		SELECT
			 bilding.bildingName
			,warehouse.floorNumber
			,warehouse.warehouseNumber
			,warehouse.warehouseArea
			,warehouse.warehouseFlat
			,warehouse.warehouseType
			,warehouse.warehouseOperation
		FROM
			k3_tb_warehouse AS warehouse
			INNER join
			k3_tb_location_bilding AS bilding
			on
			warehouse.bildingCode = bilding.bildingCode
		ORDER BY
			warehouse.warehouseNumber;
	</select>
	<insert id="addWarehouse" parameterType="K3Warehouses">
	
	
	</insert>
</mapper>	