<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="k3.warehouse.ahs.mapper.K3WarehouseMapper">
<!-- 
	<resultMap type="K3Warehouses" id="WarehouseResultMap">
 		<result column="bildingName" property="bildingName" />
		<result column="floorNumber" property="floorNumber" />
		<result column="warehouseName" property="warehouseName" />
		<result column="warehouseArea" property="warehouseArea" />
		<result column="warehouseFlat" property="warehouseFlat" />
		<result column="warehouseType" property="warehouseType" />
		<result column="warehouseOperation" property="warehouseOperation" />
	</resultMap> 
--> 
	<delete id="deleteWarehouseCode" parameterType="int">
		DELETE
			w
		from
			k3_tb_warehouse AS w
		WHERE
			w.warehouseCode = #{warehouseCode};
	</delete>
		<!-- 창고수정을 위한 코드로 조회 -->
	<select id="getK3ModifyWarehouseInfoByWarehouseCode" parameterType="int" resultType="K3Warehouses">
		SELECT
			 w.warehouseCode
			,w.bildingName
			,w.floorNumber
			,w.warehouseName
			,w.warehouseArea
			,w.warehouseFlat
			,w.warehouseType
			,w.warehouseOperation
		FROM
			k3_tb_warehouse AS w
		WHERE
			w.warehouseCode = #{warehouseCode};
	</select>
		<!-- 창고수정 처리 -->
	<update id="k3ModifyWarehouseInfo" parameterType="K3Warehouses">
		UPDATE
			k3_tb_warehouse AS w
		SET
			 w.warehouseCode = #{warehouseCode}
			,w.bildingName = #{bildingName}
			,w.floorNumber = #{floorNumber}
			,w.warehouseName = #{warehouseName}
			,w.warehouseArea = #{warehouseArea}
			,w.warehouseFlat = #{warehouseFlat}
			,w.warehouseType = #{warehouseType}
			,w.warehouseOperation = #{warehouseOperation}
		WHERE
			w.warehouseCode = #{warehouseCode};
	</update>
		<!-- 창고등록처리 -->
	<insert id="k3AddWarehouse" parameterType="K3Warehouses">
		INSERT INTO k3_tb_warehouse
			(bildingName
			,floorNumber
			,warehouseName
			,warehouseArea
			,warehouseFlat
			,warehouseType
			,warehouseOperation)
		VALUES
			(#{bildingName}
			,#{floorNumber}
			,#{warehouseName}
			,#{warehouseArea}
			,#{warehouseFlat}
			,#{warehouseType}
			,#{warehouseOperation});
	</insert>
		<!-- 창고전체조회 -->
	<select id="getK3WarehouseList" resultType="K3Warehouses">
		SELECT
			 warehouseCode
			,bildingName
			,floorNumber		
			,warehouseName
			,warehouseArea
			,warehouseFlat
			,warehouseType
			,warehouseOperation
		FROM	
			k3_tb_warehouse;
	</select>	
</mapper>
