<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title>ksmart41</title>
	</th:block>
	<th:block layout:fragment="customContents"> 
		<div id="representative-button">
			<div id="representative-button">
				<table border="1">
					<thead>
						<tr>
							<td>카테고리 대분류</td>
							<td>카테고리 중분류</td>
							<td>카테고리 소분류</td>
							<td>수정</td>
							<td>삭제</td>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${not #lists.isEmpty(categoryList)}" th:each="l : ${categoryList}">
							<td th:text="${l.largeCategory}"></td>
							<td th:text="${l.mediumCategory}"></td>
							<td th:text="${l.smallCategory}"></td>
							<td>
								<a th:href="@{#}">수정</a>
							</td>
							<td>
								<a th:href="@{#}">삭제</a>
							</td>			
						</tr>
						<tr th:unless="${not #lists.isEmpty(categoryList)}" th:each="l : ${categoryList}">
							<td>등록된 카테고리가 없습니다.</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</th:block>
</head>