<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title>ksmart41</title>
	</th:block>
	<th:block layout:fragment="customContents"> 
	<script>
			$(function(){				
				$('#subjectBtn').on('click', function(){
					location.href = '/team03/finance/subject/k3AddSubject';
				});
				
				$(document).on('click', '#deleteSubjectBtn', function(){
					var check = $('.deleteList:checked');
					var deleteCheckList = [];
					
					$.each(check, function(){
						deleteCheckList.push($(this).val());
					});

					
					if(check.length > 0){
						if(confirm(check.length + "개 항목을 삭제합니다.")){
							
							$('#subjectForm').submit();
						}
						
					}else{
						alert("삭제할 항목을 선택해주세요.");
					}
				});
			});
		</script>	
	
	
		<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid">
				<!--버튼 영역 -->			
					<div class="d-flex justify-content-end">					
						<button class="btn btn-outline-info ahsbtn4" type="submit" onclick="location.href='/team03/finance/subject/k3AddSubject'">
							<i class="bi bi-file-earmark-plus"></i>
							등록
						</button>			
						<button class="btn btn-outline-info ahsbtn4" type="button">
							<i class="bi bi-printer"></i>
							출력
						</button>					
						<button id="deleteSubjectBtn" type="button" class="ahsbtn4 btn btn-outline-info deleteBbtn">
							<i class="bi bi-trash"></i>
							삭제
						</button>			
					</div>
				<!--End 버튼 영역 -->
					<!--상위 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header">
							조회
						</div>
						<!--End card header -->
						<!--card body -->
						<div class="card-body">
							<div class="row" style="margin: 12px">
								<!--inputbox 1 -->
								<form class="col-lg-6" th:action="@{/team03/finance/subject/k3SubjectList}" method="post">
								<div class="input-group input-group-sm">
									<select class="form-control-sm" name="subjectKey">
										<option value="subjectName">계정과목이름</option>
									</select>
										<input type="text" class="form-control" placeholder="검색" name="subjectValue">
										<button type="submit">검색</button>
									</div>
								</form>
								<!--End inputbox 1 -->
	 						</div>
						</div>					
	 					<!--End card body 묶음 -->
					</div>
					<!--End 상위 카드 영역 -->
					<!--하위 카드 영역 -->
					<div class="card underCard">
						<!--card header -->
						<div class="card-header deprbtn">
							계정 과목 조회
						</div>
						<!-- End card header -->
						<!--card body -->
						<div class="card-body table-responsive p-0 table-hover" style="height: 300px;">
							<table class="table table-head-fixed text-nowrap table-striped">
								<thead>
									<tr>
										<th>선택</th>
										<th>삭제</th>
										<th>수정</th>	
										<th>계정과목</th>	
										<th>작성자id</th>
										<th>등록시간</th>
										<th>계정과목코드</th>
										<th>계정과목그룹코드</th>
										<th>계정과목사용유무</th>
										<th>계정과목수정유무</th>
										<th>적용년도</th>
									</tr>
								</thead>
								<tbody>
									<form id="subjectForm" th:action="@{/team03/finance/subject/k3DeleteSubject}" method="post">
										<tr th:if="${not #lists.isEmpty(subjectList)}" th:each="l : ${subjectList}">
											<td>
												<input type="checkbox" class="deleteList" name="deleteList[]" th:value="${l.subjectCode}">
											</td>
											
											<td>
												<a th:href="@{/team03/finanace/subject/k3DeleteSubject(subjectCode=${l.subjectCode})}">삭제</a>
											</td>
											<td>
											<a id="modifySubject" type="button" class="btn btn-default btn-sm" th:href="@{/team03/finance/subject/k3ModifySubject(subjectCode=${l.subjectCode})}">
													<i class="fas fa-pencil-alt icon"></i>
											</a>
											</td>
											<td th:text="${l.subjectName}"></td>
											<td th:text="${l.regName}"></td>
											<td th:text="${l.regDate}"></td>
											<td th:text="${l.subjectCode}"></td>
											<td th:text="${l.subjectGCode}"></td>
											<td th:text="${l.isUse}"></td>
											<td th:text="${l.isCorrect}"></td>
											<td th:text="${l.applyYear}"></td>
										</tr>
									</form>	
								</tbody>						
							</table>
						</div>
						<!--End card body -->
					</div>
					<!--End 하위 카드 영역 -->
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
	</th:block>
