<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title>ksmart41</title>
	</th:block>
	<th:block layout:fragment="customContents"> 
		<div id="representative-button">
			<div id="representative-button">
				<table border="1">
					<thead>
						<tr>
							<td>계정과목</td>
							<td>작성자id</td>
							<td>등록시간</td>
							<td>계정과목코드</td>
							<td>계정과목그룹코드</td>
							<td>계정과목사용유무</td>
							<td>계정과목수정유무</td>
							<td>적용년도</td>
							<td>수정</td>
							<td>삭제</td>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${not #lists.isEmpty(subjectList)}" th:each="l : ${subjectList}">
							<td th:text="${l.subjectName}"></td>
							<td th:text="${l.regName}"></td>
							<td th:text="${l.regDate}"></td>
							<td th:text="${l.subjectCode}"></td>
							<td th:text="${l.subjectGCode}"></td>
							<td th:text="${l.isUse}"></td>
							<td th:text="${l.isCorrect}"></td>
							<td th:text="${l.applyYear}"></td>
							<td>
								<a th:href="@{/team03/finance/subject/k3ModifySubject(subjectCode=${l.subjectCode})}">수정</a>
							</td>									
							

							<td>
								<a th:href="@{#}">삭제</a>
							</td>			
						</tr>
						<tr th:unless="${not #lists.isEmpty(subjectList)}" th:each="l : ${subjectList}">
							<td>등록된 카테고리가 없습니다.</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</th:block>
</head>