<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title>ksmart41</title>
	</th:block>
	<th:block layout:fragment="customCss">
		<link rel="stylesheet" th:href="@{/css/common.css}">
		<link rel="stylesheet" th:href="@{/css/eunbin.css}">
	</th:block>
	<th:block layout:fragment="customContents"> 
		<div class="container-fluid">
			<!--버튼 영역 -->			
			<div class="d-flex justify-content-end">					
				<a class="btn btn-outline-info ahsbtn4" type="button" th:href="@{/team03/contractorContract/Contract/k3AddContract}">
					<i class="bi bi-file-earmark-plus"></i>
					등록
				</a>			
				<a class="btn btn-outline-info ahsbtn4" type="button">
					<i class="bi bi-printer"></i>
					출력
				</a>						
				<button id="checkDeleteContractor" class="btn btn-outline-info ahsbtn4" type="button">
					<i class="bi bi-trash"></i>
					삭제
				</button>			
			</div>	
			<!--End 버튼 영역 -->
			<!--계약 검색 카드 영역 -->
			<div class="card cardColor">
				<!--card header -->
				<div class="card-header">
					계약 검색
				</div>
				<!--End card header -->
				<!--card body -->
				<div class="card-body">
					<div class="row" style="margin: 12px">
						<!--inputbox 1 -->
						<div class="col-sm-5" style="padding-left: 0px">
							<form class="searchForm" th:action="@{/team03/contractorContract/Contract/k3SearchContract}" method="Get">
								<div class="input-group d-flex justify-content-start">
									<div class="input-group-prepend">
										<select class="form-control" name="searchKey">
											<option value="contractCode" selected th:selected="${contractCode} == contractCode">계약 대표코드</option>
											<option value="contractorName" th:selected="${contractorName} == contractorName">거래처 상호명</option>
											<option value="contractorCode" th:selected="${contractorCode} == contractorCode">거래처 사업장 코드</option>
											<option value="contractorDevision" th:selected="${contractorDevision} == contractorDevision">거래구분</option>
											<option value="contractState" th:selected="${contractState} == contractState">계약상태</option>             
											<option value="contractorId" th:selected="${contractorId} == contractorId">거래처 아이디</option>
											<option value="memberId" th:selected="${memberId} == memberId">등록직원</option>
	        							</select>
	        						</div>
									<input type="text" class="form-control" placeholder="계약정보입력">
									<div class=" input-group-append ">
										<button id="searchDetailContract" type="submit" class="btn btn-default searchContract">
											<i class="fas fa-search icon"></i>
										</button>
									</div>
								</div>
							</form>
						</div>
						<!--End inputbox 1 -->
						<!--inputbox 2 -->
						<div class="col-sm-7" style="padding-left: 0px">
							<form class="searchDateForm" th:action="@{/team03/contractorContract/Contractor/k3SearchContractList}" method="Get" id="contractSearchDate">
								<div class="input-group d-flex justify-content-end">
									<span class="input-group-text">체결날짜기간조회</span>
									<div class="input-group-prepend date" id="reservationdate" data-target-input="nearest">
										<input name="contractSingningDateStart" value="contractSingningDateStart" th:value="${contractSingningDateStart}" type="text" class="form-control datetimepicker-input"  data-target="#reservationdate" placeholder="yyyy-mm-dd" readonly>
										<div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
											<div class="input-group-text"><i class="fa fa-calendar"></i></div>
										</div>
									</div>
									<div style="margin:3px">
										<b>~</b>
									</div>
									<div class="input-group-prepend date" id="reservationdate2" data-target-input="nearest">
										<input name="contractSingningDateEnd" value="contractSingningDateEnd" th:value="${contractSingningDateEnd}" type="text" class="form-control datetimepicker-input"   data-target="#reservationdate2" placeholder="yyyy-mm-dd" readonly>
										<div class="input-group-append" data-target="#reservationdate2" data-toggle="datetimepicker">
											<div class="input-group-text"><i class="fa fa-calendar"></i></div>
										</div>
									</div>
									<div class=" input-group-append">
										<button type="submit" class="searchContractDate btn btn-default">
											<i class="fas fa-search icon"></i>
										</button>
									</div>
                   				</div>
							</form>
						</div>
						<!--End inputbox 2 -->
					</div>
				</div>					
				<!--End card body 묶음 -->
			</div>
			<!--End 계약 검색 카드 영역 -->
			<!--조회 카드 영역 -->
			<div class="card cardColor">
				<!--card header -->
				<nav>
					<div class="nav nav-tabs card-header" id="result-nav-tab" role="tablist" style="padding:0px">
						<a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">전체 계약 목록</a>
						<a class="nav-link" id="nav-profile1-tab" data-toggle="tab" href="#nav-profile1" role="tab" aria-controls="nav-profile1" aria-selected="false">매출 계약 목록</a>
						<a class="nav-link" id="nav-profile2-tab" data-toggle="tab" href="#nav-profile2" role="tab" aria-controls="nav-profile2" aria-selected="false">비용 계약 목록</a>
					</div>
				</nav>
				<!-- End card header -->
				<!--card body -->
				<div class="card-body" style="text-align:center">
					<div class="tab-content" id="nav-tabContent">
						<!--전체 계약 목록-->
						<div class="tab-pane fade show active table-responsive" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
							<table class="table table-head-fixed table-hover text-nowrap" style="overflow:auto">
								<thead>
								<tr>
									<th>
										<input type="checkbox" name="checkContract"/>
									</th>
									<th>상세정보</th>
									<th>수정</th>
									<th>삭제</th>
						            <th>계약 대표코드</th>
						            <th>거래처 상호명</th>
						            <th>거래처 사업장 코드</th>
						            <th>거래구분</th>
						            <th>계약체결날짜</th>
						            <th>거래처 아이디</th>
						            <th>등록직원</th>
								</tr>
							</thead>
								<tbody>
									<tr th:if="${not #lists.isEmpty(contractList)}" th:each="c:${contractList}">
										<td>
											<label>
												<input name="checkContract" type="checkbox"  th:value="${c.contractCode}"/>
											</label>
										</td>
										<td>
											<a href="#"  type="button" class="btn btn-default btn-sm showDetailContract" th:data-contractorCode="${c.contractCode}">
												<i class="bi bi-eye"></i>
											</a>
										</td>										
										<td>
											<a id="modifyContract" type="button"  class="btn btn-default btn-sm" th:href="@{/team03/contractorContract/Contract/k3ModifyContract(contractCode=${c.contractCode})}">
												<i class="fas fa-pencil-alt icon"></i>
											</a>
										</td>
										<td>
											<button type="button" class="deleteContractBtn btn btn-default btn-sm" th:data-deleteContractCode="${c.contractCode}" >
												<i class="bi bi-trash-fill"></i>
											</button>
										</td>
										<td  th:text="${c.contractCode}"></td>
										<td  th:text="${c.contractorName}"></td>
										<td  th:text="${c.contractorCode}"></td>
										<td  th:text="${c.contractorDevision}"></td>
										<td  th:text="${c.contractSingningDate}"></td>
										<td  th:text="${c.contractorId}"></td>
										<td  th:text="${c.memberId}"></td>
									</tr>
								</tbody>						
							</table>
						</div>
						<!--END 전체 계약 목록-->
						<!-- 매출 계약 목록 -->
						<div class="tab-pane fade table-responsive" id="nav-profile1" role="tabpanel" aria-labelledby="nav-profile1-tab">
							<table class="table table-head-fixed table-hover text-nowrap" style="overflow:auto">
								<thead>
								<tr>
									<th>
										<input type="checkbox" name="checkContract"/>
									</th>
									<th>상세</th>
									<th>수정</th>
									<th>삭제</th>
						            <th>계약 대표코드</th>
						            <th>거래처 상호명</th>
						            <th>거래처 사업장 코드</th>
						            <th>거래구분</th>
						            <th>계약체결날짜</th>
						            <th>거래처 아이디</th>
						            <th>등록직원</th>
								</tr>
							</thead>
								<tbody>
									<tr th:if="${not #lists.isEmpty(contractList)}" th:each="c:${contractList}">
										<td>
											<label>
												<input name="checkContract" type="checkbox"  th:value="${c.contractCode}"/>
											</label>
										</td>
										<td>
											<a href="#"  type="button" class="btn btn-default btn-sm showDetailContract" th:data-contractorCode="${c.contractCode}">
												<i class="bi bi-eye"></i>
											</a>
										</td>										
										<td>
											<a id="modifyContract" type="button"  class="btn btn-default btn-sm" th:href="@{/team03/contractorContract/Contract/k3ModifyContract(contractCode=${c.contractCode})}">
												<i class="fas fa-pencil-alt icon"></i>
											</a>
										</td>
										<td>
											<button type="button" class="deleteContractBtn btn btn-default btn-sm" th:data-deleteContractCode="${c.contractCode}" >
												<i class="bi bi-trash-fill"></i>
											</button>
										</td>
										<td  th:text="${c.contractCode}"></td>
										<td  th:text="${c.contractorName}"></td>
										<td  th:text="${c.contractorCode}"></td>
										<td  th:text="${c.contractorDevision}"></td>
										<td  th:text="${c.contractSingningDate}"></td>
										<td  th:text="${c.contractorId}"></td>
										<td  th:text="${c.memberId}"></td>
									</tr>
								</tbody>						
							</table>
						</div>
						<!-- END 매출 계약 목록 -->
						<!-- 비용 계약 목록 -->
						<div class="tab-pane fade table-responsive" id="nav-profile1" role="tabpanel" aria-labelledby="nav-profile1-tab">
							<table class="table table-head-fixed table-hover text-nowrap" style="overflow:auto">
								<thead>
								<tr>
									<th>
										<input type="checkbox" name="checkContract"/>
									</th>
									<th>상세정보</th>
									<th>수정</th>
									<th>삭제</th>
						            <th>계약 대표코드</th>
						            <th>거래처 상호명</th>
						            <th>거래처 사업장 코드</th>
						            <th>거래구분</th>
						            <th>계약체결날짜</th>
						            <th>거래처 아이디</th>
						            <th>등록직원</th>
								</tr>
							</thead>
								<tbody>
									<tr th:if="${not #lists.isEmpty(contractList)}" th:each="c:${contractList}">
										<td>
											<label>
												<input name="checkContract" type="checkbox"  th:value="${c.contractCode}"/>
											</label>
										</td>
										<td>
											<a href="#"  type="button" class="btn btn-default btn-sm showDetailContract" th:data-contractorCode="${c.contractCode}">
												<i class="bi bi-eye"></i>
											</a>
										</td>										
										<td>
											<a id="modifyContract" type="button"  class="btn btn-default btn-sm" th:href="@{/team03/contractorContract/Contract/k3ModifyContract(contractCode=${c.contractCode})}">
												<i class="fas fa-pencil-alt icon"></i>
											</a>
										</td>
										<td>
											<button type="button" class="deleteContractBtn btn btn-default btn-sm" th:data-deleteContractCode="${c.contractCode}" >
												<i class="bi bi-trash-fill"></i>
											</button>
										</td>
										<td  th:text="${c.contractCode}"></td>
										<td  th:text="${c.contractorName}"></td>
										<td  th:text="${c.contractorCode}"></td>
										<td  th:text="${c.contractorDevision}"></td>
										<td  th:text="${c.contractSingningDate}"></td>
										<td  th:text="${c.contractorId}"></td>
										<td  th:text="${c.memberId}"></td>
									</tr>
								</tbody>						
							</table>
						</div>
						<!-- END 비용 계약 목록 -->
					</div>
				</div>
				<!--End card body -->
			</div>
			<!--End 조회 카드 영역 -->
		</div>
		<!-- End 콘텐츠 콘테이너 -->
	</th:block>
</head>