<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title>ksmart41</title>
	</th:block>
	
	<th:block layout:fragment="customCss">
		<link rel="stylesheet" th:href="@{/css/common.css}">
		<link rel="stylesheet" th:href="@{/css/jiwonee.css}">
		<link rel="stylesheet" th:href="@{/css/modal.css}">
   </th:block>
   

		
	<th:block layout:fragment="customJs">
		<script type="text/javascript">
			$(function(){
				$('#cancelBtn').on('click', function(){
					location.href = '/team03/delivery/vehicle/k3VehicleList';
				});
				$(document).on('click', '#submitBtn', function(){
					
						var submitCheck = true;
						var inputObj = $('#userInfo').find('input');
							
						$.each(inputObj, function(){	
	   					var inputDate = $(this).val();
	   					var inputId = $(this).attr('id');
	   					var labelText = $('label[for=' + inputId + ']').text();
							
	   					if(typeof inputDate == 'undefined' || inputDate == null || inputDate == ''){
	   						alert(labelText + ' 입력해주세요');
	   						$(this).focus();
	   						submitCheck = false;
	   						return false;
	   					}		
						});  						
						if(submitCheck) $('#userInfo').submit();
					});
				var modal = $('.modal');
				
				$(".exitBtn").click(function(){
						
					modal.addClass('hidden');
				});
		
				$(document).on('click', '.vehicleMemberId_btn', function(){
					var aLengthMenuArray = [];
					aLengthMenuArray.push([5,10]);
					aLengthMenuArray.push([5,10]);
					
					$('#vehicleMemberId').DataTable({
						destroy: true,
						autoWidth: false,
						pageLength: 5,
						aLengthMenu: aLengthMenuArray,
						ajax: {
							url: '/team03/delivery/vehicle/vehicleMemberId',
		   					type: 'POST',
		   					dataSrc: function(data){
		        				console.log(JSON.stringify(data));
		        				return data;
		        			}
						},
						columns: [
							{ "data": "선택"},
							{ "data": "memberId"},
							{ "data": "memberName"}							
						],
						columnDefs: [
							{
								targets: [0],
								orderable : false,
								searchable : false,
								render : function(data, type, row){
									var htmlbtn = '<input type="radio" class="memberId" name="memberId" value="'+ row.memberId +'">'
									return htmlbtn;
								}
							}
						]
					});
					var overlay = $('.modal_overlay');
					modal.removeClass('hidden');
						
				});
				
				$(document).on('click', '#memberConfirmBtn', function(){
					var checkedBox = $('.memberId:checked');
					var memberId = $('#memberId');
	 				var memberName = $('#memberName');
					
	 				var dispatchMemberIdValue = checkedBox.parent().parent().children().eq(2).text();
	 				memberName.attr('value', dispatchMemberIdValue);	
	 				memberId.attr('value', checkedBox.val());	

					modal.addClass('hidden');
				});
			
			
				
				$('#overlapped_btn').click(function(){

					var vehicleCode = $('#vehicleCode').val();
					
					if(typeof vehicleCode != 'undefined' && vehicleCode != null && vehicleCode != ''){
						// ajax 호출
						var request = $.ajax({
							  url: '/team03/delivery/vehicle/vehicleCheck', 
							  method: 'POST', 
							  data: { 'vehicleCode' : vehicleCode },
							  dataType: 'json' 
							});				
						request.done(function(data) {
							// 중복여부 체크(true: 중복, false: 등록가능)
							var idConfirm = data;
							
							if(idConfirm){
								alert('이미 등록된 코드입니다.');
		 						$('#userInfo input').not('#vehicleCode').prop('disabled', true);
								$('#userInfo select').prop('disabled', true);
								$('#userInfo button').not('#overlapped_btn').prop('disabled', true);
							}else{
								alert('등록이 가능한 코드입니다.');
								$('#userInfo input').prop('disabled', false);
								$('#userInfo select').prop('disabled', false);
								$('#userInfo button').prop('disabled', false);
							}
							
							
						});				
						request.fail(function( jqXHR, textStatus ) {
						  alert( "Request failed: " + textStatus );
						});
					}else{
						alert('코드를 입력해주세요')
						return false;
					}
					
					
				});
				
			});
			
			
		</script>
		</th:block>
		
		<th:block layout:fragment="customContents">	
		<div id="representative-button">
			<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid d-flex justify-content-center">
					<!--카드 영역 -->
					<div class="col-md-8">
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header cardHeadBorder">
							<h4>차량 등록</h4>
						</div>
						<!--End card header -->
						<!--card body -->
						<div class="card-body">
							<div class="row">
								<form id="userInfo" th:action="@{/team03/delivery/vehicle/k3AddVehicle}" method="post">
									<div class="inputwrap col-md-12">
										<label for="vehicleCode" class="inputName">차량 코드</label>
										<input class="inputBox" type="text" id="vehicleCode" name="vehicleCode" placeholder="차량 코드를 등록해주세요 ex) vehicle000"/>
										<button type="button" id="overlapped_btn">중복확인 </button> 
									</div>
									<div class="inputwrap col-md-12">
										<label for="memberId" class="inputName">차량 등록 담당자</label>
										<input class="inputBox" type="hidden" id="memberId" name="memberId" readonly="readonly"/>
										<input class="inputBox" type="text" id="memberName" name="memberName" disabled="disabled" placeholder="이름을 등록해주세요"/>
										<button class="vehicleMemberId_btn" type="button">등록</button> 
									</div>
									<div class="inputwrap col-md-12">
										<label for="vehicleManufacturer" class="inputName">차량 제조사</label>
										<input class="inputBox" type="text" id="vehicleManufacturer" name="vehicleManufacturer" placeholder="차량 제조사를 등록해주세요"/>
									</div>
									<div class="inputwrap col-md-12">
										<label for="vehicleType" class="inputName">차종</label>
										<input class="inputBox" type="text" id="vehicleType" name="vehicleType" placeholder="차량 종류를 등록해주세요 ex)탑차, 카고"/>
									</div>
									<div class="inputwrap col-md-12">
										<label for="vehicleTonage" class="inputName">톤수</label>
										<input class="inputBox" type="text" id="vehicleTonage" name="vehicleTonage" placeholder="톤수를 등록해주세요 ex)5t, 2.5t"/>
									</div>	
									<div class="inputwrap col-md-12">
										<label for="vehicleInspectionDate" class="inputName">점검일</label>
										<input class="inputBox" type="date" id="vehicleInspectionDate" name="vehicleInspectionDate" placeholder="점검일을 등록해주세요"/>
									</div>								
									<div class="inputwrap col-md-12">
										<label for="vehicleDriveAvailability" class="inputName">운행 가능 여부</label>
										<input class="inputBox" type="text" id="vehicleDriveAvailability" name="vehicleDriveAvailability" placeholder="운행 가능 여부를 등록해주세요"/>
									</div>							
									<div class="d-flex justify-content-center" style="margin-top:25px;">
										<button type="button" class="ahsbtn5 btn btn-outline-primary me-2" id="submitBtn">등록</button>
										<button id="cancelBtn" type="button" class="ahsbtn5 btn btn-primary">취소</button>
									</div>	
								</form>
	 						</div>
						</div>					
	 					<!--End card body 묶음 -->
	 					
					</div>
					</div>
					<!--End 카드 영역 -->
					
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
		</div>
		<!-- 모달창 -->
		<div class="modal hidden">
			<div class="modal_overlay"></div>		
			<div class="modal_content">
				<div class="modal_header d-flex justify-content-between">
					<div class="textTitle">차량 등록 담당자</div>
					<button class="exitBtn" type="button">
						<i class="fas fa-times-circle"></i>
					</button>
				</div>
				<div class="modal_body">
					<form>	
						<table border="1" id="vehicleMemberId" class="dataTable">
							<thead>
								<tr bgcolor="#BDBDBD">
									<th>선택</th>	
									<th>회원코드</th>
									<th>회원명</th>				
								</tr>
							</thead>
						</table>				
					</form>
				</div>
				<div class="modal_fotter">
					<button id="memberConfirmBtn" class="btn btn-secondary confirmBtn" type="button">확인</button>
				</div>			
			</div>
		</div>
		<!-- End 모달창 -->
	</th:block>
