<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title>ksmart41</title>	
	</th:block>
	<th:block layout:fragment="customCss">
		<link rel="stylesheet" th:href="@{/css/common.css}">
		<link rel="stylesheet" th:href="@{/css/jiwonee.css}">
		<link rel="stylesheet" th:href="@{/css/modal.css}">
   </th:block>
	<th:block layout:fragment="customJs"> 
	<script>
		//삭제
		$(function(){				
			$('#addVehicleBtn').on('click', function(){
				location.href = '/team03/delivery/vehicle/k3AddVehicle';
			});
			
			$(document).on('click', '#deleteVehicleBtn', function(){
				var check = $('.deleteList:checked');
				var deleteCheckList = [];
				
				$.each(check, function(){
					deleteCheckList.push($(this).val());
				});
	
				
				if(check.length > 0){
					if(confirm(check.length + "개 항목을 삭제합니다.")){
						
						$('#vehicleForm').submit();
					}
					
				}else{
					alert("삭제할 항목을 선택해주세요.");
				}
			});
			
			$('#printVehicleBtn').on('click', function(){
			 	let $container = $("#vehicleForm").clone()    // 프린트 할 특정 영역 복사
			    let cssText = ""                            // 스타일 복사
			    for (const node of $("style")) {
			        cssText += node.innerHTML
			    }
			    /** 팝업 */
			    let innerHtml = $container[0].innerHTML
			    let popupWindow = window.open("", "_blank", "width=700,height=800")
			    popupWindow.document.write("<!DOCTYPE html>"+
			      "<html>"+
			        "<head>"+
			        "<style>"+cssText+"</style>"+
			        "</head>"+
			        "<body>"+innerHtml+"</body>"+
			      "</html>")
			   
			    popupWindow.document.close()
			    popupWindow.focus()
			
			    /** 1초 지연 */
			    setTimeout(() => {
			        popupWindow.print()         // 팝업의 프린트 도구 시작
			        popupWindow.close()         // 프린트 도구 닫혔을 경우 팝업 닫기
			    }, 1000)
			});
		});
			
			
		</script>	
		</th:block>
		
	<th:block layout:fragment="customContents"> 
		<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid">
				<!--버튼 영역 -->			
					<div class="d-flex justify-content-end">					
						<button class="btn btn-outline-info ahsbtn4" id="addVehicleBtn" type="button">
							<i class="bi bi-file-earmark-plus"></i>
							등록
						</button>			
						<button class="btn btn-outline-info ahsbtn4" id="printVehicleBtn" type="button">
							<i class="bi bi-printer"></i>
							출력
						</button>					
						<button id="deleteVehicleBtn" type="button" class="ahsbtn4 btn btn-outline-info deleteBtn">
							<i class="bi bi-trash"></i>
							삭제
						</button>				
					</div>
				<!--End 버튼 영역 -->
					<div class="container-fluid">
					<!--상위 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header">
							조회
						</div>
						<!--End card header -->
						<!--card body -->
						<div class="card-body">
							<div class="row" style="margin: 12px">
								<!--inputbox 1 -->
								<form class="col-lg-6" th:action="@{/team03/delivery/vehicle/k3VehicleList}" method="post">
								<div class="input-group input-group-sm">
									<select class="form-control-sm" name="vehicleKey">
										<option value="vehicle">차량 코드</option>
									</select>
										<input type="text" class="form-control" placeholder="검색" name="vehicleValue">
										<button type="submit">검색</button>
									</div>
								</form>
								<!--End inputbox 1 -->
								
	 						</div>
						</div>					
	 					<!--End card body 묶음 -->
					</div>
					<!--End 상위 카드 영역 -->
					
					</div>
					<!--하위 카드 영역 -->
					<div class="card underCard">
						<!--card header -->
						<div class="card-header deprbtn">
							현황
						</div>
						<!-- End card header -->
						<!--card body -->
						<div class="card-body table-responsive p-0 table-hover" style="height: 300px;">
						<form id="vehicleForm" th:action="@{/team03/delivery/vehicle/k3DeleteVehicle}" method="post">
							<table class="table table-head-fixed text-nowrap table-striped">
								<thead>
									<tr>
										<th>선택</th>
										<th>수정</th>	
										<th>차량 코드</th>
										<th>차량 등록 담당자</th>
										<th>차량 제조사</th>
										<th>차종</th>
										<th>톤수</th>
										<th>점검일시</th>
										<th>운행 가능 여부</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${not #lists.isEmpty(vehicleList)}" th:each="l : ${vehicleList}">
										<td>
											<input type="checkbox" class="deleteList" name="deleteList[]" th:value="${l.vehicleCode}">
										</td>	
										<td>
										<a id="modifyVehicle" type="button" class="btn btn-default btn-sm" th:href="@{/team03/delivery/vehicle/k3ModifyVehicle(vehicleCode=${l.vehicleCode})}">
												<i class="fas fa-pencil-alt icon"></i>
										</a>
										</td>
										<td th:text="${l.vehicleCode}"></td>
										<td th:text="${l.memberName}"></td>
										<td th:text="${l.vehicleManufacturer}"></td>
										<td th:text="${l.vehicleType}"></td>
										<td th:text="${l.vehicleTonage}"></td>
										<td th:text="${l.vehicleInspectionDate}"></td>	
										<td th:text="${l.vehicleDriveAvailability}"></td>
									</tr>
								</tbody>						
							</table>
							</form>
						</div>
						<!--End card body -->
					</div>
					<!--End 하위 카드 영역 -->
					
	
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
	</th:block>
