<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title>ksmart41</title>
	</th:block>
	<th:block layout:fragment="customJs"> 
	<script>
		//삭제
		$(function(){				
			$('#addDriverBtn').on('click', function(){
				location.href = '/team03/delivery/driver/k3AddDriver';
			});
			
			$(document).on('click', '#deleteDriverBtn', function(){
				var check = $('.deleteList:checked');
				var deleteCheckList = [];
				
				$.each(check, function(){
					deleteCheckList.push($(this).val());
				});
	
				
				if(check.length > 0){
					if(confirm(check.length + "개 항목을 삭제합니다.")){
						
						$('#driverForm').submit();
					}
					
				}else{
					alert("삭제할 항목을 선택해주세요.");
				}
			});
			
			$('#printDriverBtn').on('click', function(){
			 	let $container = $("#driverForm").clone()    // 프린트 할 특정 영역 복사
			    let cssText = ""                            // 스타일 복사
			    for (const node of $("style")) {
			        cssText += node.innerHTML
			    }
			    /** 팝업 */
			    let innerHtml = $container[0].innerHTML
			    let popupWindow = window.open("", "_blank", "width=700,height=800")
			    popupWindow.document.write("<!DOCTYPE html>"+
			      "<html>"+
			        "<head>"+
			        "<style>"+cssText+"</style>"+
			        "</head>"+
			        "<body>"+innerHtml+"</body>"+
			      "</html>")
			   
			    popupWindow.document.close()
			    popupWindow.focus()
			
			    /** 1초 지연 */
			    setTimeout(() => {
			        popupWindow.print()         // 팝업의 프린트 도구 시작
			        popupWindow.close()         // 프린트 도구 닫혔을 경우 팝업 닫기
			    }, 1000)
			});
		});
			
			
		</script>	
		</th:block>
	<th:block layout:fragment="customContents"> 
		<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid">
				<!--버튼 영역 -->			
					<div class="d-flex justify-content-end">					
						<button class="btn btn-outline-info ahsbtn4" id="addDriverBtn" type="button">
							<i class="bi bi-file-earmark-plus"></i>
							등록
						</button>			
						<button class="btn btn-outline-info ahsbtn4" id="printDriverBtn" type="button">
							<i class="bi bi-printer"></i>
							출력
						</button>					
						<button class="btn btn-outline-info ahsbtn4" id="deleteDriverBtn" type="button">
							<i class="bi bi-trash"></i>
							삭제
						</button>			
					</div>
				<!--End 버튼 영역 -->
					<!--상위 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header">
							조회
						</div>
						<!--End card header -->
						<!--card body -->
						<div class="card-body">
							<div class="row" style="margin: 12px">
								<!--inputbox 1 -->
								<form class="col-lg-6" th:action="@{/team03/delivery/driver/k3DriverList}" method="post">
								<div class="input-group input-group-sm">
									<select class="form-control-sm" name="driverKey">
												<option value="driver">기사 아이디</option>
												<option value="dname">기사 이름</option>
											</select>
										<input type="text" class="form-control" placeholder="검색" name="driverValue">
										<button type="submit">검색</button>
									</div>
								</form>
								<!--End inputbox 1 -->
	 						</div>
						</div>					
	 					<!--End card body 묶음 -->
					</div>
					<!--End 상위 카드 영역 -->
					<!--하위 카드 영역 -->
					<div class="card underCard">
						<!--card header -->
						<div class="card-header deprbtn">
							현황
						</div>
						<!-- End card header -->
						<!--card body -->
						<div class="card-body table-responsive p-0 table-hover" style="height: 300px;">
						<form id="driverForm" th:action="@{/team03/delivery/driver/k3DeleteDriver}" method="post">
							<table class="table table-head-fixed text-nowrap table-striped">
								<thead>
									<tr>
										<th>선택</th>
										<th>수정</th>	
										<th>기사 아이디</th>
										<th>기사 이름</th>
										<th>기사 주소</th>
										<th>기사 전화번호</th>
										<th>등록일자</th>
										<th>성과 등급</th>
										<th>자격 유형</th>
										<th>계약 유형</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${not #lists.isEmpty(driverList)}" th:each="l : ${driverList}">
										<td>
											<input type="checkbox" class="deleteList" name="deleteList[]" th:value="${l.driverId}">
										</td>	
										<td>
										<a id="modifyDriver" type="button" class="btn btn-default btn-sm" th:href="@{/team03/delivery/driver/k3ModifyDriver(driverId=${l.driverId})}">
												<i class="fas fa-pencil-alt icon"></i>
										</a>
										</td>
										<td th:text="${l.driverId}"></td>
										<td th:text="${l.driverName}"></td>
										<td th:text="${l.driverAddr}"></td>
										<td th:text="${l.driverPhone}"></td>
										<td th:text="${l.driverRegDate}"></td>
										<td th:text="${l.driverPerformanceGrade}"></td>
										<td th:text="${l.driverLicenseType}"></td>
										<td th:text="${l.driverQualificationType}"></td>
   											
										
									</tr>
								</tbody>						
							</table>
							</form>
						</div>
						<!--End card body -->
					</div>
					<!--End 하위 카드 영역 -->
					
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
	</th:block>
