<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title th:text="title"></title>
	</th:block>
	<th:block layout:fragment="customContents">
		<div id="representative-button">
			<div id="representative-button">
				
					<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid">
					<a th:href="@{/team03/spaceBusiness/location/k3ModifyLocation}">수정</a>
					<a th:href="@{/team03/spaceBusiness/location/k3DeleteLocation}">삭제</a>
					
				</div>
			</div>
		</div>	
	</th:block>
</head>