<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
   	<th:block layout:fragment="customCss">
		<link rel="stylesheet" th:href="@{/css/common.css}">
		<link rel="stylesheet" th:href="@{/css/modal.css}">		
	</th:block>
	<th:block layout:fragment="customJs">
		<script type="text/javascript">
			$(function(){
				$('#cancelBtn').on('click', function(){
					location.href = '/team03/goodsManagement/release/k3ReleaseList';
				});
				$(document).on('click', '#addReleaseBtn', function(){
					
						var submitCheck = true;
						var inputObj = $('#requestReleaseList').find('input');
							
						$.each(inputObj, function(){	
	   					var inputDate = $(this).val();
	   					var inputId = $(this).attr('id');
	   					var labelText = $('label[for=' + inputId + ']').text();
							
	   					if(typeof inputDate == 'undefined' || inputDate == null || inputDate == ''){
	   						alert(labelText + ' 입력해주세요');
	   						$(this).focus();
	   						submitCheck = false;
	   						return false;
	   					}		
						});  						
						if(submitCheck) $('#requestReleaseList').submit();
					});
				//모달 공통
				var contractorNameModal = $('#contractorNameModal');
				var productNameModal = $('#productNameModal');

				//회사명 선택 모달
				$(document).on('click', '#selectContractorName', function(){
					var aLengthMenuArray = [];
					aLengthMenuArray.push([5,10]);
					aLengthMenuArray.push([5,10]);
					
					$('#dataTableAjax').DataTable({
						destroy: true,
						pageLength: 5,
						aLengthMenu: aLengthMenuArray,
						ajax: {
							url: '/team03/goodsManagement/warehousing/findContractorName',
		   					type: 'POST',
		   					dataSrc: function(data){
		        				console.log(JSON.stringify(data));
		        				return data;
		        			}
						},
						columns: [
							{ "data": "선택"},
							{ "data": "contractorName"},
							{ "data": "contractorType"},
							{ "data": "contractorRepresentative"}								
						],
						columnDefs: [
							{
								targets: [0],
								orderable : false,
								searchable : false,
								render : function(data, type, row){
									var htmlbtn = '<input type="radio" class="contractorId" name="contractorId" value="'+ row.contractorId +'">'
									return htmlbtn;
								}
							}
						]
					});
					var overlay = $('.modal_overlay');
					contractorNameModal.removeClass('hidden');
						
				});
				$(".exitBtn").click(function(){
					
					contractorNameModal.addClass('hidden');
				});
				$(document).on('click', '.confirmBtn', function(){
					var checkedBox = $('.contractorId:checked');
	 				var ContractorName = $('#contractorNameInput');
	 				var ContractorId = $('#contractorIdInput');
	 				var checkedTrName = checkedBox.parent().parent().children().eq(1).text();
	 				ContractorId.attr('value',checkedBox.val());
	 				ContractorName.attr('value',checkedTrName);
					console.log(checkedBox);
					contractorNameModal.addClass('hidden');
				});
				
				///상품명 모달
				$(document).on('click', '#selectProductName', function(){
					var aLengthMenuArray = [];
					aLengthMenuArray.push([5,10]);
					aLengthMenuArray.push([5,10]);
					
					$('#productNameTable').DataTable({
						destroy: true,
						pageLength: 5,
						aLengthMenu: aLengthMenuArray,
						ajax: {
							url: '/team03/goodsManagement/release/findProductNameList',
		   					type: 'POST',
		   					dataSrc: function(data){
		        				console.log(JSON.stringify(data));
		        				return data;
		        			}
						},
						columns: [
							{ "data": "선택"},
							{ "data": "stockCode"},
							{ "data": "productName"},							
							{ "data": "stockQuantity"},							
							{ "data": "manufacturedDate"},							
							{ "data": "expiratonDate"}							
						],
						columnDefs: [
							{
								targets: [0],
								orderable : false,
								searchable : false,
								render : function(data, type, row){
									var htmlbtn = '<input type="radio" class="stockCode" name="stockCodes" value="'+ row.stockCode +'">'
									return htmlbtn;
								}
							}
						]
					});
					var overlay = $('.modal_overlay');
					productNameModal.removeClass('hidden');
					
				});
				$("#productNameExitBtn").click(function(){
					
					productNameModal.addClass('hidden');
				});
				$(document).on('click', '#productNameConfirmBtn', function(){
					var checkedBox = $('.stockCode:checked');
	 				var laydownCheckManager = $('#laydownCheckManager');
	 				var laydownCheckManagerName = $('#laydownCheckManagerName');

	 				var laydownCheckManagerValue = checkedBox.parent().parent().children().eq(1).text();
	 				var laydownCheckManagerNameValue = checkedBox.parent().parent().children().eq(2).text();

	 				laydownCheckManager.attr('value',laydownCheckManagerValue);
	 				laydownCheckManagerName.attr('value',laydownCheckManagerNameValue);


	 				productNameModal.addClass('hidden');
				});
			});
		</script>		
	</th:block>
	<th:block layout:fragment="customContents">	 
		<div id="representative-button">
			<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid">
					<!--카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header cardHeadBorder">
							<h4>출고요청</h4>
						</div>
						<!--End card header -->
						<!--card body -->
						<div class="card-body">
							<div class="row">
								<form id="requestReleaseList" th:action="@{/team03/goodsManagement/category/k3AddCategory}" method="post">
									<div class="inputwrap col-md-12">
										<label for="contractorName" class="inputName">회사명</label>
										<input type="hidden" id="contractorIdInput" name="contractorId">
										<input class="inputBox" type="text" id="contractorNameInput" name="contractorName" placeholder="회사명" readonly="readonly">
										<button id="selectContractorName" class="findContractorModal" type="button">선택</button> 
									</div>
									<div class="inputwrap col-md-12">
										<label for="laydownGoodsNameInput" class="inputName">출고상품명</label>
										<input type="hidden" id="stockCodeInput" name="stockCode">
										<input class="inputBox" type="text" id="laydownGoodsNameInput" name="laydownGoodsNameInput" placeholder="출고상품명">
										<button id="selectProductName" class="findContractorModal" type="button">선택</button> 
									</div>	
									<div class="inputwrap col-md-12">
										<label for="releaseGoodsCountInput" class="inputName">출고개수</label>
										<input class="inputBox" type="text" id="releaseGoodsCountInput" name="releaseGoodsCountInput" placeholder="상품개수">
									</div>
									<div class="inputwrap col-md-12">
										<label for="areaCodeInput" class="inputName">배송지역</label>
										<input class="inputBox" type="text" id="areaCodeInput" name="areaCodeInput" placeholder="지역명">
									</div>
									<div class="inputwrap col-md-12">
										<label for="shippingAddressInput" class="inputName">배송지</label>
										<input class="inputBox" type="text" id="shippingAddressInput" name="shippingAddressInput" placeholder="배송지">
									</div>
									<div class="inputwrap col-md-12">
										<label for="shippingDetailAddressInput" class="inputName">배송지 상세주소</label>
										<input class="inputBox" type="text" id="shippingDetailAddressInput" name="shippingDetailAddressInput" placeholder="배송지 상세주소">
									</div>								
									<div class="inputwrap col-md-12">
										<label for="recipientNameInput" class="inputName">받는사람</label>
										<input class="inputBox" type="text" id="recipientNameInput" name="recipientNameInput" placeholder="받는이">
									</div>
									<div class="inputwrap col-md-12">
										<label for="recipientPhoneInput" class="inputName">받는사람 연락처</label>
										<input class="inputBox" type="text" id="recipientPhoneInput" name="recipientPhoneInput" placeholder="연락처">
									</div>
									<div class="d-flex justify-content-center">					
										<button id="addReleaseBtn" class="ahsbtn4 btn btn-outline-info" type="submit">등록</button>			
										<button id="cancelBtn" class="ahsbtn4 btn btn-block bg-gradient-warning" type="button">취소</button>			
									</div>	
								</form>
	 						</div>
						</div>					
	 					<!--End card body 묶음 -->
					</div>
					<!--End 카드 영역 -->
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
		</div>
		<!-- 모달창 -->
		<div id="contractorNameModal" class="modal hidden">
			<div class="modal_overlay"></div>		
			<div class="modal_content">
				<div class="modal_header d-flex justify-content-between">
					<div class="textTitle">거래처명 선택</div>
					<button class="exitBtn" type="button">
						<i class="fas fa-times-circle"></i>
					</button>
				</div>
				<div class="modal_body">
					<form>	
						<table border="1" id="dataTableAjax" class="dataTable">
							<thead>
								<tr bgcolor="#BDBDBD">
									<th>선택</th>
									<th>회사명</th>
									<th>업종</th>
									<th>대표</th>							
								</tr>
							</thead>
						</table>				
					</form>
				</div>
				<div class="modal_fotter">
					<button class="btn btn-secondary confirmBtn" type="button">확인</button>
				</div>			
			</div>
		</div>
		<!-- End 모달창 -->
		<!-- 모달창 -->
		<div id="productNameModal" class="modal hidden">
			<div class="modal_overlay"></div>		
			<div class="modal_content">
				<div class="modal_header d-flex justify-content-between">
					<div class="textTitle">거래처명 선택</div>
					<button id="productNameExitBtn" class="exitBtn" type="button">
						<i class="fas fa-times-circle"></i>
					</button>
				</div>
				<div class="modal_body">
					<form>	
						<table border="1" id="productNameTable" class="dataTable">
							<thead>
								<tr bgcolor="#BDBDBD">
									<th>선택</th>
									<th>회원코드</th>
									<th>회원명</th>						
								</tr>
							</thead>
						</table>				
					</form>
				</div>
				<div class="modal_fotter">
					<button id="productNameConfirmBtn" class="btn btn-secondary confirmBtn" type="button">확인</button>
				</div>			
			</div>
		</div>
		<!-- End 모달창 -->
	</th:block>