<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
   	<th:block layout:fragment="customCss">
		<link rel="stylesheet" th:href="@{/css/common.css}">
		<link rel="stylesheet" th:href="@{/css/modal.css}">		
	</th:block>
	<th:block layout:fragment="customJs">
		<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
		<script type="text/javascript">
			$(function(){
				$('#cancelBtn').on('click', function(){
					location.href = '/team03/goodsManagement/release/k3ReleaseList';
				});
				$(document).on('click', '#addReleaseBtn', function(){
					
						var submitCheck = true;
						var inputObj = $('#requestReleaseList').find('input');
							
						$.each(inputObj, function(){	
	   					var inputDate = $(this).val();
	   					var inputId = $(this).attr('id');
	   					var labelText = $('label[for=' + inputId + ']').text();
							
	   					if(typeof inputDate == 'undefined' || inputDate == null || inputDate == ''){
	   						alert(labelText + ' 입력해주세요');
	   						$(this).focus();
	   						submitCheck = false;
	   						return false;
	   					}		
						});  						
						if(submitCheck) $('#requestReleaseList').submit();
					});
				//mergeCode 새로생성
				$(document).on('click', '#createReleaseMergeCode', function(){
					$.ajax({
					    url:'/team03/goodsManagement/release/createReleaseMergeCode',
					    type:'post',
					    success: function(data) {
					    	var releaseMergeCode = $('#releaseMergeCode');
			 				releaseMergeCode.attr('value', data);
					    },
					    error: function(err) {
					        alert("관리자에게 문의해주세요.");
					    }
					});
							
				});
				
				//모달 공통
				var mergeCodeModal = $('#releaseMergeCodeModal');
				var contractorNameModal = $('#contractorNameModal');
				var productNameModal = $('#productNameModal');

				//출고통합코드 선택 모달
				$(document).on('click', '#selectReleaseMergeCode', function(){
					var aLengthMenuArray = [];
					aLengthMenuArray.push([5,10]);
					aLengthMenuArray.push([5,10]);
					
					$('#releaseMergeCodeTable').DataTable({
						destroy: true,
						autoWidth: false,
						pageLength: 5,
						aLengthMenu: aLengthMenuArray,
						ajax: {
							url: '/team03/goodsManagement/release/findReleaseMergeCode',
		   					type: 'POST',
		   					dataSrc: function(data){
		        				console.log(JSON.stringify(data));
		        				return data;
		        			}
						},
						columns: [
							{ "data": "선택"},
							{ "data": "releaseCode"},
							{ "data": "releaseMergeCode"},
							{ "data": "productName"},								
							{ "data": "pileupDate"}								
						],
						columnDefs: [
							{
								targets: [0],
								orderable : false,
								searchable : false,
								render : function(data, type, row){
									var htmlbtn = '<input type="radio" class="releaseMergeCode">'
									return htmlbtn;
								}
							}
						]
					});
					var overlay = $('.modal_overlay');
					mergeCodeModal.removeClass('hidden');
						
				});
				$("#releaseMergeCodeExitBtn").click(function(){
					
					mergeCodeModal.addClass('hidden');
				});
				$(document).on('click', '#confirmReleaseMergeCodeBtn', function(){
					var checkedBox = $('.releaseMergeCode:checked');
	 				var releaseMergeCode = $('#releaseMergeCode');
	 				var releaseMergeCodeValue = checkedBox.parent().parent().children().eq(1).text();
	 				releaseMergeCode.attr('value',releaseMergeCodeValue);
					console.log(checkedBox);
					mergeCodeModal.addClass('hidden');
				});
				//회사명 선택 모달
				$(document).on('click', '#selectContractorName', function(){
					var aLengthMenuArray = [];
					aLengthMenuArray.push([5,10]);
					aLengthMenuArray.push([5,10]);
					
					$('#dataTableAjax').DataTable({
						destroy: true,
						pageLength: 5,
						aLengthMenu: aLengthMenuArray,
						ajax: {
							url: '/team03/goodsManagement/warehousing/findContractorName',
		   					type: 'POST',
		   					dataSrc: function(data){
		        				console.log(JSON.stringify(data));
		        				return data;
		        			}
						},
						columns: [
							{ "data": "선택"},
							{ "data": "contractorName"},
							{ "data": "contractorType"},
							{ "data": "contractorRepresentative"}								
						],
						columnDefs: [
							{
								targets: [0],
								orderable : false,
								searchable : false,
								render : function(data, type, row){
									var htmlbtn = '<input type="radio" class="contractorId" name="contractorId" value="'+ row.contractorId +'">'
									return htmlbtn;
								}
							}
						]
					});
					var overlay = $('.modal_overlay');
					contractorNameModal.removeClass('hidden');
						
				});
				$(".exitBtn").click(function(){
					
					contractorNameModal.addClass('hidden');
				});
				$(document).on('click', '.confirmBtn', function(){
					var checkedBox = $('.contractorId:checked');
	 				var ContractorName = $('#contractorNameInput');
	 				var ContractorId = $('#contractorIdInput');
	 				var checkedTrName = checkedBox.parent().parent().children().eq(1).text();
	 				ContractorId.attr('value',checkedBox.val());
	 				ContractorName.attr('value',checkedTrName);
					console.log(checkedBox);
					contractorNameModal.addClass('hidden');
				});
				
				///상품명 모달
				$(document).on('click', '#selectProductName', function(){
					var aLengthMenuArray = [];
					aLengthMenuArray.push([5,10]);
					aLengthMenuArray.push([5,10]);
					
					$('#productNameTable').DataTable({
						destroy: true,
						autoWidth: false,
						pageLength: 5,
						aLengthMenu: aLengthMenuArray,
						ajax: {
							url: '/team03/goodsManagement/release/findProductNameList',
		   					type: 'POST',
		   					dataSrc: function(data){
		        				console.log(JSON.stringify(data));
		        				return data;
		        			}
						},
						columns: [
							{ "data": "선택"},
							{ "data": "stockCode"},
							{ "data": "productName"},							
							{ "data": "stockQuantity"},							
							{ "data": "manufacturedDate"},							
							{ "data": "expiratonDate"}							
						],
						columnDefs: [
							{
								targets: [0],
								orderable : false,
								searchable : false,
								render : function(data, type, row){
									var htmlbtn = '<input type="radio" class="stockCode" name="stockCodes" value="'+ row.stockCode +'">'
									return htmlbtn;
								}
							}
						]
					});
					
					var overlay = $('.modal_overlay');
					productNameModal.removeClass('hidden');
					
				});
				$("#productNameExitBtn").click(function(){
					
					productNameModal.addClass('hidden');
				});
				$(document).on('click', '#productNameConfirmBtn', function(){
					var checkedBox = $('.stockCode:checked');
	 				var stockCode = $('#stockCode');
	 				var productName = $('#productName');

	 				var stockCodeValue = checkedBox.val();
	 				var productNameValue = checkedBox.parent().parent().children().eq(2).text();

	 				stockCode.attr('value',stockCodeValue);
	 				productName.attr('value',productNameValue);


	 				productNameModal.addClass('hidden');
				});
			});
			//다음 주소 검색
		    function sample4_execDaumPostcode() {
		        new daum.Postcode({
		            oncomplete: function(data) {
		                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
						autoClose: true;
		                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
		                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
		                var roadAddr = data.roadAddress; // 도로명 주소 변수
		                var extraRoadAddr = ''; // 참고 항목 변수

		                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
		                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
		                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
		                    extraRoadAddr += data.bname;
		                }
		                // 건물명이 있고, 공동주택일 경우 추가한다.
		                if(data.buildingName !== '' && data.apartment === 'Y'){
		                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
		                }

		                // 우편번호와 주소 정보를 해당 필드에 넣는다.
		                document.getElementById('postCode').value = data.zonecode;
		                document.getElementById("shippingAddress").value = roadAddr;
		                document.getElementById("area").value = data.sido;

		            },
			        onclose: function(state) {
			            //state는 우편번호 찾기 화면이 어떻게 닫혔는지에 대한 상태 변수 이며, 상세 설명은 아래 목록에서 확인하실 수 있습니다.
			            if(state === 'FORCE_CLOSE'){
			                //사용자가 브라우저 닫기 버튼을 통해 팝업창을 닫았을 경우, 실행될 코드를 작성하는 부분입니다.
	
			            } else if(state === 'COMPLETE_CLOSE'){
			                //사용자가 검색결과를 선택하여 팝업창이 닫혔을 경우, 실행될 코드를 작성하는 부분입니다.
			                $('#shippingDetailAddress').focus();
			            }
			        }
		        }).open();
		    }
		</script>		
	</th:block>
	<th:block layout:fragment="customContents">	 
		<div id="representative-button">
			<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid">
					<!--카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header cardHeadBorder">
							<h4>출고요청</h4>
						</div>
						<!--End card header -->
						<!--card body -->
						<div class="card-body">
							<div class="row">
								<form id="requestReleaseList" th:action="@{/team03/goodsManagement/release/k3AddRelease}" method="post">
									<div class="inputwrap col-md-12">
										<label for="releaseMergeCode" class="inputName">통합코드</label>
										<input class="inputBox" type="text" id="releaseMergeCode" name="releaseMergeCode" readonly="readonly">
										<button id="selectReleaseMergeCode" class="findReleaseMergeCodeModal" type="button">기존코드선택</button>
										<button id="createReleaseMergeCode" type="button">새코드선택</button>
									</div>
									<div class="inputwrap col-md-12">
										<label for="contractorName" class="inputName">회사명</label>
										<input type="hidden" id="contractorIdInput" name="contractorId">
										<input class="inputBox" type="text" id="contractorNameInput" name="contractorName" placeholder="회사명" readonly="readonly">
										<button id="selectContractorName" class="findContractorModal" type="button">선택</button> 
									</div>
									<div class="inputwrap col-md-12">
										<label for="productName" class="inputName">출고상품명</label>
										<input type="hidden" id="stockCode" name="stockCode">
										<input class="inputBox" type="text" id="productName" name="productName" placeholder="출고상품명" readonly="readonly">
										<button id="selectProductName" class="findContractorModal" type="button">선택</button> 
									</div>	
									<div class="inputwrap col-md-12">
										<label for="releaseGoodsCount" class="inputName">출고개수</label>
										<input class="inputBox" type="text" id="releaseGoodsCount" name="releaseGoodsCount" placeholder="상품개수">
									</div>
									<div class="inputwrap col-md-12">
										<label for="postCode" class="inputName">우편번호</label>								
										<input type="text" id="postCode" name="postCode" placeholder="우편번호" readonly="readonly">
										<input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
									</div>
									<div class="inputwrap col-md-12">
										<label for="area" class="inputName">지역명</label>
										<input class="inputBox" type="text" id="area" name="area" placeholder="지역명" readonly="readonly">
									</div>
									<div class="inputwrap col-md-12">
										<label for="shippingAddress" class="inputName">배송지</label>
										<input class="inputBox" type="text" id="shippingAddress" name="shippingAddress" placeholder="배송지" readonly="readonly">
									</div>
									<div class="inputwrap col-md-12">
										<label for="shippingDetailAddress" class="inputName">배송지 상세주소</label>
										<input class="inputBox" type="text" id="shippingDetailAddress" name="shippingDetailAddress" placeholder="배송지 상세주소">
									</div>								
									<div class="inputwrap col-md-12">
										<label for="recipientName" class="inputName">받는사람</label>
										<input class="inputBox" type="text" id="recipientName" name="recipientName" placeholder="받는이">
									</div>
									<div class="inputwrap col-md-12">
										<label for="recipientPhone" class="inputName">받는사람 연락처</label>
										<input class="inputBox" type="number" id="recipientPhone" name="recipientPhone" placeholder="-을 빼고 번호만 입력해주세요">
									</div>
									<div class="inputwrap col-md-12">
										<label for="releaseRequestDate" class="inputName">출고요청날짜</label>
										<input class="inputBox" type="date" id="releaseRequestDate" name="releaseRequestDate">
									</div>
									<div class="d-flex justify-content-center">					
										<button id="addReleaseBtn" class="ahsbtn4 btn btn-outline-info" type="button">등록</button>			
										<button id="cancelBtn" class="ahsbtn4 btn btn-block bg-gradient-warning" type="button">취소</button>			
									</div>	
								</form>
	 						</div>
						</div>					
	 					<!--End card body 묶음 -->
					</div>
					<!--End 카드 영역 -->
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
		</div>
		<!-- 모달창 -->
		<div id="contractorNameModal" class="modal hidden">
			<div class="modal_overlay"></div>		
			<div class="modal_content">
				<div class="modal_header d-flex justify-content-between">
					<div class="textTitle">거래처명 선택</div>
					<button class="exitBtn" type="button">
						<i class="fas fa-times-circle"></i>
					</button>
				</div>
				<div class="modal_body">
					<form>	
						<table border="1" id="dataTableAjax" class="dataTable">
							<thead>
								<tr bgcolor="#BDBDBD">
									<th>선택</th>
									<th>회사명</th>
									<th>업종</th>
									<th>대표</th>							
								</tr>
							</thead>
						</table>				
					</form>
				</div>
				<div class="modal_fotter">
					<button class="btn btn-secondary confirmBtn" type="button">확인</button>
				</div>			
			</div>
		</div>
		<!-- End 모달창 -->
		<!-- 모달창 -->
		<div id="productNameModal" class="modal hidden">
			<div class="modal_overlay"></div>		
			<div class="modal_content">
				<div class="modal_header d-flex justify-content-between">
					<div class="textTitle">상품 선택</div>
					<button id="productNameExitBtn" class="exitBtn" type="button">
						<i class="fas fa-times-circle"></i>
					</button>
				</div>
				<div class="modal_body">
					<form>	
						<table border="1" id="productNameTable" class="dataTable">
							<thead>
								<tr bgcolor="#BDBDBD">
									<th>선택</th>
									<th>코드</th>
									<th>상품명</th>						
									<th>재고</th>						
									<th>제조일자</th>						
									<th>유통기한</th>						
								</tr>
							</thead>
						</table>				
					</form>
				</div>
				<div class="modal_fotter">
					<button id="productNameConfirmBtn" class="btn btn-secondary confirmBtn" type="button">확인</button>
				</div>			
			</div>
		</div>
		<!-- End 모달창 -->
		<!-- 모달창 -->
		<div id="releaseMergeCodeModal" class="modal hidden">
			<div class="modal_overlay"></div>		
			<div class="modal_content">
				<div class="modal_header d-flex justify-content-between">
					<div class="textTitle">통합코드선택</div>
					<button id="releaseMergeCodeExitBtn" class="exitBtn" type="button">
						<i class="fas fa-times-circle"></i>
					</button>
				</div>
				<div class="modal_body">
					<form>	
						<table border="1" id="releaseMergeCodeTable" class="dataTable">
							<thead>
								<tr bgcolor="#BDBDBD">
									<th>선택</th>
									<th>출고코드</th>
									<th>통합코드</th>
									<th>상품명</th>						
									<th>재고일자</th>											
								</tr>
							</thead>
						</table>				
					</form>
				</div>
				<div class="modal_fotter">
					<button id="confirmReleaseMergeCodeBtn" class="btn btn-secondary confirmBtn" type="button">확인</button>
				</div>			
			</div>
		</div>
		<!-- End 모달창 -->
	</th:block>