<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title>ksmart41</title>
	</th:block>
	<th:block layout:fragment="customContents"> 
		<div id="representative-button">
			<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid">
					<!--버튼 영역 -->
					<div style="margin:15px;">
						<button type="button" class="ahsbtn2 btn btn-outline-info">승인</button>
						<button type="button" class="ahsbtn2 btn btn-outline-info">취소</button>					
					</div>
					<!--End 버튼 영역 -->
					<!--하위 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header">
							출고요청 현황
						</div>
						<!-- End card header -->
						<!--card body -->
						<div class="card-body table-responsive p-0 table-hover" style="height: 300px;">
							<table class="table table-head-fixed text-nowrap">
								<thead>
									<tr>
										<th>선택</th>
										<th>물품명</th>
										<th>개수</th>
										<th>회사명</th>				
										<th>제조일자</th>				
										<th>유통기한</th>				
									</tr>
								</thead>
								<tbody>
									<tr th:if="${not #lists.isEmpty(K3RequestAllow)}" th:each="l : ${K3RequestAllow}">
										<td>
											<input type="checkbox" value="선택">
										</td>
										<td th:text="${l.laydownGoodsName}"></td>
										<td th:text="${l.laydownGoodsCount}"></td>
										<td th:text="${l.contractorName}"></td>
										<td th:text="${l.manufacturedDate}"></td>
										<td th:text="${l.expiratonDate}"></td>
									</tr>
									<tr th:unless="${not #lists.isEmpty(K3RequestAllow)}" th:each="l : ${K3RequestAllow}">
										<td> 요청사항이 없습니다. </td>
									</tr>
								</tbody>						
							</table>
						</div>
						<!--End card body -->
					</div>
					<!--End 하위 카드 영역 -->
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
		</div>
	</th:block>
</head>