<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customJs">
		<script type="text/javascript">
			$(function(){				
				$('#addWarehousingBtn').on('click', function(){
					location.href = '/team03/goodsManagement/warehousing/k3AddWarehousing';
				});
				$('#allowWarehousingBtn').on('click', function(){
					location.href = '/team03/goodsManagement/warehousing/k3AllowWarehousing';
				});
				$('#addlLaydownCheckBtn').on('click', function(){
					location.href = '/team03/goodsManagement/check/k3LaydownCheckList';
				});
				
				$(document).on('click', '#deleteBtn', function(){
					var check = $('.deleteList:checked');
					var deleteCheckList = [];
					
					$.each(check, function(){
						deleteCheckList.push($(this).val());
					});

					
					if(check.length > 0){
						if(confirm(check.length + "개 항목을 삭제합니다.")){
							
							$('#searchForm').submit();
						}
						
					}else{
						alert("삭제할 항목을 선택해주세요.");
					}
				});
				
				$('#warehousingSearchBtn').on('click', function(){
					$('#searchWarehousingType').attr('value', 'warehousing');
					$('#warehousingSearchForm').submit();
				});
				$('#laydownSearcchBtn').on('click', function(){
					$('#searchLaydownType').attr('value', 'laydown');
					$('#laydownSearchForm').submit();
				});
			});
		</script>
	</th:block>
	<th:block layout:fragment="customContents"> 
		<div id="representative-button">
			<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid">
					<!--버튼 영역 -->
					<div class="row" style="margin:15px;">
						<button type="button" class="ahsbtn2 btn btn-outline-info">삭제</button>
						<a th:href="@{/team03/goodsManagement/release/k3AddRelease}" id="moveRealseAddPage">등록페이지로 이동 --></a>					
						<a th:href="@{/team03/goodsManagement/release/k3AllowRelease}" id="moveRealseAllowPage">승인페이지로 이동 --></a>					
					</div>
					<!--End 버튼 영역 -->
					<!--상위 카드 영역 -->
					<div class="card cardColor">
						<!--출고 및 검수조회 card header-->
						<nav>
							<div class="nav nav-tabs" id="nav-tab" role="tablist">
								<a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="nav-home" aria-selected="true">출고조회</a>
								<a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">검수조회</a>
							</div>
						</nav>
						<!--End 출고 및 검수조회 card header -->
						<!--card body -->
						<div class="tab-content" id="nav-tabContent">
							<div class="tab-pane active" id="messages" role="tabpanel" aria-labelledby="messages-tab">
								<!--card body -->
								<div class="card-body">
									<div class="row" style="margin: 12px">
										<!--inputbox 1 -->
										<form class="col-lg-6" th:action="@{#}" method="post">
											<div class="input-group">
												<div class="input-group-prepend">
													<select name="categoryKey" class="input-group-text">
														<option value="large">상품명</option>
														<option value="medium">회사명</option>
														<option value="small">출고코드</option>
														<option value="small">수령인</option>
														<option value="small">주소</option>
													</select>
												</div>
												<input type="text" name="categoryValue" class="form-control" placeholder="입력해주세요">
												<button id="laydownSearcch" type="submit" class="ahsbtn2 btn btn-outline-info">조회</button>
												<button id="laydownPrint" type="submit" class="ahsbtn2 btn btn-outline-info">출력</button>							
											</div>
										</form>
										<!--End inputbox 1 -->
			 						</div>
								</div>					
			 					<!--End card body 묶음 -->								
							</div>
							<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
								<!--card body -->
								<div class="card-body">
									<div class="row" style="margin: 12px">
										<!--inputbox 1 -->
										<form class="col-lg-6" th:action="@{#}" method="post">
											<div class="input-group">
												<div class="input-group-prepend">
													<select name="categoryKey" class="input-group-text">
														<option value="large">상품명</option>
														<option value="medium">회사명</option>
														<option value="small">검수코드</option>
													</select>
												</div>
												<input type="text" name="categoryValue" class="form-control" placeholder="입력해주세요">
												<button id="laydownSearcch" type="submit" class="ahsbtn2 btn btn-outline-info">조회</button>
												<button id="laydownPrint" type="submit" class="ahsbtn2 btn btn-outline-info">출력</button>							
											</div>
										</form>
										<!--End inputbox 1 -->
			 						</div>
								</div>					
			 					<!--End card body 묶음 -->								
							</div>
						</div>						
	 					<!--End card body 묶음 -->
					</div>
					<!--End 상위 카드 영역 -->
					<!--하위 카드 영역 -->
					<div class="card cardColor">
						<!--입고조회 및 검수조회 현황  header-->
						<nav>
							<div class="nav nav-tabs" id="nav-tab" role="tablist">
								<a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">출고현황</a>
								<a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">출하검수현황</a>
							</div>
						</nav>
						<!--End 출고조회 및 검수조회 현황  header-->
						<!--출고조회 및 검수조회 현황 body-->
						<div class="tab-content" id="nav-tabContent">
							<!--출고조회 현황-->
							<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
								<!--card body -->
								<div class="card-body table-responsive p-0 table-hover" style="height: 450px;">
									<table class="table table-head-fixed text-nowrap">
										<thead>
											<tr>
												<th>삭제</th>
												<th>수정</th>	
												<th>출고통합코드</th>
												<th>출고물품명</th>
												<th>개수</th>
												<th>회사명</th>
												<th>배송지역</th>
												<th>배송지</th>					
												<th>배송지상세주소</th>									
												<th>받는사람</th>													
												<th>연락처</th>													
											</tr>
										</thead>
										<tbody>
											<tr th:if="${not #lists.isEmpty(releaseList)}" th:each="l : ${releaseList}">
												<td>
													<input type="checkbox" value="선택">
												</td>
												<td>
													<a th:href="@{#}">수정</a>
												</td>
												<td th:text="${l.releaseMergeCode}"></td>
												<td th:text="${l.laydownGoodsName}"></td>
												<td th:text="${l.releaseGoodsCount}"></td>
												<td th:text="${l.contractorName}"></td>
												<td th:text="${l.areaCode}"></td>
												<td th:text="${l.shippingAddress}"></td>
												<td th:text="${l.shippingDetailAddress}"></td>
												<td th:text="${l.recipientName}"></td>
												<td th:text="${l.recipientPhone}"></td>
											</tr>
											<tr th:unless="${not #lists.isEmpty(releaseList)}" th:each="l : ${releaseList}">
												<td> 출고 목록이 없습니다. </td>
											</tr>
										</tbody>						
									</table>
								</div>
								<!--End card body -->
							</div>
							<!--End 출고조회 현황-->
							<!--검수조회 현황-->		
							<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
								<!--card body -->
								<div class="card-body table-responsive p-0 table-hover" style="height: 300px;">
									<table class="table table-head-fixed text-nowrap">
										<thead>
											<tr>
												<th>삭제</th>
												<th>수정</th>	
												<th>출고코드</th>
												<th>출고물품명</th>
												<th>개수</th>
												<th>회사명</th>	
												<th>출고승인날짜</th>	
												<th>출고날짜</th>	
												<th>등록자아이디</th>	
												<th>검수일시</th>					
												<th>출하검수결과</th>					
											</tr>
										</thead>
										<tbody>
											<tr th:if="${not #lists.isEmpty(K3ShipmentCheck)}" th:each="l : ${K3ShipmentCheck}">
												<td>
													<input type="checkbox" value="선택">
												</td>
												<td>
													<a th:href="@{#}">수정</a>
												</td>
												<td th:text="${l.releaseCode}"></td>
												<td th:text="${l.laydownGoodsName}"></td>
												<td th:text="${l.releaseGoodsCount}"></td>
												<td th:text="${l.contractorName}"></td>
												<td th:text="${l.accepDate}"></td>
												<td th:text="${l.releaseDate}"></td>
												<td th:text="${l.shipmentCheckManager}"></td>
												<td th:text="${l.shipmentCheckRegDate}"></td>
												<td th:text="${l.shipmentCheckResult}"></td>
											</tr>
											<tr th:unless="${not #lists.isEmpty(K3ShipmentCheck)}" th:each="l : ${K3ShipmentCheck}">
												<td> 출고 목록이 없습니다. </td>
											</tr>
										</tbody>						
									</table>
								</div>
								<!--End card body -->
							</div>
							<!--End 검수조회 현황-->
						</div>
						<!--End 출고조회 및 검수조회 현황 body-->
					</div>
					<!--End 하위 카드 영역 -->
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
		</div>
	</th:block>