<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customJs">
		<script type="text/javascript">
			$(function(){
				$('#addReleaseBtn').on('click', function(){
					location.href = '/team03/goodsManagement/release/k3AddRelease';
				});
				$('#allowReleaseBtn').on('click', function(){
					location.href = '/team03/goodsManagement/release/k3AllowRelease';
				});
				$('#moveShipmentCheckBtn').on('click', function(){
					location.href = '/team03/goodsManagement/release/k3ShipmentCheckList';
				});
				//sse
				var sse = new EventSource('/team03/goodsManagement/release/sse');
				sse.onmessage = function (evt) {
				    var requestCount = document.getElementById('sse');
				    requestCount.innerHTML = evt.data;

				};
						
				
				/* $(document).on('click', '#deleteBtn', function(){
					var check = $('.deleteList:checked');
					var deleteCheckList = [];
					
					$.each(check, function(){
						deleteCheckList.push($(this).val());
					});

					
					if(check.length > 0){
						if(confirm(check.length + "개 항목을 삭제합니다.")){
							
							$('#searchForm').submit();
						}
						
					}else{
						alert("삭제할 항목을 선택해주세요.");
					}
				}); */
				
				$('#releaseSearchBtn').on('click', function(){
					$('#searchReleaseType').attr('value', 'release');
					$('#releaseSearchForm').submit();
				});
				$('#shipmentSearchBtn').on('click', function(){
					$('#searchShipmentType').attr('value', 'shipment');
					$('#shipmentSearchForm').submit();
				}); 
			});
		</script>
	</th:block>
	<th:block layout:fragment="customContents"> 
		<div id="representative-button">
			<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid">
					<!--버튼 영역 -->
					<div class="d-flex justify-content-end">					
						<button id="addReleaseBtn" class="btn btn-outline-info ahsbtn4" type="button" style="position:relative;">
							<i class="bi bi-cart"></i>
							출고요청 
						</button>
						<button id="allowReleaseBtn" class="btn btn-outline-info ahsbtn4" type="button" style="position:relative;">
							<i class="bi bi-cart-check"></i>
							승인 <div id="sse" style="position: absolute; top:0; right:0; color: white; width: 20px; background-color: red; border-radius: 60%" th:text="4"></div>
						</button>
						<button id="moveShipmentCheckBtn" class="btn btn-outline-info ahsbtn4" type="button">
							<i class="bi bi-clipboard-check"></i>
							검수등록
						</button>						
						<button class="btn btn-outline-info ahsbtn4" type="button">
							<i class="bi bi-printer"></i>
							출력
						</button>						
						<button id="text" class="btn btn-outline-info ahsbtn4" type="button">
							<i class="bi bi-trash"></i>
							삭제
						</button>					
					</div>
					<!--End 버튼 영역 -->
					<!--상위 카드 영역 -->
					<div class="card cardColor">
						<!--출고 및 검수조회 card header-->
						<nav>
							<div class="nav nav-tabs" id="nav-tab" role="tablist">
								<a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="nav-home" aria-selected="true">출고조회</a>
								<a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">검수조회</a>
							</div>
						</nav>
						<!--End 출고 및 검수조회 card header -->
						<!--card body -->
						<div class="tab-content" id="nav-tabContent">
							<div class="tab-pane active" id="messages" role="tabpanel" aria-labelledby="messages-tab">
								<!--card body -->
								<div class="card-body">
									<div class="row" style="margin: 12px">
										<form id="releaseSearchForm" class="d-flex align-items-center" th:action="@{/team03/goodsManagement/release/k3ReleaseList}" method="post">
											<!--inputbox 1 -->
											<div class="input-group mb-3 p-2 bd-highlight">		
												<select name="releaseKey" class="input-group-text">
													<option value="productName">상품명</option>
													<option value="contractorName">회사명</option>
													<option value="releaseCode">출고코드</option>
													<option value="recipientName">수령인</option>
													<option value="area">지역</option>
												</select>
												<input type="text" name="releaseValue" class="form-control" placeholder="입력해주세요">
												<input type="hidden" name="searchReleaseType" id="searchReleaseType">
												<div class="input-group-append">
													<div class="btn btn-default" style="padding:0;">
														<button id="releaseSearchBtn" type="button" class="btn btn-outline-secondary">
															<i class="fas fa-search icon"></i>
														</button>
													</div>
												</div>											
											</div>
											<!--End inputbox 1 -->
										</form>
			 						</div>
								</div>					
			 					<!--End card body 묶음 -->								
							</div>
							<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
								<!--card body -->
								<div class="card-body">
									<div class="row" style="margin: 12px">
										<form id="shipmentSearchForm" class="d-flex align-items-center" th:action="@{/team03/goodsManagement/release/k3ReleaseList}" method="post">
											<!--inputbox 1 -->
											<div class="input-group mb-3 p-2 bd-highlight">
												<select name="shipmentKey" class="input-group-text">
													<option value="productName">상품명</option>
													<option value="contractorName">회사명</option>
													<option value="releaseMergeCode">통합코드</option>
													<option value="shipmentCheckResult">검수결과</option>
												</select>
												<input type="text" name="shipmentValue" class="form-control" placeholder="입력해주세요">
												<input type="hidden" id="searchShipmentType" name="searchShipmentType">
												<div class="input-group-append">
													<div class="btn btn-default" style="padding:0;">
														<button id="shipmentSearchBtn" type="button">
															<i class="fas fa-search icon"></i>
														</button>
													</div>
												</div>							
											</div>
											<!--End inputbox 1 -->
											<!--inputbox 2 -->
											<div class="input-group mb-3 p-2 bd-highlight">
												<select name="shipmentDateKey" class="input-group-text">
													<option value="releaseDate">출고날짜</option>
													<option value="shipmentCheckRegDate">검수날짜</option>
												</select>
												<div class="col-sm-3" style="padding-left: 0px">
													<div class="input-group">
														<div class="input-group-prepend date" id="reservationdate" data-target-input="nearest">
															<input type="text" name="searchStartDate" class="form-control datetimepicker-input" style="width:130px" data-target="#reservationdate" placeholder="시작날짜선택">
															<div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
																<div class="input-group-text"><i class="fa fa-calendar"></i></div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!--End inputbox 2 -->
											<div style="margin-left: 10px;" class="p-2 bd-highlight"> <p>~</p> </div>
											<!--inputbox 3 -->
											<div class="input-group mb-3 p-2 bd-highlight">
												<div class="col-sm-3" style="padding-left: 0px">
													<div class="input-group">
														<div class="input-group-prepend date" id="reservationdate2" data-target-input="nearest">
															<input type="text" name="searchEndDate" class="form-control datetimepicker-input"  style="width:130px"  data-target="#reservationdate2" placeholder="종료날짜선택">
															<div class="input-group-append" data-target="#reservationdate2" data-toggle="datetimepicker">
																<div class="input-group-text"><i class="fa fa-calendar"></i></div>
															</div>
														</div>
							                   		</div>
												</div>
											</div>
											<!--End inputbox 3 -->
										</form>
			 						</div>
								</div>					
			 					<!--End card body 묶음 -->								
							</div>
						</div>						
	 					<!--End card body 묶음 -->
					</div>
					<!--End 상위 카드 영역 -->
					<!--하위 카드 영역 -->
					<div class="card cardColor">
						<!--입고조회 및 검수조회 현황  header-->
						<nav>
							<div class="nav nav-tabs" id="nav-tab" role="tablist">
								<a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">출고현황</a>
								<a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">출하검수현황</a>
							</div>
						</nav>
						<!--End 출고조회 및 검수조회 현황  header-->
						<!--출고조회 및 검수조회 현황 body-->
						<div class="tab-content" id="nav-tabContent">
							<!--출고조회 현황-->
							<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
								<!--card body -->
								<div class="card-body table-responsive p-0 table-hover" style="height: 450px;">
									<table class="table table-head-fixed text-nowrap">
										<thead>
											<tr>
												<th>순번</th>
												<th>출고통합코드</th>
												<th>출고물품명</th>
												<th>개수</th>
												<th>회사명</th>
												<th>배송지역</th>
												<th>배송지</th>					
												<th>배송지상세주소</th>									
												<th>받는사람</th>													
												<th>연락처</th>													
											</tr>
										</thead>
										<tbody>
											<tr th:if="${not #lists.isEmpty(releaseList)}" th:each="l,i : ${releaseList}">
												<td th:text="${i.index+1}"></td>
												<td th:text="${l.releaseMergeCode}"></td>
												<td th:text="${l.productName}"></td>
												<td th:text="${l.releaseGoodsCount}"></td>
												<td th:text="${l.contractorName}"></td>
												<td th:text="${l.area}"></td>
												<td th:text="${l.shippingAddress}"></td>
												<td th:text="${l.shippingDetailAddress}"></td>
												<td th:text="${l.recipientName}"></td>
												<td th:text="${l.recipientPhone}"></td>
											</tr>
											<tr th:unless="${not #lists.isEmpty(releaseList)}" th:each="l : ${releaseList}">
												<td> 출고 목록이 없습니다. </td>
											</tr>
										</tbody>						
									</table>
									<!-- 페이징  시작-->
									<ul class="pagination d-flex justify-content-center align-items-center"  style="margin-top:15px;">
										<li class="paginate_button page-item previous" id="previousLaydownList">
											<a th:if="${currentPage > 1}" th:href="@{/team03/goodsManagement/release/k3ReleaseList(currentPage=${currentPage-1})}" aria-controls="releaseList" class="page-link">
											이전
											</a>
										</li>
										<li class="paginate_button page-item" id="currentReleaseList" th:each="num : ${#numbers.sequence(releaseStartPageNum, releaseEndPageNum)}">
											<a th:if="${num != currentPage}" th:href="@{/team03/goodsManagement/release/k3ReleaseList(currentPage=${num})}" th:text="${num}"  aria-controls="releaseList" class="page-link"></a>
											<span th:unless="${num != currentPage}" th:text="${num}" style="background-color:#BDBDBD" aria-controls="releaseList" class="page-link"></span>
										</li>
										<li class="paginate_button page-item next" id="nextReleaseList">
											<a th:if="${currentPage < releaseLastPage}" th:href="@{/team03/goodsManagement/release/k3ReleaseList(currentPage=${currentPage+1})}"  aria-controls="releaseList" class="page-link">
											다음
											</a>
										</li>
									</ul>
									<!-- END 페이징 -->
								</div>
								<!--End card body -->
							</div>
							<!--End 출고조회 현황-->
							<!--검수조회 현황-->		
							<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
								<!--card body -->
								<div class="card-body table-responsive p-0 table-hover" style="height: 300px;">
									<table class="table table-head-fixed text-nowrap">
										<thead>
											<tr>
												<th>삭제</th>
												<th>수정</th>	
												<th>출고코드</th>
												<th>출고물품명</th>
												<th>개수</th>
												<th>회사명</th>	
												<th>출고승인날짜</th>	
												<th>출고날짜</th>	
												<th>등록자아이디</th>	
												<th>검수일시</th>					
												<th>출하검수결과</th>					
											</tr>
										</thead>
										<tbody>
											<tr th:if="${not #lists.isEmpty(shipmentCheck)}" th:each="l : ${shipmentCheck}">
												<td>
													<input type="checkbox" value="선택">
												</td>
												<td>
													<a th:href="@{/team03/goodsManagement/release/k3ModifyShipmentCheck(releaseCode=${l.releaseCode})}">
														<i class="fas fa-pencil-alt icon"></i>
													</a>
												</td>
												<td th:text="${l.releaseCode}"></td>
												<td th:text="${l.productName}"></td>
												<td th:text="${l.releaseGoodsCount}"></td>
												<td th:text="${l.contractorName}"></td>
												<td th:text="${l.acceptDate}"></td>
												<td th:text="${l.releaseDate}"></td>
												<td th:text="${l.shipmentCheckManager}"></td>
												<td th:text="${l.shipmentCheckRegDate}"></td>
												<td th:text="${l.shipmentCheckResult}"></td>
											</tr>
											<tr th:unless="${not #lists.isEmpty(shipmentCheck)}" th:each="l : ${shipmentCheck}">
												<td> 출고 목록이 없습니다. </td>
											</tr>
										</tbody>						
									</table>
									<!-- 페이징  시작-->
									<ul class="pagination d-flex justify-content-center align-items-center"  style="margin-top:15px;">
										<li class="paginate_button page-item previous" id="previousShipmentList">
											<a th:if="${currentPage > 1}" th:href="@{/team03/goodsManagement/release/k3ReleaseList(currentPage=${currentPage-1})}" aria-controls="shipmentList" class="page-link">
												이전
											</a>
										</li>
										<li class="paginate_button page-item" id="currentShipmentList" th:each="num : ${#numbers.sequence(shipmentCheckStartPageNum, shipmentCheckEndPageNum)}">
											<a th:if="${num != currentPage}" th:href="@{/team03/goodsManagement/release/k3ReleaseList(currentPage=${num})}" th:text="${num}"  aria-controls="shipmentList" class="page-link"></a>
											<span th:unless="${num != currentPage}" th:text="${num}" style="background-color:#BDBDBD" aria-controls="shipmentList" class="page-link"></span>
										</li>
										<li class="paginate_button page-item next" id="nextLaydownList">
											<a th:if="${currentPage < shipmentCheckLastPage}" th:href="@{/team03/goodsManagement/release/k3ReleaseList(currentPage=${currentPage + 1})}"  aria-controls="shipmentList" class="page-link">
											다음
											</a>
										</li>
									</ul>
									<!-- END 페이징 -->
								</div>
								<!--End card body -->
							</div>
							<!--End 검수조회 현황-->
						</div>
						<!--End 출고조회 및 검수조회 현황 body-->
					</div>
					<!--End 하위 카드 영역 -->
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
		</div>
	</th:block>