<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title>ksmart41</title>
	</th:block>
	<th:block layout:fragment="customContents"> 
		<div id="representative-button">
			<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid">
					<!--상위 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header">
							입하검수 조회
						</div>
						<!--End card header -->
						<!--card body -->
						<div class="card-body">
							<div class="row" style="margin: 12px">
								<!--inputbox 1 -->
								<form class="col-lg-6" th:action="@{#}" method="post">
									<div class="input-group">
										<div class="input-group-prepend">
											<select name="categoryKey" class="input-group-text">
												<option value="large">대분류</option>
												<option value="medium">중분류</option>
												<option value="small">소분류</option>
											</select>
										</div>
										<input type="text" name="categoryValue" class="form-control" placeholder="카테고리명">
										<button id="categorySearcch" type="submit" class="ahsbtn2 btn btn-outline-info">조회</button>
										
									</div>
								</form>
								<!--End inputbox 1 -->
	 						</div>
						</div>					
	 					<!--End card body 묶음 -->
					</div>
					<!--End 상위 카드 영역 -->
					<!--하위 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header">
							입하검수 현황
						</div>
						<!-- End card header -->
						<!--card body -->
						<div class="card-body table-responsive p-0 table-hover" style="height: 300px;">
							<table class="table table-head-fixed text-nowrap">
								<thead>
									<tr>
										<th>삭제</th>
										<th>입하검수코드</th>
										<th>입하물품명</th>
										<th>입하물품개수</th>
										<th>제조일자</th>
										<th>유통기한</th>					
										<th>거래처명</th>					
										<th>검수자</th>					
										<th>입하날짜</th>					
										<th>검수일자</th>					
										<th>거래명세서</th>					
										<th>수정</th>					
									</tr>
								</thead>
								<tbody>
									<tr th:if="${not #lists.isEmpty(K3LaydownCheck)}" th:each="l : ${K3LaydownCheck}">
										<td>
											<input type="checkbox" value="선택">
										</td>
										<td th:text="${l.laydownCheckCode}"></td>
										<td th:text="${l.laydownGoodsName}">입하물품명</td>
										<td th:text="${l.laydownGoodsCount}">입하물품개수</td>
										<td th:text="${l.manufacturedDate}">제조일자</td>
										<td th:text="${l.expiratonDate}">유통기한</td>
										<td th:text="${l.contractorName}">거래처명</td>
										<td th:text="${l.memberName}">검수자</td>
										<td th:text="${l.laydownDate}">입하날짜</td>
										<td th:text="${l.laydownCheck}">검수일자</td>
										<td th:text="${l.laydownCheckResult}">검사결과</td>
										<td>
											<input type="button" value="수정" class="ahsbtn2 btn btn-outline-info">
										</td>
									</tr>
									<tr th:unless="${not #lists.isEmpty(K3LaydownCheck)}" th:each="l : ${K3LaydownCheck}">
										<td> 입하검수 목록이 없습니다. </td>
									</tr>
								</tbody>						
							</table>
						</div>
						<!--End card body -->
					</div>
					<!--End 하위 카드 영역 -->
					<!--버튼 영역 -->
					<div class="row" style="margin:15px;">
						<button type="button" class="ahsbtn2 btn btn-outline-info">삭제</button>
						<a href="sample2" id="moveAddPage">등록페이지로 이동 --></a>					
					</div>
					<!--End 버튼 영역 -->
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
		</div>
	</th:block>
</head>