<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title>ksmart41</title>
	</th:block>
	<th:block layout:fragment="customContents"> 
		<div id="representative-button">
			<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid">
					<!--상위 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header">
							조회
						</div>
						<!--End card header -->
						<!--card body -->
						<div class="card-body">
							<div class="row" style="margin: 12px">
								<!--inputbox 1 -->
								<form class="col-lg-6" th:action="@{#}" method="post">
									<div class="input-group">
										<div class="input-group-prepend">
											<select name="dispatchs" class="input-group-text">
												<option value="dispatch">배차 코드</option>
												<option value="driver">기사 아이디</option>
												<option value="vehicle">차량 코드</option>
												<option value="area">지역 코드</option>
												<option value="dock">도크명</option>
											</select>
										</div>
										<input type="text" name="dispatch" class="form-control" placeholder="">
										<button id="searchDispatch" type="submit" class="ahsbtn1 btn btn-outline-info">조회</button>
										<button type="button" class="ahsbtn1 btn btn-outline-info printBtn">출력</button>
									</div>
								</form>
								<!--End inputbox 1 -->
	 						</div>
						</div>					
	 					<!--End card body 묶음 -->
					</div>
					<!--End 상위 카드 영역 -->
					<!--하위 카드 영역 -->
					<div class="card underCard">
						<!--card header -->
						<div class="card-header deprbtn">
							현황
						</div>
						<!-- End card header -->
						<!--card body -->
						<div class="card-body table-responsive p-0 table-hover" style="height: 300px;">
							<table class="table table-head-fixed text-nowrap">
								<thead>
									<tr>
										<th>삭제</th>
										<th>수정</th>	
										<th>배차 코드</th>
										<th>상품출고 코드</th>
										<th>상품출고 통합코드</th>
										<th>기사 아이디</th>
										<th>차량 코드</th>
										<th>배송 시작일</th>
										<th>배송예정 완료일</th>
										<th>지역 코드</th>
										<th>담당자 승인 일시</th>
										<th>배차 지시자</th>
										<th>배송지</th>
										<th>배송지 상세주소</th>
										<th>수취인</th>
										<th>도크명</th>	
									</tr>
								</thead>
								<tbody>
									<tr th:if="${not #lists.isEmpty(dispatchList)}" th:each="l : ${dispatchList}">
										<td>
											<input type="checkbox" value="선택">
										</td>	
										<td>
										<a th:href="@{/team03/delivery/dispatch/k3ModifyDispatch(dispatchCode=${l.dispatchCode})}">수정</a>
										</td>
										<td th:text="${l.dispatchCode}"></td>
										<td th:text="${l.releaseCode}"></td>
										<td th:text="${l.releaseMergeCode}"></td>
										<td th:text="${l.driverId}"></td>
										<td th:text="${l.vehicleCode}"></td>
										<td th:text="${l.dispatchStartDate}"></td>
										<td th:text="${l.dispatchDueDate}"></td>
										<td th:text="${l.areaCode}"></td>
										<td th:text="${l.dispatchAcceptDate}"></td>
										<td th:text="${l.memberId}"></td>
										<td th:text="${l.shippingAddress}"></td>
										<td th:text="${l.shippingDetailAddress}"></td>
										<td th:text="${l.dispatchConsignee}"></td>
										<td th:text="${l.dockName}"></td>
   											
										
									</tr>
								</tbody>						
							</table>
						</div>
						<!--End card body -->
					</div>
					<!--End 하위 카드 영역 -->
					<!--버튼 영역 -->
					<div class="row" style="margin:15px;">
						<!-- <button type="button" class="ahsbtn2 btn btn-outline-info">삭제</button> -->
						<button type="button" class="ahsbtn1 btn btn-outline-info deleteBbtn">삭제</button>
						<a href="@{/team03/delivery/dispatch/k3AddDispatch}" id="moveAddPage">등록페이지로 이동 --></a>					
					</div>
					<!--End 버튼 영역 -->
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
		</div>
	</th:block>
</head>