<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title>ksmart41</title>
	</th:block>
	<th:block layout:fragment="customContents">
		<script>
			$(function(){
				$('#login').on('click', function(){
					location.href = 'team03/companymanagement/login/k3MemberUserLogin';
				});
				$('#sample1').on('click', function(){
					location.href = 'sample1';
				});
				$('#sample2').on('click', function(){
					location.href = 'sample2';
				});
				$('#sample3').on('click', function(){
					location.href = 'sample3';
				});
				
				$('#sample5').on('click', function(){
					location.href = 'sample5';
				});
				
				$('#sample_kjw').on('click', function(){
					location.href = 'sample_kjw';
				});
			});
		</script>
	 
		<div id="representative-button">
			<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid">
					<!--버튼 영역 -->
					<div style="margin:15px;">
						<span>[[${session.SID}]]</span>
						<a th:href="@{team03/companymanagement/login/k3MemberUserLogin}" th:if="${session.SID == null}">로그인</a>
						<a th:href="@{/logout}" th:if="${session.SID != null}">로그아웃</a>
						<button id="login" type="button" class="ahsbtn3 btn btn-outline-primary me-2">로그인</button>
						<button id="sample1" type="button" class="ahsbtn3 btn btn-outline-primary me-2">sample1 이동</button>
						<button id="sample2" type="button" class="ahsbtn3 btn btn-outline-primary me-2">sample2 이동</button>				
						<button id="sample3" type="button" class="ahsbtn3 btn btn-outline-info">sample3 이동</button>				
						<button id="sample5" type="button" class="ahsbtn3 btn btn-outline-info">sample5 이동</button>	
						<button id="sample_kjw" type="button" class="ahsbtn3 btn btn-outline-info">sample_kjw 이동</button>				
					</div>
					<!--End 버튼 영역 -->
					<!--상위 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header">
							만든이
						</div>
						<!--End card header -->
						<!--card body -->
						<div class="card-body">
							<!--전체 프로필 시작 -->
							<div class="row">
								<!--이상현 프로필 시작 -->
								<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
									<div class="card bg-light d-flex flex-fill">
										<div class="card-header text-muted border-bottom-0">
											재무관리
										</div>
										<div class="card-body pt-0">
											<div class="row">
												<div class="col-7">
													<h2 class="lead"><b>이상현</b></h2>
													<p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p>
														<ul class="ml-4 mb-0 fa-ul text-muted">
															<li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: Demo Street 123, Demo City 04312, NJ</li>
															<li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 800 - 12 12 23 52</li>
														</ul>
												</div>
												<div class="col-5 text-center">
													<img th:src="@{/image/santa.svg}" alt="user-avatar" class="img-circle img-fluid">
												</div>
											</div>
										</div>
										<div class="card-footer">
											<div class="text-right">
												<a href="#" class="btn btn-sm bg-teal">
													<i class="fas fa-comments"></i>
												</a>
												<a href="#" class="btn btn-sm btn-primary">
												<i class="fas fa-user"></i> View Profile
												</a>
											</div>
										</div>
									</div>
								</div>
								<!--End 이상현 프로필-->
								<!--김재홍 프로필 시작 -->
								<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
									<div class="card bg-light d-flex flex-fill">
										<div class="card-header text-muted border-bottom-0">
											공간사업관리
										</div>
										<div class="card-body pt-0">
											<div class="row">
												<div class="col-7">
													<h2 class="lead"><b>김재홍</b></h2>
													<p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p>
														<ul class="ml-4 mb-0 fa-ul text-muted">
															<li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: Demo Street 123, Demo City 04312, NJ</li>
															<li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 800 - 12 12 23 52</li>
														</ul>
												</div>
												<div class="col-5 text-center">
													<img th:src="@{/image/tony.png}" alt="user-avatar" class="img-circle img-fluid">
												</div>
											</div>
										</div>
										<div class="card-footer">
											<div class="text-right">
												<a href="#" class="btn btn-sm bg-teal">
													<i class="fas fa-comments"></i>
												</a>
												<a href="#" class="btn btn-sm btn-primary">
												<i class="fas fa-user"></i> View Profile
												</a>
											</div>
										</div>
									</div>
								</div>
								<!--End 김재홍 프로필-->
								<!--김지원 프로필 시작 -->
								<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
									<div class="card bg-light d-flex flex-fill">
										<div class="card-header text-muted border-bottom-0">
											배송통합관리
										</div>
										<div class="card-body pt-0">
											<div class="row">
												<div class="col-7">
													<h2 class="lead"><b>김지원</b></h2>
													<p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p>
														<ul class="ml-4 mb-0 fa-ul text-muted">
															<li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: Demo Street 123, Demo City 04312, NJ</li>
															<li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 800 - 12 12 23 52</li>
														</ul>
												</div>
												<div class="col-5 text-center">
													<img th:src="@{/image/beedog.jpg}" alt="user-avatar" class="img-circle img-fluid">
												</div>
											</div>
										</div>
										<div class="card-footer">
											<div class="text-right">
												<a href="#" class="btn btn-sm bg-teal">
													<i class="fas fa-comments"></i>
												</a>
												<a href="#" class="btn btn-sm btn-primary">
												<i class="fas fa-user"></i> View Profile
												</a>
											</div>
										</div>
									</div>
								</div>
								<!--End 김지원 프로필-->
								<!--송아현 프로필 시작 -->
								<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
									<div class="card bg-light d-flex flex-fill">
										<div class="card-header text-muted border-bottom-0">
											회원관리
										</div>
										<div class="card-body pt-0">
											<div class="row">
												<div class="col-7">
													<h2 class="lead"><b>송아현</b></h2>
													<p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p>
														<ul class="ml-4 mb-0 fa-ul text-muted">
															<li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: Demo Street 123, Demo City 04312, NJ</li>
															<li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 800 - 12 12 23 52</li>
														</ul>
												</div>
												<div class="col-5 text-center">
													<img th:src="@{/image/birthday.jpg}" alt="user-avatar" class="img-circle img-fluid">
												</div>
											</div>
										</div>
										<div class="card-footer">
											<div class="text-right">
												<a href="#" class="btn btn-sm bg-teal">
													<i class="fas fa-comments"></i>
												</a>
												<a href="#" class="btn btn-sm btn-primary">
												<i class="fas fa-user"></i> View Profile
												</a>
											</div>
										</div>
									</div>
								</div>
								<!--End 송아현 프로필-->
								<!--오한수 프로필 시작 -->
								<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
									<div class="card bg-light d-flex flex-fill">
										<div class="card-header text-muted border-bottom-0">
											상품관리
										</div>
										<div class="card-body pt-0">
											<div class="row">
												<div class="col-7">
													<h2 class="lead"><b>오한수</b></h2>
													<p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p>
														<ul class="ml-4 mb-0 fa-ul text-muted">
															<li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: Demo Street 123, Demo City 04312, NJ</li>
															<li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 800 - 12 12 23 52</li>
														</ul>
												</div>
												<div class="col-5 text-center">
													<img th:src="@{/image/daramG.jpg}" alt="user-avatar" class="img-circle img-fluid">
												</div>
											</div>
										</div>
										<div class="card-footer">
											<div class="text-right">
												<a href="#" class="btn btn-sm bg-teal">
													<i class="fas fa-comments"></i>
												</a>
												<a href="#" class="btn btn-sm btn-primary">
												<i class="fas fa-user"></i> View Profile
												</a>
											</div>
										</div>
									</div>
								</div>
								<!--End 오한수 프로필-->
								<!--이은빈 프로필 시작 -->
								<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
									<div class="card bg-light d-flex flex-fill">
										<div class="card-header text-muted border-bottom-0">
											계약관리
										</div>
										<div class="card-body pt-0">
											<div class="row">
												<div class="col-7">
													<h2 class="lead"><b>이은빈</b></h2>
													<p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p>
														<ul class="ml-4 mb-0 fa-ul text-muted">
															<li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: Demo Street 123, Demo City 04312, NJ</li>
															<li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 800 - 12 12 23 52</li>
														</ul>
												</div>
												<div class="col-5 text-center">
													<img th:src="@{/image/silver.jpg}" alt="user-avatar" class="img-circle img-fluid">
												</div>
											</div>
										</div>
										<div class="card-footer">
											<div class="text-right">
												<a href="#" class="btn btn-sm bg-teal">
													<i class="fas fa-comments"></i>
												</a>
												<a href="#" class="btn btn-sm btn-primary">
												<i class="fas fa-user"></i> View Profile
												</a>
											</div>
										</div>
									</div>
								</div>
								<!--End 이은빈 프로필-->
	 						</div>
	 						<!--End 전체 프로필-->
						</div>					
	 					<!--End card body 묶음 -->
					</div>
					<!--End 상위 카드 영역 -->				
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
		</div>
	</th:block>
</head>