<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
   	<th:block layout:fragment="customCss">
		<link rel="stylesheet" th:href="@{/css/common.css}">
		<link rel="stylesheet" th:href="@{/css/modal.css}">	
	</th:block>
	<th:block layout:fragment="customJs">
		<script>
			// 취소 버튼
			$(function(){
				$('#cancelBtn').on('click', function(){
					history.back();
				});
				
				
				//견적정보 관련 모달	
				var modal = $('.modal');
				
				$(".exitBtn").click(function(){
						
					modal.addClass('hidden');
				});
		
				$(document).on('click', '#selectEstimateNum', function(){
					var aLengthMenuArray = [];
					aLengthMenuArray.push([5,10,-1]);
					aLengthMenuArray.push([5,10,'ALL']);
					
					$('#dataTableAjax').DataTable({
						destroy: true,
						pageLength: 5,
						aLengthMenu: aLengthMenuArray,
						ajax: {
							url: '/team03/finance/in/findEstimateInfo',
		   					type: 'POST',
		   					dataSrc: function(data){
		        				console.log(JSON.stringify(data)+"json.stringify");
		        				return data;
		        			}
						},
						columns: [
							{ "data": "선택"},
							{ "data": "estimateNum"},
							{ "data": "estimatePrice"},
						],
						columnDefs: [
							{
								targets: [0],
								orderable : false,
								searchable : false,
								render : function(data, type, row){
									var htmlbtn = '<input type="radio" class="estimateNum" name="estimateNum" value="'+ row.estimateNum +'">'
									
									return htmlbtn;
								}
							}
						]
					});
					var overlay = $('.modal_overlay');
					modal.removeClass('hidden');
						
				});
				$(document).on('click', '.confirmBtn', function(){
					var checkedBox = $('.estimateNum:checked');
	 				var estimatePrice = $('#estimatePriceInput');
	 				var estimateNum = $('#estimateNumInput');
	 				var checkedEstimatePrice = checkedBox.parent().parent().children().eq(2).text();
	 				
	 				estimateNum.attr('value',checkedBox.val());
	 				estimatePrice.attr('value',checkedEstimatePrice);
	 				
					console.log(checkedBox);
					modal.addClass('hidden');
				});
			});
			
		/* 	
			// 견적서 번호 
			$(function(){
				
				$(document).on('change', '#estimateNum',function(){
					$('#estimatePriceInput').val($('#estimateNum').val());
					var test = $('#estimateNum').val()
						console.log(test);
					
					var test2 = $('#estimateNum option:checked').text()
					$('#estimateNum2').val(test2)
						console.log(test2);
					
				})
			}) */
		</script>	
	
	</th:block>
	
	<th:block layout:fragment="customContents">
 
		<div id="representative-button">
			<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid">
					<!--카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header cardHeadBorder">
							<h4>매출 내역 등록</h4>
						</div>
						<!--End card header -->
						<!--card body -->
						<div class="card-body">
							<div class="row">
								<form id="inInfo" th:action="@{/team03/finance/in/k3AddIn}" method="post">
									<div class="inputwrap col-md-12">
										<label for="inCodeInput" class="inputName">매출코드</label>
										<input class="inputBox" type="text" id="inCodeInput" name="inCode" placeholder="자동등록" readonly="readonly"> 
									</div>
									
									
														
									<div class="inputwrap col-md-12">
										<label for="mainBusinessCodeInput" class="inputName">사업장별대표코드</label>
										<select name ="mainBusinessCode">
											<th:block th:if="${not #lists.isEmpty(getMainBusinessCodeList)}" th:each="l : ${getMainBusinessCodeList}">							
												<option th:text="${l.mainBusinessCode}" th:value="${l.mainBusinessCode}"> </option>
											</th:block>	
										</select>
									</div>
									
									<div class="inputwrap col-md-12">
										<label for="memberIdInput" class="inputName">등록자아이디 </label>
										<input class="inputBox" type="text" id="memberIdInput" name="memberId" th:value="${session.SID}" readonly="readonly">
									</div>	
									
									
									
									<div class="inputwrap col-md-12">
										<label for="estimateNum" class="inputName">견적번호</label>
										<input type="hidden" id="contractorIdInput" name="contractorId">
										<input class="inputBox" type="text" id="estimateNumInput" name="estimateNum" placeholder="견적번호" readonly="readonly">
										<button id="selectEstimateNum" class="findContractorModal btn btn-outline-info ahsbtn" type="button">선택</button> 
									</div>
									
									<div class="inputwrap col-md-12">
										<label for="estimatePrice" class="inputName">견적가격</label>
										<input type="hidden" id="contractorIdInput" name="contractorId">
										<input class="inputBox" type="text" id="estimatePriceInput" name="estimatePrice" placeholder="견적가격" readonly="readonly">
									</div>
									
									
									
								<!-- 	<div class="inputwrap col-md-12">
										<label for="estimateNumInput" class="inputName">견적번호</label>
										<select id = "estimateNum">
											<option> :: 선택 :: </option>
											<th:block th:if="${not #lists.isEmpty(getEstimateNum)}" th:each="e : ${getEstimateNum}">
											<option class="estiamtePick" th:text="${e.estimateNum}" th:value="${e.estimatePrice}"> </option>
											</th:block>
										</select>
									</div>
									
									보이지 않는 견적번호 담기				
									<div style="display:none" class="inputwrap col-md-12">
										<label for="estimatePriceInput" class="inputName">담을견적번호</label>
										<input class="inputBox" type="text" id="estimateNum2" name="estimateNum">
									</div>
													
									<div class="inputwrap col-md-12">
										<label for="estimatePriceInput" class="inputName">견적금액</label>
										<input class="inputBox" type="text" id="estimatePriceInput" name="estimatePrice">
									</div>
									
									 -->
									
																	
									<div class="inputwrap col-md-12">
										<label for="inPayMethodInput" class="inputName">결제방법</label>
										<select name = "inPayMethod">
											<option value="현금">현금</option>
											<option value="카드">카드</option>
										</select>
									</div>								
									
									<div class="inputwrap col-md-12">
										<label for="inPayDateInput" class="inputName">결제일</label>
										<input class="inputBox" type="text" id="inPayDateInput" name="inPayDate" placeholder="ex)2022-01-01">
									</div>								
										
									<div class="d-flex justify-content-center">					
										<button class="ahsbtn4 btn btn-outline-info" type="submit">등록</button>			
										<button id="cancelBtn" class="ahsbtn4 btn btn-block bg-gradient-warning" type="button">취소</button>			
									</div>	
								</form>
	 						</div>
						</div>					
	 					<!--End card body 묶음 -->
					</div>
					<!--End 카드 영역 -->
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
		</div>
		
		<!-- 모달창 -->
		<div class="modal hidden">
			<div class="modal_overlay"></div>		
			<div class="modal_content">
				<div class="modal_header d-flex justify-content-between">
					<div class="textTitle">견적번호 선택</div>
					<button class="exitBtn" type="button">
						<i class="fas fa-times-circle"></i>
					</button>
				</div>
				<div class="modal_body">
					<form>	
						<table border="1" id="dataTableAjax" class="dataTable">
							<thead>
								<tr bgcolor="#BDBDBD">
									<th>선택</th>
									<th>견적번호</th>
									<th>금액</th>
								</tr>
							</thead>
						</table>				
					</form>
				</div>
				<div class="modal_fotter">
					<button class="btn btn-secondary confirmBtn" type="button">확인</button>
				</div>			
			</div>
		</div>
		<!-- End 모달창 -->
	</th:block>
