<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
   <th:block layout:fragment="customCss">
		<link rel="stylesheet" th:href="@{/css/common.css}">
		<link rel="stylesheet" th:href="@{/css/memberusermodal.css}">
	</th:block>
	<th:block layout:fragment="customJs">
	<script type="text/javascript" th:inline="javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
	<script>
			$(function(){
				
				<!-- 유효성 검사 -->
				
				<!-- 숫자, 하이픈(-) 이외 입력 제한 기능-->
				$(document).on("keyup", "input[telOnly]", function(){
					$(this).val($(this).val().replace(/[^0-9-]/gi,"") );
				});

				<!-- 숫자 이외 입력 제한 기능-->
				$(document).on("keyup", "input[numOnly]", function(){
					$(this).val($(this).val().replace(/[^0-9]/gi,"") );
				});
				
				<!-- 문자(한글,영문) 이외 입력 제한 기능-->
				$(document).on("keyup", "input[stringOnly]", function() {
					$(this).val($(this).val().replace(/[^가-힣a-zA-Z]/gi,""));
				});
				
				<!-- 특수문자 입력 제한 기능-->
				$(document).on("keyup", "input[noSpecial]", function() {
					$(this).val( $(this).val().replace(/[^가-힣a-zA-Z0-9]/gi,"") );
				});
				
				<!-- 선택값 입력 기능 -->
				$("#memberEmailSelect").change(function(){
					console.log("선택한 값확인 : "+ $(this).val());
					$("#memberEmailAddr").val($(this).val());
				});
				<!-- END 선택값 입력 기능 -->
				
				<!-- 입력값 확인 -->
				$(document).on('click', '#addBtn', function(){
					var submitCheck = true;
					
					var inputObj = $('#userInfo').find('input');
					
					$.each(inputObj, function(i, obj){
						var inputData = $(obj).val();
						var inputId = $(obj).attr('data-input-label');
						if(typeof inputData == 'undefined' || inputData == null || inputData == ''){	
							alert(inputId + '를(을) 입력해주세요');
							$(obj).focus();
							submitCheck = false;
							return false;
						}
					});
					
					if(submitCheck) $('#userInfo').submit();
				});
				
				//모달
				var modal = $('#busuinesModal');
				
				$(".exitBtn").click(function(){
						
					modal.addClass('hidden');
				});
		
				$(document).on('click', '#mainbusinesscode_btn', function(){
					var aLengthMenuArray = [];
					aLengthMenuArray.push([5,10]);
					aLengthMenuArray.push([5,10]);
					
					$('#k3ourcompanymodal').DataTable({
						destroy: true,
						pageLength: 5,
						aLengthMenu: aLengthMenuArray,
						ajax: {
							url: '/team03/companymanagement/ourcompany/k3ourcompanymodal',
		   					type: 'POST',
		   					dataSrc: function(data){
		        				console.log(JSON.stringify(data));
		        				return data;
		        			}
						},
						columns: [
							{ "data": "선택"},
							{ "data": "mainBusinessCode"}
						],
						columnDefs: [
							{
								targets: [0],
								orderable : false,
								searchable : false,
								render : function(data, type, row){
									var htmlbtn = '<input type="radio" class="mainBusinessCode" name="mainBusinessCode" value="'+ row.mainBusinessCode +'">'
									return htmlbtn;
								}
							}
						]
					});
					var overlay = $('.modal_overlay');
					modal.removeClass('hidden');
						
				});
				
				$(document).on('click', '#memberConfirmBtn', function(){
					var checkedBox = $('.mainBusinessCode:checked');
	 				var mainBusinessCode = $('#mainBusinessCode');
					
	 				var mainBusinessCodeValue = checkedBox.parent().parent().children().eq(1).text();
	 				
	 				mainBusinessCode.attr('value',mainBusinessCodeValue);

					modal.addClass('hidden');
				});
				
				$('#dupclicate_btn').click(function(){

					var memberId = $('#memberId').val();
					
					if(typeof memberId != 'undefined' && memberId != null && memberId != ''){
						// ajax 호출
						var request = $.ajax({
							  url: '/team03/companymanagement/member/idCheck', 
							  method: 'POST', 
							  data: { 'memberId' : memberId },
							  dataType: 'json' 
							});				
						request.done(function(data) {
							// 중복여부 체크(true: 중복, false: 등록가능)
							var idConfirm = data;
							
							if(idConfirm){
								alert('중복된 아이디입니다.');
		 						$('#userInfo input').not('#memberId').prop('disabled', true);
								$('#userInfo select').prop('disabled', true);
								$('#userInfo button').not('#dupclicate_btn').prop('disabled', true);
							}else{
								alert('등록이 가능한 아이디입니다.');
								$('#userInfo input').prop('disabled', false);
								$('#userInfo select').prop('disabled', false);
								$('#userInfo button').prop('disabled', false);
							}
							
							
						});				
						request.fail(function( jqXHR, textStatus ) {
						  alert( "Request failed: " + textStatus );
						});
					}else{
						alert('아이디를 입력해주세요')
						return false;
					}
				});
			});
		
	</script>
	<script>
	
    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('memberpostaladdress').value = data.zonecode;
                document.getElementById("memberstreetaddress").value = roadAddr;
                document.getElementById("memberdetailaddress").value = data.jibunAddress;
         
                       
                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("sample4_extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
</script>

	</th:block>	
	
	<th:block layout:fragment="customContents">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid d-flex justify-content-center">
					<!--카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header cardHeadBorder">
							<h4>직원등록</h4>
						</div>
						<!--End card header -->
						<!--card body -->
						<div class="card-body">
							<div class="row">
								<form id="userInfo" th:action="@{/team03/companymanagement/member/k3AddMemberUserList}" method="post">
									<div class="inputwrap col-md-12">
										<label for="memberId" class="inputName">직원ID</label>
										<input class="inputBox" type="text" data-input-label="아이디" id="memberId" name="memberId"> 
										<button type="button" id="dupclicate_btn" class="btn btn-primary btn-sm">중복확인 </button> 
									</div>
									<div class="inputwrap col-md-12">
										<label for="memberPassword" class="inputName">직원PW</label>
										<input class="inputBox" type="text" data-input-label="비밀번호" id="memberPassword" name="memberPassword" disabled="disabled"/>
										<h6 style="position: relative; left: 205px; color: #EA3C3C; font-size: 15px;">* 영문 대소문자, 숫자의 조합으로 4~12자로 입력하세요.</h6>
									</div>	
									<div class="inputwrap col-md-12">
										<label for="mainBusinessCode" class="inputName">사업장별대표코드</label>
										<input class="inputBox" type="text" id="mainBusinessCode" data-input-label="사업장별대표코드" name="mainBusinessCode" placeholder="사업장을 선택해주세요" disabled="disabled"/>
										<button class="btn btn-primary btn-sm" type="button" id="mainbusinesscode_btn" disabled="disabled"/>사업장 선택</button> 
									</div>	
									<div class="inputwrap col-md-12">
										<label for="levelMemberCode" class="inputName">권한코드</label>
										<input class="inputBox" type="text" id="levelMemberCode" data-input-label="권한코드" name="levelMemberCode" value="ST" readonly style="background-color:#BDBDBD">
									</div>	
									<div class="inputwrap col-md-12">
										<label for="memberName" class="inputName">직원이름</label>
										<input class="inputBox" stringOnly type="text" id="memberName" data-input-label="이름" name="memberName" placeholder="홍길동" disabled="disabled"/>
										<h6 style="position: relative; left: 205px; color: #EA3C3C; font-size: 15px;">* 정확한 형식의 이름을 입력하세요.</h6>
									</div>								
									<div class="inputwrap col-md-12">
										<label for="memberGender" class="inputName">성별</label>
										<input class="inputBox" stringOnly type="text" id="memberGender" data-input-label="성별" name="memberGender" placeholder="예시) 남"  disabled="disabled"/>
										<h6 style="position: relative; left: 205px; color: #EA3C3C; font-size: 15px;">* '남/여/무응답'중 입력하세요.</h6>
									</div>
									<div class="inputwrap col-md-12">
										<label for="memberEmail" class="inputName">이메일</label>
							  			<input class="inputBox" noSpecial type="text" name="memberEmail" id="memberEmail" data-input-label="이메일" placeholder="이메일 아이디" style="width: 120px; height: 30px;" disabled="disabled" /> @
							  			<input class="inputBox" type="text" name="memberEmailAddr" id="memberEmailAddr" placeholder="이메일 도메인" style="width: 120px; height: 30px;" disabled="disabled"/>
							  			<select class="select" type="text" id="memberEmailSelect" style="width: 120px;" disabled="disabled">
							  				<option value="">직접입력</option>
							  				<option value="daum.net">daum.net</option>
							  				<option value="gmail.com">gmail.com</option>
							  				<option value="hanmail.net">hanmail.net</option>
							  				<option value="kakao.com">kakao.com</option>
							  				<option value="nate.com">nate.com</option>
							  				<option value="naver.com">naver.com</option>
							  				<option value="tistory.com">tistory.com</option>
							  				<option value="yahoo.com">yahoo.com</option>
							  			</select>
							  		</div>
									<div class="inputwrap col-md-12">
										<label for="memberpostaladdress" class="inputName">우편번호</label>								
										<input type="text" id="memberpostaladdress" data-input-label="우편번호" name="memberpostaladdress" placeholder="우편번호" disabled="disabled"/>
										<input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기" disabled="disabled"/><br>
									</div>
									<div class="inputwrap col-md-12">
										<label for="memberstreetaddress" class="inputName">도로명 주소</label>
										<input stringOnly type="text" id="memberstreetaddress" data-input-label="도로명 주소" name="memberstreetaddress" placeholder="도로명주소" size="48" disabled="disabled"/><br>
									</div>
									<div class="inputwrap col-md-12">
										<label for="memberPhone" class="inputName">전화번호</label>
										<input class="inputBox" telOnly type="text" id="memberPhone" data-input-label="전화번호" name="memberPhone" placeholder=" 예시) 010-1234-4567" disabled="disabled"/>
										<h6 style="position: relative; left: 205px; color: #EA3C3C; font-size: 15px;">* '-'를 포함하여 입력하세요.</h6>
									</div>								
									<div class="inputwrap col-md-12">
										<label for="memberResidentRegistrationNumber" class="inputName">주민번호</label>
										<input class="inputBox" telOnly type="text" id="memberResidentRegistrationNumber" data-input-label="주민번호" name="memberResidentRegistrationNumber" placeholder=" 예시) 901234-1234567" disabled="disabled"/>
										<h6 style="position: relative; left: 205px; color: #EA3C3C; font-size: 15px;">* '-'를 포함하여 입력하세요.</h6>
									</div>								
									<div class="inputwrap col-md-12">
										<label for="memberState" class="inputName">직원계정 상태</label>
										<input class="inputBox" type="text" id="memberState" data-input-label="직원계정 상태" name="memberState" value="일반" readonly style="background-color:#BDBDBD">
									</div>
									<div class="inputwrap col-md-12">
										<label for="memberRegDate" class="inputName">등록일자</label>
										<input class="inputBox" type="date" id="memberRegDate" data-input-label="등록일자" name="memberRegDate" disabled="disabled"/>
									</div>
									<div class="inputwrap col-md-12">
										<label for="memberHiredDateInput" class="inputName">입사일자</label>
										<input class="inputBox" type="date" id="memberHiredDate" data-input-label="입사일자" name="memberHiredDate" disabled="disabled"/>
									</div><br>							
									<div class="d-flex justify-content-center">					
										<button id="addBtn" class="ahsbtn4 btn btn-outline-info" type="button">등록</button>			
										<button id="cancelBtn" class="ahsbtn4 btn btn-block bg-gradient-warning" type="button">취소</button>			
									</div>	
								</form>
	 						</div>
						</div>					
	 					<!--End card body 묶음 -->
					</div>
					<!--End 카드 영역 -->
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
		</div>
		<!-- 모달창 -->
		<div id="busuinesModal" class="modal hidden">
			<div class="modal_overlay"></div>		
			<div class="modal_content">
				<div class="modal_header d-flex justify-content-between">
					<div class="textTitle">사업장별대표코드 선택</div>
					<button class="exitBtn" type="button">
						<i class="fas fa-times-circle"></i>
					</button>
				</div>
				<div class="modal_body">
					<form>	
						<table border="1" id="k3ourcompanymodal" class="dataTable">
							<thead>
								<tr bgcolor="#3F72AF" style="color: white;">
									<th>선택</th>	
									<th>사업장별 대표코드</th>
								</tr>
							</thead>
						</table>				
					</form>
				</div>
				<div class="modal_fotter">
					<button id="memberConfirmBtn" class="btn btn-primary confirmBtn" type="button">확인</button>
				</div>			
			</div>
		</div>
		<!-- End 모달창 -->
	</th:block>