<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customJs">
		<title>ksmart41</title>
	</th:block>
	<style>
      td {
        text-align: center;
      }
      th {
        text-align: center;
      }
    </style>
	<script>
			$(function(){				
				$('#addmemberuserBtn').on('click', function(){
					location.href = '/team03/companymanagement/member/k3AddMemberUserList';
				});
				
				$(document).on('click', '#deleteMemberUserBtn', function(){
					/* location.href = '/team03/companymanagement/retiredmemberuser/k3RetiredMemberUserList'; */
					var check = $('.removeList:checked');
					var removeCheckList = [];
					//console.log(check);
					
					
					$.each(check, function(){
						removeCheckList.push($(this).val());
					});

					
					if(check.length > 0){
						if(confirm(check.length + "개 항목을 삭제합니다.")){
							
							$('#searchForm').submit();
						}
						
					}else{
						alert("삭제할 항목을 선택해주세요.");
					}
				});
			});
		</script>
	</th:block>
	<th:block layout:fragment="customContents"> 
		<div id="representative-button">
			<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid">
				<!--버튼 영역 -->			
					<div class="d-flex justify-content-end">					
						<button id="addmemberuserBtn" class="btn btn-outline-info ahsbtn4" type="button">
							<i class="bi bi-file-earmark-plus"></i>
							등록
						</button>			
						<button class="btn btn-outline-info ahsbtn4" type="button">
							<i class="bi bi-printer"></i>
							출력
						</button>						
						<button id="deleteMemberUserBtn" class="btn btn-outline-info ahsbtn4" type="button">
							<i class="bi bi-trash"></i>
							삭제
						</button>					
					</div>	
					<!--End 버튼 영역 -->
					<!--상위 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header">
							직원 조회
						</div>
						<!--End card header -->
						
						<!--card body -->
						<div class="card-body">
							<div class="row" style="margin: 12px">
								<!--inputbox 1 -->
									<form class="col-lg-6" th:action="@{/team03/companymanagement/member/k3MemberUserList}" method="post">
										<div class="input-group  d-flex justify-content-start">
											<div class="input-group-prepend">
												<select name="memberuserKey" class="input-group-text form-control-sm" style="height: 38px; font-size: 15px;">
												<option value="memberId">직원ID</option>
												<option value="memberPassword">직원PW</option>
												<option value="mainBusinessCode">사업장별대표코드</option>
												<option value="levelMemberCode">권한번호</option>
												<option value="memberName">직원이름</option>
												<option value="memberGender">성별</option>
												<option value="memberAddr">주소</option>
												<option value="memberPhone">전화번호</option>
												<option value="memberResidentRegistrationNumber">주민번호</option>
												<option value="memberState">직원계정상태</option>
												<option value="memberRegDate">등록일자</option>
												<option value="memberHiredDate">입사일자</option>
										</select>
									<input type="text" class="form-control" placeholder="검색" name="memberuserValue">
									<div class=" input-group-append">
									<div class="btn btn-default" style="padding:0;">
										<button type="submit" class="btn btn-default">
											<i class="fas fa-search icon"></i>
										</button>
										</div>
									</div>
									</div>
								</form>
								<!--End inputbox 1 -->
	 						</div>
						</div>					
	 					<!--End card body 묶음 -->
					</div>
					</div>
					<!--End 상위 카드 영역 -->
					<!--하위 카드 영역 -->
					<div class="card cardColor"  >
						<!--card header -->
						<div class="card-header">
							직원 현황
						</div>
						<!-- End card header -->
						<!--card body -->
						<div class="card-body table-responsive p-0 table-hover">
							<form id="searchForm" th:action="@{/team03/companymanagement/member/k3RemoveMemberUser}" method="post">
								<table class="table table-head-fixed text-nowrap table-striped">
									<thead>
										<tr>
											<th>삭제</th>
											<th>한줄삭제</th>	
											<th>수정</th>
											<th>직원ID</th>
						                     <th>직원PW</th>
						                     <th>사업장별대표코드</th>
						                     <th>권한번호</th>
						                     <th>직원이름</th>
						                     <th>성별</th>
						                     <th>주소</th>
						                     <th>전화번호</th>
						                     <th>주민번호</th>
						                     <th>직원계정상태</th>
						                     <th>등록일자</th>
						                     <th>입사일자</th>		
										</tr>
									</thead>
									<tbody>								
										<tr th:if="${not #lists.isEmpty(memberuserList)}" th:each="l : ${memberuserList}">		
						   				<td>
											<input type="checkbox" class="removeList" name="removeList[]" th:value="${l.memberId}">
											<!-- <input type="hidden" class="deleteCheckList" name="deleteCheckList" th:value="${l.categoryCode}"> -->
										</td>
										<td>
											<a th:href="@{/team03/companymanagement/member/k3DeleteMemberUser(memberId=${l.memberId})}">삭제</a>
										</td>
						   				<td>
										<a id="modifyVehicle" type="button" class="btn btn-default btn-sm" th:href="@{/team03/companymanagement/member/k3DeleteMemberUser(memberId=${l.memberId})}">
												<i class="fas fa-pencil-alt icon"></i>
										</a>										
										</td>	
						   				<td th:text="${l.memberId}"></td>
						   				<td th:text="${l.memberPassword}"></td>
						   				<td th:text="${l.mainBusinessCode}"></td>
						   				<td th:text="${l.levelMemberCode}"></td>
						   				<td th:text="${l.memberName}"></td>
						   				<td th:text="${l.memberGender}"></td>
						   				<td th:text="${l.memberAddr}"></td>
						   				<td th:text="${l.memberPhone}"></td>
						   				<td th:text="${l.memberResidentRegistrationNumber}"></td>
						   				<td th:text="${l.memberState}"></td>
						   				<td th:text="${l.memberRegDate}"></td>
						   				<td th:text="${l.memberHiredDate}"></td>
						   			</tr>
						   			<tr th:unless="${not #lists.isEmpty(memberuserList)}" th:each="l : ${memberuserList}">		
						   				<td colspan="9">등록된 직원이 없습니다.</td>
						   			</tr>
									</tbody>						
								</table>
							</form>	
						</div>
						<!--End card body -->
					</div>
					</div>
					<!--End 하위 카드 영역 -->
					
					<div>
					<div class="card cardColor"  style="float: right; width: 43%; padding:10px;">
						<!--card header -->
						<div class="card-header">
							직원 권한현황
						</div>
						<!-- End card header -->
						<!--card body -->
						<div class="card-body table-responsive p-0 table-hover">
							<form id="searchForm" th:action="@{/team03/companymanagement/member/k3RemoveMemberUser}" method="post">
								<table class="table table-head-fixed text-nowrap table-striped" style="overflow: auto">
									<thead>
										<tr>
											<th>삭제</th>
											<th>한줄삭제</th>	
											<th>수정</th>
											<th>직원ID</th>
						                     <th>직원PW</th>
						                     <th>사업장별대표코드</th>
						                     <th>권한번호</th>
						                     <th>직원이름</th>
						                     <th>성별</th>
						                     <th>주소</th>
						                     <th>전화번호</th>
						                     <th>주민번호</th>
						                     <th>직원계정상태</th>
						                     <th>등록일자</th>
						                     <th>입사일자</th>		
										</tr>
									</thead>
									<tbody>								
										<tr th:if="${not #lists.isEmpty(memberuserList)}" th:each="l : ${memberuserList}">		
						   				<td>
											<input type="checkbox" class="removeList" name="removeList[]" th:value="${l.memberId}">
											<!-- <input type="hidden" class="deleteCheckList" name="deleteCheckList" th:value="${l.categoryCode}"> -->
										</td>
										<td>
											<a th:href="@{/team03/companymanagement/member/k3DeleteMemberUser(memberId=${l.memberId})}">삭제</a>
										</td>
						   				<td>
										<a id="modifyVehicle" type="button" class="btn btn-default btn-sm" th:href="@{/team03/companymanagement/member/k3DeleteMemberUser(memberId=${l.memberId})}">
												<i class="fas fa-pencil-alt icon"></i>
										</a>										
										</td>	
						   				<td th:text="${l.memberId}"></td>
						   				<td th:text="${l.memberPassword}"></td>
						   				<td th:text="${l.mainBusinessCode}"></td>
						   				<td th:text="${l.levelMemberCode}"></td>
						   				<td th:text="${l.memberName}"></td>
						   				<td th:text="${l.memberGender}"></td>
						   				<td th:text="${l.memberAddr}"></td>
						   				<td th:text="${l.memberPhone}"></td>
						   				<td th:text="${l.memberResidentRegistrationNumber}"></td>
						   				<td th:text="${l.memberState}"></td>
						   				<td th:text="${l.memberRegDate}"></td>
						   				<td th:text="${l.memberHiredDate}"></td>
						   			</tr>
						   			<tr th:unless="${not #lists.isEmpty(memberuserList)}" th:each="l : ${memberuserList}">		
						   				<td colspan="9">등록된 직원이 없습니다.</td>
						   			</tr>
									</tbody>						
								</table>
							</form>	
						</div>
						<!--End card body -->
					</div>
					<!--End 하위 카드 영역 -->
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
	</th:block>
</head>