<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title>ksmart41</title>
	</th:block>
	<th:block layout:fragment="customContents">
	<script>
			$(function(){				
				$('#categoryBtn').on('click', function(){
					location.href = '/team03/companymanagement/member/k3AddMemberUserList';
				});
				
				$(document).on('click', '#deleteMemberUserBtn', function(){
					var check = $('.deleteList:checked');
					var deleteCheckList = [];
					
					$.each(check, function(){
						deleteCheckList.push($(this).val());
					});

					
					if(check.length > 0){
						if(confirm(check.length + "개 항목을 삭제합니다.")){
							
							$('#searchForm').submit();
						}
						
					}else{
						alert("삭제할 항목을 선택해주세요.");
					}
				});
			});
		</script>
		<div id="representative-button">
			<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid">
					<!--상위 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header">
							직원 조회
						</div>
						<!--End card header -->
						<!--card body -->
						<div class="card-body">
							<div class="row" style="margin: 12px">
								<!--inputbox 1 -->
								<form class="col-lg-6" th:action="@{/team03/companymanagement/member/k3DeleteMemberUser}" method="post">
									<div class="input-group">
										<div class="input-group-prepend">
											<select name="categoryKey" class="input-group-text">
												<option value="ID">직원ID</option>
												<option value="PW">직원PW</option>
												<option value="mainCode">사업장별대표코드</option>
												<option value="LevelCode">권한번호</option>
												<option value="memberName">직원이름</option>
												<option value="Gender">성별</option>
												<option value="Addr">주소</option>
												<option value="Phone">전화번호</option>
												<option value="Restration">주민번호</option>
												<option value="MemberState">직원계정상태</option>
												<option value="Regdate">등록일자</option>
												<option value="Regtiondate">입사일자</option>
											</select>
										</div>
										<input type="text" name="categoryValue" class="form-control" >
										<button id="categorySearcch" type="submit" class="ahsbtn2 btn btn-outline-info">조회</button>
									</div>
								</form>
								<!--End inputbox 1 -->
	 						</div>
						</div>					
	 					<!--End card body 묶음 -->
					</div>
					<!--End 상위 카드 영역 -->
					<!--하위 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header">
							직원 현황
						</div>
						<!-- End card header -->
						<!--card body -->
						<div class="card-body table-responsive p-0 table-hover" style="height: 300px;">
							<form id="searchForm" th:action="@{/team03/companymanagement/member/k3MemberUserList}" method="post">
								<table class="table table-head-fixed text-nowrap">
									<thead>
										<tr>
											<th>삭제</td>	
											<th>수정</th>
											<th>직원ID</th>
						                     <th>직원PW</th>
						                     <th>사업장별대표코드</th>
						                     <th>권한번호</th>
						                     <th>직원이름</th>
						                     <th>성별</th>
						                     <th>주소</th>
						                     <th>전화번호</th>
						                     <th>주민번호</th>
						                     <th>직원계정상태</th>
						                     <th>등록일자</th>
						                     <th>입사일자</th>		
										</tr>
									</thead>
									<tbody>								
										<tr th:if="${not #lists.isEmpty(memberuserList)}" th:each="l : ${memberuserList}">		
						   				<td>
											<input type="checkbox" class="deleteList" name="deleteList" th:value="${l.memberId}">
											<!-- <input type="hidden" class="deleteCheckList" name="deleteCheckList" th:value="${l.categoryCode}"> -->
										</td>
						   				<td>
											<a th:href="@{/team03/companymanagement/member/k3ModifyMemberUserList(memberId=${l.memberId})}">수정</a>
										</td>	
						   				<td th:text="${l.memberId}"></td>
						   				<td th:text="${l.memberPassword}"></td>
						   				<td th:text="${l.mainBusinessCode}"></td>
						   				<td th:text="${l.levelMemberCode}"></td>
						   				<td th:text="${l.memberName}"></td>
						   				<td th:text="${l.memberGender}"></td>
						   				<td th:text="${l.memberAddr}"></td>
						   				<td th:text="${l.memberPhone}"></td>
						   				<td th:text="${l.memberResidentRegistrationNumber}"></td>
						   				<td th:text="${l.memberState}"></td>
						   				<td th:text="${l.memberRegDate}"></td>
						   				<td th:text="${l.memberHiredDate}"></td>
						   			</tr>
						   			<tr th:unless="${not #lists.isEmpty(memberuserList)}" th:each="l : ${memberuserList}">		
						   				<td colspan="9">등록된 직원이 없습니다.</td>
						   			</tr>
									</tbody>						
								</table>
							</form>	
						</div>
						<!--End card body -->
					</div>
					<div class="row" style="margin:15px;">
						<!-- <button type="button" class="ahsbtn2 btn btn-outline-info">삭제</button> -->
						<button id="deleteMemberUserBtn" type="button" class="ahsbtn1 btn btn-outline-info deleteBbtn">삭제</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a th:href="@{/team03/companymanagement/member/k3AddMemberUserList}" id="moveAddPage">등록페이지로 이동 --></a>					
					</div>
					<!--End 하위 카드 영역 -->
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
		</div>
	</th:block>
</head>