<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title>ksmart41</title>
	</th:block>
	<th:block layout:fragment="customContents">
	<style>
      td {
        text-align: center;
      }
      th {
        text-align: center;
      }
    </style> 
	<script>
			$(function(){				
				$('#addmemberuserBtn').on('click', function(){
					location.href = '/team03/companymanagement/member/k3AddMemberUserList';
				});
				$('#printMemberUserBtn').on('click', function(){
					 	let $container = $("#searchForm").clone()    // 프린트 할 특정 영역 복사
					    let cssText = ""                            // 스타일 복사
					    for (const node of $("style")) {
					        cssText += node.innerHTML
					    }
					    /** 팝업 */
					    let innerHtml = $container[0].innerHTML
					    let popupWindow = window.open("", "_blank", "width=700,height=800")
					    popupWindow.document.write("<!DOCTYPE html>"+
					      "<html>"+
					        "<head>"+
					        "<style>"+cssText+"</style>"+
					        "</head>"+
					        "<body>"+innerHtml+"</body>"+
					      "</html>")
					   
					    popupWindow.document.close()
					    popupWindow.focus()
					
					    /** 1초 지연 */
					    setTimeout(() => {
					        popupWindow.print()         // 팝업의 프린트 도구 시작
					        popupWindow.close()         // 프린트 도구 닫혔을 경우 팝업 닫기
					    }, 1000)
					});
				
				$(document).on('click', '#deleteMemberUserBtn', function(){
					/* location.href = '/team03/companymanagement/retiredmemberuser/k3RetiredMemberUserList'; */
					var check = $('.removeList:checked');
					var removeCheckList = [];
					//console.log(check);
					
					
					$.each(check, function(){
						removeCheckList.push($(this).val());
					});

					if(check.length > 0){
						if(confirm(check.length + "개 항목을 퇴사처리 하시겠습니까?")){
							
							$('#searchForm').submit();
						}
						
					}else{
						alert("항목을 선택해주세요.");
					}
				});
			});
		</script>
		
		
		<div id="representative-button">
			<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid">
				<!--버튼 영역 -->			
					<div class="d-flex justify-content-end">
						<!-- <button type="button" id="checkbtn">직원선택</button>  -->					
						<button id="addmemberuserBtn" class="btn btn-outline-info ahsbtn4" type="button">
							<i class="bi bi-file-earmark-plus"></i>
							등록
						</button>			
						<button id="printMemberUserBtn"class="btn btn-outline-info ahsbtn4" type="button">
							<i class="bi bi-printer"></i>
							출력
						</button>						
						<button id="deleteMemberUserBtn" class="btn btn-outline-info ahsbtn4" type="button">
							<i class="bi bi-person-dash"></i>
							퇴사
						</button>					
					</div>	
					<!--End 버튼 영역 -->
					<!--상위 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header">
							직원 조회
						</div>
						<!--End card header -->
						<!--card body -->
						<div class="card-body">
							<div class="row" style="margin: 12px">
								<!--inputbox 1 -->
								<form class="col-lg-8" th:action="@{/team03/companymanagement/member/k3MemberUserList}" method="post">
									<div class="input-group">
										<div class="input-group-prepend">
											<select name="memberuserKey" class="input-group-text form-control-sm" style="height: 38px; font-size: 15px;">
												<option value="memberId">직원ID</option>
												<option value="memberPassword">직원PW</option>
												<option value="mainBusinessCode">사업장별대표코드</option>
												<option value="levelMemberCode">권한번호</option>
												<option value="memberName">직원이름</option>
												<option value="memberGender">성별</option>
												<option value="memberPhone">전화번호</option>
												<option value="memberResidentRegistrationNumber">주민번호</option>
												<option value="memberpostaladdress">우편번호</option>
												<option value="memberstreetaddress">도로명주소</option>
										</select>
										<input type="text" class="form-control" placeholder="검색" name="memberuserValue" style="width: 300px;">
										<div class=" input-group-append">
										<button id="memberuserInfoSearch" type="submit" class="btn btn-default memberuserInfoSearch">
											<i class="fas fa-search icon"></i>
										</button>
										</div>
									</div>
								</div>
								</form>
								<!--End inputbox 1 -->
	 					</div>
	 					<!--End card body 묶음 -->
					</div>					
					</div>
					<!--End 상위 카드 영역 -->
					<!--하위 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header deprbtn">
							직원 현황
						</div>
						<!-- End card header -->
						<!--card body -->
						<div class="card-body table-responsive p-0 table-hover"style="height: 450px;">
							<form id="searchForm" th:action="@{/team03/companymanagement/member/k3RemoveMemberUser}" method="post">
								<table id="table" class="table table-head-fixed text-nowrap table-striped">
									<thead>
										<tr>
											<th>선택</th>
											<!-- <th>한줄삭제</th> -->
											<th>수정</th>	
											<th>직원ID</th>
						                     <th>직원PW</th>
						                     <th>사업장별대표코드</th>
						                     <th>권한번호</th>
						                     <th>직원이름</th>
						                     <th>성별</th>
						                     <th>이메일</th>
						                     <th>전화번호</th>
						                     <th>우편번호</th>	
						                     <th>도로명주소</th>	
						                     <th>주민번호</th>
						                     <th>직원계정상태</th>
						                     <th>등록일자</th>
						                     <th>입사일자</th>	
						                     
										</tr>
									</thead>
									<tbody>								
										<tr th:if="${not #lists.isEmpty(memberuserList)}" th:each="l : ${memberuserList}">		
						   				<td>
											<input type="checkbox" class="removeList" name="removeList[]" th:value="${l.memberId}">
											<!-- <input type="hidden" class="deleteCheckList" name="deleteCheckList" th:value="${l.categoryCode}"> -->
										</td>
										<!-- <td>
											<a th:href="@{/team03/companymanagement/member/k3DeleteMemberUser(memberId=${l.memberId})}">삭제</a>
										</td> -->
						   				<td>
										<a id="modifyMemberUser" type="button" class="btn btn-default btn-sm" th:href="@{/team03/companymanagement/member/k3ModifyMemberUserList(memberId=${l.memberId})}">
												<i class="fas fa-pencil-alt icon"></i>
										</a>										
										</td>	
						   				<td th:text="${l.memberId}"></td>
						   				<td th:text="${l.memberPassword}"></td>
						   				<td th:text="${l.mainBusinessCode}"></td>
						   				<td th:text="${l.levelMemberCode}"></td>
						   				<td th:text="${l.memberName}"></td>
						   				<td th:text="${l.memberGender}"></td>
						   				<td th:text="${l.memberEmail}"></td>
						   				<td th:text="${l.memberPhone}"></td>
						   				<td th:text="${l.memberpostaladdress}"></td>
						   				<td th:text="${l.memberstreetaddress}"></td>
						   				<td th:text="${l.memberResidentRegistrationNumber}"></td>
						   				<td th:text="${l.memberState}"></td>
						   				<td th:text="${l.memberRegDate}"></td>
						   				<td th:text="${l.memberHiredDate}"></td>

						   			</tr>
						   			<tr th:unless="${not #lists.isEmpty(memberuserList)}">
										<td colspan="100%">
											등록된 정보가 없습니다.
										</td>
									</tr>
									</tbody>						
								</table>
							</form>	
						</div>
						<!--End card body -->
					</div>
					<!--End 하위 카드 영역 -->
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
		</div>
	</th:block>
</head>