<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title>ksmart41</title>
	</th:block>
	<th:block layout:fragment="customContents">
	<style>
      td {
        text-align: center;
      }
      th {
        text-align: center;
      }
    </style>
    
    <script>
			$(function(){				
				$('#addmemberuserBtn').on('click', function(){
					location.href = '/team03/companymanagement/member/k3AddMemberUserList';
				});
				$('#printLoginStateBtn').on('click', function(){
					 	let $container = $("#searchForm").clone()    // 프린트 할 특정 영역 복사
					    let cssText = ""                            // 스타일 복사
					    for (const node of $("style")) {
					        cssText += node.innerHTML
					    }
					    /** 팝업 */
					    let innerHtml = $container[0].innerHTML
					    let popupWindow = window.open("", "_blank", "width=700,height=800")
					    popupWindow.document.write("<!DOCTYPE html>"+
					      "<html>"+
					        "<head>"+
					        "<style>"+cssText+"</style>"+
					        "</head>"+
					        "<body>"+innerHtml+"</body>"+
					      "</html>")
					   
					    popupWindow.document.close()
					    popupWindow.focus()
					
					    /** 1초 지연 */
					    setTimeout(() => {
					        popupWindow.print()         // 팝업의 프린트 도구 시작
					        popupWindow.close()         // 프린트 도구 닫혔을 경우 팝업 닫기
					    }, 1000)
					});
			});
		</script>
		
		<div id="representative-button">
			<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid">
				<!--버튼 영역 -->			
					<div class="d-flex justify-content-end">					
						<button id="printLoginStateBtn" class="btn btn-outline-info ahsbtn4" type="button">
							<i class="bi bi-printer"></i>
							출력
						</button>						
					</div>	
					<!--End 버튼 영역 -->
					<!--상위 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header">
							로그인 정보 조회
						</div>
						<!--End card header -->
						<!--card body -->
						<div class="card-body">
							<div class="row" style="margin: 12px">
								<!--inputbox 1 -->
								<form class="col-lg-6" th:action="@{/team03/companymanagement/loginstate/k3MemberUserLoginState}" method="post">
									<div class="input-group">
										<div class="input-group-prepend">
											<select name="loginstateKey" class="input-group-text">
												<option value="loginCode">로그인 코드</option>
												<option value="mainBusinessCode">사업장별대표코드</option>
												<option value="memberId">직원ID</option>
												<option value="loginDate">로그인 날짜</option>
												<option value="loginFailCount">로그인 실패 횟수</option>
												<option value="loginLatestTryDate">최근접속시도 시각</option>
												<option value="loginAccessState">접속상태</option>
												<option value="loginLogoutDate">로그아웃 날짜</option>
												<option value="loginIpAddress">IPAddress</option>
												<option value="loginMacAddress">MacAddress</option>
											</select>
										</div>
										<input type="text" name="loginstateValue" class="form-control" placeholder="검색"  style="height: 38px;  font-size: 15px;">
										<div class=" input-group-append">
										<button id="memberuserInfoSearch" type="submit" class="btn btn-default memberuserInfoSearch">
											<i class="fas fa-search icon"></i>
										</button>
										</div>
									</div>
								</form>
								<!--End inputbox 1 -->
	 						</div>
						</div>					
	 					<!--End card body 묶음 -->
					</div>
					<!--End 상위 카드 영역 -->
					<!--하위 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header">
							로그인 현황
						</div>
						<!-- End card header -->
						<!--card body -->
						<div class="card-body table-responsive p-0 table-hover" style="height: 450px;">
							<form id="searchForm" th:action="@{/team03/companymanagement/loginstate/k3MemberUserLoginState}" method="post">
								<table class="table table-head-fixed text-nowrap table-striped">
									<thead>
										<tr>
											<th>로그인 코드</th>
						                    <th>사업장별대표코드</th>
						                    <th>직원ID</th>
						                    <th>로그인 날짜</th>
						                    <th>로그인 실패 횟수</th>
						                    <th>최근접속시도 시각</th>
						                    <th>접속상태</th>
						                    <th>로그아웃 날짜</th>
						                    <th>IPAddress</th>
						                    <th>MacAddress</th>
										</tr>
									</thead>
									<tbody>								
										<tr th:if="${not #lists.isEmpty(loginstateList)}" th:each="l : ${loginstateList}">		
						   				<td th:text="${l.loginCode}"></td>
						   				<td th:text="${l.mainBusinessCode}"></td>
						   				<td th:text="${l.memberId}"></td>
						   				<td th:text="${l.loginDate}"></td>
						   				<td th:text="${l.loginFailCount}"></td>
						   				<td th:text="${l.loginLatestTryDate}"></td>
						   				<td th:text="${l.loginAccessState}"></td>
						   				<td th:text="${l.loginLogoutDate}"></td>
						   				<td th:text="${l.loginIpAddress}"></td>
						   				<td th:text="${l.loginMacAddress}"></td>
						   			</tr>
						   			<tr th:unless="${not #lists.isEmpty(loginstateList)}">
										<td colspan="100%">
											등록된 정보가 없습니다.
										</td>
									</tr>
									</tbody>						
								</table>
							</form>	
						</div>
						<!--End card body -->
					</div>
					<!--End 하위 카드 영역 -->
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
		</div>
	</th:block>
</head>