<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	<th:block layout:fragment="customCss">
		<link rel="stylesheet" th:href="@{/css/common.css}">
		<link rel="stylesheet" th:href="@{/css/eunbinAddModify.css}">
   </th:block>
   
   <th:block layout:fragment="customJs">
		<script type="text/javascript" th:inline="javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
		<script>
			<!-- 주소검색 기능 -->
		    function sample4_execDaumPostcode() {
		        new daum.Postcode({
		            oncomplete: function(data) {
		                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
	
		                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
		                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
		                var roadAddr = data.roadAddress; // 도로명 주소 변수
		                var extraRoadAddr = ''; // 참고 항목 변수
	
		                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
		                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
		                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
		                    extraRoadAddr += data.bname;
		                }
		                // 건물명이 있고, 공동주택일 경우 추가한다.
		                if(data.buildingName !== '' && data.apartment === 'Y'){
		                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
		                }
		                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
		                if(extraRoadAddr !== ''){
		                    extraRoadAddr = ' (' + extraRoadAddr + ')';
		                }
	
		                // 우편번호와 주소 정보를 해당 필드에 넣는다.
		                document.getElementById('contractorAddr').value = data.zonecode + '|' + roadAddr + '|' + data.jibunAddress + '(상세주소입력)';
		            }
		        }).open();
		    }
			<!-- 주소검색 기능 -->
	    </script>
		<script>
			$(function(){
				
				<!-- 숫자, 하이픈(-) 이외 입력 제한 기능-->
				$(document).on("keyup", "input[telOnly]", function(){
					$(this).val($(this).val().replace(/[^0-9-]/gi,"") );
				});

				<!-- 숫자 이외 입력 제한 기능-->
				$(document).on("keyup", "input[numOnly]", function(){
					$(this).val($(this).val().replace(/[^0-9]/gi,"") );
				});
				
				<!-- 문자(한글,영문) 이외 입력 제한 기능-->
				$(document).on("keyup", "input[stringOnly]", function() {
					$(this).val($(this).val().replace(/[^가-힣a-zA-Z]/gi,""));
				});
				
				<!-- 특수문자 입력 제한 기능-->
				$(document).on("keyup", "input[noSpecial]", function() {
					$(this).val( $(this).val().replace(/[^가-힣a-zA-Z0-9]/gi,"") );
				});
				
				<!-- 선택값 입력 기능 -->
				$("#contractorSuperviserEmailSelect").change(function(){
					$("#contractorSuperviserEmailAddr").val($(this).val());
				});
				
				$("#contractorEmailSelect").change(function(){
					$("#contractorEmailAddr").val($(this).val());
				});
				
				$("#contractorProfitBankSelect").change(function(){
					$("#contractorProfitBank").val($(this).val());
				});
				<!-- END 선택값 입력 기능 -->
			<!-- 중복 검사 기능 -->
				<!-- 거래처 사업장 코드 중복검사 -->
				$(document).on('click', '#contractorCodeCheckBtn', function(){
					var contractorCode = $("input[name=contractorCode]").val();
					console.log("변수 contractorCode내부 확인 : " + contractorCode + "-> 확인끝")
					if(typeof contractorCode != 'undefined' && contractorCode != null && contractorCode != ''){
						//ajax 호출
						var request = $.ajax({
							url: 'contractorCheck',
							method: 'Post',
							data: {'contractorCode':contractorCode},
							dataType:'json'
						});
						request.done(function(data){
							//중복여부 체크 (true: 중복, false : 등록가능)
							var contractorCode = data;
							if(contractorCode){
								swal('중복된 거래처 사업장 코드','다른 거래처 사업장 코드를 입력해주세요.','error');
							}else{
								swal('등록 가능','등록이 가능한 사업장 코드 입니다.','success');
								$('input[name=codeCheck]').attr("checked",true);
								$("input[name=contractorCode]").attr("readonly",true);
							}
						});
					}
				});
				<!-- END 거래처 사업장 코드 중복검사 -->
				<!-- 거래처 사업장 등록번호 중복검사 -->
				$(document).on('click', '#contractorBusinessNumCheckBtn', function(){
					var contractorBusinessNum = $("input[name=contractorBusinessNum]").val();
					
					console.log("변수 contractorBusinessNum내부 확인 : " + contractorBusinessNum + "-> 확인끝")
					
					if(typeof contractorBusinessNum != 'undefined' && contractorBusinessNum != null && contractorBusinessNum != ''){
						//ajax 호출
						var request = $.ajax({
							url: 'contractorCheck',
							method: 'Post',
							data: {'contractorBusinessNum' : contractorBusinessNum},
							dataType:'json'
						});
						request.done(function(data){
							//중복여부 체크 (true: 중복, false : 등록가능)
							var contractorBusinessNum = data;
							if(contractorBusinessNum){
								swal('중복된 사업자 등록번호','거래처 사업자 등록번호를 다시한번 확인해주세요!','error');
							}else{
								swal('등록 가능','등록이 가능한 거래처 사업자 등록번호입니다.','success');
								$('input[name=businessNumCheck]').attr("checked",true);
								$("input[name=contractorBusinessNum]").attr("readonly",true);
							}
						});
					}
				});
				<!-- END 거래처 사업장 등록번호 중복검사 -->
			<!-- END 중복 검사 기능 -->
			<!-- 빈칸 검사 기능 -->
			$(document).on('click', '#addContractorBtn', function(){
				var submitCheck = true;
				var input = $('#addContractorForm').find('input');
				for(i=0; i<input.length; i++){
					if(input[i].value == null || input[i].value == "" || input[i].value == 'undefined'){
						submitCheck = false;
					}
				}
				if(submitCheck){
						swal({
							title: "등록 하시겠습니까?",
							text: "등록하신 거래처 정보는 데이터에 저장됩니다.",
							icon: "warning",
							buttons: {
								confirm: {
									text: "네",
									value: true,
									visible: true,
									className: "btn btn-outline-info ",
									closeModal: true,
								},
								cancel: {
									text: "아니요",
									value: null,
									visible: true,
									className: "btn btn-outline-info ",
									closeModal: true
								}
							}
						})
						.then(function(value){
							if(value){
								swal("등록 성공:)","거래처 정보가 성공적으로 등록되었습니다.","success");
								setTimeout(function(){$('#addContractorForm').submit();},1000);
							}else{
								swal("등록 취소!","거래처 등록이 취소되었습니다.","error");
								return false;
							}
						});	
				}else if(!$('input[name=codeCheck]').is(":checked") || !$('input[name=businessNumCheck]').is(":checked")){
					swal("등록 실패!","등록정보 중복체크를 해주세요","error");
					return false;
				}else{
					swal("등록 실패!","입력되지 않은 거래처 정보가 있습니다.","error");
					return false;
				}
			});
			<!-- END 빈칸 검사 기능 -->
		});
		</script>
   </th:block>
	
	<th:block layout:fragment="customContents"> 
		<!--카드 영역 -->
		<div class="container container-fluid ">
			<form id="addContractorForm" th:action="@{/team03/contractorContract/Contractor/k3AddContractor}" method="post">
				<div class="d-flex">
					<div class="justify-content-start addForm card cardColor input-group" style="margin:10px" th:each="ip : ${contractorIdPw}">
						<div class="contractorLabel">
							<label>| 거래처 계정정보 |</label>
						</div>						
						<div id="contractorId" class="input-group">
				  			<span class="input-group-text">거래처 아이디</span>
				  			<input class="form-control" type="text" name="contractorId" id="contractorId" th:value="${ip.contractorId}" readonly style="background-color:#BDBDBD"/>
				  		</div>
				  		<div id="contractorPw" class="input-group">
				  			<span class="input-group-text">거래처 비밀번호</span>
				  			<input class="form-control" type="text" name="contractorPw" id="contractorPw" th:value="${ip.contractorPw}" style="background-color:#BDBDBD"/>
				  		</div>
				  		<div id="contractorState" class="input-group">
				  			<span class="input-group-text">거래처 계정 상태</span>
				  			<input class="form-control" type="text" name="contractorState" id="contractorState" value="일반" readonly style="background-color:#BDBDBD"/>
				  		</div>
				  		<div id="memberId" class="input-group" >
				  			<span class="input-group-text">등록직원 아이디</span>
				  			<input class="form-control" type="text" name="memberId" id="memberId" value="m_c17" readonly style="background-color:#BDBDBD" />
				  		</div>
				  		<div id="levelCode" class="input-group" >
				  			<span class="input-group-text">거래처 권한번호</span>
				  			<input class="form-control" type="text" name="levelCode" id="levelCode" value="CT" readonly style="background-color:#BDBDBD"/>
				  		</div>
					</div>		
					<div class="justify-content-end addForm card cardColor input-group" style="margin:10px">
						<div class="contractorLabel">
							<label>| 거래처 사업자 정보 |</label>							
						</div>					  	
						<div id="contractorCode" class="input-group">
							<span class="input-group-text">거래처 사업장 코드</span>
				 			<input  class="form-control" type="text" name="contractorCode" placeholder="거래처 사업장 코드"/>
				 			<button type="button" id="contractorCodeCheckBtn" class="ahsbtn2 btn btn-outline-info">중복확인<input type="checkbox" name="codeCheck" disabled style="border:none"></button> 
						</div>
				  		<div id="contractorBusinessNum" class="input-group">
				  			<span class="input-group-text">거래처 사업자등록번호</span>
				  			<input  class="form-control" telOnly type="text" name="contractorBusinessNum" placeholder="거래처 사업자등록번호"/>
				  			<button type="button" id="contractorBusinessNumCheckBtn" class="ahsbtn2 btn btn-outline-info">중복확인<input type="checkbox" name="businessNumCheck" disabled style="border:none"></button>
							
				  		</div>
				  		<div id="contractorBusinessClientNum" class="input-group">
				  			<span class="input-group-text">거래처 종사업장번호</span>
				  			<input class="form-control" numOnly type="text" name="contractorBusinessClientNum" id="contractorBusinessClientNum" placeholder="거래처 종사업장번호"  maxLength="4"/>
				  		</div>
				  		<div id="contractorName" class=" input-group">
				  			<span class="input-group-text">거래처 상호명</span>
				  			<input  class="form-control" type="text" name="contractorName" placeholder="거래처 상호명"/>
				  		</div>
				  		<div id="contractorRepresentative" class=" input-group">
				  			<span class="input-group-text">거래처 대표자명</span>
				  			<input class="form-control" stringOnly type="text" name="contractorRepresentative" id="contractorRepresentative" placeholder="거래처 대표자명"/>
				  		</div>
					</div>
				</div>
				<div class="d-flex">
					<div class="justify-content-start addForm card cardColor input-group" style="margin:10px">
						<div class="contractorLabel">
							<label>| 거래처 업종 형태 |</label>							
						</div>
				  		<div id="contractorDevision" class="input-group">
				  			<span class="input-group-text">거래 구분</span>
				  			<select class="form-control" type="text" name="contractorDevision" id="contractorDevision" placeholder="거래 구분">
				  				<option>매출</option>
				  				<option>비용</option>
				  			</select>
				  		</div>
				  		<div class="input-group">
				  			<span class="input-group-text">거래처 유형</span>
				  			<input class="form-control" stringOnly type="text" name="contractorType" id="contractorType" placeholder="거래처 유형"/>
				  		</div>
				  		<div class="input-group">
				  			<span class="input-group-text">거래처 종목</span>
				  			<input class="form-control" stringOnly type="text" name="contractorItem" id="contractorItem" placeholder="거래처 종목"/>
				  		</div>
				  		<div class="input-group">
				  			<span class="input-group-text">거래처 업태</span>
				  			<input class="form-control" stringOnly type="text" name="contractorStatus" id="contractorStatus" placeholder="거래처 업태"/>
				  		</div>
					</div>			
					<div class="justify-content-end addForm card cardColor input-group" style="margin:10px">
						<div class="contractorLabel">
							<label>| 거래처 연락 정보 |</label>							
						</div>
				  		<div class="input-group">
				  			<span class="input-group-text">거래처 주소</span>
				  			<input class="form-control" type="text" name="contractorAddr" id="contractorAddr" placeholder="우편번호/도로명주소(상세주소)"/>
				  			<input class="btn btn-outline-info" type="button" value="주소검색" onclick="sample4_execDaumPostcode()"/>
				  		</div>
				 		<div class="input-group">
				 			<span class="input-group-text">거래처 전화번호</span>
				 			<input class="form-control" numOnly type="text" name="contractorPhone1" id="contractorPhone" maxLength="3"/>
				  			<div style="margin:3px">
				  				<b>-</b>
				  			</div>
				 			<input class="form-control" numOnly type="text" name="contractorPhone2" id="contractorPhone" maxLength="4"/>
				  			<div style="margin:3px">
				  				<b>-</b>
				  			</div>
				 			<input class="form-control" numOnly type="text" name="contractorPhone3" id="contractorPhone" maxLength="4"/>
				 		</div>
				 		<div class="input-group">
				  			<span class="input-group-text">거래처 이메일</span>
				  			<input class="form-control" noSpecial type="text" name="contractorEmail" id="contractorEmail" placeholder="이메일 아이디"/>
				  			<div style="margin:3px">
				  				<b>@</b>
				  			</div>
				  			<input class="form-control" noSpecial type="text" name="contractorEmailAddr" id="contractorEmailAddr" placeholder="이메일 도메인"/>
				  			<select class="form-control" type="text" id="contractorEmailSelect">
				  				<option value="">직접입력</option>
				  				<option value="daum.net">daum.net</option>
				  				<option value="gmail.com">gmail.com</option>
				  				<option value="hanmail.net">hanmail.net</option>
				  				<option value="kakao.com">kakao.com</option>
				  				<option value="nate.com">nate.com</option>
				  				<option value="naver.com">naver.com</option>
				  				<option value="tistory.com">tistory.com</option>
				  				<option value="yahoo.com">yahoo.com</option>
				  			</select>
				  		</div>
				  		<div id="contractorFax" class="input-group">
				  			<span class="input-group-text">거래처 Fax</span>
				  			<input class="form-control" telOnly type="text" name="contractorFax" id="contractorFax" placeholder="하이픈(-)포함 작성"/>
				  		</div>
					</div>			
				</div>
				<div class="d-flex">
					<div class="justify-content-start addForm card cardColor input-group" style="margin:10px">
						<div class=" contractorLabel">
							<label>| 거래처 담당자 정보 |</label>							
						</div>
				  		<div class=" input-group">
				  			<span class="input-group-text">거래처 담당자</span>
				  			<input class="form-control" stringOnly type="text" name="contractorSuperviser" id="contractorSuperviser" placeholder="거래처 담당자"/>
				  		</div>
				  		<div class=" input-group">
				  			<span class="input-group-text">담당자 연락처</span>
				 			<input class="form-control" numOnly type="text" name="contractorSuperviserPhone1" id="contractorSuperviserPhone" maxLength="3"/>
				  			<div style="margin:3px">
				  				<b>-</b>
				  			</div>
				 			<input class="form-control" numOnly type="text" name="contractorSuperviserPhone2" id="contractorSuperviserPhone" maxLength="4"/>
				  			<div style="margin:3px">
				  				<b>-</b>
				  			</div>
				 			<input class="form-control" numOnly type="text" name="contractorSuperviserPhone3" id="contractorPhone" maxLength="4"/>
				  		</div>
				  		<div class="input-group">
				  			<span class="input-group-text">담당자 이메일</span>
				  			<input class="form-control" noSpecial type="text" name="contractorSuperviserEmail" id="contractorSuperviserEmail" placeholder="이메일 아이디"/>
				  			<div style="margin:3px">
				  				<b>@</b>
				  			</div>
				  			<input class="form-control" type="text" name="contractorSuperviserEmailAddr" id="contractorSuperviserEmailAddr" placeholder="이메일 도메인"/>
				  			<select class="form-control" type="text" id="contractorSuperviserEmailSelect">
				  				<option value="">직접입력</option>
				  				<option value="daum.net">daum.net</option>
				  				<option value="gmail.com">gmail.com</option>
				  				<option value="hanmail.net">hanmail.net</option>
				  				<option value="kakao.com">kakao.com</option>
				  				<option value="nate.com">nate.com</option>
				  				<option value="naver.com">naver.com</option>
				  				<option value="tistory.com">tistory.com</option>
				  				<option value="yahoo.com">yahoo.com</option>
				  			</select>
				  		</div>
					</div>
					<div class="justify-content-end addForm card cardColor input-group" style="margin:10px">
						<div class=" contractorLabel">
							<label>| 거래처 은행 정보 |</label>							
						</div>
				  		<div class="input-group">
				  			<span class="input-group-text">거래처 은행명</span>
				  			<input class="form-control" stringOnly type="text" name="contractorProfitBank" id="contractorProfitBank" placeholder="은행명"/>
				  			<select class="form-control" id="contractorProfitBankSelect">
				  				<option value="">직접입력</option>
				  				<option value="농협은행">농협은행</option>
				  				<option value="KB국민은행">KB국민은행</option>
				  				<option value="신한은행">신한은행</option>
				  				<option value="우리은행">우리은행</option>
				  				<option value="하나은행">하나은행</option>
				  				<option value="대구은행">대구은행</option>
				  				<option value="부산은행">부산은행</option>
				  				<option value="경남은행">경남은행</option>
				  				<option value="광주은행">광주은행</option>
				  				<option value="전북은행">전북은행</option>
				  				<option value="제주은행">제주은행</option>
				  			</select>
				  		</div>
				  		<div id="contractorProfitAccount" class=" input-group">
				  			<span class="input-group-text">거래처 계좌번호</span>
				  			<input class="form-control" telOnly type="text" name="contractorProfitAccount" id="contractorProfitAccount" placeholder="하이픈(-)포함 작성"/>
				  		</div>
				  		<div id="contractorAccountHolder" class=" input-group">
				  			<span class="input-group-text">거래처 예금주</span>
				  			<input class="form-control" stringOnly type="text" name="contractorAccountHolder" id="contractorAccountHolder" placeholder="거래처 예금주"/>
				  		</div>
					</div>
				</div>
				<div class="d-flex justify-content-center" style="padding-top:20px; border-top: 1px solid #D8D8D8">
					<a class="ahsbtn4 btn btn-block bg-gradient-warning" id="cancleAddContractorBtn" type="button" th:href="@{k3SearchContractor}">등록취소</a>
					<button class="ahsbtn4 btn btn-outline-info" id="addContractorBtn" type="button">등록</button>
				</div>
			</form>
		</div>
	</th:block>			
</html>		