<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	<th:block layout:fragment="customCss">
		<link rel="stylesheet" th:href="@{/css/common.css}">
		<link rel="stylesheet" th:href="@{/css/eunbinAddModify.css}">
   </th:block>
	<th:block layout:fragment="customContents"> 
		 <!-- <script>
			$(function(){
				//거래처 사업장코드 중복확인 스크립트
				$(document).on('click', "#addContractorBtn", function(){
					var submitCheck = true;
					var inputObj = $("#addContractorForm").find('input');
					$.each(inputObj, function(){
						var inputData = $(this).val();
						var inputId = $(this.).attr('id');
						var labelText = $('label[for=]' + inputId + ']').text();
						if(typeof inputData == 'undefined' || inputData == null || inputData == ''){
							alert(labelText + '입력해주세요');
							$(this.)focus();
							submitCehck = false;
							return false;
						}
					});
					if(submitCheck) $('#addContractorForm').submit();
				});
				$('#contractorCodeCheckBtn').click(function(){
					var contractorCode = $('#contractorCode').val();
					console.log("거래처사업장코드 중복체크 버튼");
					if(typeof contractorCode != 'undefined' && contractorCode != null && contractorCode != ''){
						//ajax호출
						var request = $.ajax({
							url: '/contractorContract/Check/k3AddContractorCheck',
							method : 'POST',
							data: { 'contractorCode' : contractorCode},
							dataType: 'json'
						});
						request.done(function(data){
							//중복여부 체크(true: 중복, false: 등록가능)
							var CodeConfirm = data;
							
							if(CodeConfirm){
								alert('중복된 거래처사업장코드입니다.');		
								$('#addContractorBtn').prop('disabled', true);
								$('#contractorCodeAlert').prop('type', false);
							}else{
								alert('등록이 가능한 거래처사업장코드입니다.');
								$('#addContractorForm input').prop('disabled', false);
								$('#addContractorForm select').prop('disabled', false);
								$('#addContractorForm button').prop('disabled', false);
							}
						});
						request.fail(function(jqXHR, textStatus){
							alert("Request failed: " + textStatus);
							
						});
					}else{
						alert('거래처사업장 코드를 입력해주세요')
						return false;
					}
				});
			})
		</script>  -->
		<!--카드 영역 -->
		<div class="container container-fluid" >
			<form id="modifyContractorForm" th:action="@{/team03/contractorContract/Contractor/k3ModifyContractor}" method="POST">
				<div class="d-flex" th:if="${not #lists.isEmpty(k3DetailContractor)}"   th:each="c:${k3DetailContractor}">
					<div class="justify-content-start modifyForm card cardColor input-group" style="margin:10px">
						<div class="contractorLabel">
							<label>| 거래처 계정정보 |</label>
						</div>												
						<div id="contractorId" class="input-group">
				  			<span class="input-group-text" for="contractorId">거래처 아이디</span>
				  			<input class="form-control" type="text" name="contractorId" id="contractorId" placeholder="거래처아이디"  th:value="${c.contractorId}"  readonly  style="background-color:#BDBDBD" />
				  			<button type="button" id="contractorIdBtn" class="ahsbtn2 btn btn-outline-info">중복확인 </button> 
				  		</div>
				  		<div id="contractorPw" class="input-group">
				  			<span class="input-group-text" for="contractorPw">거래처 비밀번호</span>
				  			<input class="form-control" type="text" name="contractorPw" id="contractorPw" placeholder="거래처 비밀번호" th:value="${c.contractorPw}"/>
				  		</div>
				  		<div id="contractorState" class="input-group">
				  			<span class="input-group-text" for="contractorState">거래처 계정 상태</span>
				  			<input class="form-control" type="text" name="contractorState" id="contractorState" th:value="${c.contractorState}" readonly style="background-color:#BDBDBD"/>
				  		</div>
				  		<div id="memberId" class="input-group" >
				  			<span class="input-group-text" for="memberId">등록직원 아이디</span>
				  			<input class="form-control" type="text" name="memberId" id="memberId" value="m_c17" th:value="${c.memberId}" readonly style="background-color:#BDBDBD" />
				  		</div>
				  		<div id="levelCode" class="input-group" >
				  			<span class="input-group-text" for="levelCode">거래처 권한번호</span>
				  			<input class="form-control" type="text" name="levelCode" id="levelCode" value="CT" readonly style="background-color:#BDBDBD"/>
				  		</div>
					</div>		
					<div class="justify-content-end modifyForm card cardColor input-group" style="margin:10px">
						<div class="contractorLabel">
							<label>| 거래처 사업자 정보 |</label>							
						</div>					  	
						<div id="contractorCode" class="input-group">
							<span class="input-group-text" for="contractorCode">거래처사업장코드</span>
				 			<input  class="form-control"  type="text" name="contractorCode" placeholder="거래처사업장코드" th:value="${c.contractorCode}" readonly  style="background-color:#BDBDBD"/>
				 			<button type="button" id="contractorCodeCheckBtn" class="ahsbtn2 btn btn-outline-info">중복확인 </button> 
						</div>
				  		<div id="contractorBusinessNum" class="input-group">
				  			<span class="input-group-text" for="contractorBusinessNum">거래처 사업자등록번호</span>
				  			<input  class="form-control" type="text" name="contractorBusinessNum" placeholder="거래처 사업자등록번호" th:value="${c.contractorBusinessNum}"/>
				  			<button type="button" id="contractorBusinessNumCheckBtn" class="ahsbtn2 btn btn-outline-info">중복확인 </button>
				  		</div>
				  		<div id="contractorBusinessClientNum" class="input-group">
				  			<span class="input-group-text" for="contractorBusinessClientNum">거래처 종사업장번호</span>
				  			<input class="form-control" type="text" name="contractorBusinessClientNum" id="contractorBusinessClientNum" placeholder="거래처 종사업장번호" th:value="${c.contractorBusinessClientNum}"/>
				  		</div>
				  		<div id="contractorName" class=" input-group">
				  			<span class="input-group-text" for="contractorName">거래처 상호명</span>
				  			<input  class="form-control"  type="text" name="contractorName" placeholder="거래처 상호명" th:value="${c.contractorName}"/>
				  		</div>
				  		<div id="contractorRepresentative" class=" input-group">
				  			<span class="input-group-text" for="contractorRepresentative">거래처 대표자명</span>
				  			<input class="form-control" type="text" name="contractorRepresentative" id="contractorRepresentative" placeholder="거래처 대표자명" th:value="${c.contractorRepresentative}"/>
				  		</div>
					</div>
				</div>
				<div class="d-flex" th:if="${not #lists.isEmpty(k3DetailContractor)}"   th:each="c:${k3DetailContractor}">
					<div class="justify-content-start modifyForm card cardColor input-group" style="margin:10px">
						<div class="contractorLabel">
							<label>| 거래처 업종 형태 |</label>							
						</div>
				  		<div id="contractorDevision" class="input-group">
				  			<span class="input-group-text" for="contractorDevision">거래 구분</span>
				  			<input class="form-control" type="text" name="contractorDevision" id="contractorDevision" placeholder="거래 구분" th:value="${c.contractorDevision}" readonly  style="background-color:#BDBDBD"/>
				  		</div>
				  		<div id="contractorType" class="input-group">
				  			<span class="input-group-text" for="contractorType">거래처 유형</span>
				  			<input class="form-control"  type="text" name="contractorType" id="contractorType" placeholder="거래처 유형" th:value="${c.contractorType}"/>
				  		</div>
				  		<div id="contractorItem" class="input-group">
				  			<span class="input-group-text" for="contractorItem">거래처 종목</span>
				  			<input class="form-control" type="text" name="contractorItem" id="contractorItem" placeholder="거래처 종목" th:value="${c.contractorItem}"/>
				  		</div>
				  		<div id="contractorStatus" class="input-group">
				  			<span class="input-group-text" for="contractorStatus">거래처 업태</span>
				  			<input class="form-control" type="text" name="contractorStatus" id="contractorStatus" placeholder="거래처 업태" th:value="${c.contractorStatus}"/>
				  		</div>
					</div>			
					<div class="justify-content-end modifyForm card cardColor input-group" style="margin:10px">
						<div class="contractorLabel">
							<label>| 거래처 연락 정보 |</label>							
						</div>
				  		<div id="contractorAddr" class="input-group">
				  			<span class="input-group-text" for="contractorAddr">거래처 주소</span>
				  			<input class="form-control" type="text" name="contractorAddr" id="contractorAddr" placeholder="거래처 주소" th:value="${c.contractorAddr}"/>
				  		</div>
				 		<div id="contractorPhone" class="input-group">
				 			<span class="input-group-text" for="contractorPhone">거래처 전화번호</span>
				 			<input class="form-control" type="text" name="contractorPhone" id="contractorPhone" placeholder="거래처 전화번호" th:value="${c.contractorPhone}"/>
				 		</div>
				 		<div id=contractorEmail class="input-group">
				  			<span class="input-group-text" for="contractorEmail">거래처 이메일</span>
				  			<input class="form-control" type="text" name="contractorEmail" id="contractorEmail" placeholder="거래처 이메일" th:value="${c.contractorEmail}"/>
				  		</div>
				  		<div id="contractorFax" class="input-group">
				  			<span class="input-group-text" for="contractorFax">거래처 Fax</span>
				  			<input class="form-control" type="text" name="contractorFax" id="contractorFax" placeholder="거래처 Fax" th:value="${c.contractorFax}"/>
				  		</div>
					</div>			
				</div>
				<div class="d-flex" th:if="${not #lists.isEmpty(k3DetailContractor)}"   th:each="c:${k3DetailContractor}">
					<div class="justify-content-start modifyForm card cardColor input-group" style="margin:10px">
						<div class=" contractorLabel">
							<label>| 거래처 담당자 정보 |</label>							
						</div>
				  		<div id="contractorSuperviser" class=" input-group">
				  			<span class="input-group-text" for="contractorSuperviser">거래처 담당자</span>
				  			<input class="form-control" type="text" name="contractorSuperviser" id="contractorSuperviser" placeholder="거래처 담당자" th:value="${c.contractorSuperviser}"/>
				  		</div>
				  		<div id="contractorSuperviserPhone" class=" input-group">
				  			<span class="input-group-text" for="contractorSuperviserPhone">담당자 연락처</span>
				  			<input class="form-control" type="text" name="contractorSuperviserPhone" id="contractorSuperviserPhone" placeholder="담당자 연락처" th:value="${c.contractorSuperviserPhone}"/>
				  		</div>
				  		<div id="contractorSuperviserEmail" class=" input-group">
				  			<span class="input-group-text" for="contractorSuperviserEmail">담당자 이메일</span>
				  			<input class="form-control" type="text" name="contractorSuperviserEmail" id="contractorSuperviserEmail" placeholder="담당자 이메일" th:value="${c.contractorSuperviserEmail}"/>
				  		</div>
					</div>
					<div class="justify-content-end modifyForm card cardColor input-group" style="margin:10px">
						<div class=" contractorLabel">
							<label>| 거래처 은행 정보 |</label>							
						</div>
				  		<div id="contractorProfitBank" class=" input-group">
				  			<span class="input-group-text" for="contractorProfitBank">거래처 은행명</span>
				  			<input class="form-control" type="text" name="contractorProfitBank" id="contractorProfitBank" placeholder="거래처 은행명" th:value="${c.contractorProfitBank}"/>
				  		</div>
				  		<div id="contractorProfitAccount" class=" input-group">
				  			<span class="input-group-text" for="contractorProfitAccount">거래처 계좌번호</span>
				  			<input class="form-control" type="text" name="contractorProfitAccount" id="contractorProfitAccount" placeholder="거래처 계좌번호" th:value="${c.contractorProfitAccount}"/>
				  		</div>
				  		<div id="contractorAccountHolder" class=" input-group">
				  			<span class="input-group-text" for="contractorAccountHolder">거래처 예금주</span>
				  			<input class="form-control" type="text" name="contractorAccountHolder" id="contractorAccountHolder" placeholder="거래처 예금주" th:value="${c.contractorAccountHolder}"/>
				  		</div>
					</div>
				</div>
				<div class="d-flex justify-content-center" style="padding-top:20px; border-top: 1px solid #D8D8D8">
					<a class="ahsbtn4 btn btn-block bg-gradient-warning" id="cancleModifyContractorBtn" type="button" th:href="@{k3SearchContractor}">수정취소</a>
					<button class="ahsbtn4 btn btn-outline-info" id="modifyContractorBtn" type="submit">수정</button>
				</div>
			</form>
		</div>
	</th:block>
</html>