<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	<th:block layout:fragment="customCss">
		<link rel="stylesheet" th:href="@{/css/common.css}">
		<link rel="stylesheet" th:href="@{/css/eunbinAddModify.css}">
   </th:block>
   
	<th:block layout:fragment="customJs">
		<script type="text/javascript" th:inline="javascript">
			$(function(){
				<!-- 숫자, 하이픈(-) 이외 입력 제한 기능-->
				$(document).on("keyup", "input[telOnly]", function(){
					$(this).val($(this).val().replace(/[^0-9-]/gi,"") );
				});
	
				<!-- 숫자 이외 입력 제한 기능-->
				$(document).on("keyup", "input[numOnly]", function(){
					$(this).val($(this).val().replace(/[^0-9]/gi,"") );
				});
				
				<!-- 문자(한글,영문) 이외 입력 제한 기능-->
				$(document).on("keyup", "input[stringOnly]", function() {
					$(this).val($(this).val().replace(/[^가-힣a-zA-Z]/gi,""));
				});
				
				<!-- 특수문자 입력 제한 기능-->
				$(document).on("keyup", "input[noSpecial]", function() {
					$(this).val( $(this).val().replace(/[^가-힣a-zA-Z0-9]/gi,"") );
				});
				
				<!-- 선택값 입력 기능 -->
				$("#contractorSuperviserEmailSelect").change(function(){
					console.log("선택한 값확인 : "+ $(this).val());
					$("#contractorSuperviserEmailAddr").val($(this).val());
				});
				
				$("#contractorEmailSelect").change(function(){
					console.log("선택한 값확인 : "+ $(this).val());
					$("#contractorEmailAddr").val($(this).val());
				});
				
				$("#contractorProfitBankSelect").change(function(){
					console.log("선택한 값확인 contractorProfitBankSelect : "+ $(this).val());
					$("#contractorProfitBanka").val($(this).val());
					console.log("바뀐 값확인 contractorProfitBanka :"+ $("#contractorProfitBanka").val());
				});
				<!-- END 선택값 입력 기능 -->	
			});
		</script>
	</th:block>			

   
	<th:block layout:fragment="customContents"> 
		<div class="container container-fluid" >
			<form id="modifyContractorForm" th:action="@{/team03/contractorContract/Contractor/k3ModifyContractor}" method="POST">
				<div class="d-flex" th:if="${not #lists.isEmpty(k3DetailContractor)}"   th:each="c:${k3DetailContractor}">
					<div class="justify-content-start modifyForm card cardColor input-group" style="margin:10px">
						<div class="contractorLabel">
							<label>| 거래처 계정정보 |</label>
						</div>												
						<div id="contractorId" class="input-group">
				  			<span class="input-group-text">거래처 아이디</span>
				  			<input class="form-control" type="text" name="contractorId" id="contractorId" placeholder="거래처아이디"  th:value="${c.contractorId}"  readonly  style="background-color:#BDBDBD" />
				  		</div>
				  		<div id="contractorPw" class="input-group">
				  			<span class="input-group-text">거래처 비밀번호</span>
				  			<input class="form-control" type="text" name="contractorPw" id="contractorPw" placeholder="거래처 비밀번호" th:value="${c.contractorPw}"/>
				  		</div>
				  		<div id="contractorState" class="input-group">
				  			<span class="input-group-text">거래처 계정 상태</span>
				  			<input class="form-control" type="text" name="contractorState" id="contractorState" th:value="${c.contractorState}" readonly style="background-color:#BDBDBD"/>
				  		</div>
				  		<div id="memberId" class="input-group" >
				  			<span class="input-group-text">등록직원 아이디</span>
				  			<input class="form-control" type="text" name="memberId" id="memberId" value="m_c17" th:value="${c.memberId}" readonly style="background-color:#BDBDBD" />
				  		</div>
				  		<div id="levelCode" class="input-group" >
				  			<span class="input-group-text">거래처 권한번호</span>
				  			<input class="form-control" type="text" name="levelCode" id="levelCode" value="CT" readonly style="background-color:#BDBDBD"/>
				  		</div>
					</div>		
					<div class="justify-content-end modifyForm card cardColor input-group" style="margin:10px">
						<div class="contractorLabel">
							<label>| 거래처 사업자 정보 |</label>							
						</div>					  	
						<div id="contractorCode" class="input-group">
							<span class="input-group-text">거래처사업장코드</span>
				 			<input  class="form-control" telOnly type="text" name="contractorCode" placeholder="거래처사업장코드" th:value="${c.contractorCode}" readonly  style="background-color:#BDBDBD"/>
						</div>
				  		<div id="contractorBusinessNum" class="input-group">
				  			<span class="input-group-text">거래처 사업자등록번호</span>
				  			<input  class="form-control" telOnly type="text" name="contractorBusinessNum" placeholder="거래처 사업자등록번호" th:value="${c.contractorBusinessNum}" readonly  style="background-color:#BDBDBD"/>
				  		</div>
				  		<div id="contractorBusinessClientNum" class="input-group">
				  			<span class="input-group-text">거래처 종사업장번호</span>
				  			<input class="form-control" telOnly type="text" name="contractorBusinessClientNum" id="contractorBusinessClientNum" placeholder="거래처 종사업장번호" th:value="${c.contractorBusinessClientNum}" readonly  style="background-color:#BDBDBD"/>
				  		</div>
				  		<div id="contractorName" class=" input-group">
				  			<span class="input-group-text">거래처 상호명</span>
				  			<input  class="form-control" noSpecial  type="text" name="contractorName" placeholder="거래처 상호명" th:value="${c.contractorName}"/>
				  		</div>
				  		<div id="contractorRepresentative" class=" input-group">
				  			<span class="input-group-text">거래처 대표자명</span>
				  			<input class="form-control" stringOnly type="text" name="contractorRepresentative" id="contractorRepresentative" placeholder="거래처 대표자명" th:value="${c.contractorRepresentative}"/>
				  		</div>
					</div>
				</div>
				<div class="d-flex" th:if="${not #lists.isEmpty(k3DetailContractor)}"   th:each="c:${k3DetailContractor}">
					<div class="justify-content-start modifyForm card cardColor input-group" style="margin:10px">
						<div class="contractorLabel">
							<label>| 거래처 업종 형태 |</label>							
						</div>
				  		<div id="contractorDevision" class="input-group">
				  			<span class="input-group-text">거래 구분</span>
				  			<input class="form-control" type="text" name="contractorDevision" id="contractorDevision" placeholder="거래 구분" th:value="${c.contractorDevision}" readonly  style="background-color:#BDBDBD"/>
				  		</div>
				  		<div id="contractorType" class="input-group">
				  			<span class="input-group-text">거래처 유형</span>
				  			<input class="form-control" stringOnly type="text" name="contractorType" id="contractorType" placeholder="거래처 유형" th:value="${c.contractorType}"/>
				  		</div>
				  		<div id="contractorItem" class="input-group">
				  			<span class="input-group-text">거래처 종목</span>
				  			<input class="form-control" stringOnly type="text" name="contractorItem" id="contractorItem" placeholder="거래처 종목" th:value="${c.contractorItem}"/>
				  		</div>
				  		<div id="contractorStatus" class="input-group">
				  			<span class="input-group-text">거래처 업태</span>
				  			<input class="form-control" stringOnly type="text" name="contractorStatus" id="contractorStatus" placeholder="거래처 업태" th:value="${c.contractorStatus}"/>
				  		</div>
					</div>			
					<div class="justify-content-end modifyForm card cardColor input-group" style="margin:10px">
						<div class="contractorLabel">
							<label>| 거래처 연락 정보 |</label>							
						</div>
				  		<div id="contractorAddr" class="input-group">
				  			<span class="input-group-text">거래처 주소</span>
				  			<input class="form-control" type="text" name="contractorAddr" id="contractorAddr" placeholder="거래처 주소" th:value="${c.contractorAddr}"/>
				  		</div>
				 		<div id="contractorPhone" class="input-group">
				 			<span class="input-group-text">거래처 전화번호</span>
				 			<input class="form-control" telOnly type="text" name="contractorPhone" id="contractorPhone" placeholder="거래처 전화번호" th:value="${c.contractorPhone}"/>
				 		</div>
				 		<div id=contractorEmail class="input-group">
				  			<span class="input-group-text">거래처 이메일</span>
				  			<input class="form-control" numOnly type="text" name="contractorEmail" id="contractorEmail" placeholder="거래처 이메일" th:value="${c.contractorEmail}"/>
				  		</div>
				  		<div id="contractorFax" class="input-group">
				  			<span class="input-group-text">거래처 Fax</span>
				  			<input class="form-control" telOnly type="text" name="contractorFax" id="contractorFax" placeholder="거래처 Fax" th:value="${c.contractorFax}"/>
				  		</div>
					</div>			
				</div>
				<div class="d-flex" th:if="${not #lists.isEmpty(k3DetailContractor)}"   th:each="c:${k3DetailContractor}">
					<div class="justify-content-start modifyForm card cardColor input-group" style="margin:10px">
						<div class=" contractorLabel">
							<label>| 거래처 담당자 정보 |</label>							
						</div>
				  		<div id="contractorSuperviser" class=" input-group">
				  			<span class="input-group-text">거래처 담당자</span>
				  			<input class="form-control" stringOnly type="text" name="contractorSuperviser" id="contractorSuperviser" placeholder="거래처 담당자" th:value="${c.contractorSuperviser}"/>
				  		</div>
				  		<div id="contractorSuperviserPhone" class=" input-group">
				  			<span class="input-group-text">담당자 연락처</span>
				  			<input class="form-control" numOnly telOnly type="text" name="contractorSuperviserPhone" id="contractorSuperviserPhone" placeholder="담당자 연락처" th:value="${c.contractorSuperviserPhone}"/>
				  		</div>
				  		<div id="contractorSuperviserEmail" class=" input-group">
				  			<span class="input-group-text">담당자 이메일</span>
				  			<input class="form-control" email type="text" name="contractorSuperviserEmail" id="contractorSuperviserEmail" placeholder="담당자 이메일" th:value="${c.contractorSuperviserEmail}"/>
				  		</div>
					</div>
					<div class="justify-content-end modifyForm card cardColor input-group" style="margin:10px">
						<div class=" contractorLabel">
							<label>| 거래처 은행 정보 |</label>							
						</div>
				  		<div id="contractorProfitBank" class=" input-group">
				  			<span class="input-group-text">거래처 은행명</span>
				  			<input class="form-control" stringOnly type="text" name="contractorProfitBank" id="contractorProfitBank" placeholder="거래처 은행명" th:value="${c.contractorProfitBank}"/>
				  		</div>
				  		<div id="contractorProfitAccount" class=" input-group">
				  			<span class="input-group-text">거래처 계좌번호</span>
				  			<input class="form-control" telOnly type="text" name="contractorProfitAccount" id="contractorProfitAccount" placeholder="거래처 계좌번호" th:value="${c.contractorProfitAccount}"/>
				  		</div>
				  		<div id="contractorAccountHolder" class=" input-group">
				  			<span class="input-group-text">거래처 예금주</span>
				  			<input class="form-control" stringOnly type="text" name="contractorAccountHolder" id="contractorAccountHolder" placeholder="거래처 예금주" th:value="${c.contractorAccountHolder}"/>
				  		</div>
					</div>
				</div>
				<div class="d-flex justify-content-center" style="padding-top:20px; border-top: 1px solid #D8D8D8">
					<a class="ahsbtn4 btn btn-block bg-gradient-warning" id="cancleModifyContractorBtn" type="button" th:href="@{k3SearchContractor}">수정취소</a>
					<button class="ahsbtn4 btn btn-outline-info" id="modifyContractorBtn" type="submit">수정</button>
				</div>
			</form>
		</div>
	</th:block>
</html>