<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
   <th:block layout:fragment="customTitle">
      <title th:text="${title}"></title>
   </th:block>
	<th:block layout:fragment="customCss">
		<link rel="stylesheet" th:href="@{/css/common.css}">
		<link rel="stylesheet" th:href="@{/css/eunbin.css}">
	</th:block>
	<th:block layout:fragment="customJs">
		<script type="text/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" ></script>
		<script>
			$(function(){
				<!-- 거래처 삭제처리(체크박스) -->
				$('#checkDeleteContractor').on('click',function(){
	
					var url = "/team03/contractorContract/Contractor/k3SearchContractor";
					var removeContractorArr = new Array();
					var list = $("input[name=checkContract]");
					
					console.log("변수내부 확인  list : "+ list +"확인끝");
					
					for(var i = 0; i < list.length; i++){
						if(list[i].checked){
							removeContractorArr.push(list[i].value);
						}
					}
					if(removeContractorArr.length == 0){
						swal("선택한 글이 없습니다.","삭제를 원하는 거래처 정보에 체크해주세요!","error");
					}else{
						swal({
							title: "정말 삭제하시겠습니까?",
							text: "한번 삭제한 거래처 정보는 복구할 수 없습니다.",
							icon: "warning",
							buttons: {
								confirm: {
									text: "네.삭제할게요",
									value: true,
									visible: true,
									className: "btn btn-outline-info ",
									closeModal: true,
								},
								cancel: {
									text: "아니요",
									value: null,
									visible: true,
									className: "btn btn-outline-info ",
									closeModal: true
								}
							}
						})
						.then(function (value){
							if(value){
								$.ajax({
									url : url,
									type : 'POST',
									traditional : true,
									data : { removeContractorArr : removeContractorArr },
									success : function(data){
										if(data){
											swal("삭제 성공:)","선택하신 거래처가 삭제되었습니다.","success");
		 									// delete row that deleted
		 									$('td[rel=contractorCode]').each(function() {
		 										if($.trim($(this).text()) == removeContractorArr) {
		 											$(this).parents('tr').remove();
		 										}
		 									
		 									})
										}
										else{
											swal("삭제 실패TT","선택하신 거래처를 삭제하는데 실패하였습니다.","error");
										}
									}
								});
							}else{
								swal("삭제 취소","정상적으로 취소 되었습니다.","error");
							}
						})
					}
				});
				<!--END 거래처 삭제처리(체크박스) -->						

				<!-- 거래처 삭제처리(버튼) -->	
				$('.deleteContractorBtn').on('click',function(){
	
					var url = "/team03/contractorContract/Contractor/k3SearchContractor";
					var deleteContractorCode = $(this).attr('data-deleteContractorCode');
					console.log("변수내부 확인 deleteContractorCode : " + deleteContractorCode + "확인끝");
					swal({
						title: "정말 삭제하시겠습니까?",
						text: "한번 삭제한 거래처 정보는 복구할 수 없습니다.",
						icon: "warning",
						buttons: {
							confirm: {
								text: "네.삭제할게요",
								value: true,
								visible: true,
								className: "btn btn-outline-info",
								closeModal: true,
							},
							cancel: {
								text: "아니요",
								value: null,
								visible: true,
								className: "btn btn-outline-info",
								closeModal: true
							}
						}
					})
					.then(function (value){
						if(value){
							$.ajax({
								url : url,
								type : 'POST',
								traditional : true,
								data : { "deleteContractorCode" : deleteContractorCode },
								success : function(data){
									if(data){
										swal("삭제 성공:)","선택하신 거래처가 삭제되었습니다.","success");
	 									$('td[rel=contractorCode]').each(function() {
	 										if($.trim($(this).text()) == deleteContractorCode) {
	 											$(this).parents('tr').remove();
	 										}
	 									
	 									})
									}
									else{
										swal("삭제 실패TT","선택하신 거래처를 삭제하는데 실패하였습니다.","error");
									}
								}
							});
						}else{
							swal("삭제 취소","정상적으로 취소 되었습니다.","error");
						}
					});
				});			
				<!--END 거래처 삭제처리(버튼) -->	
				<!-- 검색된 거래처 경로설정 -->		
				/*<![CDATA[*/
				var searchKey = "[[${searchKey}]]";
				var searchValue = "[[${searchValue}]]";
				var contractorRegistrationDateStart = "[[${contractorRegistrationDateStart}]]";
				var contractorRegistrationDateEnd = "[[${contractorRegistrationDateEnd}]]";
				var num = "[[${num}]]";
				num *= 1;
				var currentPage = [[${currentPage}]];
				var previous = [[${currentPage}]]-1;
				var next = [[${currentPage}]]+1;
				/*]]>*/
				console.log("변수확인 num : " + num);
				console.log("변수확인 previous : " + previous);
				console.log("변수확인 next : " + next);
				console.log("변수 확인 searchKey : " + searchKey);
				console.log("변수 확인 searchValue : " + searchValue);
					
				if(searchValue != null){
					$('.searchDateForm').attr('action','k3SearchContractor?searchKey=' + searchKey + '&searchValue=' + searchValue);
	
				}
				else if(contractorRegistrationDateStart != null && contractorRegistrationDateEnd != null){
					$('.searchDateForm').attr('action','k3SearchContractor?&contractorRegistrationDateStart=' + contractorRegistrationDateStart + '&contractorRegistrationDateEnd=' + contractorRegistrationDateEnd);
				}
				else if(searchValue != null && contractorRegistrationDateStart != null && contractorRegistrationDateEnd != null){
					$('.searchDateForm').attr('action','k3SearchContractor?searchKey=' + searchKey + '&searchValue=' + searchValue +'&contractorRegistrationDateStart=' + contractorRegistrationDateStart + '&contractorRegistrationDateEnd=' + contractorRegistrationDateEnd);
				}
				<!-- END 검색된 거래처 경로설정 -->		
				
				
				<!-- 거래처 상세정보 모달창 스크립트 -->				
				$('.showDetailContractor').on('click',function(){
					console.log("모달창 클릭이벤트 확인");
					var contractorCode = $(this).attr('data-contractorCode');
					console.log("모달창 변수내부 확인 contractorCode : "+ contractorCode + "확인끝");
	
					$.ajax({ 
						url: "/team03/contractorContract/Contractor/k3SearchContractorAjax", 
						type:"GET", 
						data: {"contractorCode": contractorCode},
						dataType:'json', 
						success:function(response){ 
							console.log(JSON.stringify(response));
							console.log(response.contractorCode)
							showList(response); 
						} 
					});
						console.log(contractorCode);
						
				}); 
				function showList(data){ 
					var tmodal = ''; 
					console.log('data=>'+JSON.stringify(data))
					$("#tmodal").empty();
					tmodal += '<tr><th>거래처 사업장 코드</th><td rel="contractorCode">'+ data.contractorCode +'</td>';
					tmodal += '<th>거래처 상호명</th><td>'+ data.contractorName +'</td></tr>';
					
					tmodal += '<tr><th>거래처 사업자등록번호</th><td>'+ data.contractorBusinessNum +'</td>';
					tmodal += '<th>사업장별 대표코드</th><td>'+ data.mainBusinessCode +'</td></tr>';
					
					tmodal += '<tr><th>거래 구분</th><td>'+ data.contractorDevision +'</td>';
					tmodal += '<th>거래처 유형</th><td>'+ data.contractorType +'</td></tr>';
					
					tmodal += '<tr><th>거래처 종목</th><td>'+ data.contractorItem +'</td>';
					tmodal += '<th>거래처 업태</th><td>'+ data.contractorStatus +'</td></tr>';
					
					tmodal += '<tr><th>거래처 대표자명</th><td>'+ data.contractorRepresentative +'</td>';
					tmodal += '<th>거래처 종사업장번호</th><td>'+ data.contractorBusinessClientNum +'</td></tr>';
					
					tmodal += '<tr><th>거래처 주소</th><td>'+ data.contractorAddr +'</td>';
					tmodal += '<th>거래처 전화번호</th><td>'+ data.contractorPhone +'</td></tr>';
					
					tmodal += '<tr><th>거래처 이메일</th><td>'+ data.contractorEmail;
					tmodal += '<th>거래처 담당자</th><td>'+ data.contractorSuperviser +'</td></tr>';
					
					tmodal += '<tr><th>담당자 연락처</th><td>'+ data.contractorSuperviserPhone +'</td>';
					tmodal += '<th>담당자 이메일</th><td>'+ data.contractorSuperviserEmail +'</td></tr>';
					
					tmodal += '<tr><th>거래처 Fax</th><td>'+ data.contractorFax +'</td>';
					tmodal += '<th>거래처 은행명</th><td>'+ data.contractorProfitBank +'</td></tr>';
					
					tmodal += '<tr><th>거래처 계좌번호</th><td>'+ data.contractorProfitAccount +'</td>';
					tmodal += '<th>거래처 예금주</th><td>'+ data.contractorAccountHolder +'</td></tr>';
					
					tmodal += '<tr><th>거래처 아이디</th><td>'+ data.contractorId +'</td>';
					tmodal += '<th>거래처 비밀번호</th><td>'+ data.contractorPw +'</td></tr>';
					
					tmodal += '<tr><th>거래처 권한번호</th><td>'+ data.levelCode +'</td>';
					tmodal += '<th>거래처 계정 상태</th><td>'+ data.contractorState +'</td></tr>';
					
					tmodal += '<tr><th>등록직원아이디</th><td>'+ data.memberId +'</td>';
					tmodal += '<th>등록일자</th><td>'+ data.contractorRegistrationDate +'</td></tr>';
					
					
					$('.modifyModalBtn').attr('href','/team03/contractorContract/Contractor/k3ModifyContractor?contractorCode='+data.contractorCode);
	
					<!-- 거래처 삭제처리(모달버튼) -->	
					$('.deleteContractorModalBtn').on('click',function(){
						var url = "/team03/contractorContract/Contractor/k3SearchContractor";
						var deleteContractorCode = data.contractorCode;
						console.log("변수내부 확인 deleteContractorCode : " + deleteContractorCode + "확인끝");
						swal({
							title: "정말 삭제하시겠습니까?",
							text: "한번 삭제한 거래처 정보는 복구할 수 없습니다.",
							icon: "warning",
							buttons: {
								confirm: {
									text: "네.삭제할게요",
									value: true,
									visible: true,
									className: "btn btn-outline-info",
									closeModal: true,
								},
								cancel: {
									text: "아니요",
									value: null,
									visible: true,
									className: "btn btn-outline-info",
									closeModal: true
								}
							}
						})
						.then(function (value){
							if(value){						
								$.ajax({
									url : url,
									type : 'POST',
									traditional : true,
									data : { "deleteContractorCode" : deleteContractorCode },
									success : function(data){
										if(data){
											swal("삭제 성공:)","선택하신 거래처가 삭제되었습니다.","success");
		 									$('td[rel=contractorCode]').each(function() {
		 										if($.trim($(this).text()) == deleteContractorCode) {
		 											$(this).parents('tr').remove();
		 										}
		 									
		 									})
		 									
		 									// hide modal
		 									$('#detailContractorModal').modal('hide');	 									
										}
										else{
											swal("삭제 실패TT","선택하신 거래처를 삭제하는데 실패하였습니다.","error");
										}
									}
								});
							}else{
								swal("삭제 취소","정상적으로 취소 되었습니다..","error");
							}
						});
					});
					<!--END 거래처 삭제처리(모달버튼) -->	
					
					$("#tmodal").append(tmodal);
					$('#detailContractorModal').modal('show');
				}
				<!-- END 거래처 상세정보 모달창 스크립트 -->
			}); 
		</script>
	</th:block>

	<th:block layout:fragment="customContents"> 
		<!-- 콘텐츠 콘테이너 시작 -->
		<div class="container-fluid" >
			<!--버튼 영역 -->			
				<div class="d-flex justify-content-end">					
					<a class="btn btn-outline-info ahsbtn4" type="button" th:href="@{/team03/contractorContract/Contractor/k3AddContractor}">
						<i class="bi bi-file-earmark-plus"></i>
						등록
					</a>			
					<a class="btn btn-outline-info ahsbtn4" type="button">
						<i class="bi bi-printer"></i>
						출력
					</a>						
					<button id="checkDeleteContractor" class="btn btn-outline-info ahsbtn4" type="button">
						<i class="bi bi-trash"></i>
						삭제
					</button>			
				</div>	
			<!--End 버튼 영역 -->
			<!--거래처 검색 카드 영역 -->
			<div class="card cardColor">
				<!--card header -->
				<div class="card-header">
					거래처 검색
				</div>
				<!--End card header -->
				
				<!--card body -->
				<div class="card-body">
					<div class="row" style="margin: 12px">
						<!--inputbox 1 -->
						<div class="col-sm-5" style="padding-left: 0px">
							<form class="searchForm" th:action="@{/team03/contractorContract/Contractor/k3SearchContractor}" method="Get">
								<div class="input-group  d-flex justify-content-start">
									<div class="input-group-prepend">
										<select class="form-control" name="searchKey">
											<option value="contractorCode" selected th:selected="${searchKey} == contractorCode">거래처 사업장 코드</option>
											<option value="contractorName" th:selected="${searchKey} == contractorName">거래처 상호명</option>
											<option value="contractorItem" th:selected="${searchKey} == contractorItem">거래처 종목</option>
											<option value="contractorStatus" th:selected="${searchKey} == contractorStatus">거래처 업태</option>
											<option value="contractorDevision" th:selected="${searchKey} == contractorDevision">거래 구분</option>             
											<option value="contractorPhone" th:selected="${searchKey} == contractorPhone">거래처 전화번호</option>
											<option value="contractorId" th:selected="${searchKey} == contractorId">거래처아이디</option>
											<option value="contractorState" th:selected="${searchKey} == contractorState">거래처 계정상태</option>
											<option value="memberId" th:selected="${searchKey} == memberId">등록직원</option>
	        							</select>
	        						</div>
									<input type="text" class="form-control" placeholder="거래처정보입력" name="searchValue" th:value="${searchValue}">
									<div class=" input-group-append">
										<button id="searchDetailContractor" type="submit" class="btn btn-default searchContractor">
											<i class="fas fa-search icon"></i>
										</button>
									</div>
								</div>
							</form>
						</div>
						<!--End inputbox 1 -->
						<div  class="col-sm-1">
						</div>
						<!--inputbox 2 -->
						<div class="col-sm-6" style="padding-left: 0px">
							<form class="searchDateForm" th:action="@{/team03/contractorContract/Contractor/k3SearchContractorList}" method="Get" id="contractorSearchDate">
								<div class="input-group d-flex justify-content-end">
									<div class="input-group-prepend date" id="reservationdate" data-target-input="nearest">
										<input name="contractorRegistrationDateStart" value="contractorRegistrationDateStart" type="number" class="form-control datetimepicker-input"  data-target="#reservationdate" placeholder="yyyy-mm-dd" readonly>
										<div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
											<div class="input-group-text"><i class="fa fa-calendar"></i></div>
										</div>
									</div>
									<div style="margin:3px">
										<b>~</b>
									</div>
									<div class="input-group-prepend date" id="reservationdate2" data-target-input="nearest">
										<input name="contractorRegistrationDateEnd" value="contractorRegistrationDateEnd" type="number" class="form-control datetimepicker-input"   data-target="#reservationdate2" placeholder="yyyy-mm-dd" readonly>
										<div class="input-group-append" data-target="#reservationdate2" data-toggle="datetimepicker">
											<div class="input-group-text"><i class="fa fa-calendar"></i></div>
										</div>
									</div>
									<div class=" input-group-append">
										<button type="submit" class="searchContractorDate btn btn-default">
											<i class="fas fa-search icon"></i>
										</button>
									</div>
                   				</div>
							</form>
						</div>
						<!--End inputbox 2 -->
					</div>
					<!--End card body 묶음 -->
				</div>
			</div>
			<!--End 거래처 검색 카드 영역 -->
			<!--조회 카드 영역 -->
			<div class="card cardColor" >
				<!--card header -->
				<div class="card-header">
					거래처 목록
				</div>
				<!-- End card header -->
				<!--card body -->
				<div class="card-body"  style="text-align:center">
					<table class="table table-head-fixed table-responsive table-hover text-nowrap" style="overflow: auto">
						<thead>
						<tr>
							<th>
								<input type="checkbox" name="checkContract"/>
							</th>
							<th>상세정보</th>						            
							<th>수정</th>
							<th>삭제</th>						            
				            <th>거래처 사업장 코드</th>
				            <th>거래처 상호명</th>
				            <th>거래처 업태</th>
				            <th>거래처 종목</th>
				            <th>거래 구분</th>
				            <th>거래처 전화번호</th>
				            <th>거래처 아이디</th>
				            <th>거래처 계정 상태</th>
				            <th>등록직원아이디</th>
				            <th>등록일자</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${not #lists.isEmpty(contractorList)}" th:each="c:${contractorList}">
							<td>
								<label>
									<input name="checkContract" type="checkbox"  th:value="${c.contractorCode}"/>
								</label>
							</td>
							<td>
								<a href="#"  type="button" class="btn btn-default btn-sm showDetailContractor" th:data-contractorCode="${c.contractorCode}">
									<i class="bi bi-eye"></i>
								</a>
							</td>										
							<td>
								<a id="modifyContractor" type="button"  class="btn btn-default btn-sm" th:href="@{/team03/contractorContract/Contractor/k3ModifyContractor(contractorCode=${c.contractorCode})}">
									<i class="fas fa-pencil-alt icon"></i>
								</a>
							</td>
							<td>
								<button type="button" class="deleteContractorBtn btn btn-default btn-sm" th:data-deleteContractorCode="${c.contractorCode}" >
									<i class="bi bi-trash-fill"></i>
								</button>
							</td>
							<td name="contractorCode" rel="contractorCode" th:text="${c.contractorCode}"></td>
							<td  th:text="${c.contractorName}"></td>
							<td  th:text="${c.contractorStatus}"></td>
							<td  th:text="${c.contractorItem}"></td>
							<td  th:text="${c.contractorDevision}"></td>
							<td  th:text="${c.contractorPhone}"></td>
							<td  th:text="${c.contractorId}"></td>
							<td  th:text="${c.contractorState}"></td>
							<td  th:text="${c.memberId}"></td>
							<td  th:text="${c.contractorRegistrationDate}"></td>
						</tr>
						<tr th:unless="${not #lists.isEmpty(contractorList)}">
							<td colspan="4">
								등록된 거래처가 없습니다.
							</td>
						</tr>							
					</tbody>						
					</table>
					<ul class="pagination d-flex justify-content-center align-items-center"  style="margin-top:15px;">
						<li class="paginate_button page-item previous" id="contractorList_previous">
							<a th:if="${currentPage > 1} and ${searchValue} != null" id="contractorListPreviousA" th:href="@{k3SearchContractor(currentPage=${currentPage-1},searchKey=${searchKey},searchValue=${searchValue})}" aria-controls="contractorList" class="page-link">
								이전
							</a>
							<a th:if="${currentPage > 1} and ${contractorRegistrationDateStart} != null and ${contractorRegistrationDateEnd} != null" id="contractorListPreviousA" th:href="@{k3SearchContractor(currentPage=${currentPage-1},contractorRegistrationDateStart=${contractorRegistrationDateStart},contractorRegistrationDateEnd=${contractorRegistrationDateEnd})}" aria-controls="contractorList" class="page-link">
								이전
							</a>
							<a th:if="${currentPage > 1} and ${searchValue} == null and ${contractorRegistrationDateStart} == null and ${contractorRegistrationDateEnd} == null" id="contractorListPreviousA" th:href="@{k3SearchContractor(currentPage=${currentPage-1})}" aria-controls="contractorList" class="page-link">
								이전
							</a>
						</li>
						<li class="paginate_button page-item" id="contractorList_current" th:each="num : ${#numbers.sequence(startPageNum, endPageNum)}">
							<a  th:if="${num != currentPage} and ${contractorRegistrationDateStart} != null and ${contractorRegistrationDateEnd} != null" id="contractorListCurrentA" th:href="@{k3SearchContractor(currentPage=${num},contractorRegistrationDateStart=${contractorRegistrationDateStart},contractorRegistrationDateEnd=${contractorRegistrationDateEnd})}" th:text="${num}"  aria-controls="contractorList" class="page-link"></a>
							<a  th:if="${num != currentPage} and ${searchValue} == null and ${contractorRegistrationDateStart} == null and ${contractorRegistrationDateEnd} == null" id="contractorListCurrentA" th:href="@{k3SearchContractor(currentPage=${num})}" th:text="${num}"  aria-controls="contractorList" class="page-link"></a>
							<span  th:unless="${num != currentPage}" style="background-color:#BDBDBD" aria-controls="contractorList" class="page-link" th:text="${num}"></span>
						</li>
					    <li class="paginate_button page-item next" id="contractorList_next">
							<a th:if="${currentPage < lastPage} and ${searchValue} != null" id="contractorListNextA" th:href="@{k3SearchContractor(currentPage=${currentPage+1},searchKey=${searchKey},searchValue=${searchValue})}" aria-controls="contractorList" class="page-link">
								다음
							</a>
							<a th:if="${currentPage < lastPage} and ${contractorRegistrationDateStart} != null and ${contractorRegistrationDateEnd} != null" id="contractorListNextA" th:href="@{k3SearchContractor(currentPage=${currentPage+1},contractorRegistrationDateStart=${contractorRegistrationDateStart},contractorRegistrationDateEnd=${contractorRegistrationDateEnd})}" aria-controls="contractorList" class="page-link">
								다음
							</a>
							<a th:if="${currentPage < lastPage} and ${searchValue} == null and ${contractorRegistrationDateStart} == null and ${contractorRegistrationDateEnd} == null" id="contractorListNextA" th:href="@{k3SearchContractor(currentPage=${currentPage+1})}" aria-controls="contractorList" class="page-link">
								다음
							</a>
					    </li>
					</ul>
				</div>
				<!--End card body -->
			</div>
			<!--End 조회 카드 영역 -->
		</div>
		<!-- End 콘텐츠 콘테이너 -->
		
		<!-- 거래처 상세 정보 모달창 -->
		<div class="modal" style="text-align: center" id="detailContractorModal" tabindex="-1"  role="dialog" aria-labelledby="detailContractorModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title font-weight-bold" style="color:#3F72AF">거래처 상세정보</h5>
						<a type="button" class="btn-close" data-dismiss="modal"  aria-label="Close">
							<i class="bi bi-x-circle"></i>
						</a>
					</div>
					<div class="modal-body">
						<div class=" card card-body bg-light container-fluid" id="modifyContractor">
							<table id="tmodal" class="table table-striped table-hover">
	               
							</table>
						</div>
					</div>
					<div class="modal-footer">
						<a class="ahsbtn2 btn btn-outline-info modifyModalBtn">
							<i class="bi bi-pencil"></i>
							수정
						</a>
						<a class="ahsbtn2 btn btn-outline-info deleteContractorModalBtn">
							<i class="bi bi-trash"></i>
							삭제
						</a>
						<a class="ahsbtn2 btn btn-outline-info">
							<i class="bi bi-printer"></i>
							출력
						</a>               
					</div>
				</div>
			</div>
		</div>
	   <!--END 거래처 상세 정보 모달창 -->
	</th:block>
