<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	<th:block layout:fragment="customJs">

		<script type="text/javascript">
			$(document).ready(function(){ 
				$('.searchDetailContractor').click(function(){
					var contractorCode = $(this).attr('data-contractorCode');
					$.ajax({ 
						url: "/team03/contractorContract/Contractor/k3SearchContractor", 
						type:"POST", 
						data: {"contractorCode": contractorCode},
						dataType:'json', 
						success:function(response){ 
							console.log(JSON.stringify(response));
							console.log(response.contractorCode)
							showList(response); 
						} 
					});
						console.log(contractorCode);
				}); 
				
				function showList(data){ 
					var tmodal = ''; 
					$("#tmodal").empty();
					tmodal += '<tr><th>거래처 사업장 코드</th> <td>'+ data.contractorCode +'</td></tr>';
					tmodal += '<td>'+ data.contractorName +'</td>';
					tmodal += '<td>'+ data.contractorBusinessNum +'</td>';
					tmodal += '<td>'+ data.mainBusinessCode +'</td>';
					tmodal += '<td>'+ data.contractorDevision +'</td>';
					tmodal += '<td>'+ data.contractorType +'</td>';
					tmodal += '<td>'+ data.contractorItem +'</td>';
					tmodal += '<td>'+ data.contractorStatus +'</td>';
					tmodal += '<td>'+ data.contractorRepresentative +'</td>';
					tmodal += '<td>'+ data.contractorBusinessClientNum +'</td>';
					tmodal += '<td>'+ data.contractorAddr +'</td>';
					tmodal += '<td>'+ data.contractorPhone +'</td>';
					tmodal += '<td>'+ data.contractorEmail;
					tmodal += '<td>'+ data.contractorSuperviser +'</td>';
					tmodal += '<td>'+ data.contractorSuperviserPhone +'</td>';
					tmodal += '<td>'+ data.contractorSuperviserEmail +'</td>';
					tmodal += '<td>'+ data.contractorFax +'</td>';
					tmodal += '<td>'+ data.contractorProfitBank +'</td>';
					tmodal += '<td>'+ data.contractorProfitAccount +'</td>';
					tmodal += '<td>'+ data.contractorAccountHolder +'</td>';
					tmodal += '<td>'+ data.contractorId +'</td>';
					tmodal += '<td>'+ data.contractorPw +'</td>';
					tmodal += '<td>'+ data.levelCode +'</td>';
					tmodal += '<td>'+ data.contractorState +'</td>';
					tmodal += '<td>'+ data.memberId +'</td>';
					tmodal += '<td>'+ data.contractorRegistrationDate +'</td>';
					$("#tmodal").append(tmodal);
					$('#detailContractorModal').modal('show');
				}
			}); 
	
		</script>
	</th:block>

	<th:block layout:fragment="customContents"> 
		<div id="representative-button">
			<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid">
					<!--거래처 검색 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header">
							거래처 검색
						</div>
						<!--End card header -->
						<!--card body -->
						<div class="card-body">
							<div class="row" style="margin: 12px">
								<!--inputbox 1 -->
								<div class="col-sm-6" style="padding-left: 0px">
									<div class="input-group">
										<div class="input-group-prepend">
											<select class="form-control">
												<option selected>통합검색</option>
												<option>거래처 사업장 코드</option>
												<option>거래처 상호명</option>
												<option>거래처 종목</option>
												<option>거래처 업태</option>
												<option>거래 구분</option>             
												<option>거래처 전화번호</option>
												<option>거래처아이디</option>
												<option>거래처 계정상태</option>
												<option>등록직원</option>
	         								</select>
	         							</div>
										<input type="text" class="form-control" placeholder="거래처정보입력">
										<div class=" input-group-append">
											<button type="button" class="ahsbtn2 btn btn-outline-info" for="searchContract">검색</button>
										</div>
									</div>
								</div>
								<!--End inputbox 1 -->
								<!--inputbox 2 -->
								<div class="col-sm-6" style="padding-left: 0px">
									<div class="input-group">
										<div class="input-group-prepend date" id="reservationdate" data-target-input="nearest">
											<input type="text" class="form-control datetimepicker-input" style="width:130px" data-target="#reservationdate" placeholder="시작날짜선택">
											<div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
												<div class="input-group-text"><i class="fa fa-calendar"></i></div>
											</div>
										</div>
										<div class="input-group-prepend date" id="reservationdate2" data-target-input="nearest">
											<input type="text" class="form-control datetimepicker-input"  style="width:130px"  data-target="#reservationdate2" placeholder="종료날짜선택">
											<div class="input-group-append" data-target="#reservationdate2" data-toggle="datetimepicker">
												<div class="input-group-text"><i class="fa fa-calendar"></i></div>
											</div>
										</div>
										<button type="button" class="ahsbtn3 btn btn-outline-info">등록날짜조회</button>
	                    			</div>
								</div>
								<!--End inputbox 2 -->
	 						</div>
						</div>					
	 					<!--End card body 묶음 -->
					</div>
					<!--End 거래처 검색 카드 영역 -->
					<!--조회 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header">
							거래처 목록
						</div>
						<!-- End card header -->
						<!--card body -->
						<div class="card-body table-responsive p-0 table-hover" style="height: 300px;">
							<table class="table table-head-fixed text-nowrap">
								<thead>
								<tr>
						            <th>선택</th>
									<th>수정</th>
									<th>상세정보</th>						            
						            <th>거래처 사업장 코드</th>
						            <th>거래처 상호명</th>
						            <th>거래처 종목</th>
						            <th>거래처 업태</th>
						            <th>거래 구분</th>
						            <th>거래처 전화번호</th>
						            <th>등록일자</th>
						            <th>거래처 아이디</th>
						            <th>거래처 계정 상태</th>
						            <th>등록직원아이디</th>

								</tr>
							</thead>
								<tbody>
									<tr th:if="${not #lists.isEmpty(contractorList)}" th:each="c:${contractorList}">
										<td>
												<label>
													<input id="removeContract" type="checkbox"/>&nbsp; &nbsp;
												</label>
										</td>
										<td>
											<a id="modifyContractor" th:href="@{/team03/contractorContract/Contractor/k3ModifyContractor}">
												수정
											</a>
										</td>
										<td>
											<button class="searchDetailContractor" th:data-contractorCode="${c.contractorCode}">
												상세조회
											</button>
										</td>										
										<td  th:text="${c.contractorCode}"></td>
										<td  th:text="${c.contractorName}"></td>
										<td  th:text="${c.contractorItem}"></td>
										<td  th:text="${c.contractorStatus}"></td>
										<td  th:text="${c.contractorDevision}"></td>
										<td  th:text="${c.contractorPhone}"></td>
										<td  th:text="${c.contractorRegistrationDate}"></td>
										<td  th:text="${c.contractorId}"></td>
										<td  th:text="${c.contractorState}"></td>
										<td  th:text="${c.memberId}"></td>
									</tr>
								</tbody>						
							</table>
						</div>
						<!--End card body -->
					</div>
					<!--End 조회 카드 영역 -->
					<!--버튼 영역 -->
					<div class="row" style="margin:15px;">
						<button type="button" class="ahsbtn1 btn btn-outline-info deleteBtn">삭제</button>
						<button type="button" class="ahsbtn1 btn btn-outline-info">출력</button>					
						<a th:href="@{/team03/contractorContract/Contractor/k3AddContractor}" id="moveAddPage">등록페이지로 이동 --></a>					
					</div>
					<!--End 버튼 영역 -->
					
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
		</div>
	
	<!-- 거래처 상세 정보 모달창 -->
	<div class="modal" id="detailContractorModal" tabindex="-1"  role="dialog" aria-labelledby="detailContractorModalLabel"
     aria-hidden="true">
		  <div class="modal-dialog-scrollable modal-lg">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">거래처 상세정보</h5>
		        <button type="button" class="btn-close" data-dismiss="modal"  aria-label="Close">x</button>
		      </div>
		      <div class="modal-body">
				<div class=" card card-body container-fluid" id="modifyContractor">
					<table>
						<thead>
							<tr>
					            <th>거래처 사업장 코드</th>
					            <th>거래처 상호명</th>
					            <th>거래처 사업자등록번호</th>
					            <th>사업장별 대표코드</th>
					            <th>거래 구분</th>
					            <th>거래처 유형</th>
					            <th>거래처 종목</th>
					            <th>거래처 업태</th>
					            <th>거래처 대표자명</th>
					            <th>거래처 종사업장번호</th>
					            <th>거래처 주소</th>
					            <th>거래처 전화번호</th>
					            <th>거래처 이메일</th>
					        	<th>거래처 담당자</th>
					            <th>담당자 연락처</th>
					            <th>담당자 이메일</th>
					            <th>거래처 Fax</th>
					            <th>거래처 은행명</th>
					            <th>거래처 계좌번호</th>
					            <th>거래처 예금주</th>
					            <th>거래처 아이디</th>
					            <th>거래처 비밀번호</th>
					            <th>거래처 권한번호</th>
					            <th>거래처 계정 상태</th>
					            <th>등록직원아이디</th>
					            <th>등록일자</th>
							</tr>
						</thead>
						<tbody>
							<tr id="tmodal">
							</tr>
						</tbody>
					</table>
				</div>
		      </div>
		      <div class="modal-footer">
				<button type="button" class="ahsbtn1 btn btn-outline-info modifyBtn">수정</button>
				<button type="button" class="ahsbtn1 btn btn-outline-info deleteBtn">삭제</button>
				<button type="button" class="ahsbtn1 btn btn-outline-info">출력</button>					
		      </div>
		    </div>
		  </div>
		</div>
	<!--END 거래처 상세 정보 모달창 -->
	</th:block>
</html>
