<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	<th:block layout:fragment="customContents"> 
		<div id="representative-button">
			<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid">
					<!--거래처 검색 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header">
							거래처 검색
						</div>
						<!--End card header -->
						<!--card body -->
						<div class="card-body">
							<div class="row" style="margin: 12px">
								<!--inputbox 1 -->
								<div class="col-sm-6" style="padding-left: 0px">
									<div class="input-group">
										<div class="input-group-prepend">
											<select class="form-control">
												<option selected>통합검색</option>
												<option>거래처 사업장 코드</option>
												<option>거래처 상호명</option>
												<option>거래처 종목</option>
												<option>거래처 업태</option>
												<option>거래 구분</option>             
												<option>거래처 전화번호</option>
												<option>거래처아이디</option>
												<option>거래처 계정상태</option>
												<option>등록직원</option>
	         								</select>
	         							</div>
										<input type="text" class="form-control" placeholder="거래처정보입력">
										<div class=" input-group-append">
											<button type="button" class="ahsbtn2 btn btn-outline-info" for="searchContract">검색</button>
										</div>
									</div>
								</div>
								<!--End inputbox 1 -->
								<!--inputbox 2 -->
								<div class="col-sm-6" style="padding-left: 0px">
									<div class="input-group">
										<div class="input-group-prepend date" id="reservationdate" data-target-input="nearest">
											<input type="text" class="form-control datetimepicker-input" style="width:130px" data-target="#reservationdate" placeholder="시작날짜선택">
											<div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
												<div class="input-group-text"><i class="fa fa-calendar"></i></div>
											</div>
										</div>
										<div class="input-group-prepend date" id="reservationdate2" data-target-input="nearest">
											<input type="text" class="form-control datetimepicker-input"  style="width:130px"  data-target="#reservationdate2" placeholder="종료날짜선택">
											<div class="input-group-append" data-target="#reservationdate2" data-toggle="datetimepicker">
												<div class="input-group-text"><i class="fa fa-calendar"></i></div>
											</div>
										</div>
										<button type="button" class="ahsbtn3 btn btn-outline-info">등록날짜조회</button>
	                    			</div>
								</div>
								<!--End inputbox 2 -->
	 						</div>
						</div>					
	 					<!--End card body 묶음 -->
					</div>
					<!--End 거래처 검색 카드 영역 -->
					<!--조회 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header">
							거래처 목록
						</div>
						<!-- End card header -->
						<!--card body -->
						<div class="card-body table-responsive p-0 table-hover" style="height: 300px;">
							<table class="table table-head-fixed text-nowrap">
								<thead>
								<tr>
						            <th>선택</th>
									<th>수정</th>
									<th>상세정보</th>						            
						            <th>거래처 사업장 코드</th>
						            <th>거래처 상호명</th>
						            <th>거래처 종목</th>
						            <th>거래처 업태</th>
						            <th>거래 구분</th>
						            <th>거래처 전화번호</th>
						            <th>등록일자</th>
						            <th>거래처 아이디</th>
						            <th>거래처 계정 상태</th>
						            <th>등록직원아이디</th>

								</tr>
							</thead>
								<tbody>
									<tr th:if="${not #lists.isEmpty(contractorList)}" th:each="c:${contractorList}">
										<td>
												<label>
													<input id="removeContract" type="checkbox"/>&nbsp; &nbsp;
												</label>
										</td>
										<td>
											<a id="modifyContractor" th:href="@{/team03/contractorContract/Contractor/k3ModifyContractor}">
												수정
											</a>
										</td>
										<td>
											<a id="searchDetailContractor" href="#detailContractorModal" data-toggle="modal" data-target="#detailContractorModal" >
												상세조회
											</a>
										</td>										
										<td  th:text="${c.contractorCode}"></td>
										<td  th:text="${c.contractorName}"></td>
										<td  th:text="${c.contractorItem}"></td>
										<td  th:text="${c.contractorStatus}"></td>
										<td  th:text="${c.contractorDevision}"></td>
										<td  th:text="${c.contractorPhone}"></td>
										<td  th:text="${c.contractorRegistrationDate}"></td>
										<td  th:text="${c.contractorId}"></td>
										<td  th:text="${c.contractorState}"></td>
										<td  th:text="${c.memberId}"></td>
									</tr>
								</tbody>						
							</table>
						</div>
						<!--End card body -->
					</div>
					<!--End 조회 카드 영역 -->
					<!--버튼 영역 -->
					<div class="row" style="margin:15px;">
						<button type="button" class="ahsbtn1 btn btn-outline-info deleteBtn">삭제</button>
						<button type="button" class="ahsbtn1 btn btn-outline-info">출력</button>					
						<a th:href="@{/team03/contractorContract/Contractor/k3AddContractor}" id="moveAddPage">등록페이지로 이동 --></a>					
					</div>
					<!--End 버튼 영역 -->
					
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
		</div>
	
	</th:block>
	<!-- 거래처 상세 정보 모달창 -->
	<div class="modal" id="detailContractorModal" tabindex="-1"  role="dialog" aria-labelledby="detailContractorModalLabel"
     aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">거래처 상세정보</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
		      </div>
		      <div class="modal-body">
				<div class=" card card-body container-fluid" id="modifyContractor">
					<table>
						<thead>
							<tr>
					            <th>거래처 사업장 코드</th>
					            <th>거래처 상호명</th>
					            <th>거래처 사업자등록번호</th>
					            <th>사업장별 대표코드</th>
					            <th>거래 구분</th>
					            <th>거래처 유형</th>
					            <th>거래처 종목</th>
					            <th>거래처 업태</th>
					            <th>거래처 대표자명</th>
					            <th>거래처 종사업장번호</th>
					            <th>거래처 주소</th>
					            <th>거래처 전화번호</th>
					            <th>거래처 이메일</th>
					            <th>거래처 담당자</th>
					            <th>담당자 연락처</th>
					            <th>담당자 이메일</th>
					            <th>거래처 Fax</th>
					            <th>거래처 은행명</th>
					            <th>거래처 계좌번호</th>
					            <th>거래처 예금주</th>
					            <th>거래처 아이디</th>
					            <th>거래처 비밀번호</th>
					            <th>거래처 권한번호</th>
					            <th>거래처 계정 상태</th>
					            <th>등록직원아이디</th>
					            <th>등록일자</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td  th:text="${c.contractorCode}"></td>
								<td  th:text="${c.contractorName}"></td>
								<td  th:text="${c.contractorBusinessNum}"></td>
								<td  th:text="${c.mainBusinessCode}"></td>
								<td  th:text="${c.contractorDevision}"></td>
								<td  th:text="${c.contractorType}"></td>
								<td  th:text="${c.contractorItem}"></td>
								<td  th:text="${c.contractorStatus}"></td>
								<td  th:text="${c.contractorRepresentative}"></td>
								<td  th:text="${c.contractorBusinessClientNum}"></td>
								<td  th:text="${c.contractorAddr}"></td>
								<td  th:text="${c.contractorPhone}"></td>
								<td  th:text="${c.contractorEmail}"></td>
								<td  th:text="${c.contractorSuperviser}"></td>
								<td  th:text="${c.contractorSuperviserPhone}"></td>
								<td  th:text="${c.contractorSuperviserEmail}"></td>
								<td  th:text="${c.contractorFax}"></td>
								<td  th:text="${c.contractorProfitBank}"></td>
								<td  th:text="${c.contractorProfitAccount}"></td>
								<td  th:text="${c.contractorAccountHolder}"></td>
								<td  th:text="${c.contractorId}"></td>
								<td  th:text="${c.contractorPw}"></td>
								<td  th:text="${c.levelCode}"></td>
								<td  th:text="${c.contractorState}"></td>
								<td  th:text="${c.memberId}"></td>
								<td  th:text="${c.contractorRegistrationDate}"></td>
							</tr>
						</tbody>
					</table>
				</div>
		      </div>
		      <div class="modal-footer">
				<button type="button" class="ahsbtn1 btn btn-outline-info modifyBtn">수정</button>
				<button type="button" class="ahsbtn1 btn btn-outline-info deleteBtn">삭제</button>
				<button type="button" class="ahsbtn1 btn btn-outline-info">출력</button>					
		      </div>
		    </div>
		  </div>
		</div>
	<!--END 거래처 상세 정보 모달창 -->
</head>
