<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div id="header" th:fragment="headerFragment">
		<nav class="main-header navbar navbar-expand">
			<!-- Left navbar links -->
			<ul class="navbar-nav">
				<li class="nav-item">					
					<a class="nav-link" data-widget="pushmenu" href="#" role="button" style="display:inline-block;">
						<i class="fas fa-bars"></i>
					</a>
					<p style="color:white; display:inline-block;">배포일시 : 2022-01-14  15:55</p>
				</li>      
			</ul>
			<!-- End Left navbar links -->
			
			<!-- Right navbar links -->
			<ul class="navbar-nav ml-auto">
			</ul>
			<!-- End Right navbar links -->
		</nav>
	</div>
</html>