<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div class="content-header" th:fragment="locationFragment">
		<div class="container-fluid">
			<div class="location row mb-2" style="border-bottom: 1px solid #3F72AF; padding-top:10px; padding-bottom:10px" >
				<div class="col-sm-6">
					<label style="color:#3F72AF; font-size: 20px" class="m-0 font-weight-bold" th:text="${subtitle}"></label>
				</div><!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<a th:href="@{/}" style="color:#BDBDBD" class="breadcrumb-item">HOME</a>
						<li style="color:#BDBDBD" class="breadcrumb-item" th:text="${title}"></li>
					</ol>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container-fluid -->
	</div>
</html>