<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title>ksmart41</title>
	</th:block>
	<th:block layout:fragment="customCss">
		<link rel="stylesheet" th:href="@{/css/common.css}">
		<link rel="stylesheet" th:href="@{/css/jiwonee.css}">
		<link rel="stylesheet" th:href="@{/css/modal.css}">
   </th:block>
   

		
	<th:block layout:fragment="customJs">
		<script type="text/javascript">
		$(function(){
			$('#cancelBtn').on('click', function(){

				location.href = '/team03/delivery/checkpoint/k3CheckpointList';
			});
			$(document).on('click', '#submitBtn', function(){
				
					var submitCheck = true;
					var inputObj = $('#userInfo').find('input');
						
					$.each(inputObj, function(){	
   					var inputDate = $(this).val();
   					var inputId = $(this).attr('id');
   					var labelText = $('label[for=' + inputId + ']').text();
						
   					if(typeof inputDate == 'undefined' || inputDate == null || inputDate == ''){
   						alert(labelText + ' 입력해주세요');
   						$(this).focus();
   						submitCheck = false;
   						return false;
   					}		
					});  						
					
					if(submitCheck) $('#userInfo').submit();
				});
			
			var modal = $('#driverModal');
			
			$(".driverExitBtn").click(function(){
					
				modal.addClass('hidden');
			});
	
			$(document).on('click', '.checkpointDriverName_btn', function(){
				var aLengthMenuArray = [];
				aLengthMenuArray.push([5,10]);
				aLengthMenuArray.push([5,10]);
				
				$('#checkpointDriverName').DataTable({
					destroy: true,
					pageLength: 5,
					aLengthMenu: aLengthMenuArray,
					ajax: {
						url: '/team03/delivery/checkpoint/checkpointDriverName',
	   					type: 'POST',
	   					dataSrc: function(data){
	        				console.log(JSON.stringify(data));
	        				return data;
	        			}
					},
					columns: [
						{ "data": "선택"},
						{ "data": "driverId"},
						{ "data": "driverName"},
						{ "data": "driverPhone"},
						{ "data": "driverRegDate"}						
					],
					columnDefs: [
						{
							targets: [0],
							orderable : false,
							searchable : false,
							render : function(data, type, row){
								var htmlbtn = '<input type="radio" class="driverId" name="driverId" value="'+ row.driverId +'">'
								return htmlbtn;
							}
						}
					]
				});
				var overlay = $('.modal_overlay');
				modal.removeClass('hidden');
					
			});
			$(document).on('click', '#driverConfirmBtn', function(){
				var checkedBox = $('.driverId:checked');
 				var driverId = $('#driverId');
 				var driverName = $('#driverName');
				
 				var checkpointMemberIdValue = checkedBox.parent().parent().children().eq(2).text();
 				driverName.attr('value', checkpointMemberIdValue);	
 				driverId.attr('value', checkedBox.val());	

				modal.addClass('hidden');

			});
			
			$('#overlapped_btn').click(function(){

				var vehicleCheckpointCode = $('#vehicleCheckpointCode').val();
				
				if(typeof vehicleCheckpointCode != 'undefined' && vehicleCheckpointCode != null && vehicleCheckpointCode != ''){
					// ajax 호출
					var request = $.ajax({
						  url: '/team03/delivery/checkpoint/checkpointCheck', 
						  method: 'POST', 
						  data: { 'vehicleCheckpointCode' : vehicleCheckpointCode },
						  dataType: 'json' 
						});				
					request.done(function(data) {
						// 중복여부 체크(true: 중복, false: 등록가능)
						var idConfirm = data;
						
						if(idConfirm){
							alert('이미 등록된 코드입니다.');
	 						$('#userInfo input').not('#vehicleCheckpointCode').prop('disabled', true);
							$('#userInfo select').prop('disabled', true);
							$('#userInfo button').not('#overlapped_btn').prop('disabled', true);
						}else{
							alert('등록이 가능한 코드입니다.');
							$('#userInfo input').prop('disabled', false);
							$('#userInfo select').prop('disabled', false);
							$('#userInfo button').prop('disabled', false);
						}
						
						
					});				
					request.fail(function( jqXHR, textStatus ) {
					  alert( "Request failed: " + textStatus );
					});
				}else{
					alert('코드를 입력해주세요')
					return false;
				}
				
				
			});
		});
		</script>
		</th:block>
	<th:block layout:fragment="customContents">

		<div id="representative-button">
			<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				
				<div class="container-fluid d-flex justify-content-center">
					<!--카드 영역 -->
					<div class="col-md-8">
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header cardHeadBorder">
							<h4>입출하 차량 기록 등록</h4>
						</div>
						<!--End card header -->
						<!--card body -->
						<div class="card-body">
							<div class="row">
							<form id="userInfo" th:action="@{/team03/delivery/checkpoint/k3AddCheckpoint}" method="post">
									<div class="inputwrap col-md-12">
										<label for="vehicleCheckpointCode" class="inputName">입출하 기록 코드</label>
										<input class="inputBox" type="text" id="vehicleCheckpointCode" name="vehicleCheckpointCode" placeholder="입출하 기록 코드를 등록해주세요 ex) check000"/>
										<button type="button" id="overlapped_btn">중복확인 </button> 
									</div>
									<div class="inputwrap col-md-12">
										<label for="driverId" class="inputName">차량 기사</label>
										<input class="inputBox" type="hidden" id="driverId" name="driverId"/>
										<input class="inputBox" type="text" id="driverName" name="driverName" placeholder="차량 기사를 등록해주세요"/>
										<button class="checkpointDriverName_btn" type="button">등록</button> 
									</div>	
									<div class="inputwrap col-md-12">
										<label for="memberName" class="inputName">차량 코드</label>
										<input class="inputBox" type="text" id="vehicleCode" name="vehicleCode" placeholder="차량 코드를 등록해주세요"/>
									</div>
									<div class="inputwrap col-md-12">
										<label for="vehicleArrivalDate" class="inputName">입하일</label>
										<input class="inputBox" type="date" id="vehicleArrivalDate" name="vehicleArrivalDate"/>
									</div>								
									<div class="inputwrap col-md-12">
										<label for="vehicleShipmentDate" class="inputName">출하일</label>
										<input class="inputBox" type="date" id="vehicleShipmentDate" name="vehicleShipmentDate"/>
									</div>	
									<div class="d-flex justify-content-center" style="margin-top:25px;">
										<button type="button" class="ahsbtn5 btn btn-outline-primary me-2" id="submitBtn">등록</button>
										<button type="button" class="ahsbtn5 btn btn-primary" id="cancelBtn">취소</button>
									</div>		
								</form>							
	 						</div>
						</div>					
	 					<!--End card body 묶음 -->
					</div>
					</div>
					<!--End 카드 영역 -->
				</div>
				
				<!-- End 콘텐츠 콘테이너 -->
			</div>
		</div>
		<!-- 모달창 -->
		<div id="driverModal" class="modal hidden">
			<div class="modal_overlay"></div>		
			<div class="modal_content">
				<div class="modal_header d-flex justify-content-between">
					<div class="textTitle">차량기사 선택</div>
					<button class="driverExitBtn" type="button">
						<i class="fas fa-times-circle"></i>
					</button>
				</div>
				<div class="modal_body">
					<form>	
						<table border="1" id="checkpointDriverName" class="dataTable">
							<thead>
								<tr bgcolor="#BDBDBD">
									<th>선택</th>	
									<th>기사 아이디</th>
									<th>기사 이름</th>
									<th>기사 전화번호</th>
									<th>등록일자</th>
								</tr>
							</thead>
						</table>				
					</form>
				</div>
				<div class="modal_fotter">
					<button id="driverConfirmBtn" class="btn btn-secondary confirmBtn" type="button">확인</button>
				</div>			
			</div>
		</div>
		<!-- End 모달창 -->
	</th:block>