<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title>ksmart41</title>
	</th:block>
	<th:block layout:fragment="customContents"> 
		<div id="representative-button">
			<!-- 콘텐츠 콘테이너 시작 -->
			<div class="container-fluid">
				<!--버튼 영역 -->			
					<div class="d-flex justify-content-end">					
						<button class="btn btn-outline-info ahsbtn4" type="button">
							<i class="bi bi-file-earmark-plus"></i>
							등록
						</button>			
						<button class="btn btn-outline-info ahsbtn4" type="button">
							<i class="bi bi-printer"></i>
							출력
						</button>			
						<button class="btn btn-outline-info ahsbtn4" type="button">
							<i class="bi bi-boxes"></i>
							분류등록
						</button>			
						<button class="btn btn-outline-info ahsbtn4" type="button">
							<i class="bi bi-trash"></i>
							삭제
						</button>			
								
					</div>	
				<!--End 버튼 영역 -->
				<div class="card cardColor">
					<!--card header -->
					<div class="card-header">
						조회
					</div>
					<!--End card header -->
						<!--card body -->
						<div class="card-body">
							<div class="row" style="margin: 12px">
								<!--inputbox 1 -->
								<form class="col-lg-6" th:action="@{#}" method="post">
								<div class="input-group input-group-sm">
									<select class="form-control-sm">
												<option value="checkpoint">입출하 기록 코드</option>
												<option value="driver">기사 아이디</option>
												<option value="vehicle">차량 코드</option>
											</select>
									<input type="text" class="form-control" placeholder="검색">
									<div class="input-group-append">
										<div class="btn btn-default">
											<i class="fas fa-search icon"></i>
										</div>
									</div>
								</div>
							</form>
								<!--End inputbox 1 -->
	 						</div>
						</div>					
	 					<!--End card body 묶음 -->
					</div>
					<!--End 상위 카드 영역 -->
					<!--하위 카드 영역 -->
					<div class="card underCard">
						<!--card header -->
						<div class="card-header deprbtn">
							현황
						</div>
						<!-- End card header -->
						<!--card body -->
						<div class="card-body table-responsive p-0 table-hover" style="height: 300px;">
							<table class="table table-head-fixed text-nowrap table-striped">
								<thead>
									<tr>
										<th>삭제</th>
										<th>수정</th>	
										<th>입출하 기록 코드</th>
										<th>기사아이디</th>
										<th>차량코드</th>
										<th>입하일시</th>
										<th>출하일시</th>			
									</tr>
								</thead>
								<tbody>
									<tr th:if="${not #lists.isEmpty(checkpointList)}" th:each="l : ${checkpointList}">
										<td>
											<input type="checkbox" value="선택">
										</td>	
										<td>
											<a id="modifyCheck" type="button" class="btn btn-default btn-sm" th:href="@{/team03/delivery/checkpoint/k3ModifyCheckpoint(vehicleCheckpointCode=${l.vehicleCheckpointCode})}">
												<i class="fas fa-pencil-alt icon"></i>
											</a>
										</td>
										<td th:text="${l.vehicleCheckpointCode}"></td>
										<td th:text="${l.driverId}"></td>
										<td th:text="${l.vehicleCode}"></td>
										<td th:text="${l.vehicleArrivalDate}"></td>
										<td th:text="${l.vehicleShipmentDate}"></td>
   											
										
									</tr>
								</tbody>						
							</table>
						</div>
						<!--End card body -->
					</div>
					<!--End 하위 카드 영역 -->
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
	</th:block>
</head>