<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title>ksmart41</title>
</th:block>
<th:block layout:fragment="customContents">
	<div class="bs-example" data-example-id="bordered-table">
		<div style="margin: 0 20px 0 20px; padding: 10px;">

			<div style="margin-bottom: 15px">
				<button type="button" class="btn btn-outline-info"
					onclick="location.href = '/team03/checkpoint/addCheckpoint'">등록</button>
				&nbsp; &nbsp;
				<button type="button" class="btn btn-outline-info"
					style="width: 90px; height: 38px;">수정</button>
				&nbsp; &nbsp;
				<button type="button" class="btn btn-outline-info"
					style="width: 90px; height: 38px;"
					onclick="location.href = '/team03/checkpoint/checkpointList'">조회</button>
				&nbsp; &nbsp;
				<button type="button" class="btn btn-outline-info"
					style="width: 90px; height: 38px;">삭제</button>
				&nbsp; &nbsp;
				<button type="button" class="btn btn-outline-info"
					style="width: 90px; height: 38px;">엑셀</button>
				&nbsp; &nbsp;
			</div>

			<table class="table table-bordered">
				<thead>
					<tr class="text-center" style="background-color: #D3D3D3;">
						<th>배차코드</th>
						<th>기사아이디</th>
						<th>차량코드</th>
						<th>입하일시</th>
						<th>출하일시</th>
						<th>수정</th>
						<th>삭제</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${not #lists.isEmpty(checkList)}"
						th:each="l : ${checkList}">
						<td th:text="${l.vehicleCheckpointCode}"></td>
						<td th:text="${l.driverId}"></td>
						<td th:text="${l.vehicleCode}"></td>
						<td th:text="${l.vehicleArrivalDate}"></td>
						<td th:text="${l.vehicleShipmentDate}"></td>
						<td><a th:href="@{#}">수정</a></td>
						<td><a th:href="@{#}">삭제</a></td>
					</tr>
					<tr th:unless="${not #lists.isEmpty(checkList)}"
						th:each="l : ${checkList}">
						<td>등록된 입출하 기록이 없습니다.</td>
					</tr>
				</tbody>
			</table>
			<div class="card" style="padding: 30px">
				<label for="contractList">거래처 목록</label> <br>
				<div class="card-body" style="overflow: scroll; height: 500px">
				</div>
			</div>

		</div>
	</div>
</th:block>
</head>