<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="customJs">
		<script type="text/javascript">
			$(function(){
				$('#inAddDamageError').click(function(){
					var actionDetails = $('input[name=actionDetails]').val();
					var actionDate = $('input[name=actionDate]').val();
					var repairCost = $('input[name=repairCost]').val();
					console.log(actionDetails);
					console.log(actionDate);
					console.log(repairCost);
					$.ajax({
							url : '/team03/goodsManagement/damageError/k3DamageErrorList',
							type : 'POST',
							data : { 
									actionDetails : actionDetails 
									actionDate : actionDate	
									repairCost : repairCost
									},
							success : function(data){
								console.log(data)
							}
						});
				});
			});
			
		</script>
</th:block>
	
<th:block layout:fragment="customContents"> 
	<div id="representative-button">
		<div id="representative-button">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="card cardColor">
							<div class="card-header">
								<h2 class="card-title">AS</h2>
							</div>
							<div class="card-body">
								<div class="row" style="margin:12px;">
									<form class="col-lg-6" th:action="@{#}" method="post">
										
									</form>
			 					</div>
							</div>					
						</div>
						<div class="card cardColor">
							<nav>
								<div class="nav nav-tabs" id="nav-tab" role="tablist">
									<a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">입고AS</a>
									<a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">출고AS</a>
								</div>
							</nav>
								<!-- AS입고현황 -->
							<div class="tab-content" id="nav-tabContent">
								<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
									<!--card body -->
									<div class="card-body table-responsive p-0 table-hover" style="height: 450px;">
										<form th:action="@{/team03/goodsManagement/damageError/k3DamageErrorList}" method="post" id="inAddDamageError">	 
											<table class="table table-head-fixed text-nowrap">
												<thead>
													<tr>
														<th>접수번호</th>
														<th>접수날짜</th>
														<th>거래처</th>
														<th>입고물품</th>
														<th>개수</th>
														<th>사유</th>
														<th>접수자</th>
														<th>조치내용</th>											
														<th>조치날짜</th>											
														<th>발생비용</th>				
														<th>처리</th>							
													</tr>
												</thead>
												<tbody>
													<tr th:if="${not #lists.isEmpty(k3DamageErrorListIn)}" th:each="din :${k3DamageErrorListIn}">	
														<td th:text="${din.receiptNumber}" id="inText"></td>
														<td th:text="${din.laydownCheckDate}"></td>
														<td th:text="${din.contractorName}"></td>
														<td th:text="${din.laydownGoodsName}"></td>
														<td th:text="${din.laydownGoodsCount}"></td>
														<td th:text="${din.laydownCheckResult}"></td>
														<td th:text="${din.memberName}"></td>
														<td>
															<div class="form-group">
																<input type="text" class="form-control" style="height:30px;" name="actionDetails"/>
															</div>
														</td>
														<td>
															<div class="form-group">
											                	<input type="date" class="form-control" style="height:30px;"  name="actionDate"/>
											                </div>
														</td>
														<td>
															<div class="form-group">
																<input type="number" class="form-control" style="height:30px;" name="repairCost"/>
															</div>
														</td>
														<td>
															<button type="button"  class="btn btn-default btn-sm" >
																<i class="bi bi-arrow-right-square-fill"></i>
															</button>
														</td>
													</tr>	
													<tr th:unless="${not #lists.isEmpty(k3DamageErrorListIn)}" style="height:30px;" th:each="din :${k3DamageErrorListIn}">
														<td>목록이 없습니다.</td>
													</tr>
												</tbody>		
											</table>
										</form>
									</div>
								</div>
									<!-- AS입고현황 -->		
								<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
									<!--card body -->
									<div class="card-body table-responsive p-0 table-hover" style="height: 450px;">
										<table class="table table-head-fixed text-nowrap">
											<thead>
												<tr>
													<th>접수번호</th>
													<th>접수날짜</th>
													<th>거래처</th>
													<th>출고물품</th>
													<th>개수</th>
													<th>사유</th>
													<th>접수자</th>						
													<th>조치내용</th>											
													<th>조치날짜</th>											
													<th>발생비용</th>
													<th>처리</th>						
												</tr>
											</thead>
											<tbody>
												<tr th:if="${not #lists.isEmpty(k3DamageErrorListOut)}" th:each="dout : ${k3DamageErrorListOut}">
													<td th:text="${dout.receiptNumber}"></td>
													<td th:text="${dout.shipmentCheckRegDate}"></td>
													<td th:text="${dout.contractorName}"></td>
													<td th:text="${dout.laydownGoodsName}"></td>
													<td th:text="${dout.laydownGoodsCount}"></td>
													<td th:text="${dout.shipmentCheckResult}"></td>
													<td th:text="${dout.memberName}"></td>
													<td>
														<div class="form-group">
															<input type="text" class="form-control" style="height:30px;" name="actionDetails"/>
														</div>
													</td>
													<td>
														<div class="form-group">
										                	<input type="date" class="form-control" style="height:30px;" name="actionDate"/>
											  
										                </div>
													</td>
													<td>
														<div class="form-group">
															<input type="number" class="form-control" style="height:30px;" name="repairCost"/>
														</div>
													</td>
													<td>
														<button type="button"  class="btn btn-default btn-sm" >
															<i class="bi bi-arrow-right-square-fill"></i>
														</button>
													</td>
												</tr>
												<tr th:unless="${not #lists.isEmpty(k3DamageErrorListOut)}" th:each="dout : ${k3DamageErrorListOut}">
													<td> 목록이 없습니다. </td>
												</tr>
											</tbody>				
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="inModifyModal">
			    <div class="modal-dialog modal-lg">
				    <div class="modal-content">
				      		<!-- 모달헤드 -->
						<div class="modal-header">
							<h4 class="modal-title">창고 삭제</h4>
							<button type="button" class="close " data-dismiss="modal">&times;</button>
						</div>
							<!-- 모달 바디 -->
						<div class="modal-body">
							<form th:action="@{/team03/spaceBusiness/warehouse/k3WarehouseList}" method="post">
								<div class="form-group">
									<label for="warehouseCode">고유코드</label>
									<input type="text" class="form-control" id="warehouseCode" name="warehouseCode" placeholder="코드를 입력해주세요"/>
								</div>
							</form>
						</div>
							<!-- 모달 발 -->
				        <div class="modal-footer">
				        	<button id="deletewarehouseBtn" type="submit" class="btn btn-outline-info ahsbtn4">삭제</button>
				        	<button type="button" class="btn btn-outline-danger ahsbtn4" data-dismiss="modal">취소</button>
				        </div>
			    	</div>
			    </div>
			</div>
			<div class="modal fade" id="outModifyModal">
			    <div class="modal-dialog modal-lg">
				    <div class="modal-content">
				      		<!-- 모달헤드 -->
						<div class="modal-header">
							<h4 class="modal-title">창고 삭제</h4>
							<button type="button" class="close " data-dismiss="modal">&times;</button>
						</div>
							<!-- 모달 바디 -->
						<div class="modal-body">
							<form th:action="@{/team03/spaceBusiness/warehouse/k3WarehouseList}" method="post">
								<div class="form-group">
									<label for="warehouseCode">고유코드</label>
									<input type="text" class="form-control" id="warehouseCode" name="warehouseCode" placeholder="코드를 입력해주세요"/>
								</div>
							</form>
						</div>
							<!-- 모달 발 -->
				        <div class="modal-footer">
				        	<button id="deletewarehouseBtn" type="submit" class="btn btn-outline-info ahsbtn4">삭제</button>
				        	<button type="button" class="btn btn-outline-danger ahsbtn4" data-dismiss="modal">취소</button>
				        </div>
			    	</div>
			    </div>
			</div>
		</div>
	</div>
</th:block>
</head>