<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
   	<th:block layout:fragment="customCss">
		<link rel="stylesheet" th:href="@{/css/common.css}">
		<link rel="stylesheet" th:href="@{/css/modal.css}">	
	</th:block>
	<th:block layout:fragment="customJs">
		<script type="text/javascript">
			//유효성검사(인풋박스 내용물 작성여부)
			$(function(){
				$('#cancelBtn').on('click', function(){
					location.href = '/team03/goodsManagement/warehousing/k3WarehousingList';
				});
				$(document).on('click', '#addStockBtn', function(){
					
					var submitCheck = true;
					var inputObj = $('#stockList').find('input');
							
					$.each(inputObj, function(){
		   				var inputDate = $(this).val();
		   				var inputId = $(this).attr('id');
		   				var labelText = $('label[for=' + inputId + ']').text();
							
		   				if(typeof inputDate == 'undefined' || inputDate == null || inputDate == ''){
		   					alert(labelText + ' 입력해주세요');
		   					$(this).focus();
		   					submitCheck = false;
		   					return false;
		   				}		
					});  						
						if(submitCheck) $('#stockList').submit();
				});
				//모달 시작
				var memberModal = $('#memberModal');
				var locationModal = $('#locationModal');
				
				///멤버이름 모달
				$(document).on('click', '#selectMember', function(){
					var aLengthMenuArray = [];
					aLengthMenuArray.push([5,10]);
					aLengthMenuArray.push([5,10]);
					
					$('#memberCode').DataTable({
						destroy: true,
						pageLength: 5,
						aLengthMenu: aLengthMenuArray,
						ajax: {
							url: '/team03/goodsManagement/warehousing/MemberList',
		   					type: 'POST',
		   					dataSrc: function(data){
		        				console.log(JSON.stringify(data));
		        				return data;
		        			}
						},
						columns: [
							{ "data": "선택"},
							{ "data": "memberId"},
							{ "data": "memberName"}							
						],
						columnDefs: [
							{
								targets: [0],
								orderable : false,
								searchable : false,
								render : function(data, type, row){
									var htmlbtn = '<input type="radio" class="memberId" name="memberId" value="'+ row.memberId +'">'
									return htmlbtn;
								}
							}
						]
					});
					var overlay = $('.modal_overlay');
					memberModal.removeClass('hidden');
					
				});
				$("#memberExitBtn").click(function(){
					
					memberModal.addClass('hidden');
				});
				$(document).on('click', '#memberConfirmBtn', function(){
					var checkedBox = $('.memberId:checked');
	 				var pileupManager = $('#pileupManager');
	 				var pileupManagerName = $('#pileupManagerName');

	 				var pileupManagerValue = checkedBox.parent().parent().children().eq(1).text();
	 				var pileupManagerNameValue = checkedBox.parent().parent().children().eq(2).text();

	 				pileupManager.attr('value',pileupManagerValue);
	 				pileupManagerName.attr('value',pileupManagerNameValue);


	 				memberModal.addClass('hidden');
				});
				///로케이션 모달
				$(document).on('click', '#selectLocation', function(){
					var aLengthMenuArray = [];
					aLengthMenuArray.push([5,10]);
					aLengthMenuArray.push([5,10]);
					
					$('#locationCodeTable').DataTable({
						destroy: true,
						pageLength: 5,
						aLengthMenu: aLengthMenuArray,
						ajax: {
							url: '/team03/goodsManagement/warehousing/locationList',
		   					type: 'POST',
		   					dataSrc: function(data){
		        				console.log(JSON.stringify(data));
		        				return data;
		        			}
						},
						columns: [
							{ "data": "선택"},
							{ "data": "locationCode"},
							{ "data": "locationState"}							
						],
						columnDefs: [
							{
								targets: [0],
								orderable : false,
								searchable : false,
								render : function(data, type, row){
									var htmlbtn = '<input type="radio" class="locationCodes" name="locationCodes" value="'+ row.locationCode +'">'
									return htmlbtn;
								}
							}
						]
					});
					var overlay = $('.modal_overlay');
					locationModal.removeClass('hidden');
					
				});
				$("#locationExitBtn").click(function(){
					
					locationModal.addClass('hidden');
				});
				$(document).on('click', '#locationConfirmBtn', function(){
					var checkedBox = $('.locationCodes:checked');
	 				var location = $('#locationCode');

	 				var locationValue = checkedBox.parent().parent().children().eq(1).text();

	 				location.attr('value',locationValue);


	 				locationModal.addClass('hidden');
				});
			});
		</script>
	</th:block>
	<th:block layout:fragment="customContents">	 
		<div id="representative-button">
			<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid">
					<!--카드 영역 -->
					<div class="card cardColor">
						<!-- 등록 영역 -->
						<div class="addForm">
							<!--card header -->
							<div class="card-header cardHeadBorder">
								<h4>재고 등록</h4>
							</div>
							<!--End card header -->
							<!--card body -->
							<div class="card-body">
								<div class="row">
									<form id="stockList" th:action="@{/team03/goodsManagement/stock/k3AddStock}" method="post" th:if="${not #lists.isEmpty(warehousingSort)}" th:each="l : ${warehousingSort}">
										<div class="inputwrap col-md-12">
											<label for="warehousingCode" class="inputName">입고코드</label>
											<input class="inputBox" type="text" id="warehousingCode" name="warehousingCode" th:value="${l.warehousingCode}" readonly="readonly"/>
										</div>
										<div class="inputwrap col-md-12">
											<label for="productName" class="inputName">물품명</label>
											<input class="inputBox" type="text" id="productName" name="productName" th:value="${l.k3Product.productName}" readonly="readonly"/>
										</div>	
										<div class="inputwrap col-md-12">
											<label for="stockQuantity" class="inputName">물품개수</label>
											<input class="inputBox" type="text" id="stockQuantity" name="stockQuantity" th:value="${l.laydownGoodsCount}" readonly="readonly"/>
										</div>														
										<div class="inputwrap col-md-12">
											<label for="locationCode" class="inputName">로케이션</label>
											<input class="inputBox" type="text" id="locationCode" name="locationCode" readonly="readonly"/>
											<button type="button" id="selectLocation">로케이션 선택</button>
										</div>								
										<div class="inputwrap col-md-12">
											<label for="pileupManagerName" class="inputName">재고담당자</label>
											<input class="inputBox" type="text" id="pileupManagerName" name="pileupManagerName" readonly="readonly"/>
											<input class="hidden" type="text" id="pileupManager" name="pileupManager" readonly="readonly"/>
											<button type="button" id="selectMember">담당자 선택</button>
										</div>								
										<div class="inputwrap col-md-12">
											<label for="pileupDate" class="inputName">재고일시</label>
											<input class="inputBox" type="date" id="pileupDate" name="pileupDate"/>
										</div>								
										<div class="d-flex justify-content-center">					
											<button id="addStockBtn" class="ahsbtn4 btn btn-outline-info" type="button">등록</button>			
											<button class="ahsbtn4 btn btn-block bg-gradient-warning" type="button">취소</button>			
										</div>	
									</form>
		 						</div>
							</div>					
		 					<!--End card body 묶음 -->
						</div>
						<!-- END 등록 영역 -->
					</div>	
					<!--End 카드 영역 -->
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
		</div>
		<!-- 모달창 -->
		<div id="memberModal" class="modal hidden">
			<div class="modal_overlay"></div>		
			<div class="modal_content">
				<div class="modal_header d-flex justify-content-between">
					<div class="textTitle">거래처명 선택</div>
					<button id="memberExitBtn" class="exitBtn" type="button">
						<i class="fas fa-times-circle"></i>
					</button>
				</div>
				<div class="modal_body">
					<form>	
						<table border="1" id="memberCode" class="dataTable">
							<thead>
								<tr bgcolor="#BDBDBD">
									<th>선택</th>
									<th>회원코드</th>
									<th>회원명</th>						
								</tr>
							</thead>
						</table>				
					</form>
				</div>
				<div class="modal_fotter">
					<button id="memberConfirmBtn" class="btn btn-secondary confirmBtn" type="button">확인</button>
				</div>			
			</div>
		</div>
		<!-- End 모달창 -->
		<!-- 모달창 -->
		<div id="locationModal" class="modal hidden">
			<div class="modal_overlay"></div>		
			<div class="modal_content">
				<div class="modal_header d-flex justify-content-between">
					<div class="textTitle">로케이션 선택</div>
					<button id="locationExitBtn" class="exitBtn" type="button">
						<i class="fas fa-times-circle"></i>
					</button>
				</div>
				<div class="modal_body">
					<form>	
						<table border="1" id="locationCodeTable" class="dataTable">
							<thead>
								<tr bgcolor="#BDBDBD">
									<th>선택</th>
									<th>로케이션코드</th>
									<th>상태</th>						
								</tr>
							</thead>
						</table>				
					</form>
				</div>
				<div class="modal_fotter">
					<button id="locationConfirmBtn" class="btn btn-secondary confirmBtn" type="button">확인</button>
				</div>			
			</div>
		</div>
		<!-- End 모달창 -->
	</th:block>