<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customCss">
		<link rel="stylesheet" th:href="@{/css/common.css}">
	</th:block>
	<th:block layout:fragment="customJs">
		<script type="text/javascript" th:src="@{/js/printThis.js}"></script>
		<script type="text/javascript">
			$(function(){
				$('#moveAddStockBtn').on('click', function(){
					location.href = '/team03/goodsManagement/stock/k3AddStockList';
				});
				$('#simpleStockSearchBtn').on('click', function(){
					$('#searchSimpleStockType').attr('value', 'simpleStock');
					$('#simpleStockSearchForm').submit();
				});
				$('.detailStockSearchBtn').on('click', function(){
					$('#searchDetailStockType').attr('value', 'detailStock');
					$('#detailStockSearchForm').submit();
				});
				<!-- 프린트 출력 -->			
				$(document).on('click','#printBtn', function(){
					var checkPrintDetail = $('#nav-profile-tab').hasClass('active');
					var checkPrintSimple = $('#nav-home-tab').hasClass('active');
					if(checkPrintDetail){
						$('#detailTable').printThis();						
					}else if(checkPrintSimple){
						$('#simpleTable').printThis();
					}
				});
				<!--END 프린트 출력-->
				
				$(document).on('click', '#deleteBtn', function(){
					var check = $('.deleteList:checked');
					var deleteCheckList = [];
					
					$.each(check, function(){
						deleteCheckList.push($(this).val());
					});
					
 					if(check.length > 0){
						if(confirm(check.length + "개 항목을 삭제합니다.")){
							$.ajax({
								  url: '/team03/goodsManagement/stock/k3DeleteStock',
								  data: {'deleteList[]':deleteCheckList},
								  type: 'post',
								  success: function(data){
									  if(data > 0){
										  alert("삭제 완료되었습니다.");
										  location.reload();
									  }else{
										  alert("해당 상품이 사용중입니다.\n 먼저 출고 삭제해주세요.");
									  }
								  },
								  error: function(err){
									  alert(err + "에러 발생. 관리자에게 문의해주세요.");
								  }
								});
						}
					}else{
						alert("삭제할 항목을 선택해주세요.");
					} 
				});
			});
		</script>
	</th:block>
	
	<th:block layout:fragment="customContents"> 
		<div id="representative-button">
			<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid">
					<!--버튼 영역 -->			
					<div class="d-flex justify-content-end">
						<button id="moveAddStockBtn" class="btn btn-outline-info ahsbtn4" type="button">
							<i class="bi bi-file-earmark-plus"></i>
							등록
						</button>												
						<button id="printBtn" class="btn btn-outline-info ahsbtn4" type="button">
							<i class="bi bi-printer"></i>
							출력
						</button>						
						<button id="deleteBtn" class="btn btn-outline-info ahsbtn4" type="button">
							<i class="bi bi-trash"></i>
							삭제
						</button>					
					</div>	
					<!--End 버튼 영역 -->
					<!--상위 카드 영역 -->
					<div class="card cardColor">
						<!--간단조회 및 상세조회 header-->
						<nav>
							<div class="nav nav-tabs" id="nav-tab" role="tablist">
								<a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="nav-home" aria-selected="true">간단조회</a>
								<a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">상세조회</a>
							</div>
						</nav>
						<!--End card header -->					
						<!--card body -->
						<div class="tab-content" id="nav-tabContent">
							<div class="tab-pane active" id="messages" role="tabpanel" aria-labelledby="messages-tab">
								<!--card body -->
								<div class="card-body">
									<div class="row" style="margin: 12px">
										<form id="simpleStockSearchForm" class="d-flex align-items-center" th:action="@{/team03/goodsManagement/stock/k3StockList}" method="post">
											<!--inputbox 1 -->
											<div class="input-group input-group-sm col-sm-12">
												<select name="simpleStockKey" class="input-group-text form-control-sm">
													<option value="productName">상품명</option>
													<option value="contractorName">회사명</option>
												</select>
												<input type="text" name="simpleStockValue" class="form-control">
												<input type="hidden" name="searchSimpleStockType" id="searchSimpleStockType">
												<div class="input-group-append">
													<div class="btn btn-default" style="padding:0;">
														<button id="simpleStockSearchBtn" type="button">
															<i class="fas fa-search icon"></i>
														</button>
													</div>
												</div>
											</div>
											<!--End inputbox 1 -->
										</form>
			 						</div>
								</div>					
			 					<!--End card body 묶음 -->								
							</div>
							<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
								<!--card body -->
								<div class="card-body">
									<div class="row">
										<form id="detailStockSearchForm" class="d-flex align-items-center" th:action="@{/team03/goodsManagement/stock/k3StockList}" method="post">
											<!--inputbox 1 -->
											<div class="input-group input-group-sm col-sm-4">
												<select name="detailStockKey" class="input-group-text form-control-sm">
													<option value="productName">상품명</option>
													<option value="contractorName">회사명</option>
													<option value="stockCode">재고코드</option>
												</select>
												<input type="text" name="detailStockValue" class="form-control">
												<input type="hidden" name="searchDetailStockType" id="searchDetailStockType">
												<div class="input-group-append">
													<div class="btn btn-default" style="padding:0;">
														<button class="detailStockSearchBtn" type="button">
															<i class="fas fa-search icon"></i>
														</button>
													</div>
												</div>
											</div>
											<!--End inputbox 1 -->
											<!--inputbox 2 -->
											<div class="input-group input-group-sm col-sm-4">
												<select name="categoryKey" class="input-group-text form-control-sm">
													<option value="largeCategory">대분류</option>
													<option value="mediumCategory">중분류</option>
													<option value="smallCategory">소분류</option>
												</select>
												<input type="text" name="categoryValue" class="form-control">
												<input type="hidden" name="searchcategoryType" id="searchWarehousingType">
												<div class="input-group-append">
													<div class="btn btn-default" style="padding:0;">
														<button class="detailStockSearchBtn" type="button">
															<i class="fas fa-search icon"></i>
														</button>
													</div>
												</div>
											</div>
											<!--End inputbox 2 -->
											<!--inputbox 3 -->
											<div class="input-group input-group-sm col-sm-6">
												<select name="stockDateKey" class="input-group-text form-control-sm">
													<option value="manufacturedDate">제조일자</option>
													<option value="expiratonDate">유통기한</option>
													<option value="pileupDate">재고일시</option>
												</select>
												<div class="col-sm-4" style="padding-left: 0px;">
													<div class="input-group">
														<div class="input-group-prepend date" id="reservationdate" data-target-input="nearest">
															<input type="text" name="searchStartDate" class="form-control datetimepicker-input" style="width:130px" data-target="#reservationdate" placeholder="시작날짜선택">
															<div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
																<div class="input-group-text"><i class="fa fa-calendar"></i></div>
															</div>
														</div>
													</div>
												</div>
											~
												<div class="col-sm-4" style="padding-left: 0px">
													<div class="input-group">
														<div class="input-group-prepend date" id="reservationdate2" data-target-input="nearest">
															<input type="text" name="searchEndDate" class="form-control datetimepicker-input"  style="width:130px"  data-target="#reservationdate2" placeholder="종료날짜선택">
															<div class="input-group-append" data-target="#reservationdate2" data-toggle="datetimepicker">
																<div class="input-group-text"><i class="fa fa-calendar"></i></div>
															</div>
														</div>
							                   		</div>
												</div>
											</div>
											<!--End inputbox 3-->
										</form>
			 						</div>
								</div>					
			 					<!--End card body 묶음 -->								
							</div>
						</div>						
	 					<!--End card body 묶음 -->
					</div>
					<!--End 상위 카드 영역 -->
					<!--하위 카드 영역 -->
					<div class="card cardColor" >
						<!--간단조회 및 상세조회 현황  header-->
						<nav>
							<div class="nav nav-tabs" id="nav-tab" role="tablist">
								<a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">간단조회 재고현황</a>
								<a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">상세조회 재고현황</a>
							</div>
						</nav>
						<!--End 간단조회 및 상세조회 현황  header-->
						<!--간단조회 및 상세조회 재고현황 body-->
						<div class="tab-content" id="nav-tabContent">
							<!--간단조회 재고현황-->
							<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
								<!--card body -->
								<div class="card-body table-responsive p-0 table-hover" style="height: 450px;">
									<table id="simpleTable" class="table table-head-fixed text-nowrap">
										<thead>
											<tr>
												<th>순번</th>
												<th>상품명</th>
												<th>재고량</th>
												<th>회사명</th>																	
											</tr>
										</thead>
										<tbody>
											<tr th:if="${not #lists.isEmpty(simpleStockList)}" th:each="l,i : ${simpleStockList}">
												<td th:text="${i.index+1}"></td>
												<td th:text="${l.productName}"></td>
												<td th:text="${l.stockQuantity}"></td>
												<td th:text="${l.contractorName}"></td>
											</tr>
											<tr th:unless="${not #lists.isEmpty(simpleStockList)}" th:each="l : ${simpleStockList}">
												<td> 상품을 등록해주세요. </td>
											</tr>
										</tbody>						
									</table>
									<!-- 페이징  시작-->
									<ul class="pagination d-flex justify-content-center align-items-center"  style="margin-top:15px;">
										<li class="paginate_button page-item previous" id="previousStockList">
											<a th:if="${currentPage > 1}" th:href="@{/team03/goodsManagement/stock/k3StockList(currentPage=${currentPage-1})}" aria-controls="stockList" class="page-link">
												이전
											</a>
										</li>
										<li class="paginate_button page-item" id="currentStockList" th:each="num : ${#numbers.sequence(simpleStartPageNum, simpleEndPageNum)}">
											<a th:if="${num != currentPage}" th:href="@{/team03/goodsManagement/stock/k3StockList(currentPage=${num})}" th:text="${num}"  aria-controls="stockList" class="page-link"></a>
											<span th:unless="${num != currentPage}" th:text="${num}" style="background-color:#BDBDBD" aria-controls="stockList" class="page-link"></span>
										</li>
										<li class="paginate_button page-item next" id="nextStockList">
											<a th:if="${currentPage < simpleLastPage}" th:href="@{/team03/goodsManagement/stock/k3StockList(currentPage=${currentPage + 1})}"  aria-controls="stockList" class="page-link">
											다음
											</a>
										</li>
									</ul>
									<!-- END 페이징 -->
								</div>
								<!--End card body -->
							</div>
							<!--END 간단조회 재고현황-->
							<!--상세조회 재고현황-->
							<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
								<!--card body -->
								<div class="card-body table-responsive p-0 table-hover" style="height: 450px;">
									<table id="detailTable" class="table table-head-fixed text-nowrap">
										<thead>
											<tr>
												<th>삭제</th>
												<th>수정</th>	
												<th>로케이션코드</th>													
												<th>상품명</th>
												<th>개수</th>
												<th>회사명</th>					
												<th>대분류</th>
												<th>중분류</th>
												<th>소분류</th>																		
												<th>재고담당자</th>													
												<th>재고일시</th>													
											</tr>
										</thead>
										<tbody>
											<tr th:if="${not #lists.isEmpty(detailStockList)}" th:each="l : ${detailStockList}">
												<td>
													<input type="checkbox" class="deleteList" name="deleteList[]" th:value="${l.stockCode}">
												</td>
												<td>
													<a th:href="@{/team03/goodsManagement/stock/k3ModifyStock(stockCode=${l.stockCode})}">
														<i class="fas fa-pencil-alt icon"></i>
													</a>
												</td>
												<td th:text="${l.locationCode}"></td>
												<td th:text="${l.productName}"></td>
												<td th:text="${l.stockQuantity}"></td>
												<td th:text="${l.contractorName}"></td>
												<td th:text="${l.largeCategory}"></td>
												<td th:text="${l.mediumCategory}"></td>
												<td th:text="${l.smallCategory}"></td>
												<td th:text="${l.pileupManagerName}"></td>
												<td th:text="${l.pileupDate}"></td>
											</tr>
											<tr th:unless="${not #lists.isEmpty(detailStockList)}" th:each="l : ${detailStockList}">
												<td> 상품을 등록해주세요. </td>
											</tr>
										</tbody>						
									</table>
									<!-- 페이징  시작-->
									<ul class="pagination d-flex justify-content-center align-items-center"  style="margin-top:15px;">
										<li class="paginate_button page-item previous" id="previousStockList">
											<a th:if="${currentPage > 1}" th:href="@{/team03/goodsManagement/stock/k3StockList(currentPage=${currentPage-1})}" aria-controls="stockList" class="page-link">
												이전
											</a>
										</li>
										<li class="paginate_button page-item" id="currentStockList" th:each="num : ${#numbers.sequence(startPageNum, endPageNum)}">
											<a th:if="${num != currentPage}" th:href="@{/team03/goodsManagement/stock/k3StockList(currentPage=${num})}" th:text="${num}"  aria-controls="stockList" class="page-link"></a>
											<span th:unless="${num != currentPage}" th:text="${num}" style="background-color:#BDBDBD" aria-controls="stockList" class="page-link"></span>
										</li>
										<li class="paginate_button page-item next" id="nextStockList">
											<a th:if="${currentPage < lastPage}" th:href="@{/team03/goodsManagement/stock/k3StockList(currentPage=${currentPage + 1})}"  aria-controls="stockList" class="page-link">
											다음
											</a>
										</li>
									</ul>
									<!-- END 페이징 -->
								</div>
								<!--End card body -->
							</div>
							<!--END 상세조회 재고현황-->
						</div>
					</div>
					<!--End 하위 카드 영역 -->
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
		</div>
	</th:block>
</head>