<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title>modifyEstimate</title>
	</th:block>
	<th:block layout:fragment="customCss">
		<link rel="stylesheet" th:href="@{/css/common.css}">
		<link rel="stylesheet" th:href="@{/css/eunbinAddModify.css}">
	</th:block>
	
	<th:block layout:fragment="customJs">
		<script type="text/javascript" th:inline="javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>		
		<script>
			$(function(){
				<!-- 창고 단가 모달창 -->
				$(document).on('click','#wareUnitBtn',function(){
					
					$('#Umodal').empty();
					$.ajax({
						url:"/team03/contractorContract/Estimate/k3UnitModalAjax",
						method:'GET',
						dataType:'JSON',
						success:function(response){
							showList(response);
						}
					});
					function showList(data){
						var Umodal = '';
						for(var i = 0; i<data.length; i++){
							if(data[i].unitContractDevision == '창고'){
								Umodal += '<tr><td>'+ data[i].unitPriceCode +'</td>';
								Umodal += '<td>'+ data[i].unitContractDevision +'</td>';
								Umodal += '<td>'+ data[i].unitContract +'</td>';
								Umodal += '<td>'+ data[i].unitTerm +'</td>';
								Umodal += '<td>'+ data[i].unitPay +'</td>';
								Umodal += '<td><button type="submit" class="selectWare"><i class="bi bi-arrow-down-square"></i></button></td></tr>';
							}
						}
						$('#Umodal').append(Umodal);
					}					
					
					$('#unitModal').modal('show');
				});
				<!-- END 창고 단가 모달창 -->

				<!-- 선택한 창고 정보 가져오기 -->
				$(document).on('click','.selectWare',function(){
					$('#wareAmount').val(0);
					$('#wareUnitPrice').val("");
					$('#wareTermMulti').val(0);
					$('#wareContractTerm').val("");
					$('#wareUnitMulti').val("");
					$('#estimatePrice').val("");
					$('#estimatePricePrepayment').val("");
					$('#estimatePriceMonth').val("");
					
					$('#unitModal').modal('hide');
					var selectWare = $(this);
					var tr = selectWare.parent().parent();
					var td = tr.children();
					
					$('#wareCode').val(td.eq(0).text());
					$('#wareDevision').val(td.eq(1).text());
					$('#wareContract').val(td.eq(2).text());
					$('#wareTerm').val(td.eq(3).text());
					$('#warePay').val(td.eq(4).text());

				});
				<!-- END 선택한 창고 정보 가져오기 -->
				
				<!-- 창고 계산 -->
				$('#wareAmount').click(function(){
					if($('#warePay').val() != ""){
						var warePayV = $('#warePay').val().replace(/,/g,"");
						warePayV = warePayV * 1;
						var wareAmountV = $('#wareAmount').val();
						var wareUnitPriceV = (warePayV * wareAmountV).toString();
						wareUnitPriceV = wareUnitPriceV.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
						$('#wareUnitPrice').val(wareUnitPriceV);
					}
				});
				$('#wareAmount').keyup(function(){
					if($('#warePay').val() != ""){
						var warePayV = $('#warePay').val().replace(/,/g,"");
						warePayV = warePayV * 1;
						var wareAmountV = $('#wareAmount').val();
						var wareUnitPriceV = (warePayV * wareAmountV).toString();
						wareUnitPriceV = wareUnitPriceV.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
						$('#wareUnitPrice').val(wareUnitPriceV);
					}
				});
				<!-- END 창고 계산 -->
			
				<!-- 계약기간 계산 -->
				$('#wareTermMulti').click(function(){
					if($('#wareTerm').val() != ""){
						var wareTermV = $('#wareTerm').val().replace("개월","");
						wareTermV = wareTermV * 1;
						var wareTermMultiV = $('#wareTermMulti').val();
						var wareContractTermV = (wareTermV * wareTermMultiV).toString();
						wareContractTermV += "개월";
						$('#wareContractTerm').val(wareContractTermV);
					}
				});
				$('#wareTermMulti').keyup(function(){
					if($('#wareTerm').val() != ""){
						var wareTermV = $('#wareTerm').val().replace("개월","");
						wareTermV = wareTermV * 1;
						var wareTermMultiV = $('#wareTermMulti').val();
						var wareContractTermV = (wareTermV * wareTermMultiV).toString();
						wareContractTermV += "개월";
						$('#wareContractTerm').val(wareContractTermV);
					}
				});
				<!-- END 계약기간 계산 -->
				
				<!-- 총 창고 견적금액 -->
					
				$(document).click(function(){
					if($('#wareTerm').val() != "" && $('#warePay').val() != ""){
						var wareContractTerm = $('#wareContractTerm').val().replace("개월","");
						wareContractTerm = wareContractTerm * 1;
						var wareUnitPrice = $('#wareUnitPrice').val().replace(/,/g ,"");
						wareUnitPrice = wareUnitPrice * 1;
						var wareUnitMulti = (wareContractTerm*wareUnitPrice).toString();
						wareUnitMulti = wareUnitMulti.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
						$('#wareUnitMulti').val(wareUnitMulti);
					}
				});
				$(document).keyup(function(){
					if($('#wareTerm').val() != "" && $('#warePay').val() != ""){
						var wareContractTerm = $('#wareContractTerm').val().replace("개월","");
						wareContractTerm = wareContractTerm * 1;
						var wareUnitPrice = $('#wareUnitPrice').val().replace(/,/g ,"");
						wareUnitPrice = wareUnitPrice * 1;
						var wareUnitMulti = (wareContractTerm*wareUnitPrice).toString();
						wareUnitMulti = wareUnitMulti.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
						$('#wareUnitMulti').val(wareUnitMulti);
					}
				});
				<!-- END 총 창고 견적금액 -->
				
				<!-- 송장 단가 모달창 -->
				$(document).on('click','#inovoiceUnitBtn',function(){
					$('#Umodal').empty();
					$.ajax({
						url:"/team03/contractorContract/Estimate/k3UnitModalAjax",
						method:'GET',
						dataType:'JSON',
						success:function(response){
							showList(response);
						}
					});
					function showList(data){
						var Umodal = '';
						for(var i = 0; i<data.length; i++){
							if(data[i].unitContractDevision == '송장'){
								Umodal += '<tr><td>'+ data[i].unitPriceCode +'</td>';
								Umodal += '<td>'+ data[i].unitContractDevision +'</td>';
								Umodal += '<td>'+ data[i].unitContract +'</td>';
								Umodal += '<td></td>';
								Umodal += '<td>'+ data[i].unitPay +'</td>';
								Umodal += '<td><button type="submit" class="selectInvoice"><i class="bi bi-arrow-down-square"></i></button></td></tr>';
							}
						}
						$('#Umodal').append(Umodal);
					}
					
					$('#unitModal').modal('show');
				});

				<!-- 선택한 송장 정보 가져오기 -->
				$(document).on('click','.selectInvoice',function(){
					
					$('#invoiceAmount').val(0);
					$('#invoiceUnitPrice').val("");
					$('#estimatePrice').val("");
					$('#estimatePricePrepayment').val("");
					$('#estimatePriceMonth').val("");

					$('#unitModal').modal('hide');
					var selectInvoice = $(this);
					var tr = selectInvoice.parent().parent();
					var td = tr.children();
					
					$('#invoiceCode').val(td.eq(0).text());
					$('#invoiceDevision').val(td.eq(1).text());
					$('#inovoiceContract').val(td.eq(2).text());
					$('#invoicePay').val(td.eq(4).text());
										
				});
				<!-- END 선택한 송장 정보 가져오기 -->
				<!-- END 송장 단가 모달창 -->
				
				<!-- 송장 계산 -->
				$('#invoiceAmount').click(function(){
					var invoicePayV = $('#invoicePay').val().replace(/,/g,"");
					invoicePayV = invoicePayV * 1;
					var invoiceAmountV = $('#invoiceAmount').val();
					var invoiceUnitPriceV = invoicePayV * invoiceAmountV;
					invoiceUnitPriceV = invoiceUnitPriceV.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
					$('#invoiceUnitPrice').val(invoiceUnitPriceV);
				});
				$('#invoiceAmount').keyup(function(){
					var invoicePayV = $('#invoicePay').val().replace(/,/g,"");
					invoicePayV = warePayV * 1;
					var invoiceAmountV = $('#invoiceAmount').val();
					var invoiceUnitPriceV = invoicePayV * invoiceAmountV;
					invoiceUnitPriceV = invoiceUnitPriceV.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
					$('#invoiceUnitPrice').val(invoiceUnitPriceV);
				});
				<!-- END 송장 계산 -->

				<!-- 견적(송장) 결과 -->
				$(document).click(function(){
					if($('#invoiceUnitPrice').val() !="" && $('#wareUnitMulti').val() != ""){
						var invoiceUnitPrice = $('#invoiceUnitPrice').val().replace(/,/g,"");
						invoiceUnitPrice = invoiceUnitPrice*1;
						var wareUnitMulti = $('#wareUnitMulti').val().replace(/,/g,"");
						wareUnitMulti = wareUnitMulti*1;
						
						<!-- 총합계-->
						var estimatePrice = (invoiceUnitPrice + wareUnitMulti);
						<!-- 선입금액-->
						var estimatePricePrepayment = (estimatePrice/10);
						<!-- 월납입금액-->
						var wareContractTerm = $('#wareContractTerm').val().replace("개월","")*1;
						var estimatePriceMonth = Math.ceil((estimatePrice-estimatePricePrepayment)/wareContractTerm);
						
						estimatePrice = estimatePrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
						$('#estimatePrice').val(estimatePrice);
						
						estimatePricePrepayment = estimatePricePrepayment.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
						$('#estimatePricePrepayment').val(estimatePricePrepayment);
						
						estimatePriceMonth = estimatePriceMonth.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
						$('#estimatePriceMonth').val(estimatePriceMonth);
						
					}
				});
				<!-- END 견적(송장) 결과 -->
			
				
				<!-- 거래처 목록 모달창 -->
				$(document).on('click','#contractorBtn',function(){
					$('#contractorDT').DataTable({
						destroy: true,
						pageLength: 5,
						// 표시 건수기능 숨기기
						lengthChange: false,
						// 정렬 기능 숨기기
						ordering: false,
						// 정보 표시 숨기기
						info: false,
						ajax : {
							url:"/team03/contractorContract/Estimate/contractorModalAjax",
							type:'GET',
							dataSrc: function(data){
								return data;
							}
						},
						columns: [
							{ "data": "선택"},
							{ "data": "contractorCode"},
							{ "data": "contractorName"},
						],
						columnDefs: [
							{ 
								targets: [0],
								orderable : false,
								searchable : false,
								render :function (data, type, row){
									var Cmodal ='<button type="submit" class="selectContractor"><i class="bi bi-arrow-down-square"></i></button>';
									return Cmodal
								}
							}
						]
					});
					$('#contractorModal').modal('show');
				});
				<!-- END 거래처 목록 모달창 -->
				
				<!-- 선택한 거래처 정보 가져오기 -->
				$(document).on('click','.selectContractor',function(){
					$('#contractorModal').modal('hide');
					var selectContractor = $(this);
					var tr = selectContractor.parent().parent();
					var td = tr.children();
					
					$('#contractorCode').val(td.eq(1).text());
										
				});
				<!-- END 선택한 거래처 정보 가져오기 -->
				
				<!-- 빈칸 검사 기능 -->
				$(document).on('click', '#modifyEstimateBtn', function(){
						if($('#estimatePrice').val() != "" && $('#estimatePrice').val() != "0" && $('#contractorCode').val() !=""){
							swal({
								title: "수정 하시겠습니까?",
								text: "수정하신 견적서는 데이터에 저장됩니다.",
								icon: "warning",
								buttons: {
									confirm: {
										text: "네",
										value: true,
										visible: true,
										className: "btn btn-outline-info ",
										closeModal: true,
									},
									cancel: {
										text: "아니요",
										value: null,
										visible: true,
										className: "btn btn-outline-info ",
										closeModal: true
									}
								}
							})
							.then(function(value){
								if(value){
									swal("수정 성공:)","견적서가 성공적으로 수정되었습니다.","success");
									setTimeout(function(){$('#modifyEstimateForm').submit();},1000);
								}else{
									swal("수정 취소!","견적서 수정이 취소되었습니다.","error");
									return false;
								}
							});	
						}else if($('#contractorCode').val() ==""){
							swal("거래처를 선택하세요!", "거래처 버튼을 누르면 거래처를 선택할 수 있는 목록이 나타납니다." ,"error");
							return false
						}
						else{
							swal("견적 계산을 끝내주세요!", "단가표에서 단가를 선택하고 수량을 입력하면 자동으로 계산됩니다." ,"error");
							return false
						}
				});
				<!-- END 빈칸 검사 기능 -->				
			});
		</script>
	</th:block>	
	
	<th:block layout:fragment="customContents"> 
		<!--카드 영역 -->
		<div class="container container-fluid ">
			<form id="modifyEstimateForm" th:action="@{/team03/contractorContract/Estimate/k3ModifyInvoiceEstimate}" method="post">
				<div class="d-flex">
					<div class="justify-content-start addForm card cardColor input-group" style="margin:10px" th:each="e: ${k3Estimate[0]}">
						<div class="estimateLabel">
							<label>| 창고 견적 |</label>							
						</div>					  	
						<div class="input-group">
							<span class="input-group-text">견적 상세 번호</span>
				 			<input  class="form-control" type="text" name="estimateDetailNum1" th:value="${e.estimateDetailNum}" id="estimateDetailNum" placeholder="자동 지정" readonly/>
						</div>
				  		<div class="input-group">
				  			<span class="input-group-text">단가코드</span>
				  			<input  class="form-control" id="wareCode" type="text" name="wareCode" placeholder="단가코드" th:value="${e.UnitPriceCode}" readonly/>
				 			<button type="button" id="wareUnitBtn" class="ahsbtn2 btn btn-outline-info">단가표</button> 
				  		</div>
				  		<div class="input-group">
				  			<span class="input-group-text">구분 단위</span>
				  			<input  class="form-control" id="wareDevision" type="text" name="wareDevision" th:value="${e.unitContractDevision}" placeholder="구분" readonly/>
				  			<span class="input-group-text">계약 단위</span>
				  			<input class="form-control" id="wareContract" type="text" name="wareContract" th:value="${e.unitContract}" placeholder="계약단위"  readonly/>
				  		</div>
				  		<div class=" input-group">
				  			<span class="input-group-text">창고 유형</span>
				  			<select class="form-control" name="unitContractWarehouseType" id="unitContractWarehouseType" th:value="${e.unitContractWarehouseType}">
				  				<option value="일반" th:selected="${e.unitContractWarehouseType} == 일반">일반</option>
				  				<option value="냉장" th:selected="${e.unitContractWarehouseType} == 냉장">냉장</option>
				  				<option value="냉동" th:selected="${e.unitContractWarehouseType} == 냉동">냉동</option>
				  				<option value="고급" th:selected="${e.unitContractWarehouseType} == 고급">고급</option>
				  			</select>
				  		</div>
				  		<div class=" input-group">
				  			<span class="input-group-text">단위별 견적금액</span>
				  			<div class="input-group" style=" padding-bottom:0px">
					  			<input  class="form-control" id="warePay" type="text" name="warePay" th:value="${e.unitPay}" placeholder="단위 가격" readonly/>
					  			<div style="margin:3px">
					  				<b>X</b>
					  			</div>
					  			<input  class="form-control" id="wareAmount" type="number" min="0" name="wareAmount" value="0" th:value="${e.unitContractDevisionAmount}" placeholder="견적 수량"/>
					  			<div style="margin:3px">
					  				<b>=</b>
					  			</div>
					  			<input class="form-control" type="text" name="wareUnitPrice" id="wareUnitPrice" placeholder="견적금액" readonly/>
				  			</div>
				  		</div>
				  		<div class=" input-group">
				  			<span class="input-group-text">계약 기간</span>
				  			<div class="input-group" style=" padding-bottom:0px">
					  			<input class="form-control" id="wareTerm" type="text" name="wareTerm" th:value="${e.unitTerm}" placeholder="최소 기간(월)" readonly/>
					  			<div style="margin:3px">
					  				<b>X</b>
					  			</div>
					  			<input class="form-control" value="0" min="0" type="number" name="wareTermMulti" id="wareTermMulti" placeholder="기간곱"/>
					  			<div style="margin:3px">
					  				<b>=</b>
					  			</div>
					  			<input class="form-control" type="text" name="wareContractTerm" id="wareContractTerm" th:value="${e.estimateContractTerm}" placeholder="계약 기간(월)" readonly/>
							</div>
				  		</div>
				  		<div class="input-group">
				  			<span class="input-group-text">창고 견적 합계</span>
				  			<input class="form-control" id="wareUnitMulti" type="text" name="wareUnitMulti" th:value="${e.estimateUnitPrice}" placeholder="창고 견적 합계" readonly/>
				  		</div>
					</div>
					<div class="justify-content-start addForm card cardColor input-group" id="invoiceEstimate" style="margin:10px"  th:each="e: ${k3Estimate[1]}">
						<div class="estimateLabel">
							<label>| 배송 송장 견적 |</label>							
						</div>					  	
						<div class="input-group">
							<span class="input-group-text">견적 상세 번호</span>
				 			<input  class="form-control" type="text" name="estimateDetailNum2" id="estimateDetailNum" th:value="${e.estimateDetailNum}" placeholder="자동 지정" readonly/>
						</div>
				  		<div class="input-group">
				  			<span class="input-group-text">단가코드</span>
				  			<input  class="form-control" type="text" id="invoiceCode" name="invoiceCode" th:value="${e.UnitPriceCode}" placeholder="단가코드" readonly/>
				 			<button type="button" id="inovoiceUnitBtn" class="ahsbtn2 btn btn-outline-info">단가표</button> 
				  		</div>
				  		<div class="input-group">
				  			<span class="input-group-text">구분 단위</span>
				  			<input  class="form-control" type="text" id="invoiceDevision" name="invoiceDevision" th:value="${e.unitContractDevision}" placeholder="구분" readonly/>
				  			<span class="input-group-text">계약 단위</span>
				  			<input class="form-control" type="text" name="inovoiceContract" id="inovoiceContract" th:value="${e.unitContract}" placeholder="계약단위"  readonly/>
				  		</div>
				  		<div class=" input-group">
				  			<span class="input-group-text">단위별 견적금액</span>
				  			<div class="input-group" style=" padding-bottom:0px">
					  			<input  class="form-control" id="invoicePay" type="text" name="invoicePay" th:value="${e.unitPay}" placeholder="단위 가격" readonly/>
					  			<div style="margin:3px">
					  				<b>X</b>
					  			</div>
					  			<input  class="form-control" type="number" id="invoiceAmount" value="0" min="0" th:value="${e.unitContractDevisionAmount}" name="invoiceAmount"/>
					  			<div style="margin:3px">
					  				<b>=</b>
					  			</div>
					  			<input class="form-control" type="text" name="invoiceUnitPrice" id="invoiceUnitPrice" th:value="${e.estimateUnitPrice}" placeholder="견적금액" readonly/>
				  			</div>
				  		</div>
				  	</div>
					<div class="justify-content-start addForm card cardColor input-group" style="margin:10px" th:each="e: ${k3Estimate[1]}" >
						<div class="estimateLabel">
							<label>| 견적 정보 |</label>
						</div>						
				  		<div class="input-group">
				  			<span class="input-group-text">거래처 사업장 코드</span>
				  			<input class="form-control" type="text" name="contractorCode" id="contractorCode" th:value="${e.contractorCode}" readonly/>
				 			<button type="button" id="contractorBtn" class="ahsbtn2 btn btn-outline-info">거래처</button> 
				  		</div>
						<div class="input-group">
				  			<span class="input-group-text">견적 번호</span>
				  			<input class="form-control" type="text" name="estimateNum" id="estimateNum" th:value="${e.estimateNum}" readonly/>
				  		</div>
						<div class="estimateLabel">
							<label>| 견적 결과 |</label>							
						</div>
				  		<div class=" input-group">
				  			<span class="input-group-text">견적합계(VAT)</span>
				  			<input class="form-control" id="estimatePrice" type="text" name="estimatePrice" th:value="${e.estimatePrice}" placeholder="단위별 견적의 총합" readonly/>
				  		</div>
				  		<div class=" input-group">
				  			<span class="input-group-text">선입금액 견적</span>
				 			<input class="form-control" id="estimatePricePrepayment" type="text" name="estimatePricePrepayment" th:value="${e.estimatePricePrepayment}" placeholder="견적합계의 10%"  readonly/>
				  		</div>
				  		<div class=" input-group">
				  			<span class="input-group-text">월납입금액 견적</span>
					 		<input class="form-control" id="estimatePriceMonth" type="text" name="estimatePriceMonth" th:value="${e.estimatePriceMonth}" placeholder="(견적합계-선입금액)/계약 기간" readonly/>
				  		</div>
				  		<div class=" input-group">
				  			<span class="input-group-text">견적 측정 일자</span>
				 			<input class="form-control" type="text" name="estimateMeasureDate" id="estimateMeasureDate" th:value="${e.estimateMeasureDate}" maxLength="3" readonly/>
				  		</div>
				  		<div class=" input-group">
				  			<span class="input-group-text">등록 직원 아이디</span>
				 			<input class="form-control" value="m_c01" type="text" name="memberId" id="memberId" th:value="${e.memberId}" maxLength="3" readonly/>
				  		</div>				  		
					</div>	
				</div>
				<div class="d-flex justify-content-center" style="padding-top:20px; border-top: 1px solid #D8D8D8">
					<a class="ahsbtn4 btn btn-block bg-gradient-warning" id="cancleModifyEstimateBtn" type="button" th:href="@{k3SearchEstimate}">수정취소</a>
					<button class="ahsbtn4 btn btn-outline-info" id="modifyEstimateBtn" type="submit">수정</button>
				</div>
			</form>
		</div>

		<!-- 단가표 모달창 -->
		<div class="modal" style="text-align: center" id="unitModal" tabindex="-1"  role="dialog" aria-labelledby="unitModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title font-weight-bold" style="color:#3F72AF">AHS 단가표</h5>
						<button type="button" class="close"  data-dismiss="modal">
							<i class="bi bi-x-circle"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class=" card card-body bg-light container-fluid">
							<table id="dataTableAjax" class=" table table-striped table-hover">
								<thead>
									<tr>
							            <th>단가코드</th>
							            <th>구분</th>
							            <th>계약단위</th>
							            <th>기간</th>
							            <th>단위 당 가격</th>
							            <th>선택</th>
									</tr>
								</thead>
								<tbody id="Umodal">
								
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	   <!--END 단가표 모달창 -->

		<!-- 거래처 모달창 -->
		<div class="modal" style="text-align: center" id="contractorModal" tabindex="-1"  role="dialog" aria-labelledby="unitModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title font-weight-bold" style="color:#3F72AF">AHS 거래처</h5>
						<button type="button" class="close"  data-dismiss="modal">
							<i class="bi bi-x-circle"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class=" card card-body bg-light container-fluid">
							<table  id="contractorDT" class="dataTable table table-striped table-hover" >
								<thead>
									<tr>
							            <th>선택</th>
							            <th>거래처 사업장 코드</th>
							            <th>상호명</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	   <!--END 거래처 모달창 -->
	</th:block>