<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title>ksmart41</title>
	</th:block>
	<th:block layout:fragment="customCss">
		<link rel="stylesheet" th:href="@{/css/common.css}">
		<link rel="stylesheet" th:href="@{/css/eunbin.css}">
	</th:block>
	
	<th:block layout:fragment="customJs">
		<script type="text/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script type="text/javascript">
			$(function(){
/* 				<!-- 데이터 테이블 -->
			    $('#estimateDT').DataTable({
			    	destroy: true,
			    	// 표시 건수기능 숨기기
			    	lengthChange: false,
			    	// 검색 기능 숨기기
			    	searching: false,
			    	// 정보 표시 숨기기
			    	info: false,
			    	pageLength: 5
				});
				<!-- END 데이터 테이블 -->
 */			
				<!-- 거래처 상세정보 모달창 스크립트 -->				
				$(document).on('click','#unitModalBtn',function(){
					$.ajax({ 
						url: "/team03/estimateContract/Estimate/k3UnitModalAjax", 
						method:'GET', 
						dataType:'JSON', 
						success:function(response){ 
							showList(response); 
						} 
					});
						
				}); 
				
				function showList(data){ 
					var Umodal = ''; 
					console.log('data=>'+JSON.stringify(data));
					$("#Umodal").empty();
					for(var i=0; i<data.length; i++){
						Umodal += '<tr><td>'+ data[i].unitPriceCode +'</td>';
						Umodal += '<td>'+ data[i].unitContractDevision +'</td>';
						Umodal += '<td>'+ data[i].unitContract +'</td>';
						Umodal += '<td>'+ data[i].unitTerm +'</td>';
						Umodal += '<td>'+ data[i].unitPay +'</td></tr>';
					}
					$('.modifyUnitModalBtn').attr('href','/team03/estimateContract/Estimate/k3ModifyUnit');
					$("#Umodal").append(Umodal);
					$('#unitModal').modal('show');
				}
				<!-- END 거래처 상세정보 모달창 스크립트 -->		
			});
		</script>
	</th:block>	


	<th:block layout:fragment="customContents"> 
		<!-- 콘텐츠 콘테이너 시작 -->
		<div class="container-fluid">
			<!--버튼 영역 -->			
			<div class="d-flex justify-content-end">					
				<a class="btn btn-outline-info ahsbtn4" type="button" th:href="@{/team03/estimateContract/Estimate/k3AddEstimate}">
					<i class="bi bi-file-earmark-plus"></i>
					등록
				</a>			
				<a class="btn btn-outline-info ahsbtn4" type="button">
					<i class="bi bi-printer"></i>
					출력
				</a>						
				<button id="checkDeleteEstimate" class="btn btn-outline-info ahsbtn4" type="button">
					<i class="bi bi-trash"></i>
					삭제
				</button>			
			</div>	
			<!--End 버튼 영역 -->
			<!--견적서 검색 카드 영역 -->
			<div class="card cardColor">
				<!--card header -->
				<div class="card-header">
					견적서 검색
				</div>
				<!--End card header -->
				<!--card body -->
				<div class="card-body">
					<div class="row" style="margin: 12px">
						<!--inputbox 1 -->
						<div class="col-sm-5" style="padding-left: 0px">
							<form action="searchForm" th:action="@{/team03/estimateContract/Estimate/k3SearchEstimate}" method="Get">
								<div class="input-group d-flex justify-content-start">
									<div class="input-group-prepend">
										<select class="form-control" name="searchKey">
											<option value="estimateNum" th:selected="${estimateNum} == estimateNum" selected>견적번호</option>
											<option value="estimateCode"  th:selected="${estimateCode} == estimateCode" >거래처 사업장 코드</option>
											<option value="estimateName"  th:selected="${estimateName} == estimateName" >거래처 상호명</option>
											<option value="memberId"  th:selected="${memberId} == memberId" >등록직원 아이디</option>
         								</select>
         							</div>
									<input type="text" class="form-control" placeholder="견적서정보입력">
									<div class=" input-group-append">
										<button id="searchDetailEstimate" type="submit" class="btn btn-default searchEstimate">
											<i class="fas fa-search icon"></i>
										</button>
									</div>
								</div>
							</form>
						</div>
						<!--End inputbox 1 -->
						<!--inputbox 2 -->
						<div class="col-sm-7" style="padding-left: 0px">
							<form class="searchDateForm" th:action="@{/team03/estimateContract/Estimate/k3SearchEstimate}" method="Get">
								<div class="input-group  d-flex justify-content-end">
									<span class="input-group-text">견적날짜기간조회</span>
									<div class="input-group-prepend date" id="reservationdate" data-target-input="nearest">
										<input name="estimateMeasureDateStart" value="estimateMeasureDateStart" th:value="${estimateMeasureDateStart}" type="text" class="form-control datetimepicker-input" data-target="#reservationdate" placeholder="yyyy-mm-dd" readonly>
										<div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
											<div class="input-group-text"><i class="fa fa-calendar"></i></div>
										</div>
									</div>
									<div style="margin:3px">
										<b>~</b>
									</div>
									<div class="input-group-prepend date" id="reservationdate2" data-target-input="nearest">
										<input name="estimateMeasureDateEnd" value="estimateMeasureDateEnd" th:value="${estimateMeasureDateEnd}" type="text" class="form-control datetimepicker-input" data-target="#reservationdate2" placeholder="yyyy-mm-dd" readonly>
										<div class="input-group-append" data-target="#reservationdate2" data-toggle="datetimepicker">
											<div class="input-group-text"><i class="fa fa-calendar"></i></div>
										</div>
									</div>
									<div class=" input-group-append">
										<button type="submit" class="searchEstimateDate btn btn-default">
											<i class="fas fa-search icon"></i>
										</button>
									</div>
                    			</div>
							</form>
						</div>
						<!--End inputbox 2 -->
						</div>
				</div>					
					<!--End card body 묶음 -->
			</div>
			<!--End 견적서 검색 카드 영역 -->
				<!--조회 카드 영역 -->
				<div class="card cardColor ">
					<!--card header -->
					<div class="card-header">
						<div style="float:left; padding-top:5px">
							견적서 목록
						</div>
						<div style="float:right">
							<a id="unitModalBtn" class="btn btn-outline-info" type="button">
								<i class="bi bi-card-list"></i>
								단가표
							</a>						
						</div>
					</div>
					<!-- End card header -->
					<!--card body -->
					<div class="card-body table-responsive p-0">
						<table id="estimateDT" class="dataTable table table-head-fixed text-nowrap table-hover " style="overflow: auto">
							<thead>
								<tr>
									<th>
										<input type="checkbox" name="checkEstimate"/>
									</th>
									<th>상세</th>
									<th>계약</th>
									<th>수정</th>
									<th>삭제</th>
						            <th>견적번호</th>
						            <th>거래처 사업장 코드</th>
						            <th>거래처 상호명</th>
						            <th>견적합계(세금포함)</th>
						            <th>등록직원 </th>
						            <th>견적측정날짜</th>
								</tr>
							</thead>
 							<tbody>
								<tr th:if="${not #lists.isEmpty(estimateList)}" th:each="e:${estimateList}">
									<td>
										<label>
											<input name="checkEstimate" type="checkbox"  th:value="${e.estimateNum}"/>
										</label>
									</td>
									<td>
										<a href="#"  type="button" class="btn btn-default btn-sm showDetailEstimate" th:data-estimateCode="${e.estimateNum}">
											<i class="bi bi-eye"></i>
										</a>
									</td>										
									<td>
										<a id="signEstimate" type="button"  class="btn btn-default btn-sm" th:href="@{/team03/estimateContract/Estimate/k3SignEstimate(estimateNum=${e.estimateNum})}">
											<i class="bi bi-clipboard-check"></i>
										</a>
									</td>
									<td>
										<a id="modifyEstimate" type="button"  class="btn btn-default btn-sm" th:href="@{/team03/estimateContract/Estimate/k3ModifyEstimate(estimateNum=${e.estimateNum})}">
											<i class="fas fa-pencil-alt icon"></i>
										</a>
									</td>
									<td>
										<button type="button" class="deleteEstimateBtn btn btn-default btn-sm" th:data-deleteContractCode="${e.estimateNum}" >
											<i class="bi bi-trash-fill"></i>
										</button>
									</td>
									<td  th:text="${e.estimateNum}"></td>
									<td  th:text="${e.estimateCode}"></td>
									<td  th:text="${e.estimateName}"></td>
									<td  th:text="${e.estimatePrice}"></td>
									<td  th:text="${e.memberId}"></td>
									<td  th:text="${e.estimateMeasureDate}"></td>
								</tr>
							</tbody>						
						</table>
 					</div>
					<!--End card body -->
					<!-- 페이징 -->
					<ul class="pagination d-flex justify-content-center align-items-center"  style="margin-top:15px;">
						<li class="paginate_button page-item previous" id="estimateList_previous">
							<a th:if="${currentPage > 1} and ${searchValue} != null" id="estimateListPreviousA" th:href="@{k3SearchEstimate(currentPage=${currentPage-1},searchKey=${searchKey},searchValue=${searchValue})}" aria-controls="estimateList" class="page-link">
								이전
							</a>
							<a th:if="${currentPage > 1} and ${estimateMeasureDateStart} != null and ${estimateMeasureDateEnd} != null" id="estimateListPreviousA" th:href="@{k3SearchEstimate(currentPage=${currentPage-1},estimateMeasureDateStart=${estimateMeasureDateStart},estimateMeasureDateEnd=${estimateMeasureDateEnd})}" aria-controls="estimateList" class="page-link">
								이전
							</a>
							<a th:if="${currentPage > 1} and ${searchValue} == null and ${estimateMeasureDateStart} == null and ${estimateMeasureDateEnd} == null" id="estimateListPreviousA" th:href="@{k3SearchEstimate(currentPage=${currentPage-1})}" aria-controls="estimateList" class="page-link">
								이전
							</a>
						</li>
						<li class="paginate_button page-item" id="estimateList_current" th:each="num : ${#numbers.sequence(startPageNum, endPageNum)}">
							<a  th:if="${num != currentPage} and ${searchValue} != null" id="estimateListCurrentA" th:href="@{k3SearchEstimate(currentPage=${num},searchKey=${searchKey},searchValue=${searchValue})}" th:text="${num}"  aria-controls="estimateList" class="page-link"></a>
							<a  th:if="${num != currentPage} and ${estimateMeasureDateStart} != null and ${estimateMeasureDateEnd} != null" id="estimateListCurrentA" th:href="@{k3SearchEstimate(currentPage=${num},estimateMeasureDateStart=${estimateMeasureDateStart},estimateMeasureDateEnd=${estimateMeasureDateEnd})}" th:text="${num}"  aria-controls="estimateList" class="page-link"></a>
							<a  th:if="${num != currentPage} and ${searchValue} == null and ${estimateMeasureDateStart} == null and ${estimateMeasureDateEnd} == null" id="estimateListCurrentA" th:href="@{k3SearchEstimate(currentPage=${num})}" th:text="${num}"  aria-controls="estimateList" class="page-link"></a>
							<span  th:unless="${num != currentPage}" style="background-color:#BDBDBD" aria-controls="estimateList" class="page-link" th:text="${num}"></span>
						</li>
					    <li class="paginate_button page-item next" id="estimateList_next">
							<a th:if="${currentPage < lastPage} and ${searchValue} != null" id="estimateListNextA" th:href="@{k3SearchEstimate(currentPage=${currentPage+1},searchKey=${searchKey},searchValue=${searchValue})}" aria-controls="estimateList" class="page-link">
								다음
							</a>
							<a th:if="${currentPage < lastPage} and ${estimateMeasureDateStart} != null and ${estimateMeasureDateEnd} != null" id="estimateListNextA" th:href="@{k3SearchEstimate(currentPage=${currentPage+1},estimateMeasureDateStart=${estimateMeasureDateStart},estimateMeasureDateEnd=${estimateMeasureDateEnd})}" aria-controls="estimateList" class="page-link">
								다음
							</a>
							<a th:if="${currentPage < lastPage} and ${searchValue} == null and ${estimateMeasureDateStart} == null and ${estimateMeasureDateEnd} == null" id="estimateListNextA" th:href="@{k3SearchEstimate(currentPage=${currentPage+1})}" aria-controls="estimateList" class="page-link">
								다음
							</a>
					    </li>
					</ul>
					<!-- End 페이징 -->
				</div>
				<!--End 조회 카드 영역 -->
			</div>
			<!-- End 콘텐츠 콘테이너 -->

		<!-- 단가표 모달창 -->
		<div class="modal" style="text-align: center" id="unitModal" tabindex="-1"  role="dialog" aria-labelledby="unitModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title font-weight-bold" style="color:#3F72AF">AHS 단가표</h5>
						<button type="button" class="close"  data-dismiss="modal">
							<i class="bi bi-x-circle"></i>
						</button>
					</div>
					<div class="modal-body" id="modal-body">
						<div class=" card card-body bg-light container-fluid">
							<table class="table table-striped table-hover">
								<thead>
									<tr>
							            <th>단가코드</th>
							            <th>구분단위</th>
							            <th>계약단위</th>
							            <th>최소기간</th>
							            <th>단위 당 가격</th>
									</tr>
								</thead>
								<tbody id="Umodal">
								
								</tbody>
							</table>
						</div>
					</div>
					<div class="modal-footer">
						<a class="ahsbtn2 btn btn-outline-info modifyUnitModalBtn">
							<i class="bi bi-pencil"></i>
							수정
						</a>
						<button class="printDetailUnitModal ahsbtn2 btn btn-outline-info" type="button">
							<i class="bi bi-printer"></i>
							출력
						</button>               
					</div>
				</div>
			</div>
		</div>
	   <!--END 단가표 모달창 -->
	</th:block>
