<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title>ksmart41</title>
	</th:block>
	<th:block layout:fragment="customCss">
		<link rel="stylesheet" th:href="@{/css/common.css}">
		<link rel="stylesheet" th:href="@{/css/eunbin.css}">
	</th:block>
	<th:block layout:fragment="customContents"> 
		<!-- 콘텐츠 콘테이너 시작 -->
		<div class="container-fluid">
			<!--버튼 영역 -->			
			<div class="d-flex justify-content-end">					
				<a class="btn btn-outline-info ahsbtn4" type="button" th:href="@{/team03/contractorContract/Estimate/k3AddEstimate}">
					<i class="bi bi-file-earmark-plus"></i>
					등록
				</a>			
				<a class="btn btn-outline-info ahsbtn4" type="button">
					<i class="bi bi-printer"></i>
					출력
				</a>						
				<button id="checkDeleteEstimate" class="btn btn-outline-info ahsbtn4" type="button">
					<i class="bi bi-trash"></i>
					삭제
				</button>			
			</div>	
			<!--End 버튼 영역 -->
			<!--견적서 검색 카드 영역 -->
			<div class="card cardColor">
				<!--card header -->
				<div class="card-header">
					견적서 검색
				</div>
				<!--End card header -->
				<!--card body -->
				<div class="card-body">
					<div class="row" style="margin: 12px">
						<!--inputbox 1 -->
						<div class="col-sm-5" style="padding-left: 0px">
							<form action="searchForm" th:action="@{/team03/contractorContract/Estimate/k3SearchEstimate}" method="Get">
								<div class="input-group d-flex justify-content-start">
									<div class="input-group-prepend">
										<select class="form-control" name="searchKey">
											<option value="estimateNum" th:selected="${estimateNum} == estimateNum" selected>견적번호</option>
											<option value="contractorCode"  th:selected="${contractorCode} == contractorCode" >거래처 사업장 코드</option>
											<option value="contractorName"  th:selected="${contractorName} == contractorName" >거래처 상호명</option>
											<option value="memberId"  th:selected="${memberId} == memberId" >등록직원 아이디</option>
         								</select>
         							</div>
									<input type="text" class="form-control" placeholder="견적서정보입력">
									<div class=" input-group-append">
										<button id="searchDetailEstimate" type="submit" class="btn btn-default searchEstimate">
											<i class="fas fa-search icon"></i>
										</button>
									</div>
								</div>
							</form>
						</div>
						<!--End inputbox 1 -->
						<!--inputbox 2 -->
						<div class="col-sm-7" style="padding-left: 0px">
							<form class="searchDateForm" th:action="@{/team03/contractorContract/Estimate/k3SearchEstimate}" method="Get">
								<div class="input-group  d-flex justify-content-end">
									<span class="input-group-text">견적날짜기간조회</span>
									<div class="input-group-prepend date" id="reservationdate" data-target-input="nearest">
										<input name="estimateMeasureDateStart" value="estimateMeasureDateStart" th:value="${estimateMeasureDateStart}" type="text" class="form-control datetimepicker-input" data-target="#reservationdate" placeholder="yyyy-mm-dd" readonly>
										<div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
											<div class="input-group-text"><i class="fa fa-calendar"></i></div>
										</div>
									</div>
									<div style="margin:3px">
										<b>~</b>
									</div>
									<div class="input-group-prepend date" id="reservationdate2" data-target-input="nearest">
										<input name="estimateMeasureDateEnd" value="estimateMeasureDateEnd" th:value="${estimateMeasureDateEnd}" type="text" class="form-control datetimepicker-input" data-target="#reservationdate2" placeholder="yyyy-mm-dd" readonly>
										<div class="input-group-append" data-target="#reservationdate2" data-toggle="datetimepicker">
											<div class="input-group-text"><i class="fa fa-calendar"></i></div>
										</div>
									</div>
									<div class=" input-group-append">
										<button type="submit" class="searchEstimateDate btn btn-default">
											<i class="fas fa-search icon"></i>
										</button>
									</div>
                    			</div>
							</form>
						</div>
						<!--End inputbox 2 -->
						</div>
				</div>					
					<!--End card body 묶음 -->
			</div>
			<!--End 견적서 검색 카드 영역 -->
				<!--조회 카드 영역 -->
				<div class="card cardColor ">
					<!--card header -->
					<div class="card-header">
						<div style="float:left; padding-top:5px">
							견적서 목록
						</div>
						<div style="float:right">
							<a class="btn btn-outline-info" type="button">
								<i class="bi bi-card-list"></i>
								단가표
							</a>						
						</div>
					</div>
					<!-- End card header -->
					<!--card body -->
					<div class="card-body table-responsive p-0" style="height: 300px">
						<table class="table table-head-fixed text-nowrap table-hover" style="overflow: auto">
							<thead>
								<tr>
									<th>
										<input type="checkbox" name="checkEstimate"/>
									</th>
									<th>상세</th>
									<th>계약</th>
									<th>수정</th>
									<th>삭제</th>
						            <th>견적번호</th>
						            <th>거래처 사업장 코드</th>
						            <th>거래처 상호명</th>
						            <th>견적합계(세금포함)</th>
						            <th>등록직원 </th>
						            <th>견적측정날짜</th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${not #lists.isEmpty(estimateList)}" th:each="e:${estimateList}">
									<td>
										<label>
											<input name="checkEstimate" type="checkbox"  th:value="${e.estimateNum}"/>
										</label>
									</td>
									<td>
										<a href="#"  type="button" class="btn btn-default btn-sm showDetailEstimate" th:data-contractorCode="${e.estimateNum}">
											<i class="bi bi-eye"></i>
										</a>
									</td>										
									<td>
										<a id="signEstimate" type="button"  class="btn btn-default btn-sm" th:href="@{/team03/contractorContract/Estimate/k3SignEstimate(estimateNum=${e.estimateNum})}">
											<i class="bi bi-clipboard-check"></i>
										</a>
									</td>
									<td>
										<a id="modifyEstimate" type="button"  class="btn btn-default btn-sm" th:href="@{/team03/contractorContract/Estimate/k3ModifyEstimate(estimateNum=${e.estimateNum})}">
											<i class="fas fa-pencil-alt icon"></i>
										</a>
									</td>
									<td>
										<button type="button" class="deleteEstimateBtn btn btn-default btn-sm" th:data-deleteContractCode="${e.estimateNum}" >
											<i class="bi bi-trash-fill"></i>
										</button>
									</td>
									<td  th:text="${e.estimateNum}"></td>
									<td  th:text="${e.contractorCode}"></td>
									<td  th:text="${e.contractorName}"></td>
									<td  th:text="${e.estimatePrice}"></td>
									<td  th:text="${e.memberId}"></td>
									<td  th:text="${e.estimateMeasureDate}"></td>
								</tr>
							</tbody>						
						</table>
					</div>
					<!--End card body -->
				</div>
				<!--End 조회 카드 영역 -->
			</div>
			<!-- End 콘텐츠 콘테이너 -->
	</th:block>
</head>