<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title>ksmart41</title>
	</th:block>
	
	<th:block layout:fragment="customCss">
		<link rel="stylesheet" th:href="@{/css/common.css}">
		<link rel="stylesheet" th:href="@{/css/jiwonee.css}">
		<link rel="stylesheet" th:href="@{/css/modal.css}">
   </th:block>
   

		
	<th:block layout:fragment="customJs">
		<script type="text/javascript">
		$(function(){
			$('#cancelBtn').on('click', function(){

				location.href = '/team03/delivery/shipping/k3ShippingList';
			});
			$(document).on('click', '#submitBtn', function(){
				
					var submitCheck = true;
					var inputObj = $('#userInfo').find('input');
						
					$.each(inputObj, function(){	
   					var inputDate = $(this).val();
   					var inputId = $(this).attr('id');
   					var labelText = $('label[for=' + inputId + ']').text();
						
   					if(typeof inputDate == 'undefined' || inputDate == null || inputDate == ''){
   						alert(labelText + ' 입력해주세요');
   						$(this).focus();
   						submitCheck = false;
   						return false;
   					}		
					});  						
					
					if(submitCheck) $('#userInfo').submit();
				});
			
			
			//모달1
			var shppingModal = $('#shppingModal');
			
			$(".shippingExitBtn").click(function(){
					
				shppingModal.addClass('hidden');
			});
	
		

			$(document).on('click', '.shippingMemberId_btn', function(){
				var aLengthMenuArray = [];
				aLengthMenuArray.push([5,10]);
				aLengthMenuArray.push([5,10]);
				
				$('#shippingMemberId').DataTable({
					destroy: true,
					pageLength: 5,
					aLengthMenu: aLengthMenuArray,
					ajax: {
						url: '/team03/delivery/shipping/shippingMemberId',
	   					type: 'POST',
	   					dataSrc: function(data){
	        				console.log(JSON.stringify(data));
	        				return data;
	        			}
					},
					columns: [
						{ "data": "선택"},
						{ "data": "memberId"},
						{ "data": "memberName"}							
					],
					columnDefs: [
						{
							targets: [0],
							orderable : false,
							searchable : false,
							render : function(data, type, row){
								var htmlbtn = '<input type="radio" class="memberId" name="memberId" value="'+ row.memberId +'">'
								return htmlbtn;
							}
						}
					]
				});
				var overlay = $('.modal_overlay');
				shppingModal.removeClass('hidden');
					
			});
			
			$(document).on('click', '#memberConfirmBtn', function(){
				var checkedBox = $('.memberId:checked');
				var memberId = $('#memberId');
 				var memberName = $('#memberName');
				
 				var dispatchMemberIdValue = checkedBox.parent().parent().children().eq(2).text();
 				memberName.attr('value', dispatchMemberIdValue);	
 				memberId.attr('value', checkedBox.val());	

 				shppingModal.addClass('hidden');
			});
		
				//모달2
					
					var driverModal = $('#driverModal');
					
					$(".driverExitBtn").click(function(){
							
						driverModal.addClass('hidden');
					});
			
					$(document).on('click', '.shippingDriverName_btn', function(){
						var aLengthMenuArray = [];
						aLengthMenuArray.push([5,10]);
						aLengthMenuArray.push([5,10]);
						
						$('#shippingDriverName').DataTable({
							destroy: true,
							pageLength: 5,
							aLengthMenu: aLengthMenuArray,
							ajax: {
								url: '/team03/delivery/shipping/shippingDriverName',
			   					type: 'POST',
			   					dataSrc: function(data){
			        				console.log(JSON.stringify(data));
			        				return data;
			        			}
							},
							columns: [
								{ "data": "선택"},
								{ "data": "driverId"},
								{ "data": "driverName"},
								{ "data": "driverPhone"},
								{ "data": "driverRegDate"}
							],
							columnDefs: [
								{
									targets: [0],
									orderable : false,
									searchable : false,
									render : function(data, type, row){
										var htmlbtn = '<input type="radio" class="driverId" name="driverId" value="'+ row.driverId +'">'
										return htmlbtn;
									}
								}
							]
						});
						var overlay = $('.modal_overlay');
						driverModal.removeClass('hidden');
							
					});
					$(document).on('click', '#driverConfirmBtn', function(){
						var checkedBox = $('.driverId:checked');
						var driverId = $('#driverId');
		 				var driverName = $('#driverName');
						
		 				var shippingDriverNameValue = checkedBox.parent().parent().children().eq(2).text();
		 				driverName.attr('value', shippingDriverNameValue);	
		 				driverId.attr('value', checkedBox.val());

		 				driverModal.addClass('hidden');

					});
					
			
					//모달3
					var releaseModal = $('#releaseModal');
					
					$(".releaseExitBtn").click(function(){
							
						releaseModal.addClass('hidden');
					});
			
					$(document).on('click', '.releaseCodeName_btn', function(){
						var aLengthMenuArray = [];
						aLengthMenuArray.push([5,10]);
						aLengthMenuArray.push([5,10]);
						
						$('#releaseCodeName').DataTable({
							destroy: true,
							pageLength: 5,
							aLengthMenu: aLengthMenuArray,
							ajax: {
								url: '/team03/delivery/shipping/shippingReleaseCode',
			   					type: 'POST',
			   					dataSrc: function(data){
			        				console.log(JSON.stringify(data));
			        				return data;
			        			}
							},
							columns: [
								{ "data": "선택"},
								{ "data": "releaseCode"},
								{ "data": "releaseMergeCode"},
								{ "data": "productName"},								
								{ "data": "pileupDate"}	
							],
							columnDefs: [
								{
									targets: [0],
									orderable : false,
									searchable : false,
									render : function(data, type, row){
										var htmlbtn = '<input type="radio" class="releaseMergeCode" name="releaseMergeCode" value="'+ row.releaseMergeCode +'">'
										return htmlbtn;
									}
								}
							]
						});
						var overlay = $('.modal_overlay');
						releaseModal.removeClass('hidden');
							
					});
					$(document).on('click', '#releaseConfirmBtn', function(){
						var checkedBox = $('.releaseMergeCode:checked');
						var releaseMergeCode = $('#releaseMergeCode');

						
		 				var releaseMergeCodeValue = checkedBox.parent().parent().children().eq(2).text();
		 				driverName.attr('value', releaseMergeCodeValue);	
		 				driverId.attr('value', checkedBox.val());

		 				releaseModal.addClass('hidden');

					});
				
						
				//중복확인
				$('#overlapped_btn').click(function(){
	
					var shippingCode = $('#shippingCode').val();
					
					if(typeof shippingCode != 'undefined' && shippingCode != null && shippingCode != ''){
						// ajax 호출
						var request = $.ajax({
							  url: '/team03/delivery/shipping/shippingCheck', 
							  method: 'POST', 
							  data: { 'shippingCode' : shippingCode },
							  dataType: 'json' 
							});				
						request.done(function(data) {
							// 중복여부 체크(true: 중복, false: 등록가능)
							var idConfirm = data;
							
							if(idConfirm){
								alert('이미 등록된 배송번호입니다.');
		 						$('#userInfo input').not('#shippingCode').prop('disabled', true);
								$('#userInfo select').prop('disabled', true);
								$('#userInfo button').not('#overlapped_btn').prop('disabled', true);
							}else{
								alert('등록이 가능한 배송번호입니다.');
								$('#userInfo input').prop('disabled', false);
								$('#userInfo select').prop('disabled', false);
								$('#userInfo button').prop('disabled', false);
							}
							
							
						});				
						request.fail(function( jqXHR, textStatus ) {
						  alert( "Request failed: " + textStatus );
						});
					}else{
						alert('배송번호를 입력해주세요')
						return false;
					}
					
					
				});
			});
		</script>
		</th:block>
		
	<th:block layout:fragment="customContents">
	
	 
		<div id="representative-button">
			<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid d-flex justify-content-center">
					
					<!--카드 영역 -->
					<div class="col-md-8">
					<div class="card cardColor">
						<!--card header -->
						
						<div class="card-header cardHeadBorder">
							<h4>배송현황 등록</h4>
						</div>
						<!--End card header -->
						<!--card body -->
						<div class="card-body">
							<div class="row">
								<form id="userInfo" th:action="@{/team03/delivery/shipping/k3AddShipping}" method="post">
									<div class="inputwrap col-md-12">
										<label for="shippingCode" class="inputName">배송 번호</label>
										<input class="inputBox" type="text" id="shippingCode" name="shippingCode" placeholder="배송 번호를 등록해주세요 ex) ship000"/>
										<button type="button" id="overlapped_btn">중복확인 </button> 
									</div>
									<div class="inputwrap col-md-12">
										<label for="memberId" class="inputName">확인 담당자</label>
										<input class="inputBox" type="hidden" id="memberId" name="memberId" readonly="readonly"/>
										<input class="inputBox" type="text" id="memberName" name="memberName" placeholder="확인 담당자를 등록해주세요" disabled="disabled"/>
										<button class="shippingMemberId_btn" type="button">등록</button>
									</div>			
									<div class="inputwrap col-md-12">
										<label for="releaseCode" class="inputName">출고 코드</label>
										<input class="inputBox" type="text" id="releaseCode" name="releaseCode" placeholder="출고 코드를 등록해주세요"/>
										<button class="releaseCodeName_btn" type="button">등록</button>
									</div>
									<div class="inputwrap col-md-12">
										<label for="driverId" class="inputName">차량 기사</label>
										<input class="inputBox" type="hidden" id="driverId" name="driverId" readonly="readonly"/>
										<input class="inputBox" type="text" id="driverName" name="driverName" placeholder="차량 기사를 등록해주세요" disabled="disabled"/>
										<button class="shippingDriverName_btn" type="button">등록</button> 
									</div>
									<div class="inputwrap col-md-12">
										<label for="shippingDetail" class="inputName">배송 세부유형</label>
										<input class="inputBox" type="text" id="shippingDetail" name="shippingDetail" placeholder="배송 세부 유형을 등록해주세요 ex) 마트"/>
									</div>							
									<div class="inputwrap col-md-12">
										<label for="shippingTracking" class="inputName">배송 현황</label>
										<input class="inputBox" type="text" id="shippingTracking" name="shippingTracking" placeholder="배송 현황을 등록해주세요 ex) 배송완료"/> 
									</div>
									<div class="d-flex justify-content-center" style="margin-top:25px;">
										<button type="button" class="ahsbtn5 btn btn-outline-primary me-2" id="submitBtn">등록</button>
										<button type="button" class="ahsbtn5 btn btn-primary" id="cancelBtn">취소</button>
									</div>													
								</form>
	 						</div>
						</div>					
	 					<!--End card body 묶음 -->
					</div>
					</div>
					<!--End 카드 영역 -->
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
		</div>
		<!-- 모달창 -->
		<div id="shppingModal" class="modal hidden">
			<div class="modal_overlay"></div>		
			<div class="modal_content">
				<div class="modal_header d-flex justify-content-between">
					<div class="textTitle">확인 담당자</div>
					<button class="shippingExitBtn" type="button">
						<i class="fas fa-times-circle"></i>
					</button>
				</div>
				<div class="modal_body">
					<form>	
						<table border="1" id="shippingMemberId" class="dataTable">
							<thead>
								<tr bgcolor="#BDBDBD">
									<th>선택</th>	
									<th>회원코드</th>
									<th>회원명</th>				
								</tr>
							</thead>
						</table>				
					</form>
				</div>
				<div class="modal_fotter">
					<button id="memberConfirmBtn" class="btn btn-secondary confirmBtn" type="button">확인</button>
				</div>			
			</div>
		</div>
		<!-- End 모달창 -->
		
		<!-- 모달창2 -->
		<div id="driverModal" class="modal hidden">
			<div class="modal_overlay"></div>		
			<div class="modal_content">
				<div class="modal_header d-flex justify-content-between">
					<div class="textTitle">차량기사 선택</div>
					<button class="driverExitBtn" type="button">
						<i class="fas fa-times-circle"></i>
					</button>
				</div>
				<div class="modal_body">
					<form>	
						<table border="1" id="shippingDriverName" class="dataTable">
							<thead>
								<tr bgcolor="#BDBDBD">
									<th>선택</th>	
									<th>기사 아이디</th>
									<th>기사 이름</th>
									<th>기사 전화번호</th>
									<th>등록일자</th>
								</tr>
							</thead>
						</table>				
					</form>
				</div>
				<div class="modal_fotter">
					<button id="driverConfirmBtn" class="btn btn-secondary confirmBtn" type="button">확인</button>
				</div>			
			</div>
		</div>
		<!-- End 모달창 -->
		
		<!-- 모달창3 -->
		<div id="releaseModal" class="modal hidden">
			<div class="modal_overlay"></div>		
			<div class="modal_content">
				<div class="modal_header d-flex justify-content-between">
					<div class="textTitle">통합코드 선택</div>
					<button class="releaseExitBtn" type="button">
						<i class="fas fa-times-circle"></i>
					</button>
				</div>
				<div class="modal_body">
					<form>	
						<table border="1" id="releaseCodeName" class="dataTable">
							<thead>
								<tr bgcolor="#BDBDBD">
									<th>선택</th>
									<th>출고코드</th>
									<th>통합코드</th>
									<th>상품명</th>						
									<th>재고일자</th>
								</tr>
							</thead>
						</table>				
					</form>
				</div>
				<div class="modal_fotter">
					<button id="releaseConfirmBtn" class="btn btn-secondary confirmBtn" type="button">확인</button>
				</div>			
			</div>
		</div>
		<!-- End 모달창 -->
		
		
	</th:block>