<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title>ksmart41</title>
	</th:block>
	
	<th:block layout:fragment="customCss">
		<link rel="stylesheet" th:href="@{/css/common.css}">
		<link rel="stylesheet" th:href="@{/css/jiwonee.css}">
		<link rel="stylesheet" th:href="@{/css/modal.css}">
   </th:block>
   

		
	<th:block layout:fragment="customJs">
		<script type="text/javascript">
		$(function(){
			$('#cancelBtn').on('click', function(){

				location.href = '/team03/delivery/shipping/k3ShippingList';
			});
			$(document).on('click', '#submitBtn', function(){
				
					var submitCheck = true;
					var inputObj = $('#userInfo').find('input');
						
					$.each(inputObj, function(){	
   					var inputDate = $(this).val();
   					var inputId = $(this).attr('id');
   					var labelText = $('label[for=' + inputId + ']').text();
						
   					if(typeof inputDate == 'undefined' || inputDate == null || inputDate == ''){
   						alert(labelText + ' 입력해주세요');
   						$(this).focus();
   						submitCheck = false;
   						return false;
   					}		
					});  						
					
					if(submitCheck) $('#userInfo').submit();
				});
			
			var modal = $('#shppingModal');
			
			$(".shippingExitBtn").click(function(){
					
				modal.addClass('hidden');
			});
	
			$(document).on('click', '.shippingDriverName_btn', function(){
				var aLengthMenuArray = [];
				aLengthMenuArray.push([5,10,-1]);
				aLengthMenuArray.push([5,10,'ALL']);
				
				$('#shippingCheckpoint_btn').DataTable({
					destroy: true,
					pageLength: 5,
					aLengthMenu: aLengthMenuArray,
					ajax: {
						url: '/team03/delivery/shipping/shippingCheckpoint',
	   					type: 'POST',
	   					dataSrc: function(data){
	        				console.log(JSON.stringify(data));
	        				return data;
	        			}
					},
					columns: [
						{ "data": "선택"},
						{ "data": "driverId"},
						{ "data": "driverName"},
						{ "data": "driverPhone"},
						{ "data": "driverRegDate"}						
					],
					columnDefs: [
						{
							targets: [0],
							orderable : false,
							searchable : false,
							render : function(data, type, row){
								var htmlbtn = '<input type="radio" class="driverId" name="driverId" value="'+ row.driverId +'">'
								return htmlbtn;
							}
						}
					]
				});
				var overlay = $('.modal_overlay');
				modal.removeClass('hidden');
					
			});
			$(document).on('click', '#driverConfirmBtn', function(){
				var checkedBox = $('.driverId:checked');
 				var driverId = $('#driverId');
 				var driverName = $('#driverName');
				
 				var checkpointMemberIdValue = checkedBox.parent().parent().children().eq(2).text();
 				driverName.attr('value', checkpointMemberIdValue);	
 				driverId.attr('value', checkedBox.val());	

				modal.addClass('hidden');

			});
		});
		</script>
		</th:block>
		
	<th:block layout:fragment="customContents">
	
	 
		<div id="representative-button">
			<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid d-flex justify-content-center">
					
					<!--카드 영역 -->
					<div class="col-md-8">
					<div class="card cardColor">
						<!--card header -->
						
						<div class="card-header cardHeadBorder">
							<h4>배송현황 등록</h4>
						</div>
						<!--End card header -->
						<!--card body -->
						<div class="card-body">
							<div class="row">
								<form id="userInfo" th:action="@{/team03/delivery/shipping/k3AddShipping}" method="post">
									<div class="inputwrap col-md-12">
										<label for="shippingCode" class="inputName">배송 번호</label>
										<input class="inputBox" type="text" id="shippingCode" name="shippingCode"/>
										<button type="button" id="btn">중복확인 </button> 
									</div>
									<div class="inputwrap col-md-12">
										<label for="vehicleCheckpointCode" class="inputName">입출차 기록 코드</label>
										<input class="inputBox" type="text" id="vehicleCheckpointCode" name="vehicleCheckpointCode"/>
										<button class="shippingCheckpoint_btn" type="button">등록</button> 
									</div>	
									<div class="inputwrap col-md-12">
										<label for="releaseCode" class="inputName">출고 코드</label>
										<input class="inputBox" type="text" id="releaseCode" name="releaseCode"/>
									</div>	
									<div class="inputwrap col-md-12">
										<label for="memberId" class="inputName">확인 담당자</label>
										<input class="inputBox" type="text" id="memberId" name="memberId"/>
									</div>													
									<div class="inputwrap col-md-12">
										<label for="shippingDetail" class="inputName">배송 세부유형</label>
										<input class="inputBox" type="text" id="shippingDetail" name="shippingDetail"/>
									</div>								
									<div class="inputwrap col-md-12">
										<label for="driverId" class="inputName">배송 기사</label>
										<input class="inputBox" type="text" id="driverId" name="driverId"/>
									</div>								
									<div class="inputwrap col-md-12">
										<label for="shippingTracking" class="inputName">배송 현황</label>
										<input class="inputBox" type="text" id="shippingTracking" name="shippingTracking"/>
									</div>
									<div class="d-flex justify-content-center" style="margin-top:25px;">
										<button type="submit" class="ahsbtn5 btn btn-outline-primary me-2">등록</button>
										<button type="button" class="ahsbtn5 btn btn-primary">취소</button>
									</div>								
																	
								</form>
	 						</div>
						</div>					
	 					<!--End card body 묶음 -->
					</div>
					</div>
					<!--End 카드 영역 -->
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
		</div>
	</th:block>
</head>