<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title>ksmart41</title>
	</th:block>
	<th:block layout:fragment="customJs"> 
	<script>
		//삭제
		$(function(){				
			$('#addShippingBtn').on('click', function(){
				location.href = '/team03/delivery/shipping/k3AddShipping';
			});
			
			$(document).on('click', '#deleteShippingBtn', function(){
				var check = $('.deleteList:checked');
				var deleteCheckList = [];
				
				$.each(check, function(){
					deleteCheckList.push($(this).val());
				});
	
				
				if(check.length > 0){
					if(confirm(check.length + "개 항목을 삭제합니다.")){
						
						$('#shippingForm').submit();
					}
					
				}else{
					alert("삭제할 항목을 선택해주세요.");
				}
			});
		});
			
			
		</script>	
		</th:block>
	<th:block layout:fragment="customContents"> 
		<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid">
				<!--버튼 영역 -->			
					<div class="d-flex justify-content-end">					
						<button class="btn btn-outline-info ahsbtn4" type="button" id="addShippingBtn">
							<i class="bi bi-file-earmark-plus"></i>
							등록
						</button>			
						<button class="btn btn-outline-info ahsbtn4" type="button">
							<i class="bi bi-printer"></i>
							출력
						</button>				
						<button class="btn btn-outline-info ahsbtn4" type="button" id="deleteShippingBtn">
							<i class="bi bi-trash"></i>
							삭제
						</button>			
					</div>
				<!--End 버튼 영역 -->
					<!--상위 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header">
							조회
						</div>
						<!--End card header -->
						<!--card body -->
						<div class="card-body">
							<div class="row" style="margin: 12px">
								<!--inputbox 1 -->
								<form class="col-lg-6" th:action="@{/team03/delivery/shipping/k3ShippingList}" method="post">
								<div class="input-group input-group-sm">
									<select class="form-control-sm" name="shippingKey">
												<option value="shipping">배송 번호</option>
												<option value="driver">기사 아이디</option>
											</select>
										<input type="text" class="form-control" placeholder="검색" name="shippingValue">
											<button type="submit">검색</button>

									</div>
								</form>
								<!--End inputbox 1 -->
	 						</div>
						</div>					
	 					<!--End card body 묶음 -->
					</div>
					<!--End 상위 카드 영역 -->
					<!--하위 카드 영역 -->
					<div class="card underCard">
						<!--card header -->
						<div class="card-header deprbtn">
							현황
						</div>
						<!-- End card header -->
						<!--card body -->
						<div class="card-body table-responsive p-0 table-hover" style="height: 300px;">
						<form id="shippingForm" th:action="@{/team03/delivery/shipping/k3DeleteShipping}" method="post">
							<table class="table table-head-fixed text-nowrap table-striped">
								<thead>
									<tr>
										<th>선택</th>
										<th>수정</th>	
										<th>배송 번호</th>
										<th>상품출고 통합코드</th>
										<th>확인 담당자</th>
										<th>차량 기사</th>
										<th>배송지</th>
										<th>배송지 세부주소</th>
										<th>배송 세부유형</th>
										<th>배송 현황</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${not #lists.isEmpty(shippingList)}" th:each="l : ${shippingList}">
										<td>
											<input type="checkbox" class="deleteList" name="deleteList[]" th:value="${l.shippingCode}">
										</td>	
										<td>
										<a id="modifyShipping" type="button" class="btn btn-default btn-sm" th:href="@{/team03/delivery/shipping/k3ModifyShipping(shippingCode=${l.shippingCode})}">
												<i class="fas fa-pencil-alt icon"></i>
										</a>
										</td>
										<td th:text="${l.shippingCode}"></td>
										<td th:text="${l.releaseMergeCode}"></td>
										<td th:text="${l.memberId}"></td>
										<td th:text="${l.driverId}"></td>
										<td th:text="${l.shippingAddress}"></td>
										<td th:text="${l.shippingDetailAddress}"></td>
										<td th:text="${l.shippingDetail}"></td>
										<td th:text="${l.shippingTracking}"></td>
   											
										
									</tr>
								</tbody>						
							</table>
							</form>
						</div>
						<!--End card body -->
					</div>
					<!--End 하위 카드 영역 -->
					
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
	</th:block>