@charset "UTF-8";

/******* 거래 관리페이지 ********/

.page-link{
	color:#3F72AF;
}
.input-group{
	padding-top:15px;
	padding-bottom:15px;
}
.addGroup{
	padding-bottom:15px;
}

.contractorLabel{
	padding-top:15px;
	padding-bottom:10px;
	border-bottom: 1px solid #D8D8D8;	
	border-top: 1px solid #D8D8D8;
	font-size: 20px; 
	text-align: center;
}
.estimateLabel{
	padding-top:15px;
	padding-bottom:10px;
	border-bottom: 1px solid #D8D8D8;	
	border-top: 1px solid #D8D8D8;
	font-size: 20px; 
	text-align: center;

}
.ahsbtn2{
	margin-left:0px;
}

.addForm{
	padding : 15px;
}

.modifyForm{
	padding : 15px;	
}