@charset "UTF-8";


/********버튼********/
/* .vehicleMemberId_btn{
	margin-left: 20px;
    width: 14%;
    height: 38px;
    font-weight: 600;
    background-color: #dfe8f5;
    font-size: 15px;
    cursor:pointer;
}
 */
 
 .cards-box {
            display: flex;
            justify-content: space-between;


            flex-wrap: wrap;
            {#float: left;#}
        }