@charset "EUC-KR";

/*모달 버튼 */
.findContractorModal{

}
/* */
.modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal_overlay{
	background-color: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	position: absolute;
}
/*작은 모달  */
.modal_content{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	position: relative;
	top: 0px;
	background-color: white;
	padding: 0;
	margin: 0;
	text-align: center;
	border-radius: 10px;
	width: 600px;
	border: 8px solid #3F72AF;
}
/*큰 모달  */
.modal_content2{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	position: relative;
	top: 0px;
	background-color: white;
	padding: 0;
	margin: 0;
	text-align: center;
	width: 1000px;
}
.modal_header{
	text-align: left;
	background-color: #3F72AF;
	padding: 0;
	padding-top: 3px;
	height: 35px;
	
}
.modal_body form{
	border-color: #F6F6F6;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	padding-top: 15px;
	padding-bottom: 10px;

}
.modal_body form table{
	border-color: #F6F6F6;
	background-color: white;
	font-weight: 300px;
	width: 98%;
}

.modal_fotter{
	background-color: #FFFFFB;
	display: flex;
	justify-content: flex-end;
	padding-bottom: 10px;
	padding-right: 10px;
}	
.textTitle{
	padding-left: 2px;
	color: white;
	padding: 0;
	margin:0;
}
.hidden{
	display: none;
}
.modalConfromBtn{
	size: 10px;
	width: 100px; 
	height: 38px;
	
}
.exitBtn{
	border: 0;
	outline: 0;
	background-color: #3F72AF;

}
.exitBtn i {
	color: white;
}
#findContractorName{
	width: 30%; 
}
