<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title>ksmart41</title>
	</th:block>
	<th:block layout:fragment="customContents"> 
	<script>
			$(function(){				
				$('#memberuserBtn').on('click', function(){
					location.href = '/team03/companymanagement/member/k3MemberUserList';
				});
				
				$(document).on('click', '#deleteMemberUserBtn', function(){
					var check = $('.deleteList:checked');
					var deleteCheckList = [];
					
					$.each(check, function(){
						deleteCheckList.push($(this).val());
					});

					
					if(check.length > 0){
						if(confirm(check.length + "개 항목을 삭제합니다.")){
							
							$('#searchForm').submit();
						}
						
					}else{
						alert("삭제할 항목을 선택해주세요.");
					}
				});
			});
		</script>
		<div id="representative-button">
			<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid">
				<!--버튼 영역 -->			
					<div class="d-flex justify-content-end">
						<button id="memberuserBtn" class="btn btn-outline-info ahsbtn4" type="button" th:if="${session.SLEVEL == 'GM' or  session.SLEVEL == 'TM'}">
							<i class="bi bi-file-earmark-plus"></i>
							직원 현황
						</button>						
						<button class="btn btn-outline-info ahsbtn4" type="button">
							<i class="bi bi-printer"></i>
							출력
						</button>						
					</div>	
					<!--End 버튼 영역 -->
					<!--End 버튼 영역 -->
					<!--상위 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header">
							퇴사 직원 조회
						</div>
						<!--End card header -->
						<!--card body -->
						<div class="card-body">
							<div class="row" style="margin: 12px">
								<!--inputbox 1 -->
								<form class="col-lg-6" th:action="@{/team03/companymanagement/retiredmemberuser/k3RetiredMemberUserList}"  method="post">
									<div class="input-group">
										<div class="input-group-prepend">
											<select name="memberuserKey" class="input-group-text form-control-sm" style="height: 38px; font-size: 15px;">
												<option value="memberId">직원ID</option>
												<option value="memberPassword">직원PW</option>
												<option value="mainBusinessCode">사업장별대표코드</option>
												<option value="levelMemberCode">권한번호</option>
												<option value="memberName">직원이름</option>
												<option value="memberGender">성별</option>
												<option value="memberAddr">주소</option>
												<option value="memberPhone">전화번호</option>
												<option value="memberResidentRegistrationNumber">주민번호</option>
												<option value="memberState">직원계정상태</option>
												<option value="memberRegDate">등록일자</option>
												<option value="memberHiredDate">입사일자</option>
										</select>
										<input type="text" class="form-control" placeholder="검색" name="memberuserValue">
										<button type="submit">검색</button>
											</div>
									</div>
									</form>
								<!--End inputbox 1 -->
	 						</div>
						</div>					
	 					<!--End card body 묶음 -->
					</div>
					<!--End 상위 카드 영역 -->
					<!--하위 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header deprbtn">
							직원 현황
						</div>
						<!-- End card header -->
						<!--card body -->
						<div class="card-body table-responsive p-0 table-hover" style="height: 450px;">
								<table class="table table-head-fixed text-nowrap table-striped">
									<thead>
										<tr>
											<th>직원ID</th>
						                     <th>직원PW</th>
						                     <th>사업장별대표코드</th>
						                     <th>권한번호</th>
						                     <th>직원이름</th>
						                     <th>성별</th>
						                     <th>주소</th>
						                     <th>전화번호</th>
						                     <th>주민번호</th>
						                     <th>직원계정상태</th>
						                     <th>등록일자</th>
						                     <th>입사일자</th>	
										</tr>
									</thead>
									<tbody>								
										<tr th:if="${not #lists.isEmpty(retiredmemberuserList)}" th:each="l : ${retiredmemberuserList}">		
						   				<td th:text="${l.memberId}"></td>
						   				<td th:text="${l.memberPassword}"></td>
						   				<td th:text="${l.mainBusinessCode}"></td>
						   				<td th:text="${l.levelMemberCode}"></td>
						   				<td th:text="${l.memberName}"></td>
						   				<td th:text="${l.memberGender}"></td>
						   				<td th:text="${l.memberAddr}"></td>
						   				<td th:text="${l.memberPhone}"></td>
						   				<td th:text="${l.memberResidentRegistrationNumber}"></td>
						   				<td th:text="${l.memberState}"></td>
						   				<td th:text="${l.memberRegDate}"></td>
						   				<td th:text="${l.memberHiredDate}"></td>
						   			</tr>
						   			<tr th:unless="${not #lists.isEmpty(retiredmemberuserList)}" th:each="l : ${retiredmemberuserList}">		
						   				<td colspan="9">등록된 직원이 없습니다.</td>
						   			</tr>
									</tbody>						
								</table>
							</form>	
						</div>
						<!--End card body -->
					</div>
					<!--End 하위 카드 영역 -->
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
		</div>
	</th:block>
</head>