<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title>ksmart41</title>
	</th:block>
	<th:block layout:fragment="customContents"> 
		<div id="representative-button">
			<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid">
					<!--버튼 영역 -->
					<div style="margin:15px;">
						<button type="button" class="ahsbtn3 btn btn-outline-info">차량 등록</button>
						<button type="button" class="ahsbtn3 btn btn-outline-info">차량 삭제</button>
						<button type="button" class="ahsbtn3 btn btn-outline-info">차량 출력</button>					
					</div>
					<!--End 버튼 영역 -->
					<!--상위 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header">
							검색
						</div>
						<!--End card header -->
						<!--card body -->
						<div class="card-body">
							<div class="row" style="margin: 12px">
								<!--inputbox 1 -->
								<div class="col-lg-4" style="padding-left: 0px">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">차량 코드</span>
										</div>
										<input type="text" class="form-control" placeholder="차량 코드">
									</div>
								</div>
								<!--End inputbox 1 -->
								<!--inputbox 2 -->
								<!-- <div class="col-lg-4" style="padding-left: 0px">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">자사 종사업장번호</span>
										</div>
										<input type="text" class="form-control" placeholder="자사 종사업장번호">
	                    			</div>
								</div> -->
								<!--End inputbox 2 -->
	 						</div>
						</div>					
	 					<!--End card body 묶음 -->
					</div>
					<!--End 상위 카드 영역 -->
					<!--하위 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header">
							차량 등록 현황
						</div>
						<!-- End card header -->
						<!--card body -->
						<div class="card-body table-responsive p-0 table-hover" style="height: 300px;">
							<table class="table table-head-fixed text-nowrap">
								<thead>
									<tr>
										<th>선택</th>
										<th>차량 코드</th>
										<th>톤수</th>
										<th>차종</th>
										<th>점검일시</th>
										<th>점검 담당자</th>
										<th>차량 제조사</th>
										<th>운행 가능 여부</th>
										<th>수정</th>					
									</tr>
								</thead>
								<tbody>
									<tr th:if="${not #lists.isEmpty(vehicleList)}" th:each="l : ${vehicleList}">
										<td>
											<input type="checkbox" value="선택">
										</td>
										<td th:text="${l.vehicleCode}"></td>
										<td th:text="${l.vehicleTonage}"></td>
										<td th:text="${l.vehicleType}"></td>
										<td th:text="${l.vehicleInspectionDate}"></td>
										<td th:text="${l.memberId}"></td>
										<td th:text="${l.vehicleManufacturer}"></td>
										<td th:text="${l.vehicleDriveAvailability}"></td>
										<td>
											<a th:href="@{/team03/delivery/k3ModifyVehicle(vehicleCode=${l.vehicleCode})}">수정</a>
										</td>
									</tr>
								</tbody>						
							</table>
						</div>
						<!--End card body -->
					</div>
					<!--End 하위 카드 영역 -->
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
		</div>
	</th:block>
</head>