<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
   <th:block layout:fragment="customCss">
		<link rel="stylesheet" th:href="@{/css/common.css}">
		<link rel="stylesheet" th:href="@{/css/modal.css}">
	</th:block>
	<th:block layout:fragment="customJs">
	<script type="text/javascript" th:inline="javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>

<script>
			$(function(){
				
				<!-- 유효성 검사 -->
				
				<!-- 숫자, 하이픈(-) 이외 입력 제한 기능-->
				$(document).on("keyup", "input[telOnly]", function(){
					$(this).val($(this).val().replace(/[^0-9-]/gi,"") );
				});

				<!-- 숫자 이외 입력 제한 기능-->
				$(document).on("keyup", "input[numOnly]", function(){
					$(this).val($(this).val().replace(/[^0-9]/gi,"") );
				});
				
				<!-- 문자(한글,영문) 이외 입력 제한 기능-->
				$(document).on("keyup", "input[stringOnly]", function() {
					$(this).val($(this).val().replace(/[^가-힣a-zA-Z]/gi,""));
				});
				
				<!-- 특수문자 입력 제한 기능-->
				$(document).on("keyup", "input[noSpecial]", function() {
					$(this).val( $(this).val().replace(/[^가-힣a-zA-Z0-9]/gi,"") );
				});
				
				<!-- 입력값 확인 -->
				$(document).on('click', '#addBtn', function(){
					var submitCheck = true;
					
					var inputObj = $('#userInfo').find('input');
					
					$.each(inputObj, function(i, obj){
						var inputData = $(obj).val();
						var inputId = $(obj).attr('data-input-label');
						if(typeof inputData == 'undefined' || inputData == null || inputData == ''){	
							alert(inputId + '를(을) 입력해주세요');
							$(obj).focus();
							submitCheck = false;
							return false;
						}
					});
					
					if(submitCheck) $('#userInfo').submit();
				});
				
				//중복검사
				$('#dupclicate_btn').click(function(){

					var memberId = $('#mainBusinessCode').val();
					
					if(typeof memberId != 'undefined' && memberId != null && memberId != ''){
						// ajax 호출
						var request = $.ajax({
							  url: '/team03/companymanagement/ourcompany/mainBusinessCodeCheck', 
							  method: 'POST', 
							  data: { 'mainBusinessCode' : memberId },
							  dataType: 'json' 
							});				
						request.done(function(data) {
							// 중복여부 체크(true: 중복, false: 등록가능)
							var idConfirm = data;
							
							if(idConfirm){
								alert('중복된 코드입니다.');
		 						$('#userInfo input').not('#mainBusinessCode').prop('disabled', true);
								$('#userInfo select').prop('disabled', true);
								$('#userInfo button').not('#dupclicate_btn').prop('disabled', true);
							}else{
								alert('등록이 가능한 코드입니다.');
								$('#userInfo input').prop('disabled', false);
								$('#userInfo select').prop('disabled', false);
								$('#userInfo button').prop('disabled', false);
							}
						});				
						request.fail(function( jqXHR, textStatus ) {
						  alert( "Request failed: " + textStatus );
						});
					}else{
						alert('코드를 입력해주세요')
						return false;
					}
				});
			}); 
		
	</script>

<script>
    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('businessManagementpostaladdress').value = data.zonecode;
                document.getElementById("businessManagementstreetaddress").value = roadAddr;
         
                       
                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("sample4_extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
</script>

	</th:block>	
	<th:block layout:fragment="customContents">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid d-flex justify-content-center">
					<!--카드 영역 -->
					<div class="card cardColor" style="margin-top: 80px; padding: 15px;">
						<!--card header -->
						<div class="card-header cardHeadBorder">
							<h4>사업장 등록</h4>
						</div>
						<!--End card header -->
						<!--card body -->
						<div class="card-body">
							<div class="row">
								<form id="ourCompanyInfo" th:action="@{/team03/companymanagement/ourcompany/k3AddOurCompanyList}" method="post">
									<div class="inputwrap col-md-12">
										<label for="mainBusinessCodeInput" class="inputName">사업장별 대표코드</label>
										<input class="inputBox" type="text" data-input-label="사업장별 대표코드" id="mainBusinessCode" name="mainBusinessCode" placeholder="예시)  물류센터_A물류센터_경남_1">
										<button type="button" id="dupclicate_btn" class="btn btn-primary btn-sm">중복확인 </button> 
									</div>
									<div class="inputwrap col-md-12">
										<label for="businessCodeInput" class="inputName">거래처 구분코드</label>
										<input class="inputBox" type="text" id="businessCode" name="businessCode" placeholder="예시) merge_ware">
									</div>	
									<div class="inputwrap col-md-12">
										<label for="businessLevelCodeInput" class="inputName">사업장 권한</label>
										<input class="inputBox" noSpecial type="text" id="businessLevelCode" name=businessLevelCode placeholder="예시) ware4">
									</div>								
									<div class="inputwrap col-md-12">
										<label for="businessCodeRegistrationDate" class="inputName">사업장코드 등록일자</label>
										<input class="inputBox" type="date" id="businessCodeRegistrationDate" data-input-label="등록일자" name="businessCodeRegistrationDate">
									</div>
									<div class="inputwrap col-md-12">
										<label for="businessManagementpostaladdressInput" class="inputName">사업장 우편번호</label>								
										<input type="text" id="businessManagementpostaladdress" name="businessManagementpostaladdress" placeholder="우편번호">
										<input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
									</div>
									<div class="inputwrap col-md-12">
										<label for="businessManagementstreetaddressInput" class="inputName">사업장 도로명주소</label>
										<input type="text" id="businessManagementstreetaddress" name="businessManagementstreetaddress" placeholder="도로명주소" size="48"><br>
									</div>
									<br>					
									<div class="d-flex justify-content-center">					
										<button class="ahsbtn4 btn btn-outline-info" type="submit">등록</button>			
										<button id="cancelBtn" class="ahsbtn4 btn btn-block bg-gradient-warning" type="button">취소</button>			
									</div>	
								</form>
	 						</div>
						</div>					
	 					<!--End card body 묶음 -->
					</div>
					<!--End 카드 영역 -->
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
		</div>
	</th:block>
</head>