<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title>ksmart41</title>
	</th:block>
	<th:block layout:fragment="customContents">
	<style>
      td {
        text-align: center;
      }
      th {
        text-align: center;
      }
    </style>
	<script>
			$(function(){				
				$('#addourcompanyBtn').on('click', function(){
					location.href = '/team03/companymanagement/ourcompany/k3AddOurCompanyList';
				});
				
				$(document).on('click', '#deleteOurCompanyBtn', function(){
					location.href = '/team03/companymanagement/ourcompany/k3AddOurCompanyList';
					var check = $('.deleteList:checked');
					var deleteCheckList = [];
					
					$.each(check, function(){
						deleteCheckList.push($(this).val());
					});

					
					if(check.length > 0){
						if(confirm(check.length + "개 항목을 삭제합니다.")){
							
							$('#searchForm').submit();
						}
						
					}else{
						alert("삭제할 항목을 선택해주세요.");
					}
				});
			});
		</script>
		<div id="representative-button">
			<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid">
				<!--버튼 영역 -->			
					<div class="d-flex justify-content-end">					
						<button id="addourcompanyBtn" class="btn btn-outline-info ahsbtn4" type="button">
							<i class="bi bi-file-earmark-plus"></i>
							등록
						</button>			
						<button id= "printOurCompanyBtn" class="btn btn-outline-info ahsbtn4" type="button">
							<i class="bi bi-printer"></i>
							출력
						</button>						
						<button id="deleteOurCompanyBtn" class="btn btn-outline-info ahsbtn4" type="button">
							<i class="bi bi-trash"></i>
							삭제
						</button>					
					</div>	
					<!--End 버튼 영역 -->
					<!--상위 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header">
							자사정보 조회
						</div>
						<!--End card header -->
						<!--card body -->
						<div class="card-body">
							<div class="row" style="margin: 12px">
								<!--inputbox 1 -->
								<form class="col-lg-6" th:action="@{/team03/companymanagement/ourcompany/k3OurCompanyList}" method="post">
									<div class="input-group input-group-sm">
										<div class="input-group-prepend">
										<select name="memberuserKey" class="input-group-text form-control-sm" style="height: 38px; font-size: 15px;">
											<option value="ourCompanyCode">자사 등록번호</option>
											<option value="ourCompanyBusinessPlaceCode">자사 종사업장번호</option>
											<option value="ourCompanyBusinessName">자사 상호</option>
											<option value="ourCompanyBusinessCheifName">자사 성명</option>
											<option value="ourCompanyWorkPlaceAddr">자사 사업장주소</option>
											<option value="ourCompanyStatus">자사 업태</option>
											<option value="ourCompanyWorkType">자사 종목</option>
											<option value="ourCompanyEmail">자사 이메일</option>
										</select>
										</div>
										<input type="text" name="ourcompanyValue" class="form-control" placeholder="자사 등록번호"  style="height: 38px;  font-size: 15px;">
										<div class="input-group-append">
											<div class="btn btn-default" style="padding:0;">
												<button id="memberuserSearch" type="submit" style="width: 35px; height: 35px;">
													<i class="fas fa-search icon" ></i>
												</button>
											</div>
										</div>
									</div>	
								</form>
								<!--End inputbox 1 -->
	 						</div>
						</div>					
	 					<!--End card body 묶음 -->
					</div>
					<!--End 상위 카드 영역 -->
					<!--하위 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header">
							자사 현황
						</div>
						<!-- End card header -->
						<!--card body -->
						<div class="card-body table-responsive p-0 table-hover" style="height: 300px;">
							<form id="searchForm" th:action="@{/team03/companymanagement/ourcompany/k3OurCompanyList}" method="post">
								<table class="table table-head-fixed text-nowrap table-striped">
									<thead>
										<tr>
											<th>삭제</th>	
											<th>수정</th>
											<th>자사 등록번호</th>
							                <th>자사 종사업장번호</th>
							                <th>자사 상호</th>
							                <th>자사 성명</th>
							                <th>자사 사업장주소</th>
							                <th>자사 업태</th>
							                <th>자사 종목</th>
							                <th>자사 이메일</th>	
										</tr>
									</thead>
									<tbody>								
										<tr th:if="${not #lists.isEmpty(ourcompanyList)}" th:each="l : ${ourcompanyList}">		
						   				<td>
											<input type="checkbox" class="deleteList" name="deleteList" th:value="${l.ourCompanyCode}">
											<!-- <input type="hidden" class="deleteCheckList" name="deleteCheckList" th:value="${l.categoryCode}"> -->
										</td>
						   				<td>
										<a id="modifyVehicle" type="button" class="btn btn-default btn-sm" th:href="@{/team03/companymanagement/ourcompany/k3ModifyOurCompanyList(ourCompanyCode=${l.ourCompanyCode})}">
												<i class="fas fa-pencil-alt icon"></i>
										</a>
										</td>	
						   				<td th:text="${l.ourCompanyCode}"></td>
								   			<td th:text="${l.ourCompanyBusinessPlaceCode}"></td>
								   			<td th:text="${l.ourCompanyBusinessName}"></td>
								   			<td th:text="${l.ourCompanyBusinessCheifName}"></td>
								   			<td th:text="${l.ourCompanyWorkPlaceAddr}"></td>
								   			<td th:text="${l.ourCompanyStatus}"></td>
								   			<td th:text="${l.ourCompanyWorkType}"></td>
								   			<td th:text="${l.ourCompanyEmail}"></td>
						   			</tr>
						   			<tr th:unless="${not #lists.isEmpty(ourcompanyList)}" th:each="l : ${ourcompanyList}">		
						   				<td colspan="9">등록된 직원이 없습니다.</td>
						   			</tr>
									</tbody>						
								</table>
							</form>	
						</div>
						<!--End card body -->
					</div>
					<!--End 하위 카드 영역 -->
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
		</div>
	</th:block>
</head>