<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title>ksmart41</title>
	</th:block>
	<th:block layout:fragment="customContents">
	<style>
      td {
        text-align: center;
      }
      th {
        text-align: center;
      }
    </style>
	<script>
			
			$(function(){				
				$('#addourcompanyBtn').on('click', function(){
					location.href = '/team03/companymanagement/ourcompany/k3AddOurCompanyList';
				});
				$('#printOurCompanyBtn').on('click', function(){
					 	let $container = $("#searchForm").clone()    // 프린트 할 특정 영역 복사
					    let cssText = ""                            // 스타일 복사
					    for (const node of $("style")) {
					        cssText += node.innerHTML
					    }
					    /** 팝업 */
					    let innerHtml = $container[0].innerHTML
					    let popupWindow = window.open("", "_blank", "width=700,height=800")
					    popupWindow.document.write("<!DOCTYPE html>"+
					      "<html>"+
					        "<head>"+
					        "<style>"+cssText+"</style>"+
					        "</head>"+
					        "<body>"+innerHtml+"</body>"+
					      "</html>")
					   
					    popupWindow.document.close()
					    popupWindow.focus()
					
					    /** 1초 지연 */
					    setTimeout(() => {
					        popupWindow.print()         // 팝업의 프린트 도구 시작
					        popupWindow.close()         // 프린트 도구 닫혔을 경우 팝업 닫기
					    }, 1000)
					});
				
				$(document).on('click', '#deleteOurCompanyBtn', function(){
					location.href = '/team03/companymanagement/ourcompany/k3AddOurCompanyList';
					var check = $('.deleteList:checked');
					var deleteCheckList = [];
					
					$.each(check, function(){
						deleteCheckList.push($(this).val());
					});

					
					if(check.length > 0){
						if(confirm(check.length + "개 항목을 삭제합니다.")){
							
							$('#searchForm').submit();
						}
						
					}else{
						alert("삭제할 항목을 선택해주세요.");
					}
				});
			});
		</script>
		</body>
		
		<div id="representative-button">
			<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid">
				<!--버튼 영역 -->			
					<div class="d-flex justify-content-end">					
						<button id="addourcompanyBtn" class="btn btn-outline-info ahsbtn4" type="button">
							<i class="bi bi-file-earmark-plus"></i>
							등록
						</button>			
						<button id="printOurCompanyBtn" class="btn btn-outline-info ahsbtn4" type="button">
							<i class="bi bi-printer"></i>
							출력
						</button>						
					<!-- 
					 	<button id="deleteOurCompanyBtn" class="btn btn-outline-info ahsbtn4" type="button">
							<i class="bi bi-trash"></i>
							삭제
						</button>					
					 -->
					</div>	
					<!--End 버튼 영역 -->
					<!--상위 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header">
							사업장 조회
						</div>
						<!--End card header -->
						<!--card body -->
						<div class="card-body">
							<div class="row" style="margin: 12px">
								<!--inputbox 1 -->
								<form class="col-lg-6" th:action="@{/team03/companymanagement/ourcompany/k3OurCompanyList}" method="post">
									<div class="input-group">
										<div class="input-group-prepend">
											<select name="ourcompanyKey" class="input-group-text form-control-sm" style="height: 38px; font-size: 15px;">
												<option value="mainBusinessCode">사업장별 대표코드</option>
												<option value="businessCode">거래처 구분코드</option>
												<option value="businessLevelCode">사업장 권한</option>
												<option value="businessCodeRegistrationDate">등록일자</option>
												<option value="businessManagementpostaladdress">우편번호</option>
												<option value="businessManagementstreetaddress">도로명주소</option>
											</select>
											<input type="text" class="form-control" placeholder="검색" name="ourcompanyValue" style="width: 250px; height: 38px; ">
											<div class=" input-group-append">
											<button id="ourcompanyInfoSearch" type="submit" class="btn btn-default ourcompanyInfoSearch">
												<i class="fas fa-search icon"></i>
											</button>
											</div>
										</div>	
									</div>
								</form>
								<!--End inputbox 1 -->
	 					</div>
	 					<!--End card body 묶음 -->
					</div>					
					</div>
					<!--End 상위 카드 영역 -->
					<!--하위 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header">
							사업장 현황
						</div>
						<!-- End card header -->
						<!--card body -->
						<div class="card-body table-responsive p-0 table-hover" style="height: 450px;">
							<form id="searchForm" th:action="@{/team03/companymanagement/ourcompany/k3OurCompanyList}" method="post">
								<table id="table" class="table table-head-fixed text-nowrap table-striped">
									<thead>
										<tr>
											<th>사업장별 대표코드</th>
							                <th>거래처 구분코드</th>
							                <th>사업장 권한</th>
							                <th>등록일자</th>
							                <th>우편번호</th>
							                <th>도로명주소</th>
										</tr>
									</thead>
									<tbody>								
										<tr th:if="${not #lists.isEmpty(ourcompanyList)}" th:each="l : ${ourcompanyList}">		
						   				<td th:text="${l.mainBusinessCode}"></td>
								   		<td th:text="${l.businessCode}"></td>
								   		<td th:text="${l.businessLevelCode}"></td>
								   		<td th:text="${l.businessCodeRegistrationDate}"></td>
								   		<td th:text="${l.businessManagementpostaladdress}"></td>
								   		<td th:text="${l.businessManagementstreetaddress}"></td>
						   			</tr>
						   			<tr th:unless="${not #lists.isEmpty(ourcompanyList)}">		
										<td colspan="100%">
											등록된 정보가 없습니다.
										</td>						   			
									</tr>
									</tbody>						
								</table>
							</form>	
						</div>
						<!--End card body -->
					</div>
					<!--End 하위 카드 영역 -->
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
		</div>
	</th:block>
</head>