<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customJs">
		<script type="text/javascript">
			$(function(){
				$('#cancelBtn').on('click', function(){
					location.href = '/team03/goodsManagement/warehousing/k3WarehousingList';
				});
				$(document).on('click','#allowWarehousingBtn', function(){
				//클릭한 체크박스 개수 구하기
				var checkCount= $('input:checked').length;
					if(checkCount > 0){
					$('#YesOrNo').attr('value','Y');
					$('#allowTable').submit();										
					}else{
						alert("승인할 항목을 선택해주세요.");
					}
				});
				$(document).on('click','#rejectWarehousingBtn', function(){
					//클릭한 체크박스 개수 구하기
					var checkCount= $('input:checked').length;
					if(checkCount > 0){
						$('#YesOrNo').attr('value','R');
						$('#allowTable').submit();										
					}else{
						alert("반려할 항목을 선택해주세요.");
					}			
				});
			});
		</script>
	</th:block>
	<th:block layout:fragment="customContents"> 
		<div id="representative-button">
			<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid">
					<!--버튼 영역 -->
					<div class="d-flex justify-content-end" style="margin:15px;">
						<button id="allowWarehousingBtn" class="btn btn-outline-info ahsbtn4" type="button">
							<i class="bi bi-file-earmark-check"></i>
							승인
						</button>
						<button id="rejectWarehousingBtn" class="btn btn-outline-info ahsbtn4" type="button">
							<i class="bi bi-file-earmark-break"></i>
							반려
						</button>
						<button id="cancelBtn" type="button" class="btn btn-outline-info ahsbtn4">
							<i class="bi bi-box-arrow-left"></i>
							돌아가기						
						</button>					
					</div>
					<!--End 버튼 영역 -->
					<!--하위 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header">
							입고요청 현황
						</div>
						<!-- End card header -->
						<!--card body -->
						<div class="card-body table-responsive p-0 table-hover" style="height: 300px;">
							<form id="allowTable" th:action="@{/team03/goodsManagement/warehousing/k3AllowWarehousing}" method="post">
								<table class="table table-head-fixed text-nowrap">
									<thead>
										<tr>
											<th>선택
												<input type="hidden" name="YesOrNo" id="YesOrNo">
											</th>
											<th>물품명</th>
											<th>개수</th>
											<th>회사명</th>				
											<th>제조일자</th>				
											<th>유통기한</th>				
										</tr>
									</thead>
									<tbody>
										<tr th:if="${not #lists.isEmpty(K3RequestAllow)}" th:each="l : ${K3RequestAllow}">
											<td>
												<input type="checkbox" name="allowList[]" th:value="${l.warehousingCode}">
											</td>
											<td th:text="${l.k3Product.productName}"></td>
											<td th:text="${l.laydownGoodsCount}"></td>
											<td th:text="${l.k3Contractor.contractorName}"></td>
											<td th:text="${l.manufacturedDate}"></td>
											<td th:text="${l.expiratonDate}"></td>
										</tr>
										<tr th:unless="${not #lists.isEmpty(K3RequestAllow)}" th:each="l : ${K3RequestAllow}">
											<td> 요청사항이 없습니다. </td>
										</tr>
									</tbody>						
								</table>
							</form>
						</div>
						<!--End card body -->
					</div>
					<!--End 하위 카드 영역 -->
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
		</div>
	</th:block>