<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layout/default}">
	<th:block layout:fragment="customTitle">
		<title>ksmart41</title>
	</th:block>
	<th:block layout:fragment="customContents"> 
		<div id="representative-button">
			<div id="representative-button">
				<!-- 콘텐츠 콘테이너 시작 -->
				<div class="container-fluid">
					<!--상위 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header">
							입고 결과
						</div>
						<!--End card header -->
						<!--card body -->
						<div class="card-body">
							<div class="row" style="margin: 12px">
								<!--inputbox 1 -->
								<form class="col-lg-6" th:action="@{#}" method="post">
									<div class="input-group">
										<div class="input-group-prepend">
											<select name="categoryKey" class="input-group-text">
												<option value="large">거래처명</option>
												<option value="medium">검수자</option>
												<option value="small">소분류</option>
											</select>
										</div>
										<input type="text" name="categoryValue" class="form-control" placeholder="입력해주세요">
										<button id="laydownSearcch" type="submit" class="ahsbtn2 btn btn-outline-info">조회</button>
										<button id="laydownPrint" type="submit" class="ahsbtn2 btn btn-outline-info">출력</button>							
									</div>
								</form>
								<!--End inputbox 1 -->
	 						</div>
						</div>					
	 					<!--End card body 묶음 -->
					</div>
					<!--End 상위 카드 영역 -->
					<!--하위 카드 영역 -->
					<div class="card cardColor">
						<!--card header -->
						<div class="card-header">
							입고 현황
						</div>
						<!-- End card header -->
						<!--card body -->
						<div class="card-body table-responsive p-0 table-hover" style="height: 450px;">
							<table class="table table-head-fixed text-nowrap">
								<thead>
									<tr>
										<th>삭제</th>
										<th>수정</th>	
										<th>분류등록</th>	
										<th>입고물품명</th>
										<th>입고물품개수</th>
										<th>제조일자</th>
										<th>유통기한</th>					
										<th>거래처명</th>									
										<th>입하날짜</th>													
									</tr>
								</thead>
								<tbody>
									<tr th:if="${not #lists.isEmpty(K3LaydownCheck)}" th:each="l : ${K3LaydownCheck}">
										<td>
											<input type="checkbox" value="선택">
										</td>
										<td>
											<a th:href="@{#}">수정</a>
										</td>
										<td>
											<a th:href="@{/team03/goodsManagement/warehousing/k3AddSort}">등록</a>
										</td>
										<td th:text="${l.laydownGoodsName}"></td>
										<td th:text="${l.laydownGoodsCount}"></td>
										<td th:text="${l.manufacturedDate}"></td>
										<td th:text="${l.expiratonDate}"></td>
										<td th:text="${l.contractorName}"></td>
										<td th:text="${l.laydownDate}"></td>
									</tr>
									<tr th:unless="${not #lists.isEmpty(K3LaydownCheck)}" th:each="l : ${K3LaydownCheck}">
										<td> 입하검수 목록이 없습니다. </td>
									</tr>
								</tbody>						
							</table>
						</div>
						<!--End card body -->
					</div>
					<!--End 하위 카드 영역 -->
					<!--버튼 영역 -->
					<div class="row" style="margin:15px;">
						<button type="button" class="ahsbtn2 btn btn-outline-info">삭제</button>
						<a th:href="@{/team03/goodsManagement/warehousing/k3AddWarehousing}" id="moveAddPage">입고요청 페이지로 이동 --></a>					
						<a th:href="@{/team03/goodsManagement/warehousing/k3AllowWarehousing}" id="moveAllowPage">요청승인 페이지로 이동 --></a>					
					</div>
					<!--End 버튼 영역 -->
				</div>
				<!-- End 콘텐츠 콘테이너 -->
			</div>
		</div>
	</th:block>
</head>